<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>1.2.6. Motivation - Commerce mapping</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>1.2.6. Motivation - Commerce mapping</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-requirements_realization"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_requirements_realization" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-0472650ae6384f0c8502c76801aa5ba7.png" alt="1.2.6. Motivation - Commerce mapping" usemap="#id-0472650ae6384f0c8502c76801aa5ba7map"/>
			   <map name="id-0472650ae6384f0c8502c76801aa5ba7map">
				          <area shape="rect" coords="20,1004,1102,1102" href="../objects/id-178795d8c90e474d8b77577cbf9cc776.html" target="element" >
				  		<area shape="rect" coords="956,74,1196,184" href="../elements/id-041e2eb07e594e91b52194529c78d177.html"  target="element">
				  		<area shape="rect" coords="1290,74,1530,184" href="../elements/id-eff538e39d784da9bf6cf8b4181995c1.html"  target="element">
				  		<area shape="rect" coords="762,218,1002,328" href="../elements/id-55ad851de9e3407db158625977ed3a0b.html"  target="element">
				  		<area shape="rect" coords="618,74,858,184" href="../elements/id-ba22eb19876c4798bc6c65536f14682a.html"  target="element">
				  		<area shape="rect" coords="474,218,714,328" href="../elements/id-40c042a6cc8e48e79b30498a43e529ad.html"  target="element">
				  		<area shape="rect" coords="1434,218,1674,328" href="../elements/id-d773866a8a074cdd9ecb5096ee48c307.html"  target="element">
				  		<area shape="rect" coords="1144,218,1384,328" href="../elements/id-338b945e88d04a1297fea8254a2683b4.html"  target="element">
				  		<area shape="rect" coords="186,218,426,328" href="../elements/id-accf4c79f96342058bcbf2abc2cc1861.html"  target="element">
				  		<area shape="rect" coords="330,74,570,184" href="../elements/id-717649665e004e29845c03782a5e2a7b.html"  target="element">
				  				<area shape="rect" coords="1084,500,2082,610" href="../elements/id-34e06fb5f8ef43108758d149b83d0d15.html"  target="element">
				  				<area shape="rect" coords="66,500,1064,610" href="../elements/id-64d7e28fd3ff41ae8da46075a0dc43e0.html"  target="element">

				  		<area shape="rect" coords="42,428,2108,628" href="../elements/id-98a82745ce1440b7b59cbd17124a75cf.html"  target="element">
				  				<area shape="rect" coords="1892,68,2132,178" href="../elements/id-61bf499b018b4b6c970fcafc77bd7caa.html"  target="element">
				  				<area shape="rect" coords="1580,68,1820,178" href="../elements/id-36dd96f6e4bd4bc7894d41ab4c5483a3.html"  target="element">
				  				<area shape="rect" coords="1724,212,1964,322" href="../elements/id-d7f9fe3914c34042aa94e3b14a17e46a.html"  target="element">

				          <area shape="rect" coords="20,20,2132,358" href="../objects/id-f744f93cdf41457e80cf7779e5c5f446.html" target="element" >
				          <area shape="rect" coords="20,380,2132,644" href="../objects/id-2046d6c6ac93494ea995c9cafcbc0880.html" target="element" >
				  				<area shape="rect" coords="44,706,284,816" href="../elements/id-b2a384af364243eba12d672aa0807eda.html"  target="element">
				  				<area shape="rect" coords="188,850,428,960" href="../elements/id-0ad896e52752481ba16d97f4efbf3ab8.html"  target="element">
				  				<area shape="rect" coords="332,706,572,816" href="../elements/id-ac3a992488f8406fbc27431738228181.html"  target="element">
				  				<area shape="rect" coords="476,850,716,960" href="../elements/id-794b826c0d054f85af2d7401c029d0c8.html"  target="element">
				  				<area shape="rect" coords="620,706,860,816" href="../elements/id-3bd009eaba2949dfacd88ca825ab98d3.html"  target="element">
				  				<area shape="rect" coords="764,850,1004,960" href="../elements/id-da1ef9bdbdb1451384dcdcc35d643ca3.html"  target="element">

				          <area shape="rect" coords="20,658,2132,982" href="../objects/id-9394b48e6aa148a494b5cc517106179e.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-9394b48e6aa148a494b5cc517106179e.html" target="element"> Constraints </a> </td>
									           <td> <a href="../objects/id-9394b48e6aa148a494b5cc517106179e.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-da1ef9bdbdb1451384dcdcc35d643ca3.html" target="element"> CONS.08. Solution should be launched on september 11, 2023 </a> </td>
													    <td> <a href="../elements/id-da1ef9bdbdb1451384dcdcc35d643ca3.html" target="element" class="i18n-elementtype-Constraint">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-3bd009eaba2949dfacd88ca825ab98d3.html" target="element"> CONS.07. Compliance with GDPR </a> </td>
													    <td> <a href="../elements/id-3bd009eaba2949dfacd88ca825ab98d3.html" target="element" class="i18n-elementtype-Constraint">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-794b826c0d054f85af2d7401c029d0c8.html" target="element"> CONS.06. [Assumption] Define a solution that evolve with a team </a> </td>
													    <td> <a href="../elements/id-794b826c0d054f85af2d7401c029d0c8.html" target="element" class="i18n-elementtype-Constraint">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ac3a992488f8406fbc27431738228181.html" target="element"> CONS.05. [Assumption] There is no restriction about technology </a> </td>
													    <td> <a href="../elements/id-ac3a992488f8406fbc27431738228181.html" target="element" class="i18n-elementtype-Constraint">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0ad896e52752481ba16d97f4efbf3ab8.html" target="element"> CONS.02. Application should be mobile and web </a> </td>
													    <td> <a href="../elements/id-0ad896e52752481ba16d97f4efbf3ab8.html" target="element" class="i18n-elementtype-Constraint">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b2a384af364243eba12d672aa0807eda.html" target="element"> CONS.01. The cost should be as little as possible </a> </td>
													    <td> <a href="../elements/id-b2a384af364243eba12d672aa0807eda.html" target="element" class="i18n-elementtype-Constraint">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-2046d6c6ac93494ea995c9cafcbc0880.html" target="element"> Reference model domain &amp; business functions </a> </td>
									           <td> <a href="../objects/id-2046d6c6ac93494ea995c9cafcbc0880.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-f744f93cdf41457e80cf7779e5c5f446.html" target="element"> Requirements (Use cases &amp; Architecture characteristics) </a> </td>
									           <td> <a href="../objects/id-f744f93cdf41457e80cf7779e5c5f446.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-d7f9fe3914c34042aa94e3b14a17e46a.html" target="element"> AC.STA.01. [Assumption] Uptime 99.95% from monday to friday 9AM to 10PM </a> </td>
													    <td> <a href="../elements/id-d7f9fe3914c34042aa94e3b14a17e46a.html" target="element" class="i18n-elementtype-Requirement">
													    	(Architecture Characteristic)
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-36dd96f6e4bd4bc7894d41ab4c5483a3.html" target="element"> AC.USA.02. Mobile App Usability </a> </td>
													    <td> <a href="../elements/id-36dd96f6e4bd4bc7894d41ab4c5483a3.html" target="element" class="i18n-elementtype-Requirement">
													    	(Architecture Characteristic)
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-61bf499b018b4b6c970fcafc77bd7caa.html" target="element"> AC.USA.03. [Assumption] Omnichannel experience </a> </td>
													    <td> <a href="../elements/id-61bf499b018b4b6c970fcafc77bd7caa.html" target="element" class="i18n-elementtype-Requirement">
													    	(Architecture Characteristic)
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-98a82745ce1440b7b59cbd17124a75cf.html" target="element"> 6. Commerce </a> </td>
											    <td> <a href="../elements/id-98a82745ce1440b7b59cbd17124a75cf.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-64d7e28fd3ff41ae8da46075a0dc43e0.html" target="element"> 6.1. Marketplace </a> </td>
													    <td> <a href="../elements/id-64d7e28fd3ff41ae8da46075a0dc43e0.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-34e06fb5f8ef43108758d149b83d0d15.html" target="element"> 6.2. Product </a> </td>
													    <td> <a href="../elements/id-34e06fb5f8ef43108758d149b83d0d15.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-717649665e004e29845c03782a5e2a7b.html" target="element"> AC.SCA.01. [Assumption] Start with little use rate (Friends and Family) and scalate the solution as usage rate increase </a> </td>
											    <td> <a href="../elements/id-717649665e004e29845c03782a5e2a7b.html" target="element" class="i18n-elementtype-Requirement">
											    	(Architecture Characteristic)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-accf4c79f96342058bcbf2abc2cc1861.html" target="element"> AC.SEC.01. Secure information </a> </td>
											    <td> <a href="../elements/id-accf4c79f96342058bcbf2abc2cc1861.html" target="element" class="i18n-elementtype-Requirement">
											    	(Architecture Characteristic)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-338b945e88d04a1297fea8254a2683b4.html" target="element"> AC.STA.02. [Assumption] Uptime 99,95% from saturday to sunday from 7AM to 11:59PM </a> </td>
											    <td> <a href="../elements/id-338b945e88d04a1297fea8254a2683b4.html" target="element" class="i18n-elementtype-Requirement">
											    	(Architecture Characteristic)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d773866a8a074cdd9ecb5096ee48c307.html" target="element"> AC.USA.01. Web App Usability </a> </td>
											    <td> <a href="../elements/id-d773866a8a074cdd9ecb5096ee48c307.html" target="element" class="i18n-elementtype-Requirement">
											    	(Architecture Characteristic)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-40c042a6cc8e48e79b30498a43e529ad.html" target="element"> UC09. As a civilian I want to find retail stablishments to redeem my points </a> </td>
											    <td> <a href="../elements/id-40c042a6cc8e48e79b30498a43e529ad.html" target="element" class="i18n-elementtype-Requirement">
											    	(Functional Requirement)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ba22eb19876c4798bc6c65536f14682a.html" target="element"> UC10. As an officer I want to find charities where I can gift the points </a> </td>
											    <td> <a href="../elements/id-ba22eb19876c4798bc6c65536f14682a.html" target="element" class="i18n-elementtype-Requirement">
											    	(Functional Requirement)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-55ad851de9e3407db158625977ed3a0b.html" target="element"> UC11. As a business/charity I want to create a storefront to encourage users to redeem or donate their points </a> </td>
											    <td> <a href="../elements/id-55ad851de9e3407db158625977ed3a0b.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-eff538e39d784da9bf6cf8b4181995c1.html" target="element"> UC12. As a Business I want to manage the catalog of products and the point value assigned to them </a> </td>
											    <td> <a href="../elements/id-eff538e39d784da9bf6cf8b4181995c1.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-041e2eb07e594e91b52194529c78d177.html" target="element"> UC13. As a municipality I want to allow civilians to redeem the points to pay fines or fees </a> </td>
											    <td> <a href="../elements/id-041e2eb07e594e91b52194529c78d177.html" target="element" class="i18n-elementtype-Requirement">
											    	(Functional Requirement)
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-178795d8c90e474d8b77577cbf9cc776.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-178795d8c90e474d8b77577cbf9cc776.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											
																	<tr>
																		<td> <a href="../elements/id-40c37289c4c548e4a53a56cbb8395b75.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-40c37289c4c548e4a53a56cbb8395b75.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-98a82745ce1440b7b59cbd17124a75cf.html" target="element"> 6. Commerce </a> </td>
																		<td> <a href="../elements/id-64d7e28fd3ff41ae8da46075a0dc43e0.html" target="element"> 6.1. Marketplace </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-fa0f2426a5e8495db616fd23e88b0464.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fa0f2426a5e8495db616fd23e88b0464.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-98a82745ce1440b7b59cbd17124a75cf.html" target="element"> 6. Commerce </a> </td>
																		<td> <a href="../elements/id-34e06fb5f8ef43108758d149b83d0d15.html" target="element"> 6.2. Product </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-560e87d64f734b78874873a2a2523a1d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-560e87d64f734b78874873a2a2523a1d.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-98a82745ce1440b7b59cbd17124a75cf.html" target="element"> 6. Commerce </a> </td>
																		<td> <a href="../elements/id-717649665e004e29845c03782a5e2a7b.html" target="element"> AC.SCA.01. [Assumption] Start with little use rate (Friends and Family) and scalate the solution as usage rate increase </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-edd2b9eef53a4c1cb17333e29a5e15b4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-edd2b9eef53a4c1cb17333e29a5e15b4.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-98a82745ce1440b7b59cbd17124a75cf.html" target="element"> 6. Commerce </a> </td>
																		<td> <a href="../elements/id-accf4c79f96342058bcbf2abc2cc1861.html" target="element"> AC.SEC.01. Secure information </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ab247bac1e3d4db493637eb591449a79.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ab247bac1e3d4db493637eb591449a79.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-98a82745ce1440b7b59cbd17124a75cf.html" target="element"> 6. Commerce </a> </td>
																		<td> <a href="../elements/id-d7f9fe3914c34042aa94e3b14a17e46a.html" target="element"> AC.STA.01. [Assumption] Uptime 99.95% from monday to friday 9AM to 10PM </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-98a1b8d1350740ab8b9230de532143b5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-98a1b8d1350740ab8b9230de532143b5.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-98a82745ce1440b7b59cbd17124a75cf.html" target="element"> 6. Commerce </a> </td>
																		<td> <a href="../elements/id-338b945e88d04a1297fea8254a2683b4.html" target="element"> AC.STA.02. [Assumption] Uptime 99,95% from saturday to sunday from 7AM to 11:59PM </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-fb4423b2ee4a4b6d9d4dfb480cf304ef.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fb4423b2ee4a4b6d9d4dfb480cf304ef.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-98a82745ce1440b7b59cbd17124a75cf.html" target="element"> 6. Commerce </a> </td>
																		<td> <a href="../elements/id-d773866a8a074cdd9ecb5096ee48c307.html" target="element"> AC.USA.01. Web App Usability </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e520ac56ce254f60aae0874d162d860a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e520ac56ce254f60aae0874d162d860a.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-98a82745ce1440b7b59cbd17124a75cf.html" target="element"> 6. Commerce </a> </td>
																		<td> <a href="../elements/id-36dd96f6e4bd4bc7894d41ab4c5483a3.html" target="element"> AC.USA.02. Mobile App Usability </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f3c13fd00b63419eb02d34aa76795d53.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f3c13fd00b63419eb02d34aa76795d53.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-98a82745ce1440b7b59cbd17124a75cf.html" target="element"> 6. Commerce </a> </td>
																		<td> <a href="../elements/id-b2a384af364243eba12d672aa0807eda.html" target="element"> CONS.01. The cost should be as little as possible </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b4db149a48ac481682ca1f4d0b58bc46.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b4db149a48ac481682ca1f4d0b58bc46.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-98a82745ce1440b7b59cbd17124a75cf.html" target="element"> 6. Commerce </a> </td>
																		<td> <a href="../elements/id-0ad896e52752481ba16d97f4efbf3ab8.html" target="element"> CONS.02. Application should be mobile and web </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0ca3f57c8e564e49b5ac2cdd2a959b3b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0ca3f57c8e564e49b5ac2cdd2a959b3b.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-98a82745ce1440b7b59cbd17124a75cf.html" target="element"> 6. Commerce </a> </td>
																		<td> <a href="../elements/id-ac3a992488f8406fbc27431738228181.html" target="element"> CONS.05. [Assumption] There is no restriction about technology </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-11dd965d7a5f4977ac6c37585ca0d677.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-11dd965d7a5f4977ac6c37585ca0d677.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-98a82745ce1440b7b59cbd17124a75cf.html" target="element"> 6. Commerce </a> </td>
																		<td> <a href="../elements/id-794b826c0d054f85af2d7401c029d0c8.html" target="element"> CONS.06. [Assumption] Define a solution that evolve with a team </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9163faee72484670b96b4e06d9ea70f7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9163faee72484670b96b4e06d9ea70f7.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-98a82745ce1440b7b59cbd17124a75cf.html" target="element"> 6. Commerce </a> </td>
																		<td> <a href="../elements/id-3bd009eaba2949dfacd88ca825ab98d3.html" target="element"> CONS.07. Compliance with GDPR </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3db2f1a44702458e9891cdc2aae41b7f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3db2f1a44702458e9891cdc2aae41b7f.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-98a82745ce1440b7b59cbd17124a75cf.html" target="element"> 6. Commerce </a> </td>
																		<td> <a href="../elements/id-da1ef9bdbdb1451384dcdcc35d643ca3.html" target="element"> CONS.08. Solution should be launched on september 11, 2023 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7b77db4a98eb41368d72a7b2a986024e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7b77db4a98eb41368d72a7b2a986024e.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-98a82745ce1440b7b59cbd17124a75cf.html" target="element"> 6. Commerce </a> </td>
																		<td> <a href="../elements/id-61bf499b018b4b6c970fcafc77bd7caa.html" target="element"> AC.USA.03. [Assumption] Omnichannel experience </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-06efa5d399d84145a8b9cbb30ee26904.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-06efa5d399d84145a8b9cbb30ee26904.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-64d7e28fd3ff41ae8da46075a0dc43e0.html" target="element"> 6.1. Marketplace </a> </td>
																				<td> <a href="../elements/id-40c042a6cc8e48e79b30498a43e529ad.html" target="element"> UC09. As a civilian I want to find retail stablishments to redeem my points </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-576c3d997a3748c294e6ebb0f43747eb.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-576c3d997a3748c294e6ebb0f43747eb.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-64d7e28fd3ff41ae8da46075a0dc43e0.html" target="element"> 6.1. Marketplace </a> </td>
																				<td> <a href="../elements/id-ba22eb19876c4798bc6c65536f14682a.html" target="element"> UC10. As an officer I want to find charities where I can gift the points </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-ca43d5fa456748e8967be4495c0534b2.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-ca43d5fa456748e8967be4495c0534b2.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-64d7e28fd3ff41ae8da46075a0dc43e0.html" target="element"> 6.1. Marketplace </a> </td>
																				<td> <a href="../elements/id-55ad851de9e3407db158625977ed3a0b.html" target="element"> UC11. As a business/charity I want to create a storefront to encourage users to redeem or donate their points </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-97fb37513f2840528959e314fb80fe4b.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-97fb37513f2840528959e314fb80fe4b.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-64d7e28fd3ff41ae8da46075a0dc43e0.html" target="element"> 6.1. Marketplace </a> </td>
																				<td> <a href="../elements/id-041e2eb07e594e91b52194529c78d177.html" target="element"> UC13. As a municipality I want to allow civilians to redeem the points to pay fines or fees </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-3522f2553e91458d914a104e09045863.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-3522f2553e91458d914a104e09045863.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-34e06fb5f8ef43108758d149b83d0d15.html" target="element"> 6.2. Product </a> </td>
																				<td> <a href="../elements/id-eff538e39d784da9bf6cf8b4181995c1.html" target="element"> UC12. As a Business I want to manage the catalog of products and the point value assigned to them </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-2e56d85a0f5847ed8f76b1787aceb5dd.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-2e56d85a0f5847ed8f76b1787aceb5dd.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-34e06fb5f8ef43108758d149b83d0d15.html" target="element"> 6.2. Product </a> </td>
																				<td> <a href="../elements/id-041e2eb07e594e91b52194529c78d177.html" target="element"> UC13. As a municipality I want to allow civilians to redeem the points to pay fines or fees </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-2adb43c90c1846cfa7d1cb170fb35575.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2adb43c90c1846cfa7d1cb170fb35575.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d773866a8a074cdd9ecb5096ee48c307.html" target="element"> AC.USA.01. Web App Usability </a> </td>
																		<td> <a href="../elements/id-36dd96f6e4bd4bc7894d41ab4c5483a3.html" target="element"> AC.USA.02. Mobile App Usability </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>