<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>2.3.12. Retail onboarding - Business Entities</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>2.3.12. Retail onboarding - Business Entities</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-application_usage"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_application_usage" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-01446026f32040d2bf91178df49fffcf.png" alt="2.3.12. Retail onboarding - Business Entities" usemap="#id-01446026f32040d2bf91178df49fffcfmap"/>
			   <map name="id-01446026f32040d2bf91178df49fffcfmap">
				  		<area shape="rect" coords="1532,20,1772,130" href="../elements/id-18ebb6b74c344f8b87de0216f8d9c988.html"  target="element">
				  		<area shape="rect" coords="308,20,548,130" href="../elements/id-4f6cfce55c7a4ac8bcc4a4ffb7807f86.html"  target="element">
				  		<area shape="rect" coords="2036,278,2276,388" href="../elements/id-d0d257e8a4314b5fbc2141c6b8f82657.html"  target="element">
				  		<area shape="rect" coords="20,284,260,394" href="../elements/id-047d388b765d44f28eb84a14c82e63b0.html"  target="element">
				  				<area shape="rect" coords="690,372,930,482" href="../elements/id-ceb29d964c5a41409a045697adba4a31.html"  target="element">
				  				<area shape="rect" coords="1746,284,1986,394" href="../elements/id-7ebddff7934645b4b1349aa6b5a2e77a.html"  target="element">
				  				<area shape="rect" coords="1386,324,1416,354" href="../elements/id-269a2c1aa81240afbbacf23a837943c6.html"  target="element">
				  				<area shape="rect" coords="598,332,628,362" href="../elements/id-803245bb8fcc4c798d674f50ac038ea1.html"  target="element">
				  				<area shape="rect" coords="1026,372,1266,482" href="../elements/id-6a30ad9119ca4c02b7f67c010b36f3e7.html"  target="element">
				  				<area shape="rect" coords="766,212,1006,322" href="../elements/id-abc115faf7ae4e7b81beb8b8e73f6d3f.html"  target="element">
				  				<area shape="rect" coords="1458,284,1698,394" href="../elements/id-a3e1cc9e01914db1bfb6739515ad4885.html"  target="element">
				  				<area shape="rect" coords="1098,212,1338,322" href="../elements/id-327c1f9bf4c744d7b77e3ab5338ee9f8.html"  target="element">
				  				<area shape="rect" coords="310,292,550,402" href="../elements/id-4fe318d6e1ff4f41b8d553715004db8a.html"  target="element">

				  		<area shape="rect" coords="282,164,2014,502" href="../elements/id-131ac4cd42894e2d8dfe3cf07309c10b.html"  target="element">
				  		<area shape="rect" coords="2036,494,2276,604" href="../elements/id-c91f6d194e90401cbd3875c5fcd6f9ab.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-c91f6d194e90401cbd3875c5fcd6f9ab.html" target="element"> Onboarding dropped </a> </td>
											    <td> <a href="../elements/id-c91f6d194e90401cbd3875c5fcd6f9ab.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-131ac4cd42894e2d8dfe3cf07309c10b.html" target="element"> Onboarding </a> </td>
											    <td> <a href="../elements/id-131ac4cd42894e2d8dfe3cf07309c10b.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-4fe318d6e1ff4f41b8d553715004db8a.html" target="element"> Mail registration acceptance </a> </td>
													    <td> <a href="../elements/id-4fe318d6e1ff4f41b8d553715004db8a.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-327c1f9bf4c744d7b77e3ab5338ee9f8.html" target="element"> Terms &amp; Conditions accepted </a> </td>
													    <td> <a href="../elements/id-327c1f9bf4c744d7b77e3ab5338ee9f8.html" target="element" class="i18n-elementtype-BusinessEvent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a3e1cc9e01914db1bfb6739515ad4885.html" target="element"> Scoring account creation </a> </td>
													    <td> <a href="../elements/id-a3e1cc9e01914db1bfb6739515ad4885.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-abc115faf7ae4e7b81beb8b8e73f6d3f.html" target="element"> Terms &amp; Conditions acceptance </a> </td>
													    <td> <a href="../elements/id-abc115faf7ae4e7b81beb8b8e73f6d3f.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-6a30ad9119ca4c02b7f67c010b36f3e7.html" target="element"> Validated &amp; submission approved </a> </td>
													    <td> <a href="../elements/id-6a30ad9119ca4c02b7f67c010b36f3e7.html" target="element" class="i18n-elementtype-BusinessEvent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-803245bb8fcc4c798d674f50ac038ea1.html" target="element"> AND </a> </td>
													    <td> <a href="../elements/id-803245bb8fcc4c798d674f50ac038ea1.html" target="element" class="i18n-elementtype-Junction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-269a2c1aa81240afbbacf23a837943c6.html" target="element"> AND </a> </td>
													    <td> <a href="../elements/id-269a2c1aa81240afbbacf23a837943c6.html" target="element" class="i18n-elementtype-Junction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-7ebddff7934645b4b1349aa6b5a2e77a.html" target="element"> Score account created </a> </td>
													    <td> <a href="../elements/id-7ebddff7934645b4b1349aa6b5a2e77a.html" target="element" class="i18n-elementtype-BusinessEvent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ceb29d964c5a41409a045697adba4a31.html" target="element"> Retail validation &amp; submission approval </a> </td>
													    <td> <a href="../elements/id-ceb29d964c5a41409a045697adba4a31.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-047d388b765d44f28eb84a14c82e63b0.html" target="element"> Retail registration accepted </a> </td>
											    <td> <a href="../elements/id-047d388b765d44f28eb84a14c82e63b0.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d0d257e8a4314b5fbc2141c6b8f82657.html" target="element"> Ready for storefront creation </a> </td>
											    <td> <a href="../elements/id-d0d257e8a4314b5fbc2141c6b8f82657.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4f6cfce55c7a4ac8bcc4a4ffb7807f86.html" target="element"> User </a> </td>
											    <td> <a href="../elements/id-4f6cfce55c7a4ac8bcc4a4ffb7807f86.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-18ebb6b74c344f8b87de0216f8d9c988.html" target="element"> Score </a> </td>
											    <td> <a href="../elements/id-18ebb6b74c344f8b87de0216f8d9c988.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-6254d0de3c1e40d38cb435bdffbf69d3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6254d0de3c1e40d38cb435bdffbf69d3.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-131ac4cd42894e2d8dfe3cf07309c10b.html" target="element"> Onboarding </a> </td>
																		<td> <a href="../elements/id-4fe318d6e1ff4f41b8d553715004db8a.html" target="element"> Mail registration acceptance </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f8b91699d4454685b04f8810a6fa8ea0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f8b91699d4454685b04f8810a6fa8ea0.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-131ac4cd42894e2d8dfe3cf07309c10b.html" target="element"> Onboarding </a> </td>
																		<td> <a href="../elements/id-a3e1cc9e01914db1bfb6739515ad4885.html" target="element"> Scoring account creation </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-93aa8329a82240188011634f4c0a203f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-93aa8329a82240188011634f4c0a203f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-131ac4cd42894e2d8dfe3cf07309c10b.html" target="element"> Onboarding </a> </td>
																		<td> <a href="../elements/id-abc115faf7ae4e7b81beb8b8e73f6d3f.html" target="element"> Terms &amp; Conditions acceptance </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-26cf33ec2d5c463e939034adc82354d6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-26cf33ec2d5c463e939034adc82354d6.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-131ac4cd42894e2d8dfe3cf07309c10b.html" target="element"> Onboarding </a> </td>
																		<td> <a href="../elements/id-ceb29d964c5a41409a045697adba4a31.html" target="element"> Retail validation &amp; submission approval </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-0651b4dfe2a047208ce766b5e6bcc25a.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-0651b4dfe2a047208ce766b5e6bcc25a.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-4fe318d6e1ff4f41b8d553715004db8a.html" target="element"> Mail registration acceptance </a> </td>
																				<td> <a href="../elements/id-803245bb8fcc4c798d674f50ac038ea1.html" target="element"> AND </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-578254dbcb2f4bbdbf105d4a16ec83e6.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-578254dbcb2f4bbdbf105d4a16ec83e6.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-4fe318d6e1ff4f41b8d553715004db8a.html" target="element"> Mail registration acceptance </a> </td>
																				<td> <a href="../elements/id-4f6cfce55c7a4ac8bcc4a4ffb7807f86.html" target="element"> User </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-f099cfdb3c254ab8ad819d1328fbab47.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-f099cfdb3c254ab8ad819d1328fbab47.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-327c1f9bf4c744d7b77e3ab5338ee9f8.html" target="element"> Terms &amp; Conditions accepted </a> </td>
																				<td> <a href="../elements/id-269a2c1aa81240afbbacf23a837943c6.html" target="element"> AND </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-fb282e8e8b9047abbcdc754c84c6478d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-fb282e8e8b9047abbcdc754c84c6478d.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-a3e1cc9e01914db1bfb6739515ad4885.html" target="element"> Scoring account creation </a> </td>
																				<td> <a href="../elements/id-7ebddff7934645b4b1349aa6b5a2e77a.html" target="element"> Score account created </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-fb0015bf0dd44d198c6f2a7e2e6db5c6.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-fb0015bf0dd44d198c6f2a7e2e6db5c6.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-a3e1cc9e01914db1bfb6739515ad4885.html" target="element"> Scoring account creation </a> </td>
																				<td> <a href="../elements/id-4f6cfce55c7a4ac8bcc4a4ffb7807f86.html" target="element"> User </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-3fedbaab7d4548dbba1f42750435af66.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-3fedbaab7d4548dbba1f42750435af66.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-a3e1cc9e01914db1bfb6739515ad4885.html" target="element"> Scoring account creation </a> </td>
																				<td> <a href="../elements/id-18ebb6b74c344f8b87de0216f8d9c988.html" target="element"> Score </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-a75722b7b4004c83ba615bbc29f78d8d.html" target="element"> not accepted </a> </td>
																				<td> <a href="../elements/id-a75722b7b4004c83ba615bbc29f78d8d.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-abc115faf7ae4e7b81beb8b8e73f6d3f.html" target="element"> Terms &amp; Conditions acceptance </a> </td>
																				<td> <a href="../elements/id-c91f6d194e90401cbd3875c5fcd6f9ab.html" target="element"> Onboarding dropped </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-95e750e4c8d94de39d5f069b71390d4b.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-95e750e4c8d94de39d5f069b71390d4b.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-abc115faf7ae4e7b81beb8b8e73f6d3f.html" target="element"> Terms &amp; Conditions acceptance </a> </td>
																				<td> <a href="../elements/id-327c1f9bf4c744d7b77e3ab5338ee9f8.html" target="element"> Terms &amp; Conditions accepted </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-0076e4439555492a95a41c4e47195997.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-0076e4439555492a95a41c4e47195997.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-abc115faf7ae4e7b81beb8b8e73f6d3f.html" target="element"> Terms &amp; Conditions acceptance </a> </td>
																				<td> <a href="../elements/id-4f6cfce55c7a4ac8bcc4a4ffb7807f86.html" target="element"> User </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-fe7d976663fa4555bf703a1aa7b67905.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-fe7d976663fa4555bf703a1aa7b67905.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-6a30ad9119ca4c02b7f67c010b36f3e7.html" target="element"> Validated &amp; submission approved </a> </td>
																				<td> <a href="../elements/id-269a2c1aa81240afbbacf23a837943c6.html" target="element"> AND </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-ca89f4bab34f47e586c5e15140a5141d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-ca89f4bab34f47e586c5e15140a5141d.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-803245bb8fcc4c798d674f50ac038ea1.html" target="element"> AND </a> </td>
																				<td> <a href="../elements/id-abc115faf7ae4e7b81beb8b8e73f6d3f.html" target="element"> Terms &amp; Conditions acceptance </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-fca20787dbc74fd88f0a8b18ad9f7087.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-fca20787dbc74fd88f0a8b18ad9f7087.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-803245bb8fcc4c798d674f50ac038ea1.html" target="element"> AND </a> </td>
																				<td> <a href="../elements/id-ceb29d964c5a41409a045697adba4a31.html" target="element"> Retail validation &amp; submission approval </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-99cbecd2d9a1491cb6d2ffeb58ab0444.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-99cbecd2d9a1491cb6d2ffeb58ab0444.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-269a2c1aa81240afbbacf23a837943c6.html" target="element"> AND </a> </td>
																				<td> <a href="../elements/id-a3e1cc9e01914db1bfb6739515ad4885.html" target="element"> Scoring account creation </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-cc40959dfd7b4c0c94574c66ca287aab.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-cc40959dfd7b4c0c94574c66ca287aab.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-7ebddff7934645b4b1349aa6b5a2e77a.html" target="element"> Score account created </a> </td>
																				<td> <a href="../elements/id-d0d257e8a4314b5fbc2141c6b8f82657.html" target="element"> Ready for storefront creation </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-d21986f30e354a0399b4f3aeb457ab25.html" target="element"> not validated </a> </td>
																				<td> <a href="../elements/id-d21986f30e354a0399b4f3aeb457ab25.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-ceb29d964c5a41409a045697adba4a31.html" target="element"> Retail validation &amp; submission approval </a> </td>
																				<td> <a href="../elements/id-c91f6d194e90401cbd3875c5fcd6f9ab.html" target="element"> Onboarding dropped </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-e9297638343142e88d0da743c10f3545.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e9297638343142e88d0da743c10f3545.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-ceb29d964c5a41409a045697adba4a31.html" target="element"> Retail validation &amp; submission approval </a> </td>
																				<td> <a href="../elements/id-6a30ad9119ca4c02b7f67c010b36f3e7.html" target="element"> Validated &amp; submission approved </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-561572dfc04a483bac706f10ff63d3c9.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-561572dfc04a483bac706f10ff63d3c9.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-ceb29d964c5a41409a045697adba4a31.html" target="element"> Retail validation &amp; submission approval </a> </td>
																				<td> <a href="../elements/id-4f6cfce55c7a4ac8bcc4a4ffb7807f86.html" target="element"> User </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-0cd9c39addc9471f99fd8acd61bc22ee.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0cd9c39addc9471f99fd8acd61bc22ee.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-047d388b765d44f28eb84a14c82e63b0.html" target="element"> Retail registration accepted </a> </td>
																		<td> <a href="../elements/id-4fe318d6e1ff4f41b8d553715004db8a.html" target="element"> Mail registration acceptance </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>