<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>2.2.2.1. Interaction - Conceptual Architecture Mapping</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>2.2.2.1. Interaction - Conceptual Architecture Mapping</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-business_process_cooperation"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_business_process_cooperation" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-0a8430233ff84ba38be2adb5d08e984c.png" alt="2.2.2.1. Interaction - Conceptual Architecture Mapping" usemap="#id-0a8430233ff84ba38be2adb5d08e984cmap"/>
			   <map name="id-0a8430233ff84ba38be2adb5d08e984cmap">
				  		<area shape="rect" coords="1172,20,1412,130" href="../elements/id-9e7d29a5de2d47f0a430862392760ae6.html"  target="element">
				  		<area shape="rect" coords="1172,572,1412,682" href="../elements/id-3bbaa72ce72e4944bfee482d5df821af.html"  target="element">
				  		<area shape="rect" coords="164,20,404,130" href="../elements/id-6378c3e7b0394b53bd5c2116f5744f13.html"  target="element">
				  		<area shape="rect" coords="836,20,1076,130" href="../elements/id-3f04a0d21d1148d7b302fc175c4d4c6c.html"  target="element">
				  		<area shape="rect" coords="500,20,740,130" href="../elements/id-5aa1f1087cf3428c896d6e7dc6c3771a.html"  target="element">
				  		<area shape="rect" coords="836,572,1076,682" href="../elements/id-7d1e4cec8006415db6569ec2be73ccd5.html"  target="element">
				  		<area shape="rect" coords="500,572,740,682" href="../elements/id-17c7da0f831748049a149a0bae8ce937.html"  target="element">
				  		<area shape="rect" coords="164,572,404,682" href="../elements/id-8125acaae4f54e629e43d4f416d0f932.html"  target="element">
				  				<area shape="rect" coords="1076,308,1316,418" href="../elements/id-0952e7701afa4e9bb288ff6f3961df72.html"  target="element">
				  				<area shape="rect" coords="788,308,1028,418" href="../elements/id-812db000e42147328b17ca80d10fd718.html"  target="element">
				  				<area shape="rect" coords="500,308,740,418" href="../elements/id-380e41001d5d4857aa02785fe2a42046.html"  target="element">
				  				<area shape="rect" coords="212,308,452,418" href="../elements/id-57f316b67b444c238cb99001bf7455f5.html"  target="element">

				  		<area shape="rect" coords="20,260,1582,454" href="../elements/id-52e63b414b1a4a88ad129b4834abba8c.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-52e63b414b1a4a88ad129b4834abba8c.html" target="element"> 1. Interaction </a> </td>
											    <td> <a href="../elements/id-52e63b414b1a4a88ad129b4834abba8c.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-57f316b67b444c238cb99001bf7455f5.html" target="element"> 1.1. Sharing </a> </td>
													    <td> <a href="../elements/id-57f316b67b444c238cb99001bf7455f5.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-380e41001d5d4857aa02785fe2a42046.html" target="element"> 1.2. Messaging </a> </td>
													    <td> <a href="../elements/id-380e41001d5d4857aa02785fe2a42046.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-812db000e42147328b17ca80d10fd718.html" target="element"> 1.3. Collaboration </a> </td>
													    <td> <a href="../elements/id-812db000e42147328b17ca80d10fd718.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0952e7701afa4e9bb288ff6f3961df72.html" target="element"> 1.4. Connection </a> </td>
													    <td> <a href="../elements/id-0952e7701afa4e9bb288ff6f3961df72.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-8125acaae4f54e629e43d4f416d0f932.html" target="element"> HeyBlue Tracking &amp; Notification </a> </td>
											    <td> <a href="../elements/id-8125acaae4f54e629e43d4f416d0f932.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-17c7da0f831748049a149a0bae8ce937.html" target="element"> HeyBlue Mobile </a> </td>
											    <td> <a href="../elements/id-17c7da0f831748049a149a0bae8ce937.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7d1e4cec8006415db6569ec2be73ccd5.html" target="element"> HeyBlue Web </a> </td>
											    <td> <a href="../elements/id-7d1e4cec8006415db6569ec2be73ccd5.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5aa1f1087cf3428c896d6e7dc6c3771a.html" target="element"> HeyBlue BFF Mobile </a> </td>
											    <td> <a href="../elements/id-5aa1f1087cf3428c896d6e7dc6c3771a.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3f04a0d21d1148d7b302fc175c4d4c6c.html" target="element"> HeyBlue BFF Web </a> </td>
											    <td> <a href="../elements/id-3f04a0d21d1148d7b302fc175c4d4c6c.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6378c3e7b0394b53bd5c2116f5744f13.html" target="element"> HeyBlue Social Media </a> </td>
											    <td> <a href="../elements/id-6378c3e7b0394b53bd5c2116f5744f13.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3bbaa72ce72e4944bfee482d5df821af.html" target="element"> HeyBlue Business Rules </a> </td>
											    <td> <a href="../elements/id-3bbaa72ce72e4944bfee482d5df821af.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9e7d29a5de2d47f0a430862392760ae6.html" target="element"> HeyBlue User Service </a> </td>
											    <td> <a href="../elements/id-9e7d29a5de2d47f0a430862392760ae6.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-9148232800d64408a94423aeaeec1651.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9148232800d64408a94423aeaeec1651.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-52e63b414b1a4a88ad129b4834abba8c.html" target="element"> 1. Interaction </a> </td>
																		<td> <a href="../elements/id-0952e7701afa4e9bb288ff6f3961df72.html" target="element"> 1.4. Connection </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6076df45b1864a08947e0eb34389ec5b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6076df45b1864a08947e0eb34389ec5b.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-52e63b414b1a4a88ad129b4834abba8c.html" target="element"> 1. Interaction </a> </td>
																		<td> <a href="../elements/id-57f316b67b444c238cb99001bf7455f5.html" target="element"> 1.1. Sharing </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f003f541e4b347ddb3c9e900526b396b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f003f541e4b347ddb3c9e900526b396b.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-52e63b414b1a4a88ad129b4834abba8c.html" target="element"> 1. Interaction </a> </td>
																		<td> <a href="../elements/id-812db000e42147328b17ca80d10fd718.html" target="element"> 1.3. Collaboration </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-514544b7a18c4e538c5ed1488eb481c2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-514544b7a18c4e538c5ed1488eb481c2.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-52e63b414b1a4a88ad129b4834abba8c.html" target="element"> 1. Interaction </a> </td>
																		<td> <a href="../elements/id-380e41001d5d4857aa02785fe2a42046.html" target="element"> 1.2. Messaging </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-af1b7b89080c492b9fb506c0dd276b7d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-af1b7b89080c492b9fb506c0dd276b7d.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8125acaae4f54e629e43d4f416d0f932.html" target="element"> HeyBlue Tracking &amp; Notification </a> </td>
																		<td> <a href="../elements/id-0952e7701afa4e9bb288ff6f3961df72.html" target="element"> 1.4. Connection </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-68eb69872761482091617819a8c12ee4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-68eb69872761482091617819a8c12ee4.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8125acaae4f54e629e43d4f416d0f932.html" target="element"> HeyBlue Tracking &amp; Notification </a> </td>
																		<td> <a href="../elements/id-380e41001d5d4857aa02785fe2a42046.html" target="element"> 1.2. Messaging </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-c4abb0072c1640fab793c65b1e706fc2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c4abb0072c1640fab793c65b1e706fc2.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-17c7da0f831748049a149a0bae8ce937.html" target="element"> HeyBlue Mobile </a> </td>
																		<td> <a href="../elements/id-380e41001d5d4857aa02785fe2a42046.html" target="element"> 1.2. Messaging </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a4ed9cd58d8c488a9d4aa2e3e226e06f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a4ed9cd58d8c488a9d4aa2e3e226e06f.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-17c7da0f831748049a149a0bae8ce937.html" target="element"> HeyBlue Mobile </a> </td>
																		<td> <a href="../elements/id-57f316b67b444c238cb99001bf7455f5.html" target="element"> 1.1. Sharing </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d8a80234b9054c7bad41c244bfeb4123.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d8a80234b9054c7bad41c244bfeb4123.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-17c7da0f831748049a149a0bae8ce937.html" target="element"> HeyBlue Mobile </a> </td>
																		<td> <a href="../elements/id-812db000e42147328b17ca80d10fd718.html" target="element"> 1.3. Collaboration </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ef32a53e33514c679754af8dbd5afe61.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ef32a53e33514c679754af8dbd5afe61.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-17c7da0f831748049a149a0bae8ce937.html" target="element"> HeyBlue Mobile </a> </td>
																		<td> <a href="../elements/id-0952e7701afa4e9bb288ff6f3961df72.html" target="element"> 1.4. Connection </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-0054a6c2fca648caac413cbe09f84c46.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0054a6c2fca648caac413cbe09f84c46.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7d1e4cec8006415db6569ec2be73ccd5.html" target="element"> HeyBlue Web </a> </td>
																		<td> <a href="../elements/id-57f316b67b444c238cb99001bf7455f5.html" target="element"> 1.1. Sharing </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-cd76d44d62194596b764e42bfbcf3e55.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cd76d44d62194596b764e42bfbcf3e55.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7d1e4cec8006415db6569ec2be73ccd5.html" target="element"> HeyBlue Web </a> </td>
																		<td> <a href="../elements/id-380e41001d5d4857aa02785fe2a42046.html" target="element"> 1.2. Messaging </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-113d9f53828f469fb0355fda060f4f6e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-113d9f53828f469fb0355fda060f4f6e.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7d1e4cec8006415db6569ec2be73ccd5.html" target="element"> HeyBlue Web </a> </td>
																		<td> <a href="../elements/id-812db000e42147328b17ca80d10fd718.html" target="element"> 1.3. Collaboration </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c9b732d770d5478eb1a007c1c6e94f56.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c9b732d770d5478eb1a007c1c6e94f56.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7d1e4cec8006415db6569ec2be73ccd5.html" target="element"> HeyBlue Web </a> </td>
																		<td> <a href="../elements/id-0952e7701afa4e9bb288ff6f3961df72.html" target="element"> 1.4. Connection </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-37d0c88a12614ee6b9603924091bd7d2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-37d0c88a12614ee6b9603924091bd7d2.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5aa1f1087cf3428c896d6e7dc6c3771a.html" target="element"> HeyBlue BFF Mobile </a> </td>
																		<td> <a href="../elements/id-57f316b67b444c238cb99001bf7455f5.html" target="element"> 1.1. Sharing </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-cfe510c590e8464483049123e3ebb443.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cfe510c590e8464483049123e3ebb443.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5aa1f1087cf3428c896d6e7dc6c3771a.html" target="element"> HeyBlue BFF Mobile </a> </td>
																		<td> <a href="../elements/id-812db000e42147328b17ca80d10fd718.html" target="element"> 1.3. Collaboration </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-29d77e367f0e438a8e3463bbaf1fc11e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-29d77e367f0e438a8e3463bbaf1fc11e.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5aa1f1087cf3428c896d6e7dc6c3771a.html" target="element"> HeyBlue BFF Mobile </a> </td>
																		<td> <a href="../elements/id-0952e7701afa4e9bb288ff6f3961df72.html" target="element"> 1.4. Connection </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-8697f0a52615464a991b96c459ec2218.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8697f0a52615464a991b96c459ec2218.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3f04a0d21d1148d7b302fc175c4d4c6c.html" target="element"> HeyBlue BFF Web </a> </td>
																		<td> <a href="../elements/id-57f316b67b444c238cb99001bf7455f5.html" target="element"> 1.1. Sharing </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f8814048d87d486f96e3dec66f3512b3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f8814048d87d486f96e3dec66f3512b3.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3f04a0d21d1148d7b302fc175c4d4c6c.html" target="element"> HeyBlue BFF Web </a> </td>
																		<td> <a href="../elements/id-380e41001d5d4857aa02785fe2a42046.html" target="element"> 1.2. Messaging </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7652b899ed3b4786a6a90b074ce60e43.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7652b899ed3b4786a6a90b074ce60e43.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3f04a0d21d1148d7b302fc175c4d4c6c.html" target="element"> HeyBlue BFF Web </a> </td>
																		<td> <a href="../elements/id-812db000e42147328b17ca80d10fd718.html" target="element"> 1.3. Collaboration </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a7792ab998bf4da7bc3556336b79eebc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a7792ab998bf4da7bc3556336b79eebc.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3f04a0d21d1148d7b302fc175c4d4c6c.html" target="element"> HeyBlue BFF Web </a> </td>
																		<td> <a href="../elements/id-0952e7701afa4e9bb288ff6f3961df72.html" target="element"> 1.4. Connection </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-5850ca933508472f9201437911943418.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5850ca933508472f9201437911943418.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6378c3e7b0394b53bd5c2116f5744f13.html" target="element"> HeyBlue Social Media </a> </td>
																		<td> <a href="../elements/id-57f316b67b444c238cb99001bf7455f5.html" target="element"> 1.1. Sharing </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-41beab6400854b5f9da580c1b864aa82.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-41beab6400854b5f9da580c1b864aa82.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6378c3e7b0394b53bd5c2116f5744f13.html" target="element"> HeyBlue Social Media </a> </td>
																		<td> <a href="../elements/id-812db000e42147328b17ca80d10fd718.html" target="element"> 1.3. Collaboration </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-4b33b3b499e74e538802ce6368851bd8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4b33b3b499e74e538802ce6368851bd8.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3bbaa72ce72e4944bfee482d5df821af.html" target="element"> HeyBlue Business Rules </a> </td>
																		<td> <a href="../elements/id-0952e7701afa4e9bb288ff6f3961df72.html" target="element"> 1.4. Connection </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8b210ca917014cbdafc1b064f9e08046.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8b210ca917014cbdafc1b064f9e08046.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3bbaa72ce72e4944bfee482d5df821af.html" target="element"> HeyBlue Business Rules </a> </td>
																		<td> <a href="../elements/id-812db000e42147328b17ca80d10fd718.html" target="element"> 1.3. Collaboration </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b58aa6a4eac141cea9c55d6370a48831.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b58aa6a4eac141cea9c55d6370a48831.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3bbaa72ce72e4944bfee482d5df821af.html" target="element"> HeyBlue Business Rules </a> </td>
																		<td> <a href="../elements/id-380e41001d5d4857aa02785fe2a42046.html" target="element"> 1.2. Messaging </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6dc035287acf44e08d2daccea702464a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6dc035287acf44e08d2daccea702464a.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3bbaa72ce72e4944bfee482d5df821af.html" target="element"> HeyBlue Business Rules </a> </td>
																		<td> <a href="../elements/id-57f316b67b444c238cb99001bf7455f5.html" target="element"> 1.1. Sharing </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-2cf30004e7194b099a18dac18f25b505.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2cf30004e7194b099a18dac18f25b505.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9e7d29a5de2d47f0a430862392760ae6.html" target="element"> HeyBlue User Service </a> </td>
																		<td> <a href="../elements/id-0952e7701afa4e9bb288ff6f3961df72.html" target="element"> 1.4. Connection </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>