<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>1.2.5. Motivation - Foundation mapping</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>1.2.5. Motivation - Foundation mapping</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-requirements_realization"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_requirements_realization" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-0cadef7e3c61495cb9a99fd582666f8d.png" alt="1.2.5. Motivation - Foundation mapping" usemap="#id-0cadef7e3c61495cb9a99fd582666f8dmap"/>
			   <map name="id-0cadef7e3c61495cb9a99fd582666f8dmap">
				  		<area shape="rect" coords="1460,1748,1700,1858" href="../elements/id-9f930eb1a4814d2e8c36678d648f2794.html"  target="element">
				  		<area shape="rect" coords="1460,1604,1700,1714" href="../elements/id-36dd96f6e4bd4bc7894d41ab4c5483a3.html"  target="element">
				  		<area shape="rect" coords="1460,1460,1700,1570" href="../elements/id-d773866a8a074cdd9ecb5096ee48c307.html"  target="element">
				  		<area shape="rect" coords="1460,1316,1700,1426" href="../elements/id-338b945e88d04a1297fea8254a2683b4.html"  target="element">
				  		<area shape="rect" coords="1460,1172,1700,1282" href="../elements/id-d7f9fe3914c34042aa94e3b14a17e46a.html"  target="element">
				  		<area shape="rect" coords="1460,1028,1700,1138" href="../elements/id-0acb8b43b3d44deb8ee00c5532f4bf0b.html"  target="element">
				  		<area shape="rect" coords="1460,884,1700,994" href="../elements/id-ccdd45c8315e47e8a28a292365c277dd.html"  target="element">
				  		<area shape="rect" coords="1460,740,1700,850" href="../elements/id-accf4c79f96342058bcbf2abc2cc1861.html"  target="element">
				  		<area shape="rect" coords="1460,596,1700,706" href="../elements/id-717649665e004e29845c03782a5e2a7b.html"  target="element">
				  		<area shape="rect" coords="1460,452,1700,562" href="../elements/id-da1ef9bdbdb1451384dcdcc35d643ca3.html"  target="element">
				  		<area shape="rect" coords="1460,308,1700,418" href="../elements/id-3bd009eaba2949dfacd88ca825ab98d3.html"  target="element">
				  		<area shape="rect" coords="1460,164,1700,274" href="../elements/id-794b826c0d054f85af2d7401c029d0c8.html"  target="element">
				  		<area shape="rect" coords="1460,20,1700,130" href="../elements/id-ac3a992488f8406fbc27431738228181.html"  target="element">
				  		<area shape="rect" coords="20,20,260,130" href="../elements/id-0ad896e52752481ba16d97f4efbf3ab8.html"  target="element">
				  		<area shape="rect" coords="20,164,260,274" href="../elements/id-b2a384af364243eba12d672aa0807eda.html"  target="element">
				  		<area shape="rect" coords="20,1772,260,1882" href="../elements/id-55ad851de9e3407db158625977ed3a0b.html"  target="element">
				  		<area shape="rect" coords="20,1628,260,1738" href="../elements/id-6d1a516e2b194f089041cf7b3eb46d38.html"  target="element">
				  		<area shape="rect" coords="20,1484,260,1594" href="../elements/id-f1563672ba914bdd8c9c8e937e03d58d.html"  target="element">
				  		<area shape="rect" coords="20,1340,260,1450" href="../elements/id-9c3575c3e9054500bdacd98950cab914.html"  target="element">
				  		<area shape="rect" coords="20,1196,260,1306" href="../elements/id-f692e3b22bc94026a793b43e95c9cb79.html"  target="element">
				  		<area shape="rect" coords="20,1052,260,1162" href="../elements/id-7cff9adb161e48e5882895c48051d0b4.html"  target="element">
				  		<area shape="rect" coords="20,908,260,1018" href="../elements/id-682ecc1562544bf5a6f6d6cce7f5466c.html"  target="element">
				  		<area shape="rect" coords="20,758,260,868" href="../elements/id-c9feea4eb6d740d3a06b58b2f1050ec9.html"  target="element">
				  		<area shape="rect" coords="20,620,260,730" href="../elements/id-2eaf71a42d644771bb0e6b55699c81ec.html"  target="element">
				  		<area shape="rect" coords="20,476,260,586" href="../elements/id-1bc56968f7dd42cfb5f623f6782b21bd.html"  target="element">
				  		<area shape="rect" coords="20,332,260,442" href="../elements/id-68742458184b4c06806a996216d2bc3a.html"  target="element">
				  				<area shape="rect" coords="740,1196,980,1306" href="../elements/id-eebf1bd9d7e24922b6bcc2fc16f0439a.html"  target="element">
				  				<area shape="rect" coords="740,1052,980,1162" href="../elements/id-9e15b4c253f74e18b52a52cdac6dd398.html"  target="element">
				  				<area shape="rect" coords="740,908,980,1018" href="../elements/id-31c7f3a80817420d8d98e59df8996ae4.html"  target="element">
				  				<area shape="rect" coords="740,764,980,874" href="../elements/id-6155b13c4b6e47b0b9557c1712c91148.html"  target="element">
				  				<area shape="rect" coords="740,620,980,730" href="../elements/id-e1c8ad174e8f4e7190af0a98bcb20258.html"  target="element">
				  				<area shape="rect" coords="740,476,980,586" href="../elements/id-cb4ec50f3df54cf6ae383209a762317e.html"  target="element">
				  				<area shape="rect" coords="740,332,980,442" href="../elements/id-0ec8cdd25ced4561baaa748ffc83442d.html"  target="element">

				  		<area shape="rect" coords="692,284,1040,1342" href="../elements/id-018f8cf1484b4bc28aaa311ba497cafd.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-018f8cf1484b4bc28aaa311ba497cafd.html" target="element"> 5. Foundation </a> </td>
											    <td> <a href="../elements/id-018f8cf1484b4bc28aaa311ba497cafd.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-0ec8cdd25ced4561baaa748ffc83442d.html" target="element"> 5.1. APIs </a> </td>
													    <td> <a href="../elements/id-0ec8cdd25ced4561baaa748ffc83442d.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-cb4ec50f3df54cf6ae383209a762317e.html" target="element"> 5.2. Widgets </a> </td>
													    <td> <a href="../elements/id-cb4ec50f3df54cf6ae383209a762317e.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e1c8ad174e8f4e7190af0a98bcb20258.html" target="element"> 5.3. Analytics </a> </td>
													    <td> <a href="../elements/id-e1c8ad174e8f4e7190af0a98bcb20258.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-6155b13c4b6e47b0b9557c1712c91148.html" target="element"> 5.4. Notifications </a> </td>
													    <td> <a href="../elements/id-6155b13c4b6e47b0b9557c1712c91148.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-31c7f3a80817420d8d98e59df8996ae4.html" target="element"> 5.5. Authentication &amp; Authorization </a> </td>
													    <td> <a href="../elements/id-31c7f3a80817420d8d98e59df8996ae4.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-9e15b4c253f74e18b52a52cdac6dd398.html" target="element"> 5.6. Content </a> </td>
													    <td> <a href="../elements/id-9e15b4c253f74e18b52a52cdac6dd398.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-eebf1bd9d7e24922b6bcc2fc16f0439a.html" target="element"> 5.7. Privacy and Security </a> </td>
													    <td> <a href="../elements/id-eebf1bd9d7e24922b6bcc2fc16f0439a.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-68742458184b4c06806a996216d2bc3a.html" target="element"> UC01. As hey blue administrator I want to get reports and analytics of the application activity </a> </td>
											    <td> <a href="../elements/id-68742458184b4c06806a996216d2bc3a.html" target="element" class="i18n-elementtype-Requirement">
											    	(Functional Requirement)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1bc56968f7dd42cfb5f623f6782b21bd.html" target="element"> UC02. As hey blue administrator I want to share aggregated tracking data with local media outlets, automatically </a> </td>
											    <td> <a href="../elements/id-1bc56968f7dd42cfb5f623f6782b21bd.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2eaf71a42d644771bb0e6b55699c81ec.html" target="element"> UC03. As a local media outlet I want to subscribe to get access to aggregated data </a> </td>
											    <td> <a href="../elements/id-2eaf71a42d644771bb0e6b55699c81ec.html" target="element" class="i18n-elementtype-Requirement">
											    	(Functional Requirement)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c9feea4eb6d740d3a06b58b2f1050ec9.html" target="element"> UC05. [HARD] As a user I want to share information about my profile in social media </a> </td>
											    <td> <a href="../elements/id-c9feea4eb6d740d3a06b58b2f1050ec9.html" target="element" class="i18n-elementtype-Requirement">
											    	(Functional Requirement)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-682ecc1562544bf5a6f6d6cce7f5466c.html" target="element"> UC06. [HARD] As HeyBlue Admin I want the app to track the location of the users </a> </td>
											    <td> <a href="../elements/id-682ecc1562544bf5a6f6d6cce7f5466c.html" target="element" class="i18n-elementtype-Requirement">
											    	(Functional Requirement)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7cff9adb161e48e5882895c48051d0b4.html" target="element"> UC07. [OPTION] As a user I want to connect to my social media profile </a> </td>
											    <td> <a href="../elements/id-7cff9adb161e48e5882895c48051d0b4.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f692e3b22bc94026a793b43e95c9cb79.html" target="element"> UC08. [HARD] As a user i want to opt-in and out of push notifications </a> </td>
											    <td> <a href="../elements/id-f692e3b22bc94026a793b43e95c9cb79.html" target="element" class="i18n-elementtype-Requirement">
											    	(Functional Requirement)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9c3575c3e9054500bdacd98950cab914.html" target="element"> UC15. As heyblue admin I want to track how the points were used for each user </a> </td>
											    <td> <a href="../elements/id-9c3575c3e9054500bdacd98950cab914.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f1563672ba914bdd8c9c8e937e03d58d.html" target="element"> UC17. As a community member I want to see how many connections each participating officer has made </a> </td>
											    <td> <a href="../elements/id-f1563672ba914bdd8c9c8e937e03d58d.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6d1a516e2b194f089041cf7b3eb46d38.html" target="element"> UC18. As heyBlue Admin I want to know the users zip codes to share revenues with community in the user area </a> </td>
											    <td> <a href="../elements/id-6d1a516e2b194f089041cf7b3eb46d38.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-55ad851de9e3407db158625977ed3a0b.html" target="element"> UC11. As a business/charitie I want to create a storefront to encourage users to redeem or donate their points </a> </td>
											    <td> <a href="../elements/id-55ad851de9e3407db158625977ed3a0b.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b2a384af364243eba12d672aa0807eda.html" target="element"> CONS.01. The cost should be as little as possible </a> </td>
											    <td> <a href="../elements/id-b2a384af364243eba12d672aa0807eda.html" target="element" class="i18n-elementtype-Constraint">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0ad896e52752481ba16d97f4efbf3ab8.html" target="element"> CONS.02. Application should be mobile and web </a> </td>
											    <td> <a href="../elements/id-0ad896e52752481ba16d97f4efbf3ab8.html" target="element" class="i18n-elementtype-Constraint">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ac3a992488f8406fbc27431738228181.html" target="element"> CONS.05. [Assumption] There is no restriction about technology </a> </td>
											    <td> <a href="../elements/id-ac3a992488f8406fbc27431738228181.html" target="element" class="i18n-elementtype-Constraint">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-794b826c0d054f85af2d7401c029d0c8.html" target="element"> CONS.06. [Assumption] Define a solution that evolve with a team </a> </td>
											    <td> <a href="../elements/id-794b826c0d054f85af2d7401c029d0c8.html" target="element" class="i18n-elementtype-Constraint">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3bd009eaba2949dfacd88ca825ab98d3.html" target="element"> CONS.07. Compliance with GDPR </a> </td>
											    <td> <a href="../elements/id-3bd009eaba2949dfacd88ca825ab98d3.html" target="element" class="i18n-elementtype-Constraint">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-da1ef9bdbdb1451384dcdcc35d643ca3.html" target="element"> CONS.08. Solution should be launched on september 11, 2023 </a> </td>
											    <td> <a href="../elements/id-da1ef9bdbdb1451384dcdcc35d643ca3.html" target="element" class="i18n-elementtype-Constraint">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-717649665e004e29845c03782a5e2a7b.html" target="element"> AC.SCA.01. [Assumption] Start with little use rate (Friends and Family) and scalate the solution as usage rate increase </a> </td>
											    <td> <a href="../elements/id-717649665e004e29845c03782a5e2a7b.html" target="element" class="i18n-elementtype-Requirement">
											    	(Architecture Characteristic)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-accf4c79f96342058bcbf2abc2cc1861.html" target="element"> AC.SEC.01. Secure information </a> </td>
											    <td> <a href="../elements/id-accf4c79f96342058bcbf2abc2cc1861.html" target="element" class="i18n-elementtype-Requirement">
											    	(Architecture Characteristic)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ccdd45c8315e47e8a28a292365c277dd.html" target="element"> AC.SEC.02. End User AAA </a> </td>
											    <td> <a href="../elements/id-ccdd45c8315e47e8a28a292365c277dd.html" target="element" class="i18n-elementtype-Requirement">
											    	(Architecture Characteristic)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0acb8b43b3d44deb8ee00c5532f4bf0b.html" target="element"> AC.SEC.03. Device linking </a> </td>
											    <td> <a href="../elements/id-0acb8b43b3d44deb8ee00c5532f4bf0b.html" target="element" class="i18n-elementtype-Requirement">
											    	(Architecture Characteristic)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d7f9fe3914c34042aa94e3b14a17e46a.html" target="element"> AC.STA.01. [Assumption] Uptime 99.95% from monday to friday 9AM to 10PM </a> </td>
											    <td> <a href="../elements/id-d7f9fe3914c34042aa94e3b14a17e46a.html" target="element" class="i18n-elementtype-Requirement">
											    	(Architecture Characteristic)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-338b945e88d04a1297fea8254a2683b4.html" target="element"> AC.STA.02. [Assumption] Uptime 99,95% from saturday to sunday from 7AM to 11:59PM </a> </td>
											    <td> <a href="../elements/id-338b945e88d04a1297fea8254a2683b4.html" target="element" class="i18n-elementtype-Requirement">
											    	(Architecture Characteristic)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d773866a8a074cdd9ecb5096ee48c307.html" target="element"> AC.USA.01. Web App Usability </a> </td>
											    <td> <a href="../elements/id-d773866a8a074cdd9ecb5096ee48c307.html" target="element" class="i18n-elementtype-Requirement">
											    	(Architecture Characteristic)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-36dd96f6e4bd4bc7894d41ab4c5483a3.html" target="element"> AC.USA.02. Mobile App Usability </a> </td>
											    <td> <a href="../elements/id-36dd96f6e4bd4bc7894d41ab4c5483a3.html" target="element" class="i18n-elementtype-Requirement">
											    	(Architecture Characteristic)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9f930eb1a4814d2e8c36678d648f2794.html" target="element"> AC.SEC.05 [Assumption] User profile should be validated for each user (civilian, police officer, family in needs, business, charity) </a> </td>
											    <td> <a href="../elements/id-9f930eb1a4814d2e8c36678d648f2794.html" target="element" class="i18n-elementtype-Requirement">
											    	(Architecture Characteristic)
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-30514524c55141cab2c8b3654569ca09.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-30514524c55141cab2c8b3654569ca09.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-018f8cf1484b4bc28aaa311ba497cafd.html" target="element"> 5. Foundation </a> </td>
																		<td> <a href="../elements/id-0ec8cdd25ced4561baaa748ffc83442d.html" target="element"> 5.1. APIs </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4ea56f3c0ab447bca282065c4a7308ea.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4ea56f3c0ab447bca282065c4a7308ea.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-018f8cf1484b4bc28aaa311ba497cafd.html" target="element"> 5. Foundation </a> </td>
																		<td> <a href="../elements/id-cb4ec50f3df54cf6ae383209a762317e.html" target="element"> 5.2. Widgets </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b2e1767058114d4e8da0b5615e4d4431.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b2e1767058114d4e8da0b5615e4d4431.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-018f8cf1484b4bc28aaa311ba497cafd.html" target="element"> 5. Foundation </a> </td>
																		<td> <a href="../elements/id-e1c8ad174e8f4e7190af0a98bcb20258.html" target="element"> 5.3. Analytics </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-982b234a0f1840b096e49b59ba4c0231.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-982b234a0f1840b096e49b59ba4c0231.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-018f8cf1484b4bc28aaa311ba497cafd.html" target="element"> 5. Foundation </a> </td>
																		<td> <a href="../elements/id-6155b13c4b6e47b0b9557c1712c91148.html" target="element"> 5.4. Notifications </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7bf507c24b404c7cbb2dfb140ecc5325.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7bf507c24b404c7cbb2dfb140ecc5325.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-018f8cf1484b4bc28aaa311ba497cafd.html" target="element"> 5. Foundation </a> </td>
																		<td> <a href="../elements/id-31c7f3a80817420d8d98e59df8996ae4.html" target="element"> 5.5. Authentication &amp; Authorization </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1a003396aedd4006afa1b188f6ac696e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1a003396aedd4006afa1b188f6ac696e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-018f8cf1484b4bc28aaa311ba497cafd.html" target="element"> 5. Foundation </a> </td>
																		<td> <a href="../elements/id-9e15b4c253f74e18b52a52cdac6dd398.html" target="element"> 5.6. Content </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-283d75c7b3344bc3982420256d6a4585.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-283d75c7b3344bc3982420256d6a4585.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-018f8cf1484b4bc28aaa311ba497cafd.html" target="element"> 5. Foundation </a> </td>
																		<td> <a href="../elements/id-eebf1bd9d7e24922b6bcc2fc16f0439a.html" target="element"> 5.7. Privacy and Security </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-154f9a44b7fd468e80b03735aa6508e7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-154f9a44b7fd468e80b03735aa6508e7.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-018f8cf1484b4bc28aaa311ba497cafd.html" target="element"> 5. Foundation </a> </td>
																		<td> <a href="../elements/id-b2a384af364243eba12d672aa0807eda.html" target="element"> CONS.01. The cost should be as little as possible </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-50f296c20ab147599c1c8443a34cef3a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-50f296c20ab147599c1c8443a34cef3a.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-018f8cf1484b4bc28aaa311ba497cafd.html" target="element"> 5. Foundation </a> </td>
																		<td> <a href="../elements/id-0ad896e52752481ba16d97f4efbf3ab8.html" target="element"> CONS.02. Application should be mobile and web </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b91f0acaa12349a5a0be2b1aa119753e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b91f0acaa12349a5a0be2b1aa119753e.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-018f8cf1484b4bc28aaa311ba497cafd.html" target="element"> 5. Foundation </a> </td>
																		<td> <a href="../elements/id-ac3a992488f8406fbc27431738228181.html" target="element"> CONS.05. [Assumption] There is no restriction about technology </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-bc7d530cb29647fca55204615a4d7415.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bc7d530cb29647fca55204615a4d7415.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-018f8cf1484b4bc28aaa311ba497cafd.html" target="element"> 5. Foundation </a> </td>
																		<td> <a href="../elements/id-794b826c0d054f85af2d7401c029d0c8.html" target="element"> CONS.06. [Assumption] Define a solution that evolve with a team </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0bb96c6235a5429ca1ca7c93239ef24a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0bb96c6235a5429ca1ca7c93239ef24a.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-018f8cf1484b4bc28aaa311ba497cafd.html" target="element"> 5. Foundation </a> </td>
																		<td> <a href="../elements/id-3bd009eaba2949dfacd88ca825ab98d3.html" target="element"> CONS.07. Compliance with GDPR </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-efae99d284d94facb7567f83d436941f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-efae99d284d94facb7567f83d436941f.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-018f8cf1484b4bc28aaa311ba497cafd.html" target="element"> 5. Foundation </a> </td>
																		<td> <a href="../elements/id-da1ef9bdbdb1451384dcdcc35d643ca3.html" target="element"> CONS.08. Solution should be launched on september 11, 2023 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-59bbae0a11c84c64a1cbe32f6e745441.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-59bbae0a11c84c64a1cbe32f6e745441.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-018f8cf1484b4bc28aaa311ba497cafd.html" target="element"> 5. Foundation </a> </td>
																		<td> <a href="../elements/id-717649665e004e29845c03782a5e2a7b.html" target="element"> AC.SCA.01. [Assumption] Start with little use rate (Friends and Family) and scalate the solution as usage rate increase </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7e41c51c9f33488e83a306d581b97cc1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7e41c51c9f33488e83a306d581b97cc1.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-018f8cf1484b4bc28aaa311ba497cafd.html" target="element"> 5. Foundation </a> </td>
																		<td> <a href="../elements/id-d7f9fe3914c34042aa94e3b14a17e46a.html" target="element"> AC.STA.01. [Assumption] Uptime 99.95% from monday to friday 9AM to 10PM </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-486b9c0a2c25414eb9f3d6abfbaf7049.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-486b9c0a2c25414eb9f3d6abfbaf7049.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-018f8cf1484b4bc28aaa311ba497cafd.html" target="element"> 5. Foundation </a> </td>
																		<td> <a href="../elements/id-338b945e88d04a1297fea8254a2683b4.html" target="element"> AC.STA.02. [Assumption] Uptime 99,95% from saturday to sunday from 7AM to 11:59PM </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-445f15b8b00d4e98a47cbcad54609b25.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-445f15b8b00d4e98a47cbcad54609b25.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-018f8cf1484b4bc28aaa311ba497cafd.html" target="element"> 5. Foundation </a> </td>
																		<td> <a href="../elements/id-d773866a8a074cdd9ecb5096ee48c307.html" target="element"> AC.USA.01. Web App Usability </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e3fbe300126440c694ff5e864d9f5765.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e3fbe300126440c694ff5e864d9f5765.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-018f8cf1484b4bc28aaa311ba497cafd.html" target="element"> 5. Foundation </a> </td>
																		<td> <a href="../elements/id-36dd96f6e4bd4bc7894d41ab4c5483a3.html" target="element"> AC.USA.02. Mobile App Usability </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-95624f621adc481381e9dff38a2f1870.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-95624f621adc481381e9dff38a2f1870.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-e1c8ad174e8f4e7190af0a98bcb20258.html" target="element"> 5.3. Analytics </a> </td>
																				<td> <a href="../elements/id-68742458184b4c06806a996216d2bc3a.html" target="element"> UC01. As hey blue administrator I want to get reports and analytics of the application activity </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-6362f2bf028f4fe2983c1018defd4a99.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-6362f2bf028f4fe2983c1018defd4a99.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-e1c8ad174e8f4e7190af0a98bcb20258.html" target="element"> 5.3. Analytics </a> </td>
																				<td> <a href="../elements/id-1bc56968f7dd42cfb5f623f6782b21bd.html" target="element"> UC02. As hey blue administrator I want to share aggregated tracking data with local media outlets, automatically </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-21abe9b6bc724097ab20da0f12f8fcee.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-21abe9b6bc724097ab20da0f12f8fcee.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-e1c8ad174e8f4e7190af0a98bcb20258.html" target="element"> 5.3. Analytics </a> </td>
																				<td> <a href="../elements/id-2eaf71a42d644771bb0e6b55699c81ec.html" target="element"> UC03. As a local media outlet I want to subscribe to get access to aggregated data </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-f208067d380941d19e7012cd0c02f6bc.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-f208067d380941d19e7012cd0c02f6bc.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-e1c8ad174e8f4e7190af0a98bcb20258.html" target="element"> 5.3. Analytics </a> </td>
																				<td> <a href="../elements/id-9c3575c3e9054500bdacd98950cab914.html" target="element"> UC15. As heyblue admin I want to track how the points were used for each user </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-e59761522e8144b1be2c5a4054e4f3bc.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e59761522e8144b1be2c5a4054e4f3bc.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-e1c8ad174e8f4e7190af0a98bcb20258.html" target="element"> 5.3. Analytics </a> </td>
																				<td> <a href="../elements/id-f1563672ba914bdd8c9c8e937e03d58d.html" target="element"> UC17. As a community member I want to see how many connections each participating officer has made </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-4df6f40012894abf9550982abfe49f7b.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-4df6f40012894abf9550982abfe49f7b.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-e1c8ad174e8f4e7190af0a98bcb20258.html" target="element"> 5.3. Analytics </a> </td>
																				<td> <a href="../elements/id-6d1a516e2b194f089041cf7b3eb46d38.html" target="element"> UC18. As heyBlue Admin I want to know the users zip codes to share revenues with community in the user area </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-793f1c3eab784df08ce7709e0ce07647.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-793f1c3eab784df08ce7709e0ce07647.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-6155b13c4b6e47b0b9557c1712c91148.html" target="element"> 5.4. Notifications </a> </td>
																				<td> <a href="../elements/id-1bc56968f7dd42cfb5f623f6782b21bd.html" target="element"> UC02. As hey blue administrator I want to share aggregated tracking data with local media outlets, automatically </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-ea2ed6aa7ba644b7b6abe7fba2d64c95.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-ea2ed6aa7ba644b7b6abe7fba2d64c95.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-6155b13c4b6e47b0b9557c1712c91148.html" target="element"> 5.4. Notifications </a> </td>
																				<td> <a href="../elements/id-f692e3b22bc94026a793b43e95c9cb79.html" target="element"> UC08. [HARD] As a user i want to opt-in and out of push notifications </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-cb01f33cced345c3ad808a9782586c8b.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-cb01f33cced345c3ad808a9782586c8b.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-31c7f3a80817420d8d98e59df8996ae4.html" target="element"> 5.5. Authentication &amp; Authorization </a> </td>
																				<td> <a href="../elements/id-7cff9adb161e48e5882895c48051d0b4.html" target="element"> UC07. [OPTION] As a user I want to connect to my social media profile </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-0c1c50e47faa479c8bac0c955002fe03.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-0c1c50e47faa479c8bac0c955002fe03.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-31c7f3a80817420d8d98e59df8996ae4.html" target="element"> 5.5. Authentication &amp; Authorization </a> </td>
																				<td> <a href="../elements/id-accf4c79f96342058bcbf2abc2cc1861.html" target="element"> AC.SEC.01. Secure information </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-ca344a444aff4b4c90d98a069d522879.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-ca344a444aff4b4c90d98a069d522879.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-31c7f3a80817420d8d98e59df8996ae4.html" target="element"> 5.5. Authentication &amp; Authorization </a> </td>
																				<td> <a href="../elements/id-ccdd45c8315e47e8a28a292365c277dd.html" target="element"> AC.SEC.02. End User AAA </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-0a9f3119a6cc41eaaba03d337fbcb628.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-0a9f3119a6cc41eaaba03d337fbcb628.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-31c7f3a80817420d8d98e59df8996ae4.html" target="element"> 5.5. Authentication &amp; Authorization </a> </td>
																				<td> <a href="../elements/id-0acb8b43b3d44deb8ee00c5532f4bf0b.html" target="element"> AC.SEC.03. Device linking </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-bd1396579d744c0598d35b8001e7cb9d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-bd1396579d744c0598d35b8001e7cb9d.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-31c7f3a80817420d8d98e59df8996ae4.html" target="element"> 5.5. Authentication &amp; Authorization </a> </td>
																				<td> <a href="../elements/id-9f930eb1a4814d2e8c36678d648f2794.html" target="element"> AC.SEC.05 [Assumption] User profile should be validated for each user (civilian, police officer, family in needs, business, charity) </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-6b08f4f6cd0741ae8580661ed3375e3c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-6b08f4f6cd0741ae8580661ed3375e3c.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-9e15b4c253f74e18b52a52cdac6dd398.html" target="element"> 5.6. Content </a> </td>
																				<td> <a href="../elements/id-55ad851de9e3407db158625977ed3a0b.html" target="element"> UC11. As a business/charitie I want to create a storefront to encourage users to redeem or donate their points </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-f0245856f68c4892820a4eb66b91ee80.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-f0245856f68c4892820a4eb66b91ee80.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-eebf1bd9d7e24922b6bcc2fc16f0439a.html" target="element"> 5.7. Privacy and Security </a> </td>
																				<td> <a href="../elements/id-c9feea4eb6d740d3a06b58b2f1050ec9.html" target="element"> UC05. [HARD] As a user I want to share information about my profile in social media </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-7e5ae56b21ca4c78837e3a9700df4e0a.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7e5ae56b21ca4c78837e3a9700df4e0a.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-eebf1bd9d7e24922b6bcc2fc16f0439a.html" target="element"> 5.7. Privacy and Security </a> </td>
																				<td> <a href="../elements/id-682ecc1562544bf5a6f6d6cce7f5466c.html" target="element"> UC06. [HARD] As HeyBlue Admin I want the app to track the location of the users </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-c5b2fb90db574bb09987659df60bae94.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-c5b2fb90db574bb09987659df60bae94.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-eebf1bd9d7e24922b6bcc2fc16f0439a.html" target="element"> 5.7. Privacy and Security </a> </td>
																				<td> <a href="../elements/id-accf4c79f96342058bcbf2abc2cc1861.html" target="element"> AC.SEC.01. Secure information </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-2adb43c90c1846cfa7d1cb170fb35575.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2adb43c90c1846cfa7d1cb170fb35575.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d773866a8a074cdd9ecb5096ee48c307.html" target="element"> AC.USA.01. Web App Usability </a> </td>
																		<td> <a href="../elements/id-36dd96f6e4bd4bc7894d41ab4c5483a3.html" target="element"> AC.USA.02. Mobile App Usability </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>