<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>1.2.3. Motivation - Ubiquity mapping</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>1.2.3. Motivation - Ubiquity mapping</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-requirements_realization"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_requirements_realization" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-1be64fc897ae4b85b45991466defa2ef.png" alt="1.2.3. Motivation - Ubiquity mapping" usemap="#id-1be64fc897ae4b85b45991466defa2efmap"/>
			   <map name="id-1be64fc897ae4b85b45991466defa2efmap">
				  		<area shape="rect" coords="20,476,260,586" href="../elements/id-36dd96f6e4bd4bc7894d41ab4c5483a3.html"  target="element">
				  		<area shape="rect" coords="20,332,260,442" href="../elements/id-d773866a8a074cdd9ecb5096ee48c307.html"  target="element">
				  		<area shape="rect" coords="20,1364,260,1474" href="../elements/id-ac3a992488f8406fbc27431738228181.html"  target="element">
				  		<area shape="rect" coords="20,1508,260,1618" href="../elements/id-794b826c0d054f85af2d7401c029d0c8.html"  target="element">
				  		<area shape="rect" coords="932,1484,1172,1594" href="../elements/id-0ad896e52752481ba16d97f4efbf3ab8.html"  target="element">
				  		<area shape="rect" coords="932,20,1172,130" href="../elements/id-da1ef9bdbdb1451384dcdcc35d643ca3.html"  target="element">
				  		<area shape="rect" coords="932,164,1172,274" href="../elements/id-b2a384af364243eba12d672aa0807eda.html"  target="element">
				  		<area shape="rect" coords="932,1340,1172,1450" href="../elements/id-3bd009eaba2949dfacd88ca825ab98d3.html"  target="element">
				  		<area shape="rect" coords="932,1196,1172,1306" href="../elements/id-e3b4867f791a46e6b9ecbb317c4487ea.html"  target="element">
				  		<area shape="rect" coords="932,1052,1172,1162" href="../elements/id-e375df5432d74360bac834fa3fc2bc07.html"  target="element">
				  		<area shape="rect" coords="932,884,1172,994" href="../elements/id-0acb8b43b3d44deb8ee00c5532f4bf0b.html"  target="element">
				  		<area shape="rect" coords="932,740,1172,850" href="../elements/id-b3375eac5d8241c6afe60ba224f6a4d9.html"  target="element">
				  		<area shape="rect" coords="932,596,1172,706" href="../elements/id-2deba5a12e32430db9f44ba2cd089388.html"  target="element">
				  		<area shape="rect" coords="932,452,1172,562" href="../elements/id-682ecc1562544bf5a6f6d6cce7f5466c.html"  target="element">
				  		<area shape="rect" coords="932,308,1172,418" href="../elements/id-6e61c335212a46219bd40622498099e0.html"  target="element">
				  				<area shape="rect" coords="452,668,692,778" href="../elements/id-940717cae92443a0ad13359afa47f010.html"  target="element">
				  				<area shape="rect" coords="452,524,692,634" href="../elements/id-8e113288dd5041bdb961d9655702a902.html"  target="element">

				  		<area shape="rect" coords="428,452,718,814" href="../elements/id-08ff38169254413583e4260c5d7b6b2d.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-08ff38169254413583e4260c5d7b6b2d.html" target="element"> 3. Ubiquity </a> </td>
											    <td> <a href="../elements/id-08ff38169254413583e4260c5d7b6b2d.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-8e113288dd5041bdb961d9655702a902.html" target="element"> 3.1. Location </a> </td>
													    <td> <a href="../elements/id-8e113288dd5041bdb961d9655702a902.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-940717cae92443a0ad13359afa47f010.html" target="element"> 3.2. Device </a> </td>
													    <td> <a href="../elements/id-940717cae92443a0ad13359afa47f010.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-6e61c335212a46219bd40622498099e0.html" target="element"> UC04. [HARD] As a User I want to connect to another users </a> </td>
											    <td> <a href="../elements/id-6e61c335212a46219bd40622498099e0.html" target="element" class="i18n-elementtype-Requirement">
											    	(Functional Requirement)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-682ecc1562544bf5a6f6d6cce7f5466c.html" target="element"> UC06. [HARD] As HeyBlue Admin I want the app to track the location of the users </a> </td>
											    <td> <a href="../elements/id-682ecc1562544bf5a6f6d6cce7f5466c.html" target="element" class="i18n-elementtype-Requirement">
											    	(Functional Requirement)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2deba5a12e32430db9f44ba2cd089388.html" target="element"> AC.CON.02. A connection can only happen if the community member and the police officer are within a 10 ft distance from each other </a> </td>
											    <td> <a href="../elements/id-2deba5a12e32430db9f44ba2cd089388.html" target="element" class="i18n-elementtype-Requirement">
											    	(Architecture Characteristic)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b3375eac5d8241c6afe60ba224f6a4d9.html" target="element"> AC.CON.03. [HARD] Officers location must automatically shut off after 15 minutes </a> </td>
											    <td> <a href="../elements/id-b3375eac5d8241c6afe60ba224f6a4d9.html" target="element" class="i18n-elementtype-Requirement">
											    	(Architecture Characteristic)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0acb8b43b3d44deb8ee00c5532f4bf0b.html" target="element"> AC.SEC.03. Device linking </a> </td>
											    <td> <a href="../elements/id-0acb8b43b3d44deb8ee00c5532f4bf0b.html" target="element" class="i18n-elementtype-Requirement">
											    	(Architecture Characteristic)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e375df5432d74360bac834fa3fc2bc07.html" target="element"> CONS.04. The officer location feature must be implemented in a way that ensure the officer confidence on it. </a> </td>
											    <td> <a href="../elements/id-e375df5432d74360bac834fa3fc2bc07.html" target="element" class="i18n-elementtype-Constraint">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e3b4867f791a46e6b9ecbb317c4487ea.html" target="element"> CONS.03. The solution should be limited to USA cities (by Zip Codes) </a> </td>
											    <td> <a href="../elements/id-e3b4867f791a46e6b9ecbb317c4487ea.html" target="element" class="i18n-elementtype-Constraint">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3bd009eaba2949dfacd88ca825ab98d3.html" target="element"> CONS.07. Compliance with GDPR </a> </td>
											    <td> <a href="../elements/id-3bd009eaba2949dfacd88ca825ab98d3.html" target="element" class="i18n-elementtype-Constraint">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b2a384af364243eba12d672aa0807eda.html" target="element"> CONS.01. The cost should be as little as possible </a> </td>
											    <td> <a href="../elements/id-b2a384af364243eba12d672aa0807eda.html" target="element" class="i18n-elementtype-Constraint">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-da1ef9bdbdb1451384dcdcc35d643ca3.html" target="element"> CONS.08. Solution should be launched on september 11, 2023 </a> </td>
											    <td> <a href="../elements/id-da1ef9bdbdb1451384dcdcc35d643ca3.html" target="element" class="i18n-elementtype-Constraint">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0ad896e52752481ba16d97f4efbf3ab8.html" target="element"> CONS.02. Application should be mobile and web </a> </td>
											    <td> <a href="../elements/id-0ad896e52752481ba16d97f4efbf3ab8.html" target="element" class="i18n-elementtype-Constraint">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-794b826c0d054f85af2d7401c029d0c8.html" target="element"> CONS.06. [Assumption] Define a solution that evolve with a team </a> </td>
											    <td> <a href="../elements/id-794b826c0d054f85af2d7401c029d0c8.html" target="element" class="i18n-elementtype-Constraint">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ac3a992488f8406fbc27431738228181.html" target="element"> CONS.05. [Assumption] There is no restriction about technology </a> </td>
											    <td> <a href="../elements/id-ac3a992488f8406fbc27431738228181.html" target="element" class="i18n-elementtype-Constraint">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d773866a8a074cdd9ecb5096ee48c307.html" target="element"> AC.USA.01. Web App Usability </a> </td>
											    <td> <a href="../elements/id-d773866a8a074cdd9ecb5096ee48c307.html" target="element" class="i18n-elementtype-Requirement">
											    	(Architecture Characteristic)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-36dd96f6e4bd4bc7894d41ab4c5483a3.html" target="element"> AC.USA.02. Mobile App Usability </a> </td>
											    <td> <a href="../elements/id-36dd96f6e4bd4bc7894d41ab4c5483a3.html" target="element" class="i18n-elementtype-Requirement">
											    	(Architecture Characteristic)
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-3c3308cfb65149efa2bb0507f3d057d5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3c3308cfb65149efa2bb0507f3d057d5.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-08ff38169254413583e4260c5d7b6b2d.html" target="element"> 3. Ubiquity </a> </td>
																		<td> <a href="../elements/id-8e113288dd5041bdb961d9655702a902.html" target="element"> 3.1. Location </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b3b7310c016c4cb3b923f50847d74fbc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b3b7310c016c4cb3b923f50847d74fbc.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-08ff38169254413583e4260c5d7b6b2d.html" target="element"> 3. Ubiquity </a> </td>
																		<td> <a href="../elements/id-940717cae92443a0ad13359afa47f010.html" target="element"> 3.2. Device </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3170e8265b5e41b994a71b2be7490232.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3170e8265b5e41b994a71b2be7490232.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-08ff38169254413583e4260c5d7b6b2d.html" target="element"> 3. Ubiquity </a> </td>
																		<td> <a href="../elements/id-da1ef9bdbdb1451384dcdcc35d643ca3.html" target="element"> CONS.08. Solution should be launched on september 11, 2023 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e9142f33a56248a190bf4ffc676a027c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e9142f33a56248a190bf4ffc676a027c.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-08ff38169254413583e4260c5d7b6b2d.html" target="element"> 3. Ubiquity </a> </td>
																		<td> <a href="../elements/id-b2a384af364243eba12d672aa0807eda.html" target="element"> CONS.01. The cost should be as little as possible </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c499293a70014427bad145a4591f2efc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c499293a70014427bad145a4591f2efc.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-08ff38169254413583e4260c5d7b6b2d.html" target="element"> 3. Ubiquity </a> </td>
																		<td> <a href="../elements/id-3bd009eaba2949dfacd88ca825ab98d3.html" target="element"> CONS.07. Compliance with GDPR </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b03ed80df2504993a5859f6dbd65107b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b03ed80df2504993a5859f6dbd65107b.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-08ff38169254413583e4260c5d7b6b2d.html" target="element"> 3. Ubiquity </a> </td>
																		<td> <a href="../elements/id-0ad896e52752481ba16d97f4efbf3ab8.html" target="element"> CONS.02. Application should be mobile and web </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-bde1acb3a4bc497a917f7354f8ad7f26.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bde1acb3a4bc497a917f7354f8ad7f26.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-08ff38169254413583e4260c5d7b6b2d.html" target="element"> 3. Ubiquity </a> </td>
																		<td> <a href="../elements/id-ac3a992488f8406fbc27431738228181.html" target="element"> CONS.05. [Assumption] There is no restriction about technology </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-834c8ef7bff94eb285cf7f1be6a87a42.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-834c8ef7bff94eb285cf7f1be6a87a42.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-08ff38169254413583e4260c5d7b6b2d.html" target="element"> 3. Ubiquity </a> </td>
																		<td> <a href="../elements/id-794b826c0d054f85af2d7401c029d0c8.html" target="element"> CONS.06. [Assumption] Define a solution that evolve with a team </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-fb4db310a0d84425af2d743bb175ce3c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fb4db310a0d84425af2d743bb175ce3c.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-08ff38169254413583e4260c5d7b6b2d.html" target="element"> 3. Ubiquity </a> </td>
																		<td> <a href="../elements/id-d773866a8a074cdd9ecb5096ee48c307.html" target="element"> AC.USA.01. Web App Usability </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-813224ac615048d38ab1a5041d398f61.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-813224ac615048d38ab1a5041d398f61.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-08ff38169254413583e4260c5d7b6b2d.html" target="element"> 3. Ubiquity </a> </td>
																		<td> <a href="../elements/id-36dd96f6e4bd4bc7894d41ab4c5483a3.html" target="element"> AC.USA.02. Mobile App Usability </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-65c1ba0e633148c7b6f9075b7a7984b3.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-65c1ba0e633148c7b6f9075b7a7984b3.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-8e113288dd5041bdb961d9655702a902.html" target="element"> 3.1. Location </a> </td>
																				<td> <a href="../elements/id-6e61c335212a46219bd40622498099e0.html" target="element"> UC04. [HARD] As a User I want to connect to another users </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-2781261970b14bbfbe73499bfdac7349.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-2781261970b14bbfbe73499bfdac7349.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-8e113288dd5041bdb961d9655702a902.html" target="element"> 3.1. Location </a> </td>
																				<td> <a href="../elements/id-682ecc1562544bf5a6f6d6cce7f5466c.html" target="element"> UC06. [HARD] As HeyBlue Admin I want the app to track the location of the users </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-9d5906acf82542cfad1ce413d176ccdb.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-9d5906acf82542cfad1ce413d176ccdb.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-8e113288dd5041bdb961d9655702a902.html" target="element"> 3.1. Location </a> </td>
																				<td> <a href="../elements/id-2deba5a12e32430db9f44ba2cd089388.html" target="element"> AC.CON.02. A connection can only happen if the community member and the police officer are within a 10 ft distance from each other </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-6654168e66cd4e979a0b506f20281e42.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-6654168e66cd4e979a0b506f20281e42.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-8e113288dd5041bdb961d9655702a902.html" target="element"> 3.1. Location </a> </td>
																				<td> <a href="../elements/id-b3375eac5d8241c6afe60ba224f6a4d9.html" target="element"> AC.CON.03. [HARD] Officers location must automatically shut off after 15 minutes </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-b74cb57710ec46cab4c17fc232e56398.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-b74cb57710ec46cab4c17fc232e56398.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-8e113288dd5041bdb961d9655702a902.html" target="element"> 3.1. Location </a> </td>
																				<td> <a href="../elements/id-e375df5432d74360bac834fa3fc2bc07.html" target="element"> CONS.04. The officer location feature must be implemented in a way that ensure the officer confidence on it. </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-2f21ceb7d275471aa440256b806b90d1.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-2f21ceb7d275471aa440256b806b90d1.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-8e113288dd5041bdb961d9655702a902.html" target="element"> 3.1. Location </a> </td>
																				<td> <a href="../elements/id-e3b4867f791a46e6b9ecbb317c4487ea.html" target="element"> CONS.03. The solution should be limited to USA cities (by Zip Codes) </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-43650f15529f4427957dfe5075377586.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-43650f15529f4427957dfe5075377586.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-940717cae92443a0ad13359afa47f010.html" target="element"> 3.2. Device </a> </td>
																				<td> <a href="../elements/id-0acb8b43b3d44deb8ee00c5532f4bf0b.html" target="element"> AC.SEC.03. Device linking </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-177b5f871a9e4502b16caeb04e9ed1d7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-177b5f871a9e4502b16caeb04e9ed1d7.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2deba5a12e32430db9f44ba2cd089388.html" target="element"> AC.CON.02. A connection can only happen if the community member and the police officer are within a 10 ft distance from each other </a> </td>
																		<td> <a href="../elements/id-b3375eac5d8241c6afe60ba224f6a4d9.html" target="element"> AC.CON.03. [HARD] Officers location must automatically shut off after 15 minutes </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-2adb43c90c1846cfa7d1cb170fb35575.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2adb43c90c1846cfa7d1cb170fb35575.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d773866a8a074cdd9ecb5096ee48c307.html" target="element"> AC.USA.01. Web App Usability </a> </td>
																		<td> <a href="../elements/id-36dd96f6e4bd4bc7894d41ab4c5483a3.html" target="element"> AC.USA.02. Mobile App Usability </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>