<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>1.2.2. Motivation - User mapping</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>1.2.2. Motivation - User mapping</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-requirements_realization"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_requirements_realization" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-332a814583f447b7987d95f6d6d00c46.png" alt="1.2.2. Motivation - User mapping" usemap="#id-332a814583f447b7987d95f6d6d00c46map"/>
			   <map name="id-332a814583f447b7987d95f6d6d00c46map">
				  		<area shape="rect" coords="20,1892,260,2002" href="../elements/id-36dd96f6e4bd4bc7894d41ab4c5483a3.html"  target="element">
				  		<area shape="rect" coords="20,1748,260,1858" href="../elements/id-d773866a8a074cdd9ecb5096ee48c307.html"  target="element">
				  		<area shape="rect" coords="20,1604,260,1714" href="../elements/id-338b945e88d04a1297fea8254a2683b4.html"  target="element">
				  		<area shape="rect" coords="20,1460,260,1570" href="../elements/id-d7f9fe3914c34042aa94e3b14a17e46a.html"  target="element">
				  		<area shape="rect" coords="1412,1772,1652,1882" href="../elements/id-0acb8b43b3d44deb8ee00c5532f4bf0b.html"  target="element">
				  		<area shape="rect" coords="1412,1628,1652,1738" href="../elements/id-ccdd45c8315e47e8a28a292365c277dd.html"  target="element">
				  		<area shape="rect" coords="1412,1484,1652,1594" href="../elements/id-accf4c79f96342058bcbf2abc2cc1861.html"  target="element">
				  		<area shape="rect" coords="20,1316,260,1426" href="../elements/id-717649665e004e29845c03782a5e2a7b.html"  target="element">
				  		<area shape="rect" coords="20,1172,260,1282" href="../elements/id-261d46a3d0364ea48ad37e719da447b2.html"  target="element">
				  		<area shape="rect" coords="20,1028,260,1138" href="../elements/id-da1ef9bdbdb1451384dcdcc35d643ca3.html"  target="element">
				  		<area shape="rect" coords="20,884,260,994" href="../elements/id-3bd009eaba2949dfacd88ca825ab98d3.html"  target="element">
				  		<area shape="rect" coords="20,740,260,850" href="../elements/id-794b826c0d054f85af2d7401c029d0c8.html"  target="element">
				  		<area shape="rect" coords="20,592,260,702" href="../elements/id-ac3a992488f8406fbc27431738228181.html"  target="element">
				  		<area shape="rect" coords="20,452,260,562" href="../elements/id-e375df5432d74360bac834fa3fc2bc07.html"  target="element">
				  		<area shape="rect" coords="20,308,260,418" href="../elements/id-e3b4867f791a46e6b9ecbb317c4487ea.html"  target="element">
				  		<area shape="rect" coords="20,164,260,274" href="../elements/id-0ad896e52752481ba16d97f4efbf3ab8.html"  target="element">
				  		<area shape="rect" coords="20,20,260,130" href="../elements/id-b2a384af364243eba12d672aa0807eda.html"  target="element">
				  		<area shape="rect" coords="1412,1172,1652,1282" href="../elements/id-6d1a516e2b194f089041cf7b3eb46d38.html"  target="element">
				  		<area shape="rect" coords="1412,1340,1652,1450" href="../elements/id-f1563672ba914bdd8c9c8e937e03d58d.html"  target="element">
				  		<area shape="rect" coords="1412,1028,1652,1138" href="../elements/id-ba22eb19876c4798bc6c65536f14682a.html"  target="element">
				  		<area shape="rect" coords="1412,860,1652,970" href="../elements/id-40c042a6cc8e48e79b30498a43e529ad.html"  target="element">
				  		<area shape="rect" coords="1412,692,1652,802" href="../elements/id-f692e3b22bc94026a793b43e95c9cb79.html"  target="element">
				  		<area shape="rect" coords="1412,524,1652,634" href="../elements/id-7cff9adb161e48e5882895c48051d0b4.html"  target="element">
				  		<area shape="rect" coords="1412,356,1652,466" href="../elements/id-682ecc1562544bf5a6f6d6cce7f5466c.html"  target="element">
				  		<area shape="rect" coords="1412,188,1652,298" href="../elements/id-c9feea4eb6d740d3a06b58b2f1050ec9.html"  target="element">
				  		<area shape="rect" coords="1412,20,1652,130" href="../elements/id-6e61c335212a46219bd40622498099e0.html"  target="element">
				  				<area shape="rect" coords="740,908,980,1018" href="../elements/id-6aa4ea9a0ed24f838fbf661c73668223.html"  target="element">
				  				<area shape="rect" coords="740,740,980,850" href="../elements/id-d4b3a9106dc34ce9bbe1f2a92bf4890b.html"  target="element">
				  				<area shape="rect" coords="740,572,980,682" href="../elements/id-2a7b7f479db148b0a018a80031047861.html"  target="element">
				  				<area shape="rect" coords="740,404,980,514" href="../elements/id-e6c10b7d00634603a94ebc48ce9787f9.html"  target="element">

				  		<area shape="rect" coords="692,332,1010,1054" href="../elements/id-6f8c71ea45f145029e2dad749139d81b.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-6f8c71ea45f145029e2dad749139d81b.html" target="element"> 2. User </a> </td>
											    <td> <a href="../elements/id-6f8c71ea45f145029e2dad749139d81b.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-e6c10b7d00634603a94ebc48ce9787f9.html" target="element"> 2.1. Identity </a> </td>
													    <td> <a href="../elements/id-e6c10b7d00634603a94ebc48ce9787f9.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2a7b7f479db148b0a018a80031047861.html" target="element"> 2.2. Addressing </a> </td>
													    <td> <a href="../elements/id-2a7b7f479db148b0a018a80031047861.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d4b3a9106dc34ce9bbe1f2a92bf4890b.html" target="element"> 2.3. Social Graph </a> </td>
													    <td> <a href="../elements/id-d4b3a9106dc34ce9bbe1f2a92bf4890b.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-6aa4ea9a0ed24f838fbf661c73668223.html" target="element"> 2.4. Profile </a> </td>
													    <td> <a href="../elements/id-6aa4ea9a0ed24f838fbf661c73668223.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-6e61c335212a46219bd40622498099e0.html" target="element"> UC04. [HARD] As a User I want to connect to another users </a> </td>
											    <td> <a href="../elements/id-6e61c335212a46219bd40622498099e0.html" target="element" class="i18n-elementtype-Requirement">
											    	(Functional Requirement)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c9feea4eb6d740d3a06b58b2f1050ec9.html" target="element"> UC05. [HARD] As a user I want to share information about my profile in social media </a> </td>
											    <td> <a href="../elements/id-c9feea4eb6d740d3a06b58b2f1050ec9.html" target="element" class="i18n-elementtype-Requirement">
											    	(Functional Requirement)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-682ecc1562544bf5a6f6d6cce7f5466c.html" target="element"> UC06. [HARD] As HeyBlue Admin I want the app to track the location of the users </a> </td>
											    <td> <a href="../elements/id-682ecc1562544bf5a6f6d6cce7f5466c.html" target="element" class="i18n-elementtype-Requirement">
											    	(Functional Requirement)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7cff9adb161e48e5882895c48051d0b4.html" target="element"> UC07. [OPTION] As a user I want to connect to my social media profile </a> </td>
											    <td> <a href="../elements/id-7cff9adb161e48e5882895c48051d0b4.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f692e3b22bc94026a793b43e95c9cb79.html" target="element"> UC08. [HARD] As a user i want to opt-in and out of push notifications </a> </td>
											    <td> <a href="../elements/id-f692e3b22bc94026a793b43e95c9cb79.html" target="element" class="i18n-elementtype-Requirement">
											    	(Functional Requirement)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-40c042a6cc8e48e79b30498a43e529ad.html" target="element"> UC09. As a civilian I want to find retail stablishments to redeem my points </a> </td>
											    <td> <a href="../elements/id-40c042a6cc8e48e79b30498a43e529ad.html" target="element" class="i18n-elementtype-Requirement">
											    	(Functional Requirement)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ba22eb19876c4798bc6c65536f14682a.html" target="element"> UC10. As an officer I want to find charities where I can gift the points </a> </td>
											    <td> <a href="../elements/id-ba22eb19876c4798bc6c65536f14682a.html" target="element" class="i18n-elementtype-Requirement">
											    	(Functional Requirement)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f1563672ba914bdd8c9c8e937e03d58d.html" target="element"> UC17. As a community member I want to see how many connections each participating officer has made </a> </td>
											    <td> <a href="../elements/id-f1563672ba914bdd8c9c8e937e03d58d.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6d1a516e2b194f089041cf7b3eb46d38.html" target="element"> UC18. As heyBlue Admin I want to know the users zip codes to share revenues with community in the user area </a> </td>
											    <td> <a href="../elements/id-6d1a516e2b194f089041cf7b3eb46d38.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b2a384af364243eba12d672aa0807eda.html" target="element"> CONS.01. The cost should be as little as possible </a> </td>
											    <td> <a href="../elements/id-b2a384af364243eba12d672aa0807eda.html" target="element" class="i18n-elementtype-Constraint">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0ad896e52752481ba16d97f4efbf3ab8.html" target="element"> CONS.02. Application should be mobile and web </a> </td>
											    <td> <a href="../elements/id-0ad896e52752481ba16d97f4efbf3ab8.html" target="element" class="i18n-elementtype-Constraint">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e3b4867f791a46e6b9ecbb317c4487ea.html" target="element"> CONS.03. The solution should be limited to USA cities (by Zip Codes) </a> </td>
											    <td> <a href="../elements/id-e3b4867f791a46e6b9ecbb317c4487ea.html" target="element" class="i18n-elementtype-Constraint">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e375df5432d74360bac834fa3fc2bc07.html" target="element"> CONS.04. The officer location feature must be implemented in a way that ensure the officer confidence on it. </a> </td>
											    <td> <a href="../elements/id-e375df5432d74360bac834fa3fc2bc07.html" target="element" class="i18n-elementtype-Constraint">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ac3a992488f8406fbc27431738228181.html" target="element"> CONS.05. [Assumption] There is no restriction about technology </a> </td>
											    <td> <a href="../elements/id-ac3a992488f8406fbc27431738228181.html" target="element" class="i18n-elementtype-Constraint">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-794b826c0d054f85af2d7401c029d0c8.html" target="element"> CONS.06. [Assumption] Define a solution that evolve with a team </a> </td>
											    <td> <a href="../elements/id-794b826c0d054f85af2d7401c029d0c8.html" target="element" class="i18n-elementtype-Constraint">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3bd009eaba2949dfacd88ca825ab98d3.html" target="element"> CONS.07. Compliance with GDPR </a> </td>
											    <td> <a href="../elements/id-3bd009eaba2949dfacd88ca825ab98d3.html" target="element" class="i18n-elementtype-Constraint">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-da1ef9bdbdb1451384dcdcc35d643ca3.html" target="element"> CONS.08. Solution should be launched on september 11, 2023 </a> </td>
											    <td> <a href="../elements/id-da1ef9bdbdb1451384dcdcc35d643ca3.html" target="element" class="i18n-elementtype-Constraint">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-261d46a3d0364ea48ad37e719da447b2.html" target="element"> AC.MOD.01. [Assumption] Integrate with another social media in less than two agile iterations </a> </td>
											    <td> <a href="../elements/id-261d46a3d0364ea48ad37e719da447b2.html" target="element" class="i18n-elementtype-Requirement">
											    	(Architecture Characteristic)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-717649665e004e29845c03782a5e2a7b.html" target="element"> AC.SCA.01. [Assumption] Start with little use rate (Friends and Family) and scalate the solution as usage rate increase </a> </td>
											    <td> <a href="../elements/id-717649665e004e29845c03782a5e2a7b.html" target="element" class="i18n-elementtype-Requirement">
											    	(Architecture Characteristic)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-accf4c79f96342058bcbf2abc2cc1861.html" target="element"> AC.SEC.01. Secure information </a> </td>
											    <td> <a href="../elements/id-accf4c79f96342058bcbf2abc2cc1861.html" target="element" class="i18n-elementtype-Requirement">
											    	(Architecture Characteristic)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ccdd45c8315e47e8a28a292365c277dd.html" target="element"> AC.SEC.02. End User AAA </a> </td>
											    <td> <a href="../elements/id-ccdd45c8315e47e8a28a292365c277dd.html" target="element" class="i18n-elementtype-Requirement">
											    	(Architecture Characteristic)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0acb8b43b3d44deb8ee00c5532f4bf0b.html" target="element"> AC.SEC.03. Device linking </a> </td>
											    <td> <a href="../elements/id-0acb8b43b3d44deb8ee00c5532f4bf0b.html" target="element" class="i18n-elementtype-Requirement">
											    	(Architecture Characteristic)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d7f9fe3914c34042aa94e3b14a17e46a.html" target="element"> AC.STA.01. [Assumption] Uptime 99.95% from monday to friday 9AM to 10PM </a> </td>
											    <td> <a href="../elements/id-d7f9fe3914c34042aa94e3b14a17e46a.html" target="element" class="i18n-elementtype-Requirement">
											    	(Architecture Characteristic)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-338b945e88d04a1297fea8254a2683b4.html" target="element"> AC.STA.02. [Assumption] Uptime 99,95% from saturday to sunday from 7AM to 11:59PM </a> </td>
											    <td> <a href="../elements/id-338b945e88d04a1297fea8254a2683b4.html" target="element" class="i18n-elementtype-Requirement">
											    	(Architecture Characteristic)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d773866a8a074cdd9ecb5096ee48c307.html" target="element"> AC.USA.01. Web App Usability </a> </td>
											    <td> <a href="../elements/id-d773866a8a074cdd9ecb5096ee48c307.html" target="element" class="i18n-elementtype-Requirement">
											    	(Architecture Characteristic)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-36dd96f6e4bd4bc7894d41ab4c5483a3.html" target="element"> AC.USA.02. Mobile App Usability </a> </td>
											    <td> <a href="../elements/id-36dd96f6e4bd4bc7894d41ab4c5483a3.html" target="element" class="i18n-elementtype-Requirement">
											    	(Architecture Characteristic)
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-23f67bc958a24e1ab68767d17c1669b2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-23f67bc958a24e1ab68767d17c1669b2.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6f8c71ea45f145029e2dad749139d81b.html" target="element"> 2. User </a> </td>
																		<td> <a href="../elements/id-e6c10b7d00634603a94ebc48ce9787f9.html" target="element"> 2.1. Identity </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3f96e56ac8f7488f9b4fa0feaa9ace68.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3f96e56ac8f7488f9b4fa0feaa9ace68.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6f8c71ea45f145029e2dad749139d81b.html" target="element"> 2. User </a> </td>
																		<td> <a href="../elements/id-2a7b7f479db148b0a018a80031047861.html" target="element"> 2.2. Addressing </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-24f7f1b232e141e092c23cc11c2c9f69.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-24f7f1b232e141e092c23cc11c2c9f69.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6f8c71ea45f145029e2dad749139d81b.html" target="element"> 2. User </a> </td>
																		<td> <a href="../elements/id-d4b3a9106dc34ce9bbe1f2a92bf4890b.html" target="element"> 2.3. Social Graph </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-72b253ca22cf4f0baca840ad696feb20.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-72b253ca22cf4f0baca840ad696feb20.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6f8c71ea45f145029e2dad749139d81b.html" target="element"> 2. User </a> </td>
																		<td> <a href="../elements/id-6aa4ea9a0ed24f838fbf661c73668223.html" target="element"> 2.4. Profile </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5e14893197db42d0b973e9c9a1972243.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5e14893197db42d0b973e9c9a1972243.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6f8c71ea45f145029e2dad749139d81b.html" target="element"> 2. User </a> </td>
																		<td> <a href="../elements/id-b2a384af364243eba12d672aa0807eda.html" target="element"> CONS.01. The cost should be as little as possible </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ff531cab13484085b822cb019a7ffa24.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ff531cab13484085b822cb019a7ffa24.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6f8c71ea45f145029e2dad749139d81b.html" target="element"> 2. User </a> </td>
																		<td> <a href="../elements/id-0ad896e52752481ba16d97f4efbf3ab8.html" target="element"> CONS.02. Application should be mobile and web </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c36ea6beca534912863c674b9a1963f9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c36ea6beca534912863c674b9a1963f9.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6f8c71ea45f145029e2dad749139d81b.html" target="element"> 2. User </a> </td>
																		<td> <a href="../elements/id-ac3a992488f8406fbc27431738228181.html" target="element"> CONS.05. [Assumption] There is no restriction about technology </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-31f3b1fee19b427cb92711e608ee9a99.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-31f3b1fee19b427cb92711e608ee9a99.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6f8c71ea45f145029e2dad749139d81b.html" target="element"> 2. User </a> </td>
																		<td> <a href="../elements/id-794b826c0d054f85af2d7401c029d0c8.html" target="element"> CONS.06. [Assumption] Define a solution that evolve with a team </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-83903f75fb674155a1fc62be0203da13.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-83903f75fb674155a1fc62be0203da13.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6f8c71ea45f145029e2dad749139d81b.html" target="element"> 2. User </a> </td>
																		<td> <a href="../elements/id-3bd009eaba2949dfacd88ca825ab98d3.html" target="element"> CONS.07. Compliance with GDPR </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b472048cbcd940e189f8a7717f995c41.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b472048cbcd940e189f8a7717f995c41.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6f8c71ea45f145029e2dad749139d81b.html" target="element"> 2. User </a> </td>
																		<td> <a href="../elements/id-da1ef9bdbdb1451384dcdcc35d643ca3.html" target="element"> CONS.08. Solution should be launched on september 11, 2023 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b699d43c6ed7455c8046f1294d40422d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b699d43c6ed7455c8046f1294d40422d.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6f8c71ea45f145029e2dad749139d81b.html" target="element"> 2. User </a> </td>
																		<td> <a href="../elements/id-717649665e004e29845c03782a5e2a7b.html" target="element"> AC.SCA.01. [Assumption] Start with little use rate (Friends and Family) and scalate the solution as usage rate increase </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-17780f0e409f4816ae0ea2f965437de2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-17780f0e409f4816ae0ea2f965437de2.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6f8c71ea45f145029e2dad749139d81b.html" target="element"> 2. User </a> </td>
																		<td> <a href="../elements/id-d7f9fe3914c34042aa94e3b14a17e46a.html" target="element"> AC.STA.01. [Assumption] Uptime 99.95% from monday to friday 9AM to 10PM </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-aecea7cc56c742858cf3cabb0316fe69.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-aecea7cc56c742858cf3cabb0316fe69.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6f8c71ea45f145029e2dad749139d81b.html" target="element"> 2. User </a> </td>
																		<td> <a href="../elements/id-338b945e88d04a1297fea8254a2683b4.html" target="element"> AC.STA.02. [Assumption] Uptime 99,95% from saturday to sunday from 7AM to 11:59PM </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-18ae0ca0baaf4108bc594fa7c1aa1721.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-18ae0ca0baaf4108bc594fa7c1aa1721.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6f8c71ea45f145029e2dad749139d81b.html" target="element"> 2. User </a> </td>
																		<td> <a href="../elements/id-d773866a8a074cdd9ecb5096ee48c307.html" target="element"> AC.USA.01. Web App Usability </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8f2faf29c5a746568dd313a2ff81a2d3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8f2faf29c5a746568dd313a2ff81a2d3.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6f8c71ea45f145029e2dad749139d81b.html" target="element"> 2. User </a> </td>
																		<td> <a href="../elements/id-36dd96f6e4bd4bc7894d41ab4c5483a3.html" target="element"> AC.USA.02. Mobile App Usability </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-8b9d612540e844b1b5e17ee50bc8ed6d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-8b9d612540e844b1b5e17ee50bc8ed6d.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-e6c10b7d00634603a94ebc48ce9787f9.html" target="element"> 2.1. Identity </a> </td>
																				<td> <a href="../elements/id-c9feea4eb6d740d3a06b58b2f1050ec9.html" target="element"> UC05. [HARD] As a user I want to share information about my profile in social media </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-77f978e468184b0aa7a59daffb089fa8.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-77f978e468184b0aa7a59daffb089fa8.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-e6c10b7d00634603a94ebc48ce9787f9.html" target="element"> 2.1. Identity </a> </td>
																				<td> <a href="../elements/id-6e61c335212a46219bd40622498099e0.html" target="element"> UC04. [HARD] As a User I want to connect to another users </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-eb67dd8bb1ea47d3ae52c38637e634d5.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-eb67dd8bb1ea47d3ae52c38637e634d5.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-e6c10b7d00634603a94ebc48ce9787f9.html" target="element"> 2.1. Identity </a> </td>
																				<td> <a href="../elements/id-accf4c79f96342058bcbf2abc2cc1861.html" target="element"> AC.SEC.01. Secure information </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-2396ac5203a04d8ba605650550ff2a7d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-2396ac5203a04d8ba605650550ff2a7d.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-e6c10b7d00634603a94ebc48ce9787f9.html" target="element"> 2.1. Identity </a> </td>
																				<td> <a href="../elements/id-ccdd45c8315e47e8a28a292365c277dd.html" target="element"> AC.SEC.02. End User AAA </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-0ad163200c6a499f91a852d5e1f172ff.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-0ad163200c6a499f91a852d5e1f172ff.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-e6c10b7d00634603a94ebc48ce9787f9.html" target="element"> 2.1. Identity </a> </td>
																				<td> <a href="../elements/id-0acb8b43b3d44deb8ee00c5532f4bf0b.html" target="element"> AC.SEC.03. Device linking </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-f44f4f343e94478d8c4edde0f523f000.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-f44f4f343e94478d8c4edde0f523f000.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2a7b7f479db148b0a018a80031047861.html" target="element"> 2.2. Addressing </a> </td>
																				<td> <a href="../elements/id-682ecc1562544bf5a6f6d6cce7f5466c.html" target="element"> UC06. [HARD] As HeyBlue Admin I want the app to track the location of the users </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-544d0c6327454affa424f9251ed28eb7.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-544d0c6327454affa424f9251ed28eb7.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2a7b7f479db148b0a018a80031047861.html" target="element"> 2.2. Addressing </a> </td>
																				<td> <a href="../elements/id-6d1a516e2b194f089041cf7b3eb46d38.html" target="element"> UC18. As heyBlue Admin I want to know the users zip codes to share revenues with community in the user area </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-2038a81ed01849e49ca915dd6e9ca872.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-2038a81ed01849e49ca915dd6e9ca872.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2a7b7f479db148b0a018a80031047861.html" target="element"> 2.2. Addressing </a> </td>
																				<td> <a href="../elements/id-e3b4867f791a46e6b9ecbb317c4487ea.html" target="element"> CONS.03. The solution should be limited to USA cities (by Zip Codes) </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-90bd298b22b94fe18ef34931eb000a82.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-90bd298b22b94fe18ef34931eb000a82.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2a7b7f479db148b0a018a80031047861.html" target="element"> 2.2. Addressing </a> </td>
																				<td> <a href="../elements/id-e375df5432d74360bac834fa3fc2bc07.html" target="element"> CONS.04. The officer location feature must be implemented in a way that ensure the officer confidence on it. </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-926ead1f2a524a92a5e806d11aeae420.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-926ead1f2a524a92a5e806d11aeae420.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2a7b7f479db148b0a018a80031047861.html" target="element"> 2.2. Addressing </a> </td>
																				<td> <a href="../elements/id-261d46a3d0364ea48ad37e719da447b2.html" target="element"> AC.MOD.01. [Assumption] Integrate with another social media in less than two agile iterations </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-11dd2fbca97548e1959780c25308254e.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-11dd2fbca97548e1959780c25308254e.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-d4b3a9106dc34ce9bbe1f2a92bf4890b.html" target="element"> 2.3. Social Graph </a> </td>
																				<td> <a href="../elements/id-6e61c335212a46219bd40622498099e0.html" target="element"> UC04. [HARD] As a User I want to connect to another users </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-a940d1d44a64491cb86312629cec1b3a.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a940d1d44a64491cb86312629cec1b3a.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-d4b3a9106dc34ce9bbe1f2a92bf4890b.html" target="element"> 2.3. Social Graph </a> </td>
																				<td> <a href="../elements/id-40c042a6cc8e48e79b30498a43e529ad.html" target="element"> UC09. As a civilian I want to find retail stablishments to redeem my points </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-5a4dee062caf4feca814990073e67663.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5a4dee062caf4feca814990073e67663.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-d4b3a9106dc34ce9bbe1f2a92bf4890b.html" target="element"> 2.3. Social Graph </a> </td>
																				<td> <a href="../elements/id-ba22eb19876c4798bc6c65536f14682a.html" target="element"> UC10. As an officer I want to find charities where I can gift the points </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-84e4c2f4dcf045b3ab838ff8c66296db.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-84e4c2f4dcf045b3ab838ff8c66296db.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-d4b3a9106dc34ce9bbe1f2a92bf4890b.html" target="element"> 2.3. Social Graph </a> </td>
																				<td> <a href="../elements/id-f1563672ba914bdd8c9c8e937e03d58d.html" target="element"> UC17. As a community member I want to see how many connections each participating officer has made </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-4d09c5910e9e4059a8037da37c11ed3c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-4d09c5910e9e4059a8037da37c11ed3c.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-6aa4ea9a0ed24f838fbf661c73668223.html" target="element"> 2.4. Profile </a> </td>
																				<td> <a href="../elements/id-c9feea4eb6d740d3a06b58b2f1050ec9.html" target="element"> UC05. [HARD] As a user I want to share information about my profile in social media </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-e1249daf14c34efdaa621a88c12e8353.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e1249daf14c34efdaa621a88c12e8353.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-6aa4ea9a0ed24f838fbf661c73668223.html" target="element"> 2.4. Profile </a> </td>
																				<td> <a href="../elements/id-7cff9adb161e48e5882895c48051d0b4.html" target="element"> UC07. [OPTION] As a user I want to connect to my social media profile </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-a94d10b98bbf4e67a7ef0a3af6cea615.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a94d10b98bbf4e67a7ef0a3af6cea615.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-6aa4ea9a0ed24f838fbf661c73668223.html" target="element"> 2.4. Profile </a> </td>
																				<td> <a href="../elements/id-f692e3b22bc94026a793b43e95c9cb79.html" target="element"> UC08. [HARD] As a user i want to opt-in and out of push notifications </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-82218cff4c504e8386579c72d835b834.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-82218cff4c504e8386579c72d835b834.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-6aa4ea9a0ed24f838fbf661c73668223.html" target="element"> 2.4. Profile </a> </td>
																				<td> <a href="../elements/id-261d46a3d0364ea48ad37e719da447b2.html" target="element"> AC.MOD.01. [Assumption] Integrate with another social media in less than two agile iterations </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-2adb43c90c1846cfa7d1cb170fb35575.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2adb43c90c1846cfa7d1cb170fb35575.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d773866a8a074cdd9ecb5096ee48c307.html" target="element"> AC.USA.01. Web App Usability </a> </td>
																		<td> <a href="../elements/id-36dd96f6e4bd4bc7894d41ab4c5483a3.html" target="element"> AC.USA.02. Mobile App Usability </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>