<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>3.8. HeyBlue Tracking & Notification - Technology</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>3.8. HeyBlue Tracking &amp; Notification - Technology</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-technology_usage"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_technology_usage" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-5419ef41d3a34814877a4f7907a51ead.png" alt="3.8. HeyBlue Tracking & Notification - Technology" usemap="#id-5419ef41d3a34814877a4f7907a51eadmap"/>
			   <map name="id-5419ef41d3a34814877a4f7907a51eadmap">
				          <area shape="rect" coords="20,1052,1198,1270" href="../objects/id-c9ef2c39653a443ab35e17efe6d1d84b.html" target="element" >
				  		<area shape="rect" coords="1004,188,1244,298" href="../elements/id-23648f8709d34ed68138f7bac42f92e8.html"  target="element">
				  		<area shape="rect" coords="836,404,1076,514" href="../elements/id-c02407efe8f8451a8e5337336cce7d1e.html"  target="element">
				  		<area shape="rect" coords="572,404,812,514" href="../elements/id-436dc6663743405a96b83a7136a25c25.html"  target="element">
				  		<area shape="rect" coords="308,404,548,514" href="../elements/id-00d548f891424121b3b45b18c6180396.html"  target="element">
				  		<area shape="rect" coords="1414,260,1654,370" href="../elements/id-4536d318400d4af8a7a3ed5c0588f021.html"  target="element">
				  		<area shape="rect" coords="1414,404,1654,514" href="../elements/id-46c4119e26ce46bf8ec8bc97a47ea8d5.html"  target="element">
				  		<area shape="rect" coords="1268,116,1508,226" href="../elements/id-e338f75a832f43429b5c0d88a7ad25b7.html"  target="element">
				  		<area shape="rect" coords="1004,20,1244,130" href="../elements/id-8fee747d3e434b5b97af2622845bebd6.html"  target="element">
				  		<area shape="rect" coords="692,20,932,130" href="../elements/id-17c7da0f831748049a149a0bae8ce937.html"  target="element">
				  		<area shape="rect" coords="692,188,932,298" href="../elements/id-5aa1f1087cf3428c896d6e7dc6c3771a.html"  target="element">
				  		<area shape="rect" coords="428,188,668,298" href="../elements/id-8125acaae4f54e629e43d4f416d0f932.html"  target="element">
				  		<area shape="rect" coords="44,404,284,514" href="../elements/id-da53c4b8dd964f6b90acb48d107a9915.html"  target="element">
				  				<area shape="rect" coords="1100,908,1340,1018" href="../elements/id-3c1bdf50364845839697cfb1a7dc5c2f.html"  target="element">
				  				<area shape="rect" coords="1100,764,1340,874" href="../elements/id-a0af64a87bcb4fbf9b124a4f30acb798.html"  target="element">
				  				<area shape="rect" coords="308,908,548,1018" href="../elements/id-2130d52cbf784455a3bfe606164b3424.html"  target="element">
				  				<area shape="rect" coords="308,764,548,874" href="../elements/id-b3e6a3f8d7a64d7c9b4409e1084d5d61.html"  target="element">
				  				<area shape="rect" coords="572,908,812,1018" href="../elements/id-2a82348306a14a91b25f3e43e6bb1b89.html"  target="element">
				  				<area shape="rect" coords="572,764,812,874" href="../elements/id-286554a235924e91836c1feb5c787502.html"  target="element">
				  				<area shape="rect" coords="836,908,1076,1018" href="../elements/id-0ffe17668fdb4100bae7b00b48b19ff1.html"  target="element">
				  				<area shape="rect" coords="836,764,1076,874" href="../elements/id-00eee932916040c681c483d925c87a48.html"  target="element">
				  				<area shape="rect" coords="1364,908,1604,1018" href="../elements/id-fb9a024cd017466abd020601d2de2235.html"  target="element">
				  				<area shape="rect" coords="1364,764,1604,874" href="../elements/id-2de4d04fcec447af8998d687bbee8111.html"  target="element">
				  				<area shape="rect" coords="44,908,284,1018" href="../elements/id-9f11dd7b31fc447ea9eb86d68000af32.html"  target="element">
				  				<area shape="rect" coords="44,764,284,874" href="../elements/id-edbf048908474e208c632ede26467a7d.html"  target="element">
				  				<area shape="rect" coords="44,620,1604,730" href="../elements/id-cad366f5dba641898b11780fe5dd5588.html"  target="element">

				  		<area shape="rect" coords="20,548,1654,1030" href="../elements/id-dc9cbfdfe26f425c8fdeda5f1359416c.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-dc9cbfdfe26f425c8fdeda5f1359416c.html" target="element"> AWS - us-east-coast-1 </a> </td>
											    <td> <a href="../elements/id-dc9cbfdfe26f425c8fdeda5f1359416c.html" target="element" class="i18n-elementtype-Node">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-cad366f5dba641898b11780fe5dd5588.html" target="element"> API Gateway </a> </td>
													    <td> <a href="../elements/id-cad366f5dba641898b11780fe5dd5588.html" target="element" class="i18n-elementtype-Node">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-edbf048908474e208c632ede26467a7d.html" target="element"> Lambda Tracking &amp; Notification </a> </td>
													    <td> <a href="../elements/id-edbf048908474e208c632ede26467a7d.html" target="element" class="i18n-elementtype-Node">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-9f11dd7b31fc447ea9eb86d68000af32.html" target="element"> AWS Lambda </a> </td>
													    <td> <a href="../elements/id-9f11dd7b31fc447ea9eb86d68000af32.html" target="element" class="i18n-elementtype-TechnologyService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2de4d04fcec447af8998d687bbee8111.html" target="element"> AWS Cognito </a> </td>
													    <td> <a href="../elements/id-2de4d04fcec447af8998d687bbee8111.html" target="element" class="i18n-elementtype-Node">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-fb9a024cd017466abd020601d2de2235.html" target="element"> AWS Cognito </a> </td>
													    <td> <a href="../elements/id-fb9a024cd017466abd020601d2de2235.html" target="element" class="i18n-elementtype-TechnologyService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-00eee932916040c681c483d925c87a48.html" target="element"> AWS AppSync </a> </td>
													    <td> <a href="../elements/id-00eee932916040c681c483d925c87a48.html" target="element" class="i18n-elementtype-Node">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0ffe17668fdb4100bae7b00b48b19ff1.html" target="element"> AWS AppSync </a> </td>
													    <td> <a href="../elements/id-0ffe17668fdb4100bae7b00b48b19ff1.html" target="element" class="i18n-elementtype-TechnologyService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-286554a235924e91836c1feb5c787502.html" target="element"> AWS Location Service </a> </td>
													    <td> <a href="../elements/id-286554a235924e91836c1feb5c787502.html" target="element" class="i18n-elementtype-Node">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2a82348306a14a91b25f3e43e6bb1b89.html" target="element"> AWS Location Service </a> </td>
													    <td> <a href="../elements/id-2a82348306a14a91b25f3e43e6bb1b89.html" target="element" class="i18n-elementtype-TechnologyService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b3e6a3f8d7a64d7c9b4409e1084d5d61.html" target="element"> AWS EventBridge </a> </td>
													    <td> <a href="../elements/id-b3e6a3f8d7a64d7c9b4409e1084d5d61.html" target="element" class="i18n-elementtype-Node">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2130d52cbf784455a3bfe606164b3424.html" target="element"> AWS EventBridge </a> </td>
													    <td> <a href="../elements/id-2130d52cbf784455a3bfe606164b3424.html" target="element" class="i18n-elementtype-TechnologyService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a0af64a87bcb4fbf9b124a4f30acb798.html" target="element"> AWS SNS </a> </td>
													    <td> <a href="../elements/id-a0af64a87bcb4fbf9b124a4f30acb798.html" target="element" class="i18n-elementtype-Node">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-3c1bdf50364845839697cfb1a7dc5c2f.html" target="element"> AWS SNS </a> </td>
													    <td> <a href="../elements/id-3c1bdf50364845839697cfb1a7dc5c2f.html" target="element" class="i18n-elementtype-TechnologyService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-da53c4b8dd964f6b90acb48d107a9915.html" target="element"> HeyBlue Lambda Tracking &amp; Notification </a> </td>
											    <td> <a href="../elements/id-da53c4b8dd964f6b90acb48d107a9915.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8125acaae4f54e629e43d4f416d0f932.html" target="element"> HeyBlue Tracking &amp; Notification </a> </td>
											    <td> <a href="../elements/id-8125acaae4f54e629e43d4f416d0f932.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5aa1f1087cf3428c896d6e7dc6c3771a.html" target="element"> HeyBlue BFF Mobile </a> </td>
											    <td> <a href="../elements/id-5aa1f1087cf3428c896d6e7dc6c3771a.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-17c7da0f831748049a149a0bae8ce937.html" target="element"> HeyBlue Mobile </a> </td>
											    <td> <a href="../elements/id-17c7da0f831748049a149a0bae8ce937.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8fee747d3e434b5b97af2622845bebd6.html" target="element"> AWS SDK </a> </td>
											    <td> <a href="../elements/id-8fee747d3e434b5b97af2622845bebd6.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e338f75a832f43429b5c0d88a7ad25b7.html" target="element"> Mobile Device </a> </td>
											    <td> <a href="../elements/id-e338f75a832f43429b5c0d88a7ad25b7.html" target="element" class="i18n-elementtype-Device">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-46c4119e26ce46bf8ec8bc97a47ea8d5.html" target="element"> HeyBlue Cognito </a> </td>
											    <td> <a href="../elements/id-46c4119e26ce46bf8ec8bc97a47ea8d5.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4536d318400d4af8a7a3ed5c0588f021.html" target="element"> Identity Manager </a> </td>
											    <td> <a href="../elements/id-4536d318400d4af8a7a3ed5c0588f021.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-00d548f891424121b3b45b18c6180396.html" target="element"> HeyBlue EventBridge </a> </td>
											    <td> <a href="../elements/id-00d548f891424121b3b45b18c6180396.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-436dc6663743405a96b83a7136a25c25.html" target="element"> HeyBlue LocationService </a> </td>
											    <td> <a href="../elements/id-436dc6663743405a96b83a7136a25c25.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c02407efe8f8451a8e5337336cce7d1e.html" target="element"> HeyBlue AppSync </a> </td>
											    <td> <a href="../elements/id-c02407efe8f8451a8e5337336cce7d1e.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-23648f8709d34ed68138f7bac42f92e8.html" target="element"> HeyBlue Mobile </a> </td>
											    <td> <a href="../elements/id-23648f8709d34ed68138f7bac42f92e8.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-c9ef2c39653a443ab35e17efe6d1d84b.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-c9ef2c39653a443ab35e17efe6d1d84b.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-a3913078219341d0a31f475416943d48.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a3913078219341d0a31f475416943d48.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-dc9cbfdfe26f425c8fdeda5f1359416c.html" target="element"> AWS - us-east-coast-1 </a> </td>
																		<td> <a href="../elements/id-cad366f5dba641898b11780fe5dd5588.html" target="element"> API Gateway </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-43d1e3c3be8743f796c4780ae61e9eb8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-43d1e3c3be8743f796c4780ae61e9eb8.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-dc9cbfdfe26f425c8fdeda5f1359416c.html" target="element"> AWS - us-east-coast-1 </a> </td>
																		<td> <a href="../elements/id-edbf048908474e208c632ede26467a7d.html" target="element"> Lambda Tracking &amp; Notification </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5a790bb48fff486eafb7a9465c0e3ade.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5a790bb48fff486eafb7a9465c0e3ade.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-dc9cbfdfe26f425c8fdeda5f1359416c.html" target="element"> AWS - us-east-coast-1 </a> </td>
																		<td> <a href="../elements/id-9f11dd7b31fc447ea9eb86d68000af32.html" target="element"> AWS Lambda </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-104a31a57aea4d18804eaf3c034128bb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-104a31a57aea4d18804eaf3c034128bb.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-dc9cbfdfe26f425c8fdeda5f1359416c.html" target="element"> AWS - us-east-coast-1 </a> </td>
																		<td> <a href="../elements/id-2de4d04fcec447af8998d687bbee8111.html" target="element"> AWS Cognito </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-cae34c6fae3f4b28831af6da58aef331.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cae34c6fae3f4b28831af6da58aef331.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-dc9cbfdfe26f425c8fdeda5f1359416c.html" target="element"> AWS - us-east-coast-1 </a> </td>
																		<td> <a href="../elements/id-fb9a024cd017466abd020601d2de2235.html" target="element"> AWS Cognito </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-10cb1d620676427ebc59049aa14125b8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-10cb1d620676427ebc59049aa14125b8.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-dc9cbfdfe26f425c8fdeda5f1359416c.html" target="element"> AWS - us-east-coast-1 </a> </td>
																		<td> <a href="../elements/id-00eee932916040c681c483d925c87a48.html" target="element"> AWS AppSync </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0a2bc404da0340268e86446392f774ef.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0a2bc404da0340268e86446392f774ef.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-dc9cbfdfe26f425c8fdeda5f1359416c.html" target="element"> AWS - us-east-coast-1 </a> </td>
																		<td> <a href="../elements/id-a0af64a87bcb4fbf9b124a4f30acb798.html" target="element"> AWS SNS </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-768648b6bb4643d8b53f5ede5123e878.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-768648b6bb4643d8b53f5ede5123e878.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-dc9cbfdfe26f425c8fdeda5f1359416c.html" target="element"> AWS - us-east-coast-1 </a> </td>
																		<td> <a href="../elements/id-0ffe17668fdb4100bae7b00b48b19ff1.html" target="element"> AWS AppSync </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2c575afef281452cac32f041ed191fc7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2c575afef281452cac32f041ed191fc7.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-dc9cbfdfe26f425c8fdeda5f1359416c.html" target="element"> AWS - us-east-coast-1 </a> </td>
																		<td> <a href="../elements/id-3c1bdf50364845839697cfb1a7dc5c2f.html" target="element"> AWS SNS </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b25d3b5251e14a78a21d6520bc84440b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b25d3b5251e14a78a21d6520bc84440b.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-dc9cbfdfe26f425c8fdeda5f1359416c.html" target="element"> AWS - us-east-coast-1 </a> </td>
																		<td> <a href="../elements/id-286554a235924e91836c1feb5c787502.html" target="element"> AWS Location Service </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c1cef55533174f9c85361cf559881ff6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c1cef55533174f9c85361cf559881ff6.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-dc9cbfdfe26f425c8fdeda5f1359416c.html" target="element"> AWS - us-east-coast-1 </a> </td>
																		<td> <a href="../elements/id-2a82348306a14a91b25f3e43e6bb1b89.html" target="element"> AWS Location Service </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ae5bf6b855a14713940c6eddda6b6ac1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ae5bf6b855a14713940c6eddda6b6ac1.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-dc9cbfdfe26f425c8fdeda5f1359416c.html" target="element"> AWS - us-east-coast-1 </a> </td>
																		<td> <a href="../elements/id-b3e6a3f8d7a64d7c9b4409e1084d5d61.html" target="element"> AWS EventBridge </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-881ffe853b8e4c498deff9673229bd27.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-881ffe853b8e4c498deff9673229bd27.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-dc9cbfdfe26f425c8fdeda5f1359416c.html" target="element"> AWS - us-east-coast-1 </a> </td>
																		<td> <a href="../elements/id-2130d52cbf784455a3bfe606164b3424.html" target="element"> AWS EventBridge </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-b398490186f44f598ff7d888b4aaf5f7.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-b398490186f44f598ff7d888b4aaf5f7.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-edbf048908474e208c632ede26467a7d.html" target="element"> Lambda Tracking &amp; Notification </a> </td>
																				<td> <a href="../elements/id-da53c4b8dd964f6b90acb48d107a9915.html" target="element"> HeyBlue Lambda Tracking &amp; Notification </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-e4104f6339ae483b83b5d5550d092fd5.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e4104f6339ae483b83b5d5550d092fd5.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-9f11dd7b31fc447ea9eb86d68000af32.html" target="element"> AWS Lambda </a> </td>
																				<td> <a href="../elements/id-edbf048908474e208c632ede26467a7d.html" target="element"> Lambda Tracking &amp; Notification </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-33090601c54447e1a4955a254df0a4cc.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-33090601c54447e1a4955a254df0a4cc.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2de4d04fcec447af8998d687bbee8111.html" target="element"> AWS Cognito </a> </td>
																				<td> <a href="../elements/id-cad366f5dba641898b11780fe5dd5588.html" target="element"> API Gateway </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-d3b1ed5307244d5a946dcad422d8c20e.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d3b1ed5307244d5a946dcad422d8c20e.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2de4d04fcec447af8998d687bbee8111.html" target="element"> AWS Cognito </a> </td>
																				<td> <a href="../elements/id-46c4119e26ce46bf8ec8bc97a47ea8d5.html" target="element"> HeyBlue Cognito </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-486f2409f18b49318bc20894c21a1304.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-486f2409f18b49318bc20894c21a1304.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-fb9a024cd017466abd020601d2de2235.html" target="element"> AWS Cognito </a> </td>
																				<td> <a href="../elements/id-2de4d04fcec447af8998d687bbee8111.html" target="element"> AWS Cognito </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-46ce09a9af284acd8d2308085d0b9896.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-46ce09a9af284acd8d2308085d0b9896.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-00eee932916040c681c483d925c87a48.html" target="element"> AWS AppSync </a> </td>
																				<td> <a href="../elements/id-c02407efe8f8451a8e5337336cce7d1e.html" target="element"> HeyBlue AppSync </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-8b9b7e1db0634b0aa564be9dd40403ef.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-8b9b7e1db0634b0aa564be9dd40403ef.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-0ffe17668fdb4100bae7b00b48b19ff1.html" target="element"> AWS AppSync </a> </td>
																				<td> <a href="../elements/id-00eee932916040c681c483d925c87a48.html" target="element"> AWS AppSync </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-373ea9d47dda46209f54e8307ab46a93.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-373ea9d47dda46209f54e8307ab46a93.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-286554a235924e91836c1feb5c787502.html" target="element"> AWS Location Service </a> </td>
																				<td> <a href="../elements/id-b3e6a3f8d7a64d7c9b4409e1084d5d61.html" target="element"> AWS EventBridge </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-266c1a627c72428db523255441fa99a1.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-266c1a627c72428db523255441fa99a1.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-286554a235924e91836c1feb5c787502.html" target="element"> AWS Location Service </a> </td>
																				<td> <a href="../elements/id-436dc6663743405a96b83a7136a25c25.html" target="element"> HeyBlue LocationService </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-302a3aed74ad43758722bb885c251cdc.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-302a3aed74ad43758722bb885c251cdc.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2a82348306a14a91b25f3e43e6bb1b89.html" target="element"> AWS Location Service </a> </td>
																				<td> <a href="../elements/id-286554a235924e91836c1feb5c787502.html" target="element"> AWS Location Service </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-0c6d2401ad7c4dc3b6be3acb674131c8.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-0c6d2401ad7c4dc3b6be3acb674131c8.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-b3e6a3f8d7a64d7c9b4409e1084d5d61.html" target="element"> AWS EventBridge </a> </td>
																				<td> <a href="../elements/id-00d548f891424121b3b45b18c6180396.html" target="element"> HeyBlue EventBridge </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-8f464c054b984b9ca594a0680ff968b7.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-8f464c054b984b9ca594a0680ff968b7.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2130d52cbf784455a3bfe606164b3424.html" target="element"> AWS EventBridge </a> </td>
																				<td> <a href="../elements/id-b3e6a3f8d7a64d7c9b4409e1084d5d61.html" target="element"> AWS EventBridge </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-a9f49f82d88447c59d67bf5f31d835e0.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a9f49f82d88447c59d67bf5f31d835e0.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-3c1bdf50364845839697cfb1a7dc5c2f.html" target="element"> AWS SNS </a> </td>
																				<td> <a href="../elements/id-a0af64a87bcb4fbf9b124a4f30acb798.html" target="element"> AWS SNS </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-4ba8779ee89f421b8cbdd8ef966d776a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4ba8779ee89f421b8cbdd8ef966d776a.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-da53c4b8dd964f6b90acb48d107a9915.html" target="element"> HeyBlue Lambda Tracking &amp; Notification </a> </td>
																		<td> <a href="../elements/id-8125acaae4f54e629e43d4f416d0f932.html" target="element"> HeyBlue Tracking &amp; Notification </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-7b9d71c61f794d3f93013308ae10997a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7b9d71c61f794d3f93013308ae10997a.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8125acaae4f54e629e43d4f416d0f932.html" target="element"> HeyBlue Tracking &amp; Notification </a> </td>
																		<td> <a href="../elements/id-17c7da0f831748049a149a0bae8ce937.html" target="element"> HeyBlue Mobile </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-0980a358e66a4c31b99641763557f19c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0980a358e66a4c31b99641763557f19c.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5aa1f1087cf3428c896d6e7dc6c3771a.html" target="element"> HeyBlue BFF Mobile </a> </td>
																		<td> <a href="../elements/id-17c7da0f831748049a149a0bae8ce937.html" target="element"> HeyBlue Mobile </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-7dc49f819f4b4349a903adc06fc6f375.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7dc49f819f4b4349a903adc06fc6f375.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8fee747d3e434b5b97af2622845bebd6.html" target="element"> AWS SDK </a> </td>
																		<td> <a href="../elements/id-17c7da0f831748049a149a0bae8ce937.html" target="element"> HeyBlue Mobile </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6010f06e172e479fb4a9be2153cac478.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6010f06e172e479fb4a9be2153cac478.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8fee747d3e434b5b97af2622845bebd6.html" target="element"> AWS SDK </a> </td>
																		<td> <a href="../elements/id-23648f8709d34ed68138f7bac42f92e8.html" target="element"> HeyBlue Mobile </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-ad8aaffa273040aeac455a7e875c2e5c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ad8aaffa273040aeac455a7e875c2e5c.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e338f75a832f43429b5c0d88a7ad25b7.html" target="element"> Mobile Device </a> </td>
																		<td> <a href="../elements/id-8fee747d3e434b5b97af2622845bebd6.html" target="element"> AWS SDK </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ee05be760f5a4a7dbd5412ab86517b00.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ee05be760f5a4a7dbd5412ab86517b00.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e338f75a832f43429b5c0d88a7ad25b7.html" target="element"> Mobile Device </a> </td>
																		<td> <a href="../elements/id-2de4d04fcec447af8998d687bbee8111.html" target="element"> AWS Cognito </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8a1489dcea5c4edcbd1a252a1bda49c6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8a1489dcea5c4edcbd1a252a1bda49c6.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e338f75a832f43429b5c0d88a7ad25b7.html" target="element"> Mobile Device </a> </td>
																		<td> <a href="../elements/id-a0af64a87bcb4fbf9b124a4f30acb798.html" target="element"> AWS SNS </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-156497a671e6426a8c0f77a150819a7e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-156497a671e6426a8c0f77a150819a7e.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e338f75a832f43429b5c0d88a7ad25b7.html" target="element"> Mobile Device </a> </td>
																		<td> <a href="../elements/id-23648f8709d34ed68138f7bac42f92e8.html" target="element"> HeyBlue Mobile </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-9be33ba3192c45a99def6b28fe7ed365.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9be33ba3192c45a99def6b28fe7ed365.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-46c4119e26ce46bf8ec8bc97a47ea8d5.html" target="element"> HeyBlue Cognito </a> </td>
																		<td> <a href="../elements/id-4536d318400d4af8a7a3ed5c0588f021.html" target="element"> Identity Manager </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-0b4a7647fcf7423d91e4e375381e3766.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0b4a7647fcf7423d91e4e375381e3766.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-00d548f891424121b3b45b18c6180396.html" target="element"> HeyBlue EventBridge </a> </td>
																		<td> <a href="../elements/id-8125acaae4f54e629e43d4f416d0f932.html" target="element"> HeyBlue Tracking &amp; Notification </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-54cf1d1f8b8e4cf5b65331af13fb2d63.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-54cf1d1f8b8e4cf5b65331af13fb2d63.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-436dc6663743405a96b83a7136a25c25.html" target="element"> HeyBlue LocationService </a> </td>
																		<td> <a href="../elements/id-8125acaae4f54e629e43d4f416d0f932.html" target="element"> HeyBlue Tracking &amp; Notification </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-8d4852edf8c5432ca3df0c5707506471.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8d4852edf8c5432ca3df0c5707506471.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c02407efe8f8451a8e5337336cce7d1e.html" target="element"> HeyBlue AppSync </a> </td>
																		<td> <a href="../elements/id-8125acaae4f54e629e43d4f416d0f932.html" target="element"> HeyBlue Tracking &amp; Notification </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-3b9c2c8c7d734bec89da7ac39309da2a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3b9c2c8c7d734bec89da7ac39309da2a.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-23648f8709d34ed68138f7bac42f92e8.html" target="element"> HeyBlue Mobile </a> </td>
																		<td> <a href="../elements/id-17c7da0f831748049a149a0bae8ce937.html" target="element"> HeyBlue Mobile </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7439962bc60743c3bfa5e819c4eef3bf.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7439962bc60743c3bfa5e819c4eef3bf.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-23648f8709d34ed68138f7bac42f92e8.html" target="element"> HeyBlue Mobile </a> </td>
																		<td> <a href="../elements/id-5aa1f1087cf3428c896d6e7dc6c3771a.html" target="element"> HeyBlue BFF Mobile </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>