<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>1.1. Motivation</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>1.1. Motivation</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-motivation"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_motivation" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-60753f218ed44d1c9093aee56bbfef73.png" alt="1.1. Motivation" usemap="#id-60753f218ed44d1c9093aee56bbfef73map"/>
			   <map name="id-60753f218ed44d1c9093aee56bbfef73map">
				  				<area shape="rect" coords="1648,1148,1888,1258" href="../elements/id-82032fce61544c6380e85c23d893a597.html"  target="element">
				  				<area shape="rect" coords="1360,1148,1600,1258" href="../elements/id-6f7bcf16eb0b4e6a87c732826555d2b4.html"  target="element">
				  				<area shape="rect" coords="1072,1148,1312,1258" href="../elements/id-d7c07aa8ea3e4ce5aebb3f7515d7db77.html"  target="element">
				  				<area shape="rect" coords="760,1148,1000,1258" href="../elements/id-6d02967f5d214f1fa101909e294b7fe1.html"  target="element">
				  				<area shape="rect" coords="464,1148,704,1258" href="../elements/id-bd5ab30a7edc4c4b9bf313918b00e0c8.html"  target="element">
				  				<area shape="rect" coords="160,1148,400,1258" href="../elements/id-a9af4023c39845acb11ddf63661e0d56.html"  target="element">
				  				<area shape="rect" coords="1648,980,1888,1090" href="../elements/id-6d1a516e2b194f089041cf7b3eb46d38.html"  target="element">
				  				<area shape="rect" coords="1648,836,1888,946" href="../elements/id-40c042a6cc8e48e79b30498a43e529ad.html"  target="element">
				  				<area shape="rect" coords="1072,836,1312,946" href="../elements/id-f692e3b22bc94026a793b43e95c9cb79.html"  target="element">
				  				<area shape="rect" coords="1072,980,1312,1090" href="../elements/id-041e2eb07e594e91b52194529c78d177.html"  target="element">
				  				<area shape="rect" coords="464,980,704,1090" href="../elements/id-55ad851de9e3407db158625977ed3a0b.html"  target="element">
				  				<area shape="rect" coords="160,836,400,946" href="../elements/id-59287adcc9f0421c8c694647ea073419.html"  target="element">
				  				<area shape="rect" coords="760,980,1000,1090" href="../elements/id-eff538e39d784da9bf6cf8b4181995c1.html"  target="element">
				  				<area shape="rect" coords="464,836,704,946" href="../elements/id-ba22eb19876c4798bc6c65536f14682a.html"  target="element">
				  				<area shape="rect" coords="1360,836,1600,946" href="../elements/id-7cff9adb161e48e5882895c48051d0b4.html"  target="element">
				  				<area shape="rect" coords="1360,980,1600,1090" href="../elements/id-15b1b325b1384de3bc7ccc9cf735f258.html"  target="element">
				  				<area shape="rect" coords="160,980,400,1090" href="../elements/id-f1563672ba914bdd8c9c8e937e03d58d.html"  target="element">
				  				<area shape="rect" coords="760,836,1000,946" href="../elements/id-2eaf71a42d644771bb0e6b55699c81ec.html"  target="element">
				  				<area shape="rect" coords="1648,692,1888,802" href="../elements/id-682ecc1562544bf5a6f6d6cce7f5466c.html"  target="element">
				  				<area shape="rect" coords="1360,692,1600,802" href="../elements/id-c9feea4eb6d740d3a06b58b2f1050ec9.html"  target="element">
				  				<area shape="rect" coords="1072,692,1312,802" href="../elements/id-6e61c335212a46219bd40622498099e0.html"  target="element">
				  				<area shape="rect" coords="760,692,1000,802" href="../elements/id-1bc56968f7dd42cfb5f623f6782b21bd.html"  target="element">
				  				<area shape="rect" coords="464,692,704,802" href="../elements/id-68742458184b4c06806a996216d2bc3a.html"  target="element">
				  				<area shape="rect" coords="160,692,400,802" href="../elements/id-9c3575c3e9054500bdacd98950cab914.html"  target="element">

				          <area shape="rect" coords="112,596,1986,1270" href="../objects/id-e4e60da09e4545d78bf19310469f6ddc.html" target="element" >
				  				<area shape="rect" coords="1264,364,1504,474" href="../elements/id-68daf0f1427842b0ade1207ad3f965c7.html"  target="element">
				  				<area shape="rect" coords="1048,140,1288,250" href="../elements/id-f0ecf376f30946f993c8db949317bb9c.html"  target="element">
				  				<area shape="rect" coords="856,364,1096,474" href="../elements/id-65962bf3ffff4fc8b065552dc9624313.html"  target="element">
				  				<area shape="rect" coords="464,364,704,474" href="../elements/id-d427a24216bd454788a8a47b3f0a7bac.html"  target="element">
				  				<area shape="rect" coords="664,140,904,250" href="../elements/id-4cdcf5e9ae89445390fe0467f1d7bd27.html"  target="element">

				          <area shape="rect" coords="112,20,1986,550" href="../objects/id-25e2a018ddf24764807e48240ed3e0e1.html" target="element" >
				          <area shape="rect" coords="370,294,566,354" href="../objects/id-2855eae01cc24c2e989c11903050c919.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-2855eae01cc24c2e989c11903050c919.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-2855eae01cc24c2e989c11903050c919.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-25e2a018ddf24764807e48240ed3e0e1.html" target="element"> Strategic motivation </a> </td>
									           <td> <a href="../objects/id-25e2a018ddf24764807e48240ed3e0e1.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-4cdcf5e9ae89445390fe0467f1d7bd27.html" target="element"> DR01. Shared purpose between community and police officers </a> </td>
													    <td> <a href="../elements/id-4cdcf5e9ae89445390fe0467f1d7bd27.html" target="element" class="i18n-elementtype-Driver">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d427a24216bd454788a8a47b3f0a7bac.html" target="element"> GO01. Enforce positive relationship between police officers and civilians </a> </td>
													    <td> <a href="../elements/id-d427a24216bd454788a8a47b3f0a7bac.html" target="element" class="i18n-elementtype-Goal">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-65962bf3ffff4fc8b065552dc9624313.html" target="element"> GO02. Active support to non-profit organizations </a> </td>
													    <td> <a href="../elements/id-65962bf3ffff4fc8b065552dc9624313.html" target="element" class="i18n-elementtype-Goal">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-f0ecf376f30946f993c8db949317bb9c.html" target="element"> DR02. Awareness of our shared humanity </a> </td>
													    <td> <a href="../elements/id-f0ecf376f30946f993c8db949317bb9c.html" target="element" class="i18n-elementtype-Driver">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-68daf0f1427842b0ade1207ad3f965c7.html" target="element"> GO03. Stronger community interaction </a> </td>
													    <td> <a href="../elements/id-68daf0f1427842b0ade1207ad3f965c7.html" target="element" class="i18n-elementtype-Goal">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-e4e60da09e4545d78bf19310469f6ddc.html" target="element"> Use cases </a> </td>
									           <td> <a href="../objects/id-e4e60da09e4545d78bf19310469f6ddc.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-9c3575c3e9054500bdacd98950cab914.html" target="element"> UC15. As heyblue admin I want to track how the points were used for each user </a> </td>
													    <td> <a href="../elements/id-9c3575c3e9054500bdacd98950cab914.html" target="element" class="i18n-elementtype-Requirement">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-68742458184b4c06806a996216d2bc3a.html" target="element"> UC01. As hey blue administrator I want to get reports and analytics of the application activity </a> </td>
													    <td> <a href="../elements/id-68742458184b4c06806a996216d2bc3a.html" target="element" class="i18n-elementtype-Requirement">
													    	(Functional Requirement)
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-1bc56968f7dd42cfb5f623f6782b21bd.html" target="element"> UC02. As hey blue administrator I want to share aggregated tracking data with local media outlets, automatically </a> </td>
													    <td> <a href="../elements/id-1bc56968f7dd42cfb5f623f6782b21bd.html" target="element" class="i18n-elementtype-Requirement">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-6e61c335212a46219bd40622498099e0.html" target="element"> UC04. [HARD] As a User I want to connect to another users </a> </td>
													    <td> <a href="../elements/id-6e61c335212a46219bd40622498099e0.html" target="element" class="i18n-elementtype-Requirement">
													    	(Functional Requirement)
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c9feea4eb6d740d3a06b58b2f1050ec9.html" target="element"> UC05. [HARD] As a user I want to share information about my profile in social media </a> </td>
													    <td> <a href="../elements/id-c9feea4eb6d740d3a06b58b2f1050ec9.html" target="element" class="i18n-elementtype-Requirement">
													    	(Functional Requirement)
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-682ecc1562544bf5a6f6d6cce7f5466c.html" target="element"> UC06. [HARD] As HeyBlue Admin I want the app to track the location of the users </a> </td>
													    <td> <a href="../elements/id-682ecc1562544bf5a6f6d6cce7f5466c.html" target="element" class="i18n-elementtype-Requirement">
													    	(Functional Requirement)
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2eaf71a42d644771bb0e6b55699c81ec.html" target="element"> UC03. As a local media outlet I want to subscribe to get access to aggregated data </a> </td>
													    <td> <a href="../elements/id-2eaf71a42d644771bb0e6b55699c81ec.html" target="element" class="i18n-elementtype-Requirement">
													    	(Functional Requirement)
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-f1563672ba914bdd8c9c8e937e03d58d.html" target="element"> UC17. As a community member I want to see how many connections each participating officer has made </a> </td>
													    <td> <a href="../elements/id-f1563672ba914bdd8c9c8e937e03d58d.html" target="element" class="i18n-elementtype-Requirement">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-15b1b325b1384de3bc7ccc9cf735f258.html" target="element"> UC14. As a user I want to receive positive reinforcement through intrinsec reward system based on my activity </a> </td>
													    <td> <a href="../elements/id-15b1b325b1384de3bc7ccc9cf735f258.html" target="element" class="i18n-elementtype-Requirement">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-7cff9adb161e48e5882895c48051d0b4.html" target="element"> UC07. [OPTION] As a user I want to connect to my social media profile </a> </td>
													    <td> <a href="../elements/id-7cff9adb161e48e5882895c48051d0b4.html" target="element" class="i18n-elementtype-Requirement">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ba22eb19876c4798bc6c65536f14682a.html" target="element"> UC10. As an officer I want to find charities where I can gift the points </a> </td>
													    <td> <a href="../elements/id-ba22eb19876c4798bc6c65536f14682a.html" target="element" class="i18n-elementtype-Requirement">
													    	(Functional Requirement)
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-eff538e39d784da9bf6cf8b4181995c1.html" target="element"> UC12. As a Business I want to manage the catalog of products and the point value assigned to them </a> </td>
													    <td> <a href="../elements/id-eff538e39d784da9bf6cf8b4181995c1.html" target="element" class="i18n-elementtype-Requirement">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-59287adcc9f0421c8c694647ea073419.html" target="element"> UC16. As an officer or community member I want to connect with each other using QR Codes </a> </td>
													    <td> <a href="../elements/id-59287adcc9f0421c8c694647ea073419.html" target="element" class="i18n-elementtype-Requirement">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-55ad851de9e3407db158625977ed3a0b.html" target="element"> UC11. As a business/charitie I want to create a storefront to encourage users to redeem or donate their points </a> </td>
													    <td> <a href="../elements/id-55ad851de9e3407db158625977ed3a0b.html" target="element" class="i18n-elementtype-Requirement">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-041e2eb07e594e91b52194529c78d177.html" target="element"> UC13. As a municipality I want to allow civilians to redeem the points to pay fines or fees </a> </td>
													    <td> <a href="../elements/id-041e2eb07e594e91b52194529c78d177.html" target="element" class="i18n-elementtype-Requirement">
													    	(Functional Requirement)
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-f692e3b22bc94026a793b43e95c9cb79.html" target="element"> UC08. [HARD] As a user i want to opt-in and out of push notifications </a> </td>
													    <td> <a href="../elements/id-f692e3b22bc94026a793b43e95c9cb79.html" target="element" class="i18n-elementtype-Requirement">
													    	(Functional Requirement)
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-40c042a6cc8e48e79b30498a43e529ad.html" target="element"> UC09. As a civilian I want to find retail stablishments to redeem my points </a> </td>
													    <td> <a href="../elements/id-40c042a6cc8e48e79b30498a43e529ad.html" target="element" class="i18n-elementtype-Requirement">
													    	(Functional Requirement)
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-6d1a516e2b194f089041cf7b3eb46d38.html" target="element"> UC18. As heyBlue Admin I want to know the users zip codes to share revenues with community in the user area </a> </td>
													    <td> <a href="../elements/id-6d1a516e2b194f089041cf7b3eb46d38.html" target="element" class="i18n-elementtype-Requirement">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a9af4023c39845acb11ddf63661e0d56.html" target="element"> UC19. As a civilian I want to say hi to a police officer to gain points </a> </td>
													    <td> <a href="../elements/id-a9af4023c39845acb11ddf63661e0d56.html" target="element" class="i18n-elementtype-Requirement">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-bd5ab30a7edc4c4b9bf313918b00e0c8.html" target="element"> UC20&#160;[Assumption][OPTION] As a HeyBlue Admin I want to ensure the employee experience, including recruiting, upskilling and lifecycle </a> </td>
													    <td> <a href="../elements/id-bd5ab30a7edc4c4b9bf313918b00e0c8.html" target="element" class="i18n-elementtype-Requirement">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-6d02967f5d214f1fa101909e294b7fe1.html" target="element"> UC21&#160;[Assumption][OPTION] As an investor I want to get information about the numbers of the company </a> </td>
													    <td> <a href="../elements/id-6d02967f5d214f1fa101909e294b7fe1.html" target="element" class="i18n-elementtype-Requirement">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d7c07aa8ea3e4ce5aebb3f7515d7db77.html" target="element"> UC22&#160;[Assumption][OPTION] as HeyBlue Admin I want to control the financial performance </a> </td>
													    <td> <a href="../elements/id-d7c07aa8ea3e4ce5aebb3f7515d7db77.html" target="element" class="i18n-elementtype-Requirement">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-6f7bcf16eb0b4e6a87c732826555d2b4.html" target="element"> UC23[Assumption][OPTION] As IT responsible of HeyBlue I want best practices, tools to ensure an efficient IT Value delivery </a> </td>
													    <td> <a href="../elements/id-6f7bcf16eb0b4e6a87c732826555d2b4.html" target="element" class="i18n-elementtype-Requirement">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-82032fce61544c6380e85c23d893a597.html" target="element"> UC24[Assumption][OPTION] As HeyBlue Admin I want to control and manage the risks, mainly the fraud related risks </a> </td>
													    <td> <a href="../elements/id-82032fce61544c6380e85c23d893a597.html" target="element" class="i18n-elementtype-Requirement">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/id-b3f2a664e223421f8ee644c0e6e5e5ab.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-b3f2a664e223421f8ee644c0e6e5e5ab.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-d427a24216bd454788a8a47b3f0a7bac.html" target="element"> GO01. Enforce positive relationship between police officers and civilians </a> </td>
																				<td> <a href="../elements/id-4cdcf5e9ae89445390fe0467f1d7bd27.html" target="element"> DR01. Shared purpose between community and police officers </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-b9c8d1f80498478aa9790885132095f0.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-b9c8d1f80498478aa9790885132095f0.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-65962bf3ffff4fc8b065552dc9624313.html" target="element"> GO02. Active support to non-profit organizations </a> </td>
																				<td> <a href="../elements/id-4cdcf5e9ae89445390fe0467f1d7bd27.html" target="element"> DR01. Shared purpose between community and police officers </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-2b05bcda194a41cab69fc840583f0dce.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-2b05bcda194a41cab69fc840583f0dce.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-65962bf3ffff4fc8b065552dc9624313.html" target="element"> GO02. Active support to non-profit organizations </a> </td>
																				<td> <a href="../elements/id-f0ecf376f30946f993c8db949317bb9c.html" target="element"> DR02. Awareness of our shared humanity </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-b9b14f53858644b896b0e1cf593901d4.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-b9b14f53858644b896b0e1cf593901d4.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-68daf0f1427842b0ade1207ad3f965c7.html" target="element"> GO03. Stronger community interaction </a> </td>
																				<td> <a href="../elements/id-f0ecf376f30946f993c8db949317bb9c.html" target="element"> DR02. Awareness of our shared humanity </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-7fcdc0400a194ca79e505c2faaeecc66.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7fcdc0400a194ca79e505c2faaeecc66.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-68daf0f1427842b0ade1207ad3f965c7.html" target="element"> GO03. Stronger community interaction </a> </td>
																				<td> <a href="../elements/id-4cdcf5e9ae89445390fe0467f1d7bd27.html" target="element"> DR01. Shared purpose between community and police officers </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/id-5c0e07715f0e41afbe32667260c79478.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5c0e07715f0e41afbe32667260c79478.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-9c3575c3e9054500bdacd98950cab914.html" target="element"> UC15. As heyblue admin I want to track how the points were used for each user </a> </td>
																				<td> <a href="../elements/id-d427a24216bd454788a8a47b3f0a7bac.html" target="element"> GO01. Enforce positive relationship between police officers and civilians </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-970fa1507826437499a4b1cb709f8b14.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-970fa1507826437499a4b1cb709f8b14.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-9c3575c3e9054500bdacd98950cab914.html" target="element"> UC15. As heyblue admin I want to track how the points were used for each user </a> </td>
																				<td> <a href="../elements/id-68daf0f1427842b0ade1207ad3f965c7.html" target="element"> GO03. Stronger community interaction </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-1e234850d028430aa5a00bfa4328a24d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-1e234850d028430aa5a00bfa4328a24d.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-68742458184b4c06806a996216d2bc3a.html" target="element"> UC01. As hey blue administrator I want to get reports and analytics of the application activity </a> </td>
																				<td> <a href="../elements/id-d427a24216bd454788a8a47b3f0a7bac.html" target="element"> GO01. Enforce positive relationship between police officers and civilians </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-aef00483952342b5806bbdbe0ffa32e4.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-aef00483952342b5806bbdbe0ffa32e4.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-68742458184b4c06806a996216d2bc3a.html" target="element"> UC01. As hey blue administrator I want to get reports and analytics of the application activity </a> </td>
																				<td> <a href="../elements/id-9c3575c3e9054500bdacd98950cab914.html" target="element"> UC15. As heyblue admin I want to track how the points were used for each user </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-f25cdf908bb1419ea8882c1ad1c2f696.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-f25cdf908bb1419ea8882c1ad1c2f696.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-1bc56968f7dd42cfb5f623f6782b21bd.html" target="element"> UC02. As hey blue administrator I want to share aggregated tracking data with local media outlets, automatically </a> </td>
																				<td> <a href="../elements/id-68742458184b4c06806a996216d2bc3a.html" target="element"> UC01. As hey blue administrator I want to get reports and analytics of the application activity </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-1862db6ac16b4409ad47b428115d6bc5.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-1862db6ac16b4409ad47b428115d6bc5.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-1bc56968f7dd42cfb5f623f6782b21bd.html" target="element"> UC02. As hey blue administrator I want to share aggregated tracking data with local media outlets, automatically </a> </td>
																				<td> <a href="../elements/id-d427a24216bd454788a8a47b3f0a7bac.html" target="element"> GO01. Enforce positive relationship between police officers and civilians </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-459fc6ad39b6494f8fa22403a3f86bec.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-459fc6ad39b6494f8fa22403a3f86bec.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-1bc56968f7dd42cfb5f623f6782b21bd.html" target="element"> UC02. As hey blue administrator I want to share aggregated tracking data with local media outlets, automatically </a> </td>
																				<td> <a href="../elements/id-2eaf71a42d644771bb0e6b55699c81ec.html" target="element"> UC03. As a local media outlet I want to subscribe to get access to aggregated data </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-8ee40d1678d64e73a225ce3182c8efe7.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-8ee40d1678d64e73a225ce3182c8efe7.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-1bc56968f7dd42cfb5f623f6782b21bd.html" target="element"> UC02. As hey blue administrator I want to share aggregated tracking data with local media outlets, automatically </a> </td>
																				<td> <a href="../elements/id-68daf0f1427842b0ade1207ad3f965c7.html" target="element"> GO03. Stronger community interaction </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-24a99396ec8f4b43a3dd27e7544cd979.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-24a99396ec8f4b43a3dd27e7544cd979.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-1bc56968f7dd42cfb5f623f6782b21bd.html" target="element"> UC02. As hey blue administrator I want to share aggregated tracking data with local media outlets, automatically </a> </td>
																				<td> <a href="../elements/id-65962bf3ffff4fc8b065552dc9624313.html" target="element"> GO02. Active support to non-profit organizations </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-e3a3268c85fd4ca59596b5475d42ce22.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e3a3268c85fd4ca59596b5475d42ce22.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-6e61c335212a46219bd40622498099e0.html" target="element"> UC04. [HARD] As a User I want to connect to another users </a> </td>
																				<td> <a href="../elements/id-68daf0f1427842b0ade1207ad3f965c7.html" target="element"> GO03. Stronger community interaction </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-58ffe9a3ad294c8ba001bcf97da4b1a6.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-58ffe9a3ad294c8ba001bcf97da4b1a6.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-c9feea4eb6d740d3a06b58b2f1050ec9.html" target="element"> UC05. [HARD] As a user I want to share information about my profile in social media </a> </td>
																				<td> <a href="../elements/id-68daf0f1427842b0ade1207ad3f965c7.html" target="element"> GO03. Stronger community interaction </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-4fa3cb09fff44fbf87b719d263b3e80f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-4fa3cb09fff44fbf87b719d263b3e80f.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-c9feea4eb6d740d3a06b58b2f1050ec9.html" target="element"> UC05. [HARD] As a user I want to share information about my profile in social media </a> </td>
																				<td> <a href="../elements/id-d427a24216bd454788a8a47b3f0a7bac.html" target="element"> GO01. Enforce positive relationship between police officers and civilians </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-78cc0cc2e74a49fab3a6af4dcf7aeec0.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-78cc0cc2e74a49fab3a6af4dcf7aeec0.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-682ecc1562544bf5a6f6d6cce7f5466c.html" target="element"> UC06. [HARD] As HeyBlue Admin I want the app to track the location of the users </a> </td>
																				<td> <a href="../elements/id-68daf0f1427842b0ade1207ad3f965c7.html" target="element"> GO03. Stronger community interaction </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-581e338f1e5349689df7406819463da1.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-581e338f1e5349689df7406819463da1.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2eaf71a42d644771bb0e6b55699c81ec.html" target="element"> UC03. As a local media outlet I want to subscribe to get access to aggregated data </a> </td>
																				<td> <a href="../elements/id-68daf0f1427842b0ade1207ad3f965c7.html" target="element"> GO03. Stronger community interaction </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-3cde693b60654c028cf5a84998be87a4.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-3cde693b60654c028cf5a84998be87a4.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f1563672ba914bdd8c9c8e937e03d58d.html" target="element"> UC17. As a community member I want to see how many connections each participating officer has made </a> </td>
																				<td> <a href="../elements/id-d427a24216bd454788a8a47b3f0a7bac.html" target="element"> GO01. Enforce positive relationship between police officers and civilians </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-cca335dfd2b14625a3bc4752c12e18e2.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-cca335dfd2b14625a3bc4752c12e18e2.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f1563672ba914bdd8c9c8e937e03d58d.html" target="element"> UC17. As a community member I want to see how many connections each participating officer has made </a> </td>
																				<td> <a href="../elements/id-68daf0f1427842b0ade1207ad3f965c7.html" target="element"> GO03. Stronger community interaction </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-d965a642be9a4e86a1245d0b3c7f2f02.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d965a642be9a4e86a1245d0b3c7f2f02.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-15b1b325b1384de3bc7ccc9cf735f258.html" target="element"> UC14. As a user I want to receive positive reinforcement through intrinsec reward system based on my activity </a> </td>
																				<td> <a href="../elements/id-68daf0f1427842b0ade1207ad3f965c7.html" target="element"> GO03. Stronger community interaction </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-a9bff89045b0444fb18b25cfaed430d4.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a9bff89045b0444fb18b25cfaed430d4.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-15b1b325b1384de3bc7ccc9cf735f258.html" target="element"> UC14. As a user I want to receive positive reinforcement through intrinsec reward system based on my activity </a> </td>
																				<td> <a href="../elements/id-d427a24216bd454788a8a47b3f0a7bac.html" target="element"> GO01. Enforce positive relationship between police officers and civilians </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-709d1b25a2cc4f04bc088b8d217cd8ed.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-709d1b25a2cc4f04bc088b8d217cd8ed.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-7cff9adb161e48e5882895c48051d0b4.html" target="element"> UC07. [OPTION] As a user I want to connect to my social media profile </a> </td>
																				<td> <a href="../elements/id-68daf0f1427842b0ade1207ad3f965c7.html" target="element"> GO03. Stronger community interaction </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-923bc7ceedac4974a406bc61936982e7.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-923bc7ceedac4974a406bc61936982e7.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-ba22eb19876c4798bc6c65536f14682a.html" target="element"> UC10. As an officer I want to find charities where I can gift the points </a> </td>
																				<td> <a href="../elements/id-65962bf3ffff4fc8b065552dc9624313.html" target="element"> GO02. Active support to non-profit organizations </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-1196517f8f604f47a70a0221713ec68e.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-1196517f8f604f47a70a0221713ec68e.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-eff538e39d784da9bf6cf8b4181995c1.html" target="element"> UC12. As a Business I want to manage the catalog of products and the point value assigned to them </a> </td>
																				<td> <a href="../elements/id-68daf0f1427842b0ade1207ad3f965c7.html" target="element"> GO03. Stronger community interaction </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-6c3a2b668d7742e59a1998f9bf3a6fce.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-6c3a2b668d7742e59a1998f9bf3a6fce.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-59287adcc9f0421c8c694647ea073419.html" target="element"> UC16. As an officer or community member I want to connect with each other using QR Codes </a> </td>
																				<td> <a href="../elements/id-68daf0f1427842b0ade1207ad3f965c7.html" target="element"> GO03. Stronger community interaction </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-70d051a5541949ddb2bb429e4d951107.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-70d051a5541949ddb2bb429e4d951107.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-55ad851de9e3407db158625977ed3a0b.html" target="element"> UC11. As a business/charitie I want to create a storefront to encourage users to redeem or donate their points </a> </td>
																				<td> <a href="../elements/id-65962bf3ffff4fc8b065552dc9624313.html" target="element"> GO02. Active support to non-profit organizations </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-2e725bc3469c4d73a558e04f90146b6e.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-2e725bc3469c4d73a558e04f90146b6e.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-55ad851de9e3407db158625977ed3a0b.html" target="element"> UC11. As a business/charitie I want to create a storefront to encourage users to redeem or donate their points </a> </td>
																				<td> <a href="../elements/id-d427a24216bd454788a8a47b3f0a7bac.html" target="element"> GO01. Enforce positive relationship between police officers and civilians </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-5c57f586f7e045baa73fa241f66bd21f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5c57f586f7e045baa73fa241f66bd21f.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-041e2eb07e594e91b52194529c78d177.html" target="element"> UC13. As a municipality I want to allow civilians to redeem the points to pay fines or fees </a> </td>
																				<td> <a href="../elements/id-68daf0f1427842b0ade1207ad3f965c7.html" target="element"> GO03. Stronger community interaction </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-668be0a17a824333b5ba7b0869fc3f2c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-668be0a17a824333b5ba7b0869fc3f2c.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f692e3b22bc94026a793b43e95c9cb79.html" target="element"> UC08. [HARD] As a user i want to opt-in and out of push notifications </a> </td>
																				<td> <a href="../elements/id-d427a24216bd454788a8a47b3f0a7bac.html" target="element"> GO01. Enforce positive relationship between police officers and civilians </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-39729d588ea145b3abfa152c6416cbbf.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-39729d588ea145b3abfa152c6416cbbf.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-40c042a6cc8e48e79b30498a43e529ad.html" target="element"> UC09. As a civilian I want to find retail stablishments to redeem my points </a> </td>
																				<td> <a href="../elements/id-68daf0f1427842b0ade1207ad3f965c7.html" target="element"> GO03. Stronger community interaction </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-308cb108306440cf8131365d13fd9133.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-308cb108306440cf8131365d13fd9133.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-6d1a516e2b194f089041cf7b3eb46d38.html" target="element"> UC18. As heyBlue Admin I want to know the users zip codes to share revenues with community in the user area </a> </td>
																				<td> <a href="../elements/id-68daf0f1427842b0ade1207ad3f965c7.html" target="element"> GO03. Stronger community interaction </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-44819827d5574b389a423893c2fc689f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-44819827d5574b389a423893c2fc689f.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-a9af4023c39845acb11ddf63661e0d56.html" target="element"> UC19. As a civilian I want to say hi to a police officer to gain points </a> </td>
																				<td> <a href="../elements/id-d427a24216bd454788a8a47b3f0a7bac.html" target="element"> GO01. Enforce positive relationship between police officers and civilians </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>