<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>1.2.1. Motivation - Interaction mapping</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>1.2.1. Motivation - Interaction mapping</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-requirements_realization"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_requirements_realization" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-61693395620f46ce9aa110b3ed64ccba.png" alt="1.2.1. Motivation - Interaction mapping" usemap="#id-61693395620f46ce9aa110b3ed64ccbamap"/>
			   <map name="id-61693395620f46ce9aa110b3ed64ccbamap">
				  		<area shape="rect" coords="20,20,260,130" href="../elements/id-36dd96f6e4bd4bc7894d41ab4c5483a3.html"  target="element">
				  		<area shape="rect" coords="20,160,260,270" href="../elements/id-d773866a8a074cdd9ecb5096ee48c307.html"  target="element">
				  		<area shape="rect" coords="1356,20,1596,130" href="../elements/id-da1ef9bdbdb1451384dcdcc35d643ca3.html"  target="element">
				  		<area shape="rect" coords="1356,164,1596,274" href="../elements/id-3bd009eaba2949dfacd88ca825ab98d3.html"  target="element">
				  		<area shape="rect" coords="1356,308,1596,418" href="../elements/id-ac3a992488f8406fbc27431738228181.html"  target="element">
				  		<area shape="rect" coords="1356,452,1596,562" href="../elements/id-0ad896e52752481ba16d97f4efbf3ab8.html"  target="element">
				  		<area shape="rect" coords="20,308,260,418" href="../elements/id-b2a384af364243eba12d672aa0807eda.html"  target="element">
				  		<area shape="rect" coords="20,1604,260,1714" href="../elements/id-338b945e88d04a1297fea8254a2683b4.html"  target="element">
				  		<area shape="rect" coords="20,1460,260,1570" href="../elements/id-d7f9fe3914c34042aa94e3b14a17e46a.html"  target="element">
				  		<area shape="rect" coords="20,1052,260,1162" href="../elements/id-f7cd29cabd8f457a96accfd03e2e5ff1.html"  target="element">
				  		<area shape="rect" coords="20,1280,260,1390" href="../elements/id-717649665e004e29845c03782a5e2a7b.html"  target="element">
				  		<area shape="rect" coords="20,902,260,1012" href="../elements/id-4e62b6592bb349058fec214693ad1d3d.html"  target="element">
				  		<area shape="rect" coords="20,452,260,562" href="../elements/id-261d46a3d0364ea48ad37e719da447b2.html"  target="element">
				  		<area shape="rect" coords="20,740,260,850" href="../elements/id-2deba5a12e32430db9f44ba2cd089388.html"  target="element">
				  		<area shape="rect" coords="20,596,260,706" href="../elements/id-77ec9c61675c481bab6df09f56b0b2a9.html"  target="element">
				  		<area shape="rect" coords="1356,1436,1596,1546" href="../elements/id-a9af4023c39845acb11ddf63661e0d56.html"  target="element">
				  		<area shape="rect" coords="1356,1304,1596,1414" href="../elements/id-59287adcc9f0421c8c694647ea073419.html"  target="element">
				  		<area shape="rect" coords="1356,1172,1596,1282" href="../elements/id-ba22eb19876c4798bc6c65536f14682a.html"  target="element">
				  		<area shape="rect" coords="1356,1028,1596,1138" href="../elements/id-40c042a6cc8e48e79b30498a43e529ad.html"  target="element">
				  		<area shape="rect" coords="1356,884,1596,994" href="../elements/id-7cff9adb161e48e5882895c48051d0b4.html"  target="element">
				  		<area shape="rect" coords="1356,740,1596,850" href="../elements/id-c9feea4eb6d740d3a06b58b2f1050ec9.html"  target="element">
				  		<area shape="rect" coords="1356,596,1596,706" href="../elements/id-6e61c335212a46219bd40622498099e0.html"  target="element">
				  				<area shape="rect" coords="668,1172,908,1282" href="../elements/id-0952e7701afa4e9bb288ff6f3961df72.html"  target="element">
				  				<area shape="rect" coords="668,1004,908,1114" href="../elements/id-812db000e42147328b17ca80d10fd718.html"  target="element">
				  				<area shape="rect" coords="668,668,908,778" href="../elements/id-57f316b67b444c238cb99001bf7455f5.html"  target="element">
				  				<area shape="rect" coords="668,836,908,946" href="../elements/id-380e41001d5d4857aa02785fe2a42046.html"  target="element">

				  		<area shape="rect" coords="620,596,966,1318" href="../elements/id-52e63b414b1a4a88ad129b4834abba8c.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-52e63b414b1a4a88ad129b4834abba8c.html" target="element"> 1. Interaction </a> </td>
											    <td> <a href="../elements/id-52e63b414b1a4a88ad129b4834abba8c.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-380e41001d5d4857aa02785fe2a42046.html" target="element"> 1.2. Messaging </a> </td>
													    <td> <a href="../elements/id-380e41001d5d4857aa02785fe2a42046.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-57f316b67b444c238cb99001bf7455f5.html" target="element"> 1.1. Sharing </a> </td>
													    <td> <a href="../elements/id-57f316b67b444c238cb99001bf7455f5.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-812db000e42147328b17ca80d10fd718.html" target="element"> 1.3. Collaboration </a> </td>
													    <td> <a href="../elements/id-812db000e42147328b17ca80d10fd718.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0952e7701afa4e9bb288ff6f3961df72.html" target="element"> 1.4. Connection </a> </td>
													    <td> <a href="../elements/id-0952e7701afa4e9bb288ff6f3961df72.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-6e61c335212a46219bd40622498099e0.html" target="element"> UC04. [HARD] As a User I want to connect to another users </a> </td>
											    <td> <a href="../elements/id-6e61c335212a46219bd40622498099e0.html" target="element" class="i18n-elementtype-Requirement">
											    	(Functional Requirement)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c9feea4eb6d740d3a06b58b2f1050ec9.html" target="element"> UC05. [HARD] As a user I want to share information about my profile in social media </a> </td>
											    <td> <a href="../elements/id-c9feea4eb6d740d3a06b58b2f1050ec9.html" target="element" class="i18n-elementtype-Requirement">
											    	(Functional Requirement)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7cff9adb161e48e5882895c48051d0b4.html" target="element"> UC07. [OPTION] As a user I want to connect to my social media profile </a> </td>
											    <td> <a href="../elements/id-7cff9adb161e48e5882895c48051d0b4.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-40c042a6cc8e48e79b30498a43e529ad.html" target="element"> UC09. As a civilian I want to find retail stablishments to redeem my points </a> </td>
											    <td> <a href="../elements/id-40c042a6cc8e48e79b30498a43e529ad.html" target="element" class="i18n-elementtype-Requirement">
											    	(Functional Requirement)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ba22eb19876c4798bc6c65536f14682a.html" target="element"> UC10. As an officer I want to find charities where I can gift the points </a> </td>
											    <td> <a href="../elements/id-ba22eb19876c4798bc6c65536f14682a.html" target="element" class="i18n-elementtype-Requirement">
											    	(Functional Requirement)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-59287adcc9f0421c8c694647ea073419.html" target="element"> UC16. As an officer or community member I want to connect with each other using QR Codes </a> </td>
											    <td> <a href="../elements/id-59287adcc9f0421c8c694647ea073419.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a9af4023c39845acb11ddf63661e0d56.html" target="element"> UC19. As a civilian I want to say hi to a police officer to gain points </a> </td>
											    <td> <a href="../elements/id-a9af4023c39845acb11ddf63661e0d56.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-77ec9c61675c481bab6df09f56b0b2a9.html" target="element"> AC.CON.01. Users can only have one connection per officer per 24 hours period. </a> </td>
											    <td> <a href="../elements/id-77ec9c61675c481bab6df09f56b0b2a9.html" target="element" class="i18n-elementtype-Requirement">
											    	(Architecture Characteristic)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2deba5a12e32430db9f44ba2cd089388.html" target="element"> AC.CON.02. A connection can only happen if the community member and the police officer are within a 10 ft distance from each other </a> </td>
											    <td> <a href="../elements/id-2deba5a12e32430db9f44ba2cd089388.html" target="element" class="i18n-elementtype-Requirement">
											    	(Architecture Characteristic)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-261d46a3d0364ea48ad37e719da447b2.html" target="element"> AC.MOD.01. [Assumption] Integrate with another social media in less than two agile iterations </a> </td>
											    <td> <a href="../elements/id-261d46a3d0364ea48ad37e719da447b2.html" target="element" class="i18n-elementtype-Requirement">
											    	(Architecture Characteristic)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4e62b6592bb349058fec214693ad1d3d.html" target="element"> AC.PER.01. [Assumption] Connection between police officer and civilians should be stablished in less than 5 seconds from the civilian intention </a> </td>
											    <td> <a href="../elements/id-4e62b6592bb349058fec214693ad1d3d.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-717649665e004e29845c03782a5e2a7b.html" target="element"> AC.SCA.01. [Assumption] Start with little use rate (Friends and Family) and scalate the solution as usage rate increase </a> </td>
											    <td> <a href="../elements/id-717649665e004e29845c03782a5e2a7b.html" target="element" class="i18n-elementtype-Requirement">
											    	(Architecture Characteristic)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f7cd29cabd8f457a96accfd03e2e5ff1.html" target="element"> AC.SEC.04. Community members find the officers that are willing to connect, officers cannot find the community members </a> </td>
											    <td> <a href="../elements/id-f7cd29cabd8f457a96accfd03e2e5ff1.html" target="element" class="i18n-elementtype-Requirement">
											    	(Architecture Characteristic)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d7f9fe3914c34042aa94e3b14a17e46a.html" target="element"> AC.STA.01. [Assumption] Uptime 99.95% from monday to friday 9AM to 10PM </a> </td>
											    <td> <a href="../elements/id-d7f9fe3914c34042aa94e3b14a17e46a.html" target="element" class="i18n-elementtype-Requirement">
											    	(Architecture Characteristic)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-338b945e88d04a1297fea8254a2683b4.html" target="element"> AC.STA.02. [Assumption] Uptime 99,95% from saturday to sunday from 7AM to 11:59PM </a> </td>
											    <td> <a href="../elements/id-338b945e88d04a1297fea8254a2683b4.html" target="element" class="i18n-elementtype-Requirement">
											    	(Architecture Characteristic)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b2a384af364243eba12d672aa0807eda.html" target="element"> CONS.01. The cost should be as little as possible </a> </td>
											    <td> <a href="../elements/id-b2a384af364243eba12d672aa0807eda.html" target="element" class="i18n-elementtype-Constraint">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0ad896e52752481ba16d97f4efbf3ab8.html" target="element"> CONS.02. Application should be mobile and web </a> </td>
											    <td> <a href="../elements/id-0ad896e52752481ba16d97f4efbf3ab8.html" target="element" class="i18n-elementtype-Constraint">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ac3a992488f8406fbc27431738228181.html" target="element"> CONS.05. [Assumption] There is no restriction about technology </a> </td>
											    <td> <a href="../elements/id-ac3a992488f8406fbc27431738228181.html" target="element" class="i18n-elementtype-Constraint">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3bd009eaba2949dfacd88ca825ab98d3.html" target="element"> CONS.07. Compliance with GDPR </a> </td>
											    <td> <a href="../elements/id-3bd009eaba2949dfacd88ca825ab98d3.html" target="element" class="i18n-elementtype-Constraint">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-da1ef9bdbdb1451384dcdcc35d643ca3.html" target="element"> CONS.08. Solution should be launched on september 11, 2023 </a> </td>
											    <td> <a href="../elements/id-da1ef9bdbdb1451384dcdcc35d643ca3.html" target="element" class="i18n-elementtype-Constraint">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d773866a8a074cdd9ecb5096ee48c307.html" target="element"> AC.USA.01. Web App Usability </a> </td>
											    <td> <a href="../elements/id-d773866a8a074cdd9ecb5096ee48c307.html" target="element" class="i18n-elementtype-Requirement">
											    	(Architecture Characteristic)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-36dd96f6e4bd4bc7894d41ab4c5483a3.html" target="element"> AC.USA.02. Mobile App Usability </a> </td>
											    <td> <a href="../elements/id-36dd96f6e4bd4bc7894d41ab4c5483a3.html" target="element" class="i18n-elementtype-Requirement">
											    	(Architecture Characteristic)
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-6076df45b1864a08947e0eb34389ec5b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6076df45b1864a08947e0eb34389ec5b.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-52e63b414b1a4a88ad129b4834abba8c.html" target="element"> 1. Interaction </a> </td>
																		<td> <a href="../elements/id-57f316b67b444c238cb99001bf7455f5.html" target="element"> 1.1. Sharing </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-514544b7a18c4e538c5ed1488eb481c2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-514544b7a18c4e538c5ed1488eb481c2.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-52e63b414b1a4a88ad129b4834abba8c.html" target="element"> 1. Interaction </a> </td>
																		<td> <a href="../elements/id-380e41001d5d4857aa02785fe2a42046.html" target="element"> 1.2. Messaging </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f003f541e4b347ddb3c9e900526b396b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f003f541e4b347ddb3c9e900526b396b.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-52e63b414b1a4a88ad129b4834abba8c.html" target="element"> 1. Interaction </a> </td>
																		<td> <a href="../elements/id-812db000e42147328b17ca80d10fd718.html" target="element"> 1.3. Collaboration </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9148232800d64408a94423aeaeec1651.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9148232800d64408a94423aeaeec1651.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-52e63b414b1a4a88ad129b4834abba8c.html" target="element"> 1. Interaction </a> </td>
																		<td> <a href="../elements/id-0952e7701afa4e9bb288ff6f3961df72.html" target="element"> 1.4. Connection </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-623b26cf97594e43a712e90802645dd7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-623b26cf97594e43a712e90802645dd7.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-52e63b414b1a4a88ad129b4834abba8c.html" target="element"> 1. Interaction </a> </td>
																		<td> <a href="../elements/id-b2a384af364243eba12d672aa0807eda.html" target="element"> CONS.01. The cost should be as little as possible </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-fd319be6aeed49a79d72fad522b07e18.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fd319be6aeed49a79d72fad522b07e18.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-52e63b414b1a4a88ad129b4834abba8c.html" target="element"> 1. Interaction </a> </td>
																		<td> <a href="../elements/id-d7f9fe3914c34042aa94e3b14a17e46a.html" target="element"> AC.STA.01. [Assumption] Uptime 99.95% from monday to friday 9AM to 10PM </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6f2688cf000143a18f42fbedf5d4dbc6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6f2688cf000143a18f42fbedf5d4dbc6.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-52e63b414b1a4a88ad129b4834abba8c.html" target="element"> 1. Interaction </a> </td>
																		<td> <a href="../elements/id-338b945e88d04a1297fea8254a2683b4.html" target="element"> AC.STA.02. [Assumption] Uptime 99,95% from saturday to sunday from 7AM to 11:59PM </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2ae0d511ba67436b8f46173e73e40529.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2ae0d511ba67436b8f46173e73e40529.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-52e63b414b1a4a88ad129b4834abba8c.html" target="element"> 1. Interaction </a> </td>
																		<td> <a href="../elements/id-0ad896e52752481ba16d97f4efbf3ab8.html" target="element"> CONS.02. Application should be mobile and web </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-465163f559d44acb89e9f071240c921c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-465163f559d44acb89e9f071240c921c.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-52e63b414b1a4a88ad129b4834abba8c.html" target="element"> 1. Interaction </a> </td>
																		<td> <a href="../elements/id-3bd009eaba2949dfacd88ca825ab98d3.html" target="element"> CONS.07. Compliance with GDPR </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-92b2bc7dce8f40128b6d047fbe32b1d0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-92b2bc7dce8f40128b6d047fbe32b1d0.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-52e63b414b1a4a88ad129b4834abba8c.html" target="element"> 1. Interaction </a> </td>
																		<td> <a href="../elements/id-da1ef9bdbdb1451384dcdcc35d643ca3.html" target="element"> CONS.08. Solution should be launched on september 11, 2023 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-fe3fc06cc2c644fbbf1388a9c6193f55.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fe3fc06cc2c644fbbf1388a9c6193f55.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-52e63b414b1a4a88ad129b4834abba8c.html" target="element"> 1. Interaction </a> </td>
																		<td> <a href="../elements/id-ac3a992488f8406fbc27431738228181.html" target="element"> CONS.05. [Assumption] There is no restriction about technology </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9463655435e445838da80d15ded15d48.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9463655435e445838da80d15ded15d48.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-52e63b414b1a4a88ad129b4834abba8c.html" target="element"> 1. Interaction </a> </td>
																		<td> <a href="../elements/id-d773866a8a074cdd9ecb5096ee48c307.html" target="element"> AC.USA.01. Web App Usability </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7b132d0b12ce4255bc7480f656531dda.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7b132d0b12ce4255bc7480f656531dda.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-52e63b414b1a4a88ad129b4834abba8c.html" target="element"> 1. Interaction </a> </td>
																		<td> <a href="../elements/id-36dd96f6e4bd4bc7894d41ab4c5483a3.html" target="element"> AC.USA.02. Mobile App Usability </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-b7ba9324b9574750ac7ebe71fb5bcf58.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-b7ba9324b9574750ac7ebe71fb5bcf58.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-380e41001d5d4857aa02785fe2a42046.html" target="element"> 1.2. Messaging </a> </td>
																				<td> <a href="../elements/id-a9af4023c39845acb11ddf63661e0d56.html" target="element"> UC19. As a civilian I want to say hi to a police officer to gain points </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-74bee95cebbe4694a5a7e7f3efbb4009.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-74bee95cebbe4694a5a7e7f3efbb4009.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-380e41001d5d4857aa02785fe2a42046.html" target="element"> 1.2. Messaging </a> </td>
																				<td> <a href="../elements/id-59287adcc9f0421c8c694647ea073419.html" target="element"> UC16. As an officer or community member I want to connect with each other using QR Codes </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-0b7afa03d30848d6a31fc14bfe307b34.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-0b7afa03d30848d6a31fc14bfe307b34.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-380e41001d5d4857aa02785fe2a42046.html" target="element"> 1.2. Messaging </a> </td>
																				<td> <a href="../elements/id-261d46a3d0364ea48ad37e719da447b2.html" target="element"> AC.MOD.01. [Assumption] Integrate with another social media in less than two agile iterations </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-0e91e4c8f3304b53ba2b4c8eb29c9f86.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-0e91e4c8f3304b53ba2b4c8eb29c9f86.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-380e41001d5d4857aa02785fe2a42046.html" target="element"> 1.2. Messaging </a> </td>
																				<td> <a href="../elements/id-717649665e004e29845c03782a5e2a7b.html" target="element"> AC.SCA.01. [Assumption] Start with little use rate (Friends and Family) and scalate the solution as usage rate increase </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-e0716ae8fe4846d78fe963db33ed2524.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e0716ae8fe4846d78fe963db33ed2524.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-57f316b67b444c238cb99001bf7455f5.html" target="element"> 1.1. Sharing </a> </td>
																				<td> <a href="../elements/id-c9feea4eb6d740d3a06b58b2f1050ec9.html" target="element"> UC05. [HARD] As a user I want to share information about my profile in social media </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-cbec0889c2b54af7be63c5a792b9ac7e.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-cbec0889c2b54af7be63c5a792b9ac7e.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-57f316b67b444c238cb99001bf7455f5.html" target="element"> 1.1. Sharing </a> </td>
																				<td> <a href="../elements/id-7cff9adb161e48e5882895c48051d0b4.html" target="element"> UC07. [OPTION] As a user I want to connect to my social media profile </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-67c62b7b02a94fc79fb4a2dd4ca4193a.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-67c62b7b02a94fc79fb4a2dd4ca4193a.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-57f316b67b444c238cb99001bf7455f5.html" target="element"> 1.1. Sharing </a> </td>
																				<td> <a href="../elements/id-261d46a3d0364ea48ad37e719da447b2.html" target="element"> AC.MOD.01. [Assumption] Integrate with another social media in less than two agile iterations </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-452d0dc40c774b52b5c0275102b9e8e8.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-452d0dc40c774b52b5c0275102b9e8e8.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-57f316b67b444c238cb99001bf7455f5.html" target="element"> 1.1. Sharing </a> </td>
																				<td> <a href="../elements/id-717649665e004e29845c03782a5e2a7b.html" target="element"> AC.SCA.01. [Assumption] Start with little use rate (Friends and Family) and scalate the solution as usage rate increase </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-49936eba4e044917941b52619bf4e494.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-49936eba4e044917941b52619bf4e494.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-812db000e42147328b17ca80d10fd718.html" target="element"> 1.3. Collaboration </a> </td>
																				<td> <a href="../elements/id-ba22eb19876c4798bc6c65536f14682a.html" target="element"> UC10. As an officer I want to find charities where I can gift the points </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-70d0412eb5a343d08b4a613a30d5c978.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-70d0412eb5a343d08b4a613a30d5c978.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-812db000e42147328b17ca80d10fd718.html" target="element"> 1.3. Collaboration </a> </td>
																				<td> <a href="../elements/id-40c042a6cc8e48e79b30498a43e529ad.html" target="element"> UC09. As a civilian I want to find retail stablishments to redeem my points </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-8333025cff884235b89b91d15b7e348f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-8333025cff884235b89b91d15b7e348f.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-812db000e42147328b17ca80d10fd718.html" target="element"> 1.3. Collaboration </a> </td>
																				<td> <a href="../elements/id-77ec9c61675c481bab6df09f56b0b2a9.html" target="element"> AC.CON.01. Users can only have one connection per officer per 24 hours period. </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-53ab2006a6e3458c97e34e1d5446b164.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-53ab2006a6e3458c97e34e1d5446b164.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-812db000e42147328b17ca80d10fd718.html" target="element"> 1.3. Collaboration </a> </td>
																				<td> <a href="../elements/id-2deba5a12e32430db9f44ba2cd089388.html" target="element"> AC.CON.02. A connection can only happen if the community member and the police officer are within a 10 ft distance from each other </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-ddb48277f1f64e7ea42287677e81bcca.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-ddb48277f1f64e7ea42287677e81bcca.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-812db000e42147328b17ca80d10fd718.html" target="element"> 1.3. Collaboration </a> </td>
																				<td> <a href="../elements/id-717649665e004e29845c03782a5e2a7b.html" target="element"> AC.SCA.01. [Assumption] Start with little use rate (Friends and Family) and scalate the solution as usage rate increase </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-bc416b1b015947c3b4e10cc3bc5e9fc6.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-bc416b1b015947c3b4e10cc3bc5e9fc6.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-812db000e42147328b17ca80d10fd718.html" target="element"> 1.3. Collaboration </a> </td>
																				<td> <a href="../elements/id-f7cd29cabd8f457a96accfd03e2e5ff1.html" target="element"> AC.SEC.04. Community members find the officers that are willing to connect, officers cannot find the community members </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-80d1a0f42e7146e2ba2fbc5c65c79fd8.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-80d1a0f42e7146e2ba2fbc5c65c79fd8.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-0952e7701afa4e9bb288ff6f3961df72.html" target="element"> 1.4. Connection </a> </td>
																				<td> <a href="../elements/id-6e61c335212a46219bd40622498099e0.html" target="element"> UC04. [HARD] As a User I want to connect to another users </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-31ba34831edb435d9afc5418fe588d29.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-31ba34831edb435d9afc5418fe588d29.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-0952e7701afa4e9bb288ff6f3961df72.html" target="element"> 1.4. Connection </a> </td>
																				<td> <a href="../elements/id-7cff9adb161e48e5882895c48051d0b4.html" target="element"> UC07. [OPTION] As a user I want to connect to my social media profile </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-c0616067ef3d40c5af907ed4ad090b54.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-c0616067ef3d40c5af907ed4ad090b54.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-0952e7701afa4e9bb288ff6f3961df72.html" target="element"> 1.4. Connection </a> </td>
																				<td> <a href="../elements/id-40c042a6cc8e48e79b30498a43e529ad.html" target="element"> UC09. As a civilian I want to find retail stablishments to redeem my points </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-8c27d84c81ca47e1bf56191fee6b043a.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-8c27d84c81ca47e1bf56191fee6b043a.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-0952e7701afa4e9bb288ff6f3961df72.html" target="element"> 1.4. Connection </a> </td>
																				<td> <a href="../elements/id-ba22eb19876c4798bc6c65536f14682a.html" target="element"> UC10. As an officer I want to find charities where I can gift the points </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-cf329a25c58b41f0b6211bb7819ef5b6.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-cf329a25c58b41f0b6211bb7819ef5b6.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-0952e7701afa4e9bb288ff6f3961df72.html" target="element"> 1.4. Connection </a> </td>
																				<td> <a href="../elements/id-2deba5a12e32430db9f44ba2cd089388.html" target="element"> AC.CON.02. A connection can only happen if the community member and the police officer are within a 10 ft distance from each other </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-69c86d55efec4e0981e2f847f0b56f24.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-69c86d55efec4e0981e2f847f0b56f24.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-0952e7701afa4e9bb288ff6f3961df72.html" target="element"> 1.4. Connection </a> </td>
																				<td> <a href="../elements/id-4e62b6592bb349058fec214693ad1d3d.html" target="element"> AC.PER.01. [Assumption] Connection between police officer and civilians should be stablished in less than 5 seconds from the civilian intention </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-66d8f687ad9a48a489d58c4d0aa16579.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-66d8f687ad9a48a489d58c4d0aa16579.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-0952e7701afa4e9bb288ff6f3961df72.html" target="element"> 1.4. Connection </a> </td>
																				<td> <a href="../elements/id-717649665e004e29845c03782a5e2a7b.html" target="element"> AC.SCA.01. [Assumption] Start with little use rate (Friends and Family) and scalate the solution as usage rate increase </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-a51304658f7143dea68244f277b0629c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a51304658f7143dea68244f277b0629c.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-0952e7701afa4e9bb288ff6f3961df72.html" target="element"> 1.4. Connection </a> </td>
																				<td> <a href="../elements/id-f7cd29cabd8f457a96accfd03e2e5ff1.html" target="element"> AC.SEC.04. Community members find the officers that are willing to connect, officers cannot find the community members </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-2adb43c90c1846cfa7d1cb170fb35575.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2adb43c90c1846cfa7d1cb170fb35575.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d773866a8a074cdd9ecb5096ee48c307.html" target="element"> AC.USA.01. Web App Usability </a> </td>
																		<td> <a href="../elements/id-36dd96f6e4bd4bc7894d41ab4c5483a3.html" target="element"> AC.USA.02. Mobile App Usability </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>