<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>2.1.3. Civilian / Police Officer interaction - Application Coverage</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>2.1.3. Civilian / Police Officer interaction - Application Coverage</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-application_usage"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_application_usage" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-73d3b041ac24400a8cccfd88dd6dc944.png" alt="2.1.3. Civilian / Police Officer interaction - Application Coverage" usemap="#id-73d3b041ac24400a8cccfd88dd6dc944map"/>
			   <map name="id-73d3b041ac24400a8cccfd88dd6dc944map">
				          <area shape="rect" coords="284,1064,1224,1258" href="../objects/id-37841e460d3b4e519b2b49568464b754.html" target="element" >
				  		<area shape="rect" coords="2758,920,2998,1030" href="../elements/id-256ff54544fc46afb62b07b211852e94.html"  target="element">
				  		<area shape="rect" coords="644,920,884,1030" href="../elements/id-8125acaae4f54e629e43d4f416d0f932.html"  target="element">
				  		<area shape="rect" coords="308,920,548,1030" href="../elements/id-3bbaa72ce72e4944bfee482d5df821af.html"  target="element">
				  				<area shape="rect" coords="596,560,836,670" href="../elements/id-137a3d18ea244851935f2c45f90e811d.html"  target="element">
				  				<area shape="rect" coords="1556,492,1796,602" href="../elements/id-d69524401b844b13869392d965270670.html"  target="element">
				  				<area shape="rect" coords="1268,632,1508,742" href="../elements/id-1f520f5b3a05489eafce763cd5dd67e8.html"  target="element">
				  				<area shape="rect" coords="2600,632,2840,742" href="../elements/id-7319b03a578c438292108d00dd052215.html"  target="element">
				  				<area shape="rect" coords="1916,560,2156,670" href="../elements/id-215cc2db94034d93be7caa634c9cb128.html"  target="element">
				  				<area shape="rect" coords="2240,560,2480,670" href="../elements/id-e7ad56934bed42e294ebd99888710afd.html"  target="element">
				  				<area shape="rect" coords="1268,492,1508,602" href="../elements/id-7b6d272121884616be4025816b9fc307.html"  target="element">
				  				<area shape="rect" coords="884,560,1124,670" href="../elements/id-671674e39d8443718a0c148b862fe8d7.html"  target="element">
				  				<area shape="rect" coords="1832,532,1862,562" href="../elements/id-c63296bfcd4c45ccbc1483bc2b38e29b.html"  target="element">
				  				<area shape="rect" coords="308,560,548,670" href="../elements/id-dd34203bbb9a4ca19d174b805f8744a2.html"  target="element">
				  				<area shape="rect" coords="1172,600,1202,630" href="../elements/id-54eb686590ba46698fe0f83a046afa01.html"  target="element">
				  				<area shape="rect" coords="2732,464,2972,574" href="../elements/id-18d0e715555c41d5a02906ca77bfbfce.html"  target="element">
				  				<area shape="rect" coords="2516,600,2546,630" href="../elements/id-44c7be53539e449ca65d2c3f183bc86d.html"  target="element">
				  				<area shape="rect" coords="2012,420,2252,530" href="../elements/id-08dab37edea048aba84811bf2cc2bb1f.html"  target="element">

				  		<area shape="rect" coords="284,368,2998,826" href="../elements/id-83b3db15c61344829a4e9cf3d7d0aa53.html"  target="element">
				  		<area shape="rect" coords="3020,464,3260,574" href="../elements/id-bc795d6597604b75bb42204ce953178e.html"  target="element">
				  		<area shape="rect" coords="1904,104,2144,214" href="../elements/id-b464eee28308487f8811679d62c98dff.html"  target="element">
				  		<area shape="rect" coords="20,560,260,670" href="../elements/id-a9a44e1b09fc4319a20341d9c91e5524.html"  target="element">
				  		<area shape="rect" coords="2480,920,2720,1030" href="../elements/id-6378c3e7b0394b53bd5c2116f5744f13.html"  target="element">
				  		<area shape="rect" coords="1028,920,1268,1030" href="../elements/id-17c7da0f831748049a149a0bae8ce937.html"  target="element">
				  		<area shape="rect" coords="1172,104,1412,214" href="../elements/id-71706798856d4549acb4e91b55db920b.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-71706798856d4549acb4e91b55db920b.html" target="element"> Civilian </a> </td>
											    <td> <a href="../elements/id-71706798856d4549acb4e91b55db920b.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-17c7da0f831748049a149a0bae8ce937.html" target="element"> HeyBlue Mobile </a> </td>
											    <td> <a href="../elements/id-17c7da0f831748049a149a0bae8ce937.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6378c3e7b0394b53bd5c2116f5744f13.html" target="element"> HeyBlue Social Media </a> </td>
											    <td> <a href="../elements/id-6378c3e7b0394b53bd5c2116f5744f13.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a9a44e1b09fc4319a20341d9c91e5524.html" target="element"> Ready for interactions </a> </td>
											    <td> <a href="../elements/id-a9a44e1b09fc4319a20341d9c91e5524.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b464eee28308487f8811679d62c98dff.html" target="element"> Police Officer </a> </td>
											    <td> <a href="../elements/id-b464eee28308487f8811679d62c98dff.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-bc795d6597604b75bb42204ce953178e.html" target="element"> Points balance updated </a> </td>
											    <td> <a href="../elements/id-bc795d6597604b75bb42204ce953178e.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-83b3db15c61344829a4e9cf3d7d0aa53.html" target="element"> Interaction </a> </td>
											    <td> <a href="../elements/id-83b3db15c61344829a4e9cf3d7d0aa53.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-08dab37edea048aba84811bf2cc2bb1f.html" target="element"> Virtual interaction </a> </td>
													    <td> <a href="../elements/id-08dab37edea048aba84811bf2cc2bb1f.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-44c7be53539e449ca65d2c3f183bc86d.html" target="element"> OR </a> </td>
													    <td> <a href="../elements/id-44c7be53539e449ca65d2c3f183bc86d.html" target="element" class="i18n-elementtype-Junction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-18d0e715555c41d5a02906ca77bfbfce.html" target="element"> Points assignment </a> </td>
													    <td> <a href="../elements/id-18d0e715555c41d5a02906ca77bfbfce.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-54eb686590ba46698fe0f83a046afa01.html" target="element"> OR </a> </td>
													    <td> <a href="../elements/id-54eb686590ba46698fe0f83a046afa01.html" target="element" class="i18n-elementtype-Junction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-dd34203bbb9a4ca19d174b805f8744a2.html" target="element"> Interaction analysis &amp; detection </a> </td>
													    <td> <a href="../elements/id-dd34203bbb9a4ca19d174b805f8744a2.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c63296bfcd4c45ccbc1483bc2b38e29b.html" target="element"> OR </a> </td>
													    <td> <a href="../elements/id-c63296bfcd4c45ccbc1483bc2b38e29b.html" target="element" class="i18n-elementtype-Junction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-671674e39d8443718a0c148b862fe8d7.html" target="element"> Interaction acceptance (both parties) </a> </td>
													    <td> <a href="../elements/id-671674e39d8443718a0c148b862fe8d7.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-7b6d272121884616be4025816b9fc307.html" target="element"> Interaction accepted </a> </td>
													    <td> <a href="../elements/id-7b6d272121884616be4025816b9fc307.html" target="element" class="i18n-elementtype-BusinessEvent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e7ad56934bed42e294ebd99888710afd.html" target="element"> Interaction confirmed </a> </td>
													    <td> <a href="../elements/id-e7ad56934bed42e294ebd99888710afd.html" target="element" class="i18n-elementtype-BusinessEvent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-215cc2db94034d93be7caa634c9cb128.html" target="element"> Physical interaction </a> </td>
													    <td> <a href="../elements/id-215cc2db94034d93be7caa634c9cb128.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-7319b03a578c438292108d00dd052215.html" target="element"> Post on HeyBlue social media </a> </td>
													    <td> <a href="../elements/id-7319b03a578c438292108d00dd052215.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-1f520f5b3a05489eafce763cd5dd67e8.html" target="element"> Interaction ignored (explicit or timeout) </a> </td>
													    <td> <a href="../elements/id-1f520f5b3a05489eafce763cd5dd67e8.html" target="element" class="i18n-elementtype-BusinessEvent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d69524401b844b13869392d965270670.html" target="element"> Civilian / Police Officer virtual handshake </a> </td>
													    <td> <a href="../elements/id-d69524401b844b13869392d965270670.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-137a3d18ea244851935f2c45f90e811d.html" target="element"> Possible interaction detected </a> </td>
													    <td> <a href="../elements/id-137a3d18ea244851935f2c45f90e811d.html" target="element" class="i18n-elementtype-BusinessEvent">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-3bbaa72ce72e4944bfee482d5df821af.html" target="element"> HeyBlue Business Rules </a> </td>
											    <td> <a href="../elements/id-3bbaa72ce72e4944bfee482d5df821af.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8125acaae4f54e629e43d4f416d0f932.html" target="element"> HeyBlue Tracking &amp; Notification </a> </td>
											    <td> <a href="../elements/id-8125acaae4f54e629e43d4f416d0f932.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-256ff54544fc46afb62b07b211852e94.html" target="element"> HeyBlue Scoring </a> </td>
											    <td> <a href="../elements/id-256ff54544fc46afb62b07b211852e94.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-37841e460d3b4e519b2b49568464b754.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-37841e460d3b4e519b2b49568464b754.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-3482b8c681d248cdb38e2d0736e93d55.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3482b8c681d248cdb38e2d0736e93d55.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-71706798856d4549acb4e91b55db920b.html" target="element"> Civilian </a> </td>
																		<td> <a href="../elements/id-08dab37edea048aba84811bf2cc2bb1f.html" target="element"> Virtual interaction </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-be85dd45ff064089ba4640c512a3776f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-be85dd45ff064089ba4640c512a3776f.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-71706798856d4549acb4e91b55db920b.html" target="element"> Civilian </a> </td>
																		<td> <a href="../elements/id-215cc2db94034d93be7caa634c9cb128.html" target="element"> Physical interaction </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7452c21ad01b4294910ca986eb549b17.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7452c21ad01b4294910ca986eb549b17.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-71706798856d4549acb4e91b55db920b.html" target="element"> Civilian </a> </td>
																		<td> <a href="../elements/id-671674e39d8443718a0c148b862fe8d7.html" target="element"> Interaction acceptance (both parties) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9e87e50338a147aab6a8d7bf030b57fe.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9e87e50338a147aab6a8d7bf030b57fe.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-71706798856d4549acb4e91b55db920b.html" target="element"> Civilian </a> </td>
																		<td> <a href="../elements/id-d69524401b844b13869392d965270670.html" target="element"> Civilian / Police Officer virtual handshake </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8b5c5a127be84d6eaa8e6945d7ab3de4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8b5c5a127be84d6eaa8e6945d7ab3de4.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-71706798856d4549acb4e91b55db920b.html" target="element"> Civilian </a> </td>
																		<td> <a href="../elements/id-7b6d272121884616be4025816b9fc307.html" target="element"> Interaction accepted </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-e7a167fcae3b4a3bad559fcd4e709393.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e7a167fcae3b4a3bad559fcd4e709393.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-17c7da0f831748049a149a0bae8ce937.html" target="element"> HeyBlue Mobile </a> </td>
																		<td> <a href="../elements/id-671674e39d8443718a0c148b862fe8d7.html" target="element"> Interaction acceptance (both parties) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8889c16bc97a4cc08b87be9e559b6095.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8889c16bc97a4cc08b87be9e559b6095.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-17c7da0f831748049a149a0bae8ce937.html" target="element"> HeyBlue Mobile </a> </td>
																		<td> <a href="../elements/id-215cc2db94034d93be7caa634c9cb128.html" target="element"> Physical interaction </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-93dd07c9fe344846a61661495be92c37.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-93dd07c9fe344846a61661495be92c37.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-17c7da0f831748049a149a0bae8ce937.html" target="element"> HeyBlue Mobile </a> </td>
																		<td> <a href="../elements/id-08dab37edea048aba84811bf2cc2bb1f.html" target="element"> Virtual interaction </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-539327e644314040b7f12c66721e785c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-539327e644314040b7f12c66721e785c.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-17c7da0f831748049a149a0bae8ce937.html" target="element"> HeyBlue Mobile </a> </td>
																		<td> <a href="../elements/id-d69524401b844b13869392d965270670.html" target="element"> Civilian / Police Officer virtual handshake </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c22e722ef08a46e9b5124963482aa586.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c22e722ef08a46e9b5124963482aa586.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-17c7da0f831748049a149a0bae8ce937.html" target="element"> HeyBlue Mobile </a> </td>
																		<td> <a href="../elements/id-137a3d18ea244851935f2c45f90e811d.html" target="element"> Possible interaction detected </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-01d33c9209f6494d847a28c40e9c70a0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-01d33c9209f6494d847a28c40e9c70a0.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6378c3e7b0394b53bd5c2116f5744f13.html" target="element"> HeyBlue Social Media </a> </td>
																		<td> <a href="../elements/id-7319b03a578c438292108d00dd052215.html" target="element"> Post on HeyBlue social media </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-f3eafb3bfa924312b165957db2f39736.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f3eafb3bfa924312b165957db2f39736.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a9a44e1b09fc4319a20341d9c91e5524.html" target="element"> Ready for interactions </a> </td>
																		<td> <a href="../elements/id-dd34203bbb9a4ca19d174b805f8744a2.html" target="element"> Interaction analysis &amp; detection </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-fcd105de36274700ba3565e36a5f0bf9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fcd105de36274700ba3565e36a5f0bf9.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b464eee28308487f8811679d62c98dff.html" target="element"> Police Officer </a> </td>
																		<td> <a href="../elements/id-08dab37edea048aba84811bf2cc2bb1f.html" target="element"> Virtual interaction </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-bb5847dead2b471a81b8c0c635aca94b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bb5847dead2b471a81b8c0c635aca94b.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b464eee28308487f8811679d62c98dff.html" target="element"> Police Officer </a> </td>
																		<td> <a href="../elements/id-215cc2db94034d93be7caa634c9cb128.html" target="element"> Physical interaction </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-da2bbcc83cf54381bc38d67c0d97d12f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-da2bbcc83cf54381bc38d67c0d97d12f.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b464eee28308487f8811679d62c98dff.html" target="element"> Police Officer </a> </td>
																		<td> <a href="../elements/id-671674e39d8443718a0c148b862fe8d7.html" target="element"> Interaction acceptance (both parties) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f4fc35088d6e4ce986c292e4634755e4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f4fc35088d6e4ce986c292e4634755e4.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b464eee28308487f8811679d62c98dff.html" target="element"> Police Officer </a> </td>
																		<td> <a href="../elements/id-d69524401b844b13869392d965270670.html" target="element"> Civilian / Police Officer virtual handshake </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b752d8a1866b4d32a77c70e7144c38ab.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b752d8a1866b4d32a77c70e7144c38ab.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b464eee28308487f8811679d62c98dff.html" target="element"> Police Officer </a> </td>
																		<td> <a href="../elements/id-7b6d272121884616be4025816b9fc307.html" target="element"> Interaction accepted </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-e24c421afcbe4ca8995c981b178d48cc.html" target="element"> notification </a> </td>
																		<td> <a href="../elements/id-e24c421afcbe4ca8995c981b178d48cc.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-bc795d6597604b75bb42204ce953178e.html" target="element"> Points balance updated </a> </td>
																		<td> <a href="../elements/id-b464eee28308487f8811679d62c98dff.html" target="element"> Police Officer </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-bc759526353e47ea9dc8126b3f308335.html" target="element"> notification </a> </td>
																		<td> <a href="../elements/id-bc759526353e47ea9dc8126b3f308335.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-bc795d6597604b75bb42204ce953178e.html" target="element"> Points balance updated </a> </td>
																		<td> <a href="../elements/id-71706798856d4549acb4e91b55db920b.html" target="element"> Civilian </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-7c5ff4e129ef44fbad385b668760b004.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7c5ff4e129ef44fbad385b668760b004.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-83b3db15c61344829a4e9cf3d7d0aa53.html" target="element"> Interaction </a> </td>
																		<td> <a href="../elements/id-08dab37edea048aba84811bf2cc2bb1f.html" target="element"> Virtual interaction </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-37aea586a7c04b9789e1cb8d23aefbc8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-37aea586a7c04b9789e1cb8d23aefbc8.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-83b3db15c61344829a4e9cf3d7d0aa53.html" target="element"> Interaction </a> </td>
																		<td> <a href="../elements/id-18d0e715555c41d5a02906ca77bfbfce.html" target="element"> Points assignment </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3f46b2a0a69b4b649e147b101a287339.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3f46b2a0a69b4b649e147b101a287339.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-83b3db15c61344829a4e9cf3d7d0aa53.html" target="element"> Interaction </a> </td>
																		<td> <a href="../elements/id-dd34203bbb9a4ca19d174b805f8744a2.html" target="element"> Interaction analysis &amp; detection </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2cefe268284d496c89a846ae2862d42e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2cefe268284d496c89a846ae2862d42e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-83b3db15c61344829a4e9cf3d7d0aa53.html" target="element"> Interaction </a> </td>
																		<td> <a href="../elements/id-671674e39d8443718a0c148b862fe8d7.html" target="element"> Interaction acceptance (both parties) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3da0460b28aa4134ac4435914fc05819.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3da0460b28aa4134ac4435914fc05819.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-83b3db15c61344829a4e9cf3d7d0aa53.html" target="element"> Interaction </a> </td>
																		<td> <a href="../elements/id-215cc2db94034d93be7caa634c9cb128.html" target="element"> Physical interaction </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c8c71c868b6548beb9b7a50410a99e12.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c8c71c868b6548beb9b7a50410a99e12.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-83b3db15c61344829a4e9cf3d7d0aa53.html" target="element"> Interaction </a> </td>
																		<td> <a href="../elements/id-7319b03a578c438292108d00dd052215.html" target="element"> Post on HeyBlue social media </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3bcabb2389dc413387a3cb0464357348.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3bcabb2389dc413387a3cb0464357348.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-83b3db15c61344829a4e9cf3d7d0aa53.html" target="element"> Interaction </a> </td>
																		<td> <a href="../elements/id-d69524401b844b13869392d965270670.html" target="element"> Civilian / Police Officer virtual handshake </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-7548aa569ff8494e85afd90a3e40d6e7.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7548aa569ff8494e85afd90a3e40d6e7.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-08dab37edea048aba84811bf2cc2bb1f.html" target="element"> Virtual interaction </a> </td>
																				<td> <a href="../elements/id-e7ad56934bed42e294ebd99888710afd.html" target="element"> Interaction confirmed </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-a4ee148218344118aca62667d6e78ab6.html" target="element"> optional </a> </td>
																				<td> <a href="../elements/id-a4ee148218344118aca62667d6e78ab6.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-44c7be53539e449ca65d2c3f183bc86d.html" target="element"> OR </a> </td>
																				<td> <a href="../elements/id-7319b03a578c438292108d00dd052215.html" target="element"> Post on HeyBlue social media </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-dbaeb94a06624becb78923e523761184.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-dbaeb94a06624becb78923e523761184.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-44c7be53539e449ca65d2c3f183bc86d.html" target="element"> OR </a> </td>
																				<td> <a href="../elements/id-18d0e715555c41d5a02906ca77bfbfce.html" target="element"> Points assignment </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-63dc1ed3d7db411bb3bb35ba49dd3e85.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-63dc1ed3d7db411bb3bb35ba49dd3e85.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-18d0e715555c41d5a02906ca77bfbfce.html" target="element"> Points assignment </a> </td>
																				<td> <a href="../elements/id-bc795d6597604b75bb42204ce953178e.html" target="element"> Points balance updated </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-f79dfdf0e56e40bd8ca5ea9781fbdd6f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-f79dfdf0e56e40bd8ca5ea9781fbdd6f.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-54eb686590ba46698fe0f83a046afa01.html" target="element"> OR </a> </td>
																				<td> <a href="../elements/id-1f520f5b3a05489eafce763cd5dd67e8.html" target="element"> Interaction ignored (explicit or timeout) </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-c325d4a494004572878fc5309053c84a.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-c325d4a494004572878fc5309053c84a.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-54eb686590ba46698fe0f83a046afa01.html" target="element"> OR </a> </td>
																				<td> <a href="../elements/id-7b6d272121884616be4025816b9fc307.html" target="element"> Interaction accepted </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-4b20d4fe146342b8935dcff2c5376324.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-4b20d4fe146342b8935dcff2c5376324.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-dd34203bbb9a4ca19d174b805f8744a2.html" target="element"> Interaction analysis &amp; detection </a> </td>
																				<td> <a href="../elements/id-137a3d18ea244851935f2c45f90e811d.html" target="element"> Possible interaction detected </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-54bacc7c91704a27a654ec3783d50625.html" target="element"> optional </a> </td>
																				<td> <a href="../elements/id-54bacc7c91704a27a654ec3783d50625.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-c63296bfcd4c45ccbc1483bc2b38e29b.html" target="element"> OR </a> </td>
																				<td> <a href="../elements/id-215cc2db94034d93be7caa634c9cb128.html" target="element"> Physical interaction </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-f74133cc9c2e4b6e99cc11bc76f06d80.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-f74133cc9c2e4b6e99cc11bc76f06d80.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-c63296bfcd4c45ccbc1483bc2b38e29b.html" target="element"> OR </a> </td>
																				<td> <a href="../elements/id-08dab37edea048aba84811bf2cc2bb1f.html" target="element"> Virtual interaction </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-7758cfb9d5c642f1a013b5144254a8e4.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7758cfb9d5c642f1a013b5144254a8e4.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-671674e39d8443718a0c148b862fe8d7.html" target="element"> Interaction acceptance (both parties) </a> </td>
																				<td> <a href="../elements/id-54eb686590ba46698fe0f83a046afa01.html" target="element"> OR </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-4499dd95b3ff4854ae1645bcd87bd54c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-4499dd95b3ff4854ae1645bcd87bd54c.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-7b6d272121884616be4025816b9fc307.html" target="element"> Interaction accepted </a> </td>
																				<td> <a href="../elements/id-d69524401b844b13869392d965270670.html" target="element"> Civilian / Police Officer virtual handshake </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-cf204acbe5aa4697aaf3a355287d41eb.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-cf204acbe5aa4697aaf3a355287d41eb.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-e7ad56934bed42e294ebd99888710afd.html" target="element"> Interaction confirmed </a> </td>
																				<td> <a href="../elements/id-44c7be53539e449ca65d2c3f183bc86d.html" target="element"> OR </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-54ce19657718478ba535889bca26dae5.html" target="element"> notification </a> </td>
																				<td> <a href="../elements/id-54ce19657718478ba535889bca26dae5.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-e7ad56934bed42e294ebd99888710afd.html" target="element"> Interaction confirmed </a> </td>
																				<td> <a href="../elements/id-b464eee28308487f8811679d62c98dff.html" target="element"> Police Officer </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-356181a0e6354567a9fa13d34cc40baa.html" target="element"> notification </a> </td>
																				<td> <a href="../elements/id-356181a0e6354567a9fa13d34cc40baa.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-e7ad56934bed42e294ebd99888710afd.html" target="element"> Interaction confirmed </a> </td>
																				<td> <a href="../elements/id-71706798856d4549acb4e91b55db920b.html" target="element"> Civilian </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-d4ad417e602144cdab1e351c0527700e.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d4ad417e602144cdab1e351c0527700e.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-215cc2db94034d93be7caa634c9cb128.html" target="element"> Physical interaction </a> </td>
																				<td> <a href="../elements/id-e7ad56934bed42e294ebd99888710afd.html" target="element"> Interaction confirmed </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-8550a5eaac704075962247f02a703914.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-8550a5eaac704075962247f02a703914.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-7319b03a578c438292108d00dd052215.html" target="element"> Post on HeyBlue social media </a> </td>
																				<td> <a href="../elements/id-18d0e715555c41d5a02906ca77bfbfce.html" target="element"> Points assignment </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-40eb9e7336b94e0699a1c4cdecaea3ff.html" target="element"> state not changed </a> </td>
																				<td> <a href="../elements/id-40eb9e7336b94e0699a1c4cdecaea3ff.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-1f520f5b3a05489eafce763cd5dd67e8.html" target="element"> Interaction ignored (explicit or timeout) </a> </td>
																				<td> <a href="../elements/id-dd34203bbb9a4ca19d174b805f8744a2.html" target="element"> Interaction analysis &amp; detection </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-b413bce4522047a4a8608e0fb19484bd.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-b413bce4522047a4a8608e0fb19484bd.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-d69524401b844b13869392d965270670.html" target="element"> Civilian / Police Officer virtual handshake </a> </td>
																				<td> <a href="../elements/id-c63296bfcd4c45ccbc1483bc2b38e29b.html" target="element"> OR </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-2e85771e829f48afae2fdfc5d2c51655.html" target="element"> notification </a> </td>
																				<td> <a href="../elements/id-2e85771e829f48afae2fdfc5d2c51655.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-137a3d18ea244851935f2c45f90e811d.html" target="element"> Possible interaction detected </a> </td>
																				<td> <a href="../elements/id-71706798856d4549acb4e91b55db920b.html" target="element"> Civilian </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-39bcb5a135f64fb19e9f5fa5e9d64490.html" target="element"> notification </a> </td>
																				<td> <a href="../elements/id-39bcb5a135f64fb19e9f5fa5e9d64490.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-137a3d18ea244851935f2c45f90e811d.html" target="element"> Possible interaction detected </a> </td>
																				<td> <a href="../elements/id-b464eee28308487f8811679d62c98dff.html" target="element"> Police Officer </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-9fbcd2c7ccf0492c8de69c39741da597.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-9fbcd2c7ccf0492c8de69c39741da597.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-137a3d18ea244851935f2c45f90e811d.html" target="element"> Possible interaction detected </a> </td>
																				<td> <a href="../elements/id-671674e39d8443718a0c148b862fe8d7.html" target="element"> Interaction acceptance (both parties) </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-acd4c076c91f4826b0822f0c4947d244.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-acd4c076c91f4826b0822f0c4947d244.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3bbaa72ce72e4944bfee482d5df821af.html" target="element"> HeyBlue Business Rules </a> </td>
																		<td> <a href="../elements/id-dd34203bbb9a4ca19d174b805f8744a2.html" target="element"> Interaction analysis &amp; detection </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-5f547264fdd74905a0836a3027c913b3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5f547264fdd74905a0836a3027c913b3.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8125acaae4f54e629e43d4f416d0f932.html" target="element"> HeyBlue Tracking &amp; Notification </a> </td>
																		<td> <a href="../elements/id-671674e39d8443718a0c148b862fe8d7.html" target="element"> Interaction acceptance (both parties) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-76a45427675146aa962638e243929f48.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-76a45427675146aa962638e243929f48.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8125acaae4f54e629e43d4f416d0f932.html" target="element"> HeyBlue Tracking &amp; Notification </a> </td>
																		<td> <a href="../elements/id-dd34203bbb9a4ca19d174b805f8744a2.html" target="element"> Interaction analysis &amp; detection </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-06ad36044e724a0e92467db39880d0be.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-06ad36044e724a0e92467db39880d0be.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-256ff54544fc46afb62b07b211852e94.html" target="element"> HeyBlue Scoring </a> </td>
																		<td> <a href="../elements/id-18d0e715555c41d5a02906ca77bfbfce.html" target="element"> Points assignment </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>