<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>3.9. HeyBlue User Catalog - Technology</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>3.9. HeyBlue User Catalog - Technology</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-technology_usage"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_technology_usage" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-70d3fbbc4829448689b064a612ed2582.png" alt="3.9. HeyBlue User Catalog - Technology" usemap="#id-70d3fbbc4829448689b064a612ed2582map"/>
			   <map name="id-70d3fbbc4829448689b064a612ed2582map">
				          <area shape="rect" coords="20,1124,1198,1342" href="../objects/id-13b44c5e06234fa8b397ca01b6e74d0c.html" target="element" >
				  		<area shape="rect" coords="980,164,1220,274" href="../elements/id-7d2b00e92ab84c798d1c5c19c7b4029e.html"  target="element">
				  		<area shape="rect" coords="980,332,1220,442" href="../elements/id-7f52f42518a749ef93965a373a30145b.html"  target="element">
				  		<area shape="rect" coords="716,164,956,274" href="../elements/id-deab54a6d3e14c8eb88e0abfbb3e728c.html"  target="element">
				  		<area shape="rect" coords="716,332,956,442" href="../elements/id-130a0769d9ff49c18593e9888f8435a8.html"  target="element">
				  		<area shape="rect" coords="1724,332,1964,442" href="../elements/id-67c4ab172b954785a4494ac03c0646ad.html"  target="element">
				  		<area shape="rect" coords="1724,164,1964,274" href="../elements/id-19e4c0b03f8f4c2b99e74a7ee2cac6c1.html"  target="element">
				  		<area shape="rect" coords="452,164,692,274" href="../elements/id-089d05bc0bbe45bbb474b4f814dc2abf.html"  target="element">
				  		<area shape="rect" coords="308,20,548,130" href="../elements/id-50d0e1998d034b5ea24f9d713d347e31.html"  target="element">
				  		<area shape="rect" coords="164,164,404,274" href="../elements/id-4536d318400d4af8a7a3ed5c0588f021.html"  target="element">
				  		<area shape="rect" coords="308,332,548,442" href="../elements/id-46c4119e26ce46bf8ec8bc97a47ea8d5.html"  target="element">
				  		<area shape="rect" coords="44,332,284,442" href="../elements/id-b254d80e58044fcfa07fc72dbfe51bb8.html"  target="element">
				  		<area shape="rect" coords="1268,332,1508,442" href="../elements/id-24009dbc2a91409b928094c052602cc9.html"  target="element">
				  				<area shape="rect" coords="1892,692,2132,802" href="../elements/id-5a522f6a39674887bed64e229de475ad.html"  target="element">
				  				<area shape="rect" coords="44,836,284,946" href="../elements/id-105708bdbbb74191b84e3b57b0823272.html"  target="element">
				  				<area shape="rect" coords="44,692,284,802" href="../elements/id-051a34844b564b91999a7f2f2182d3b4.html"  target="element">
				  				<area shape="rect" coords="308,836,548,946" href="../elements/id-fb9a024cd017466abd020601d2de2235.html"  target="element">
				  				<area shape="rect" coords="308,692,548,802" href="../elements/id-2de4d04fcec447af8998d687bbee8111.html"  target="element">
				  				<area shape="rect" coords="524,980,764,1090" href="../elements/id-27518a88e48a4cad8a015cd34ff2fa2d.html"  target="element">
				  				<area shape="rect" coords="1028,908,1268,1018" href="../elements/id-5a9e0b3fbfd8428bb360bf14a5837455.html"  target="element">
				  				<area shape="rect" coords="1892,980,2132,1090" href="../elements/id-293075bc55e84722814fe777178c44b2.html"  target="element">
				  				<area shape="rect" coords="1628,836,1868,946" href="../elements/id-5942d51550ea452a8893a6440480b0e8.html"  target="element">
				  				<area shape="rect" coords="1628,692,1868,802" href="../elements/id-a727d4db16c544f9971030f0c9263c98.html"  target="element">
				  				<area shape="rect" coords="1892,836,2132,946" href="../elements/id-6e405c06616d4fa3a75038034eda6b2a.html"  target="element">
				  				<area shape="rect" coords="1316,908,1556,1018" href="../elements/id-632dd32170ad4d988e0bfc4583918769.html"  target="element">
				  						<area shape="rect" coords="1028,740,1268,850" href="../elements/id-03c8d86d57e94c2db05a68cdc58457bd.html"  target="element">
				  						<area shape="rect" coords="1316,740,1556,850" href="../elements/id-c8fd30927fdb4aa2a33836760735fba8.html"  target="element">

				  				<area shape="rect" coords="1004,692,1582,886" href="../elements/id-74533fbab6414d9fa568af228ef806fb.html"  target="element">
				  				<area shape="rect" coords="716,836,956,946" href="../elements/id-e2d4351945b5477ca56605f6108a7304.html"  target="element">
				  				<area shape="rect" coords="716,692,956,802" href="../elements/id-8db1770083f44fc394f0dcc21ba781b6.html"  target="element">
				  				<area shape="rect" coords="44,548,2134,658" href="../elements/id-cad366f5dba641898b11780fe5dd5588.html"  target="element">

				  		<area shape="rect" coords="20,476,2182,1102" href="../elements/id-dc9cbfdfe26f425c8fdeda5f1359416c.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-dc9cbfdfe26f425c8fdeda5f1359416c.html" target="element"> AWS - us-east-coast-1 </a> </td>
											    <td> <a href="../elements/id-dc9cbfdfe26f425c8fdeda5f1359416c.html" target="element" class="i18n-elementtype-Node">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-cad366f5dba641898b11780fe5dd5588.html" target="element"> API Gateway </a> </td>
													    <td> <a href="../elements/id-cad366f5dba641898b11780fe5dd5588.html" target="element" class="i18n-elementtype-Node">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-8db1770083f44fc394f0dcc21ba781b6.html" target="element"> ALB </a> </td>
													    <td> <a href="../elements/id-8db1770083f44fc394f0dcc21ba781b6.html" target="element" class="i18n-elementtype-CommunicationNetwork">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e2d4351945b5477ca56605f6108a7304.html" target="element"> AWS ALB </a> </td>
													    <td> <a href="../elements/id-e2d4351945b5477ca56605f6108a7304.html" target="element" class="i18n-elementtype-TechnologyService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-74533fbab6414d9fa568af228ef806fb.html" target="element"> AWS EKS </a> </td>
													    <td> <a href="../elements/id-74533fbab6414d9fa568af228ef806fb.html" target="element" class="i18n-elementtype-TechnologyCollaboration">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-c8fd30927fdb4aa2a33836760735fba8.html" target="element"> UserCatalog Container </a> </td>
															    <td> <a href="../elements/id-c8fd30927fdb4aa2a33836760735fba8.html" target="element" class="i18n-elementtype-Node">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-03c8d86d57e94c2db05a68cdc58457bd.html" target="element"> UserCatalog Job </a> </td>
															    <td> <a href="../elements/id-03c8d86d57e94c2db05a68cdc58457bd.html" target="element" class="i18n-elementtype-Node">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-632dd32170ad4d988e0bfc4583918769.html" target="element"> AWS EKS </a> </td>
													    <td> <a href="../elements/id-632dd32170ad4d988e0bfc4583918769.html" target="element" class="i18n-elementtype-TechnologyService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-6e405c06616d4fa3a75038034eda6b2a.html" target="element"> UserCatalog DynamoDB </a> </td>
													    <td> <a href="../elements/id-6e405c06616d4fa3a75038034eda6b2a.html" target="element" class="i18n-elementtype-Node">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a727d4db16c544f9971030f0c9263c98.html" target="element"> Fargate Profiles </a> </td>
													    <td> <a href="../elements/id-a727d4db16c544f9971030f0c9263c98.html" target="element" class="i18n-elementtype-TechnologyService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-5942d51550ea452a8893a6440480b0e8.html" target="element"> EKS Control Plane </a> </td>
													    <td> <a href="../elements/id-5942d51550ea452a8893a6440480b0e8.html" target="element" class="i18n-elementtype-TechnologyService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-293075bc55e84722814fe777178c44b2.html" target="element"> AWS DynamoDB </a> </td>
													    <td> <a href="../elements/id-293075bc55e84722814fe777178c44b2.html" target="element" class="i18n-elementtype-TechnologyService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-5a9e0b3fbfd8428bb360bf14a5837455.html" target="element"> outbound network </a> </td>
													    <td> <a href="../elements/id-5a9e0b3fbfd8428bb360bf14a5837455.html" target="element" class="i18n-elementtype-CommunicationNetwork">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-27518a88e48a4cad8a015cd34ff2fa2d.html" target="element"> AWS API Gateway </a> </td>
													    <td> <a href="../elements/id-27518a88e48a4cad8a015cd34ff2fa2d.html" target="element" class="i18n-elementtype-TechnologyService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2de4d04fcec447af8998d687bbee8111.html" target="element"> AWS Cognito </a> </td>
													    <td> <a href="../elements/id-2de4d04fcec447af8998d687bbee8111.html" target="element" class="i18n-elementtype-Node">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-fb9a024cd017466abd020601d2de2235.html" target="element"> AWS Cognito </a> </td>
													    <td> <a href="../elements/id-fb9a024cd017466abd020601d2de2235.html" target="element" class="i18n-elementtype-TechnologyService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-051a34844b564b91999a7f2f2182d3b4.html" target="element"> AWS Certificate Manager </a> </td>
													    <td> <a href="../elements/id-051a34844b564b91999a7f2f2182d3b4.html" target="element" class="i18n-elementtype-Node">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-105708bdbbb74191b84e3b57b0823272.html" target="element"> AWS Certificate Manager </a> </td>
													    <td> <a href="../elements/id-105708bdbbb74191b84e3b57b0823272.html" target="element" class="i18n-elementtype-TechnologyService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-5a522f6a39674887bed64e229de475ad.html" target="element"> UserCatalog DynamoDB </a> </td>
													    <td> <a href="../elements/id-5a522f6a39674887bed64e229de475ad.html" target="element" class="i18n-elementtype-TechnologyService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-24009dbc2a91409b928094c052602cc9.html" target="element"> UserCatalog Providers </a> </td>
											    <td> <a href="../elements/id-24009dbc2a91409b928094c052602cc9.html" target="element" class="i18n-elementtype-Node">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b254d80e58044fcfa07fc72dbfe51bb8.html" target="element"> HeyBlue Certificate </a> </td>
											    <td> <a href="../elements/id-b254d80e58044fcfa07fc72dbfe51bb8.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-46c4119e26ce46bf8ec8bc97a47ea8d5.html" target="element"> HeyBlue Cognito </a> </td>
											    <td> <a href="../elements/id-46c4119e26ce46bf8ec8bc97a47ea8d5.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4536d318400d4af8a7a3ed5c0588f021.html" target="element"> Identity Manager </a> </td>
											    <td> <a href="../elements/id-4536d318400d4af8a7a3ed5c0588f021.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-50d0e1998d034b5ea24f9d713d347e31.html" target="element"> Device Registrator </a> </td>
											    <td> <a href="../elements/id-50d0e1998d034b5ea24f9d713d347e31.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-089d05bc0bbe45bbb474b4f814dc2abf.html" target="element"> Mail Validator </a> </td>
											    <td> <a href="../elements/id-089d05bc0bbe45bbb474b4f814dc2abf.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-19e4c0b03f8f4c2b99e74a7ee2cac6c1.html" target="element"> HeyBlue Catalog Service </a> </td>
											    <td> <a href="../elements/id-19e4c0b03f8f4c2b99e74a7ee2cac6c1.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-67c4ab172b954785a4494ac03c0646ad.html" target="element"> HeyBlue User Catalog </a> </td>
											    <td> <a href="../elements/id-67c4ab172b954785a4494ac03c0646ad.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-130a0769d9ff49c18593e9888f8435a8.html" target="element"> HeyBlue API GW </a> </td>
											    <td> <a href="../elements/id-130a0769d9ff49c18593e9888f8435a8.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-deab54a6d3e14c8eb88e0abfbb3e728c.html" target="element"> API Gateway </a> </td>
											    <td> <a href="../elements/id-deab54a6d3e14c8eb88e0abfbb3e728c.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7f52f42518a749ef93965a373a30145b.html" target="element"> HeyBlue Web </a> </td>
											    <td> <a href="../elements/id-7f52f42518a749ef93965a373a30145b.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7d2b00e92ab84c798d1c5c19c7b4029e.html" target="element"> ID Validator Providers </a> </td>
											    <td> <a href="../elements/id-7d2b00e92ab84c798d1c5c19c7b4029e.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-13b44c5e06234fa8b397ca01b6e74d0c.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-13b44c5e06234fa8b397ca01b6e74d0c.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-104a31a57aea4d18804eaf3c034128bb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-104a31a57aea4d18804eaf3c034128bb.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-dc9cbfdfe26f425c8fdeda5f1359416c.html" target="element"> AWS - us-east-coast-1 </a> </td>
																		<td> <a href="../elements/id-2de4d04fcec447af8998d687bbee8111.html" target="element"> AWS Cognito </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-33bf16062f0a4d05930bcd957c7f3244.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-33bf16062f0a4d05930bcd957c7f3244.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-dc9cbfdfe26f425c8fdeda5f1359416c.html" target="element"> AWS - us-east-coast-1 </a> </td>
																		<td> <a href="../elements/id-27518a88e48a4cad8a015cd34ff2fa2d.html" target="element"> AWS API Gateway </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1349fd025b6240a1a572364ee1e1e4d4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1349fd025b6240a1a572364ee1e1e4d4.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-dc9cbfdfe26f425c8fdeda5f1359416c.html" target="element"> AWS - us-east-coast-1 </a> </td>
																		<td> <a href="../elements/id-293075bc55e84722814fe777178c44b2.html" target="element"> AWS DynamoDB </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-13eec357d3094875bea7badf63da19f7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-13eec357d3094875bea7badf63da19f7.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-dc9cbfdfe26f425c8fdeda5f1359416c.html" target="element"> AWS - us-east-coast-1 </a> </td>
																		<td> <a href="../elements/id-5942d51550ea452a8893a6440480b0e8.html" target="element"> EKS Control Plane </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-693d91bf66ef458eb64e5284268bfe41.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-693d91bf66ef458eb64e5284268bfe41.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-dc9cbfdfe26f425c8fdeda5f1359416c.html" target="element"> AWS - us-east-coast-1 </a> </td>
																		<td> <a href="../elements/id-a727d4db16c544f9971030f0c9263c98.html" target="element"> Fargate Profiles </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-39256d7db348423bb110c1ac476a5fb1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-39256d7db348423bb110c1ac476a5fb1.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-dc9cbfdfe26f425c8fdeda5f1359416c.html" target="element"> AWS - us-east-coast-1 </a> </td>
																		<td> <a href="../elements/id-6e405c06616d4fa3a75038034eda6b2a.html" target="element"> UserCatalog DynamoDB </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f36a032d9f894772a663fa4ec75e8da5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f36a032d9f894772a663fa4ec75e8da5.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-dc9cbfdfe26f425c8fdeda5f1359416c.html" target="element"> AWS - us-east-coast-1 </a> </td>
																		<td> <a href="../elements/id-632dd32170ad4d988e0bfc4583918769.html" target="element"> AWS EKS </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ee6f37887332402db5447b18ce6c4e38.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ee6f37887332402db5447b18ce6c4e38.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-dc9cbfdfe26f425c8fdeda5f1359416c.html" target="element"> AWS - us-east-coast-1 </a> </td>
																		<td> <a href="../elements/id-e2d4351945b5477ca56605f6108a7304.html" target="element"> AWS ALB </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a3913078219341d0a31f475416943d48.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a3913078219341d0a31f475416943d48.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-dc9cbfdfe26f425c8fdeda5f1359416c.html" target="element"> AWS - us-east-coast-1 </a> </td>
																		<td> <a href="../elements/id-cad366f5dba641898b11780fe5dd5588.html" target="element"> API Gateway </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-cae34c6fae3f4b28831af6da58aef331.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cae34c6fae3f4b28831af6da58aef331.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-dc9cbfdfe26f425c8fdeda5f1359416c.html" target="element"> AWS - us-east-coast-1 </a> </td>
																		<td> <a href="../elements/id-fb9a024cd017466abd020601d2de2235.html" target="element"> AWS Cognito </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-772c381ef3c242d2a2b5608e134f21b0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-772c381ef3c242d2a2b5608e134f21b0.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-dc9cbfdfe26f425c8fdeda5f1359416c.html" target="element"> AWS - us-east-coast-1 </a> </td>
																		<td> <a href="../elements/id-051a34844b564b91999a7f2f2182d3b4.html" target="element"> AWS Certificate Manager </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-621be80692ee42298693eef8a49f828a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-621be80692ee42298693eef8a49f828a.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-dc9cbfdfe26f425c8fdeda5f1359416c.html" target="element"> AWS - us-east-coast-1 </a> </td>
																		<td> <a href="../elements/id-105708bdbbb74191b84e3b57b0823272.html" target="element"> AWS Certificate Manager </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2e33a933e0a544c6a9d840d1c58d8280.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2e33a933e0a544c6a9d840d1c58d8280.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-dc9cbfdfe26f425c8fdeda5f1359416c.html" target="element"> AWS - us-east-coast-1 </a> </td>
																		<td> <a href="../elements/id-5a522f6a39674887bed64e229de475ad.html" target="element"> UserCatalog DynamoDB </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-a539de4dbf334d1ba727fc7822fec0ec.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a539de4dbf334d1ba727fc7822fec0ec.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-cad366f5dba641898b11780fe5dd5588.html" target="element"> API Gateway </a> </td>
																				<td> <a href="../elements/id-8db1770083f44fc394f0dcc21ba781b6.html" target="element"> ALB </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-d50445d84dc545888a681bad90762023.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d50445d84dc545888a681bad90762023.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-cad366f5dba641898b11780fe5dd5588.html" target="element"> API Gateway </a> </td>
																				<td> <a href="../elements/id-130a0769d9ff49c18593e9888f8435a8.html" target="element"> HeyBlue API GW </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-0e1ebba26cc94d6ca0ebb5c9bab6be4f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-0e1ebba26cc94d6ca0ebb5c9bab6be4f.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-8db1770083f44fc394f0dcc21ba781b6.html" target="element"> ALB </a> </td>
																				<td> <a href="../elements/id-74533fbab6414d9fa568af228ef806fb.html" target="element"> AWS EKS </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-c71c6f45dc3b404ab25bfb4474e26fdf.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-c71c6f45dc3b404ab25bfb4474e26fdf.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-e2d4351945b5477ca56605f6108a7304.html" target="element"> AWS ALB </a> </td>
																				<td> <a href="../elements/id-8db1770083f44fc394f0dcc21ba781b6.html" target="element"> ALB </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-27e61fe88c784dc0a21294580b1b2910.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-27e61fe88c784dc0a21294580b1b2910.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-74533fbab6414d9fa568af228ef806fb.html" target="element"> AWS EKS </a> </td>
																				<td> <a href="../elements/id-c8fd30927fdb4aa2a33836760735fba8.html" target="element"> UserCatalog Container </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-17602c2f47484a0d866a2f5c2e65e24e.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-17602c2f47484a0d866a2f5c2e65e24e.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-74533fbab6414d9fa568af228ef806fb.html" target="element"> AWS EKS </a> </td>
																				<td> <a href="../elements/id-03c8d86d57e94c2db05a68cdc58457bd.html" target="element"> UserCatalog Job </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/id-e4e16cd04f224a21b76044b5a2b4de18.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-e4e16cd04f224a21b76044b5a2b4de18.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-c8fd30927fdb4aa2a33836760735fba8.html" target="element"> UserCatalog Container </a> </td>
																						<td> <a href="../elements/id-67c4ab172b954785a4494ac03c0646ad.html" target="element"> HeyBlue User Catalog </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/id-9886c3a26fbc408cbc592bdccee636be.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-9886c3a26fbc408cbc592bdccee636be.html" target="element" class="i18n-elementtype-FlowRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-03c8d86d57e94c2db05a68cdc58457bd.html" target="element"> UserCatalog Job </a> </td>
																						<td> <a href="../elements/id-5a9e0b3fbfd8428bb360bf14a5837455.html" target="element"> outbound network </a> </td>
																					</tr>

													
																			<tr>
																				<td> <a href="../elements/id-ca8b9586abf746599e3dd74688227396.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-ca8b9586abf746599e3dd74688227396.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-632dd32170ad4d988e0bfc4583918769.html" target="element"> AWS EKS </a> </td>
																				<td> <a href="../elements/id-74533fbab6414d9fa568af228ef806fb.html" target="element"> AWS EKS </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-778da0cbefe64594b0175661986a6cd0.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-778da0cbefe64594b0175661986a6cd0.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-6e405c06616d4fa3a75038034eda6b2a.html" target="element"> UserCatalog DynamoDB </a> </td>
																				<td> <a href="../elements/id-5a522f6a39674887bed64e229de475ad.html" target="element"> UserCatalog DynamoDB </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-2fc7e749b86a4962bb0038097961f8c1.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-2fc7e749b86a4962bb0038097961f8c1.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-a727d4db16c544f9971030f0c9263c98.html" target="element"> Fargate Profiles </a> </td>
																				<td> <a href="../elements/id-74533fbab6414d9fa568af228ef806fb.html" target="element"> AWS EKS </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-b46ac48bbd54408bbfa4914e3df99b85.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-b46ac48bbd54408bbfa4914e3df99b85.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-5942d51550ea452a8893a6440480b0e8.html" target="element"> EKS Control Plane </a> </td>
																				<td> <a href="../elements/id-a727d4db16c544f9971030f0c9263c98.html" target="element"> Fargate Profiles </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-11d59a4ba39d4f1986b4b777bdc0de25.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-11d59a4ba39d4f1986b4b777bdc0de25.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-293075bc55e84722814fe777178c44b2.html" target="element"> AWS DynamoDB </a> </td>
																				<td> <a href="../elements/id-6e405c06616d4fa3a75038034eda6b2a.html" target="element"> UserCatalog DynamoDB </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-b9e9edbfa3e4421581eae65e9f1dd2f3.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-b9e9edbfa3e4421581eae65e9f1dd2f3.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-5a9e0b3fbfd8428bb360bf14a5837455.html" target="element"> outbound network </a> </td>
																				<td> <a href="../elements/id-24009dbc2a91409b928094c052602cc9.html" target="element"> UserCatalog Providers </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-1b4d4debecbb4ddf9bc97303da41845e.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-1b4d4debecbb4ddf9bc97303da41845e.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-27518a88e48a4cad8a015cd34ff2fa2d.html" target="element"> AWS API Gateway </a> </td>
																				<td> <a href="../elements/id-cad366f5dba641898b11780fe5dd5588.html" target="element"> API Gateway </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-33090601c54447e1a4955a254df0a4cc.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-33090601c54447e1a4955a254df0a4cc.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2de4d04fcec447af8998d687bbee8111.html" target="element"> AWS Cognito </a> </td>
																				<td> <a href="../elements/id-cad366f5dba641898b11780fe5dd5588.html" target="element"> API Gateway </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-d3b1ed5307244d5a946dcad422d8c20e.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d3b1ed5307244d5a946dcad422d8c20e.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2de4d04fcec447af8998d687bbee8111.html" target="element"> AWS Cognito </a> </td>
																				<td> <a href="../elements/id-46c4119e26ce46bf8ec8bc97a47ea8d5.html" target="element"> HeyBlue Cognito </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-486f2409f18b49318bc20894c21a1304.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-486f2409f18b49318bc20894c21a1304.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-fb9a024cd017466abd020601d2de2235.html" target="element"> AWS Cognito </a> </td>
																				<td> <a href="../elements/id-2de4d04fcec447af8998d687bbee8111.html" target="element"> AWS Cognito </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-55f0c5090a8f41b39a286cc509747340.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-55f0c5090a8f41b39a286cc509747340.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-051a34844b564b91999a7f2f2182d3b4.html" target="element"> AWS Certificate Manager </a> </td>
																				<td> <a href="../elements/id-b254d80e58044fcfa07fc72dbfe51bb8.html" target="element"> HeyBlue Certificate </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-2cf57660a9ee41e7ac2f7946593105a4.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-2cf57660a9ee41e7ac2f7946593105a4.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-051a34844b564b91999a7f2f2182d3b4.html" target="element"> AWS Certificate Manager </a> </td>
																				<td> <a href="../elements/id-cad366f5dba641898b11780fe5dd5588.html" target="element"> API Gateway </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-e1d61f0ca63b44c69a1639d792165fcb.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e1d61f0ca63b44c69a1639d792165fcb.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-105708bdbbb74191b84e3b57b0823272.html" target="element"> AWS Certificate Manager </a> </td>
																				<td> <a href="../elements/id-051a34844b564b91999a7f2f2182d3b4.html" target="element"> AWS Certificate Manager </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-32cdc3a9b5374999b7ff58587e60b230.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-32cdc3a9b5374999b7ff58587e60b230.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-5a522f6a39674887bed64e229de475ad.html" target="element"> UserCatalog DynamoDB </a> </td>
																				<td> <a href="../elements/id-19e4c0b03f8f4c2b99e74a7ee2cac6c1.html" target="element"> HeyBlue Catalog Service </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-0604964031a64f90b8e2822c5b84f63a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0604964031a64f90b8e2822c5b84f63a.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-24009dbc2a91409b928094c052602cc9.html" target="element"> UserCatalog Providers </a> </td>
																		<td> <a href="../elements/id-7f52f42518a749ef93965a373a30145b.html" target="element"> HeyBlue Web </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-9be33ba3192c45a99def6b28fe7ed365.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9be33ba3192c45a99def6b28fe7ed365.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-46c4119e26ce46bf8ec8bc97a47ea8d5.html" target="element"> HeyBlue Cognito </a> </td>
																		<td> <a href="../elements/id-4536d318400d4af8a7a3ed5c0588f021.html" target="element"> Identity Manager </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-90e79a6512324dc1bf6d729e15cf9f1d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-90e79a6512324dc1bf6d729e15cf9f1d.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-46c4119e26ce46bf8ec8bc97a47ea8d5.html" target="element"> HeyBlue Cognito </a> </td>
																		<td> <a href="../elements/id-50d0e1998d034b5ea24f9d713d347e31.html" target="element"> Device Registrator </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ecc394696665475f8193b0efbcef0681.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ecc394696665475f8193b0efbcef0681.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-46c4119e26ce46bf8ec8bc97a47ea8d5.html" target="element"> HeyBlue Cognito </a> </td>
																		<td> <a href="../elements/id-089d05bc0bbe45bbb474b4f814dc2abf.html" target="element"> Mail Validator </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-b8b6391db4b542c08d23e3784f1ddb78.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b8b6391db4b542c08d23e3784f1ddb78.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-67c4ab172b954785a4494ac03c0646ad.html" target="element"> HeyBlue User Catalog </a> </td>
																		<td> <a href="../elements/id-19e4c0b03f8f4c2b99e74a7ee2cac6c1.html" target="element"> HeyBlue Catalog Service </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-b05ce9353db54cfd9f56ab1ac0ab08f3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b05ce9353db54cfd9f56ab1ac0ab08f3.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-130a0769d9ff49c18593e9888f8435a8.html" target="element"> HeyBlue API GW </a> </td>
																		<td> <a href="../elements/id-deab54a6d3e14c8eb88e0abfbb3e728c.html" target="element"> API Gateway </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-427012f497f049729b88ed5ab216bf68.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-427012f497f049729b88ed5ab216bf68.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7f52f42518a749ef93965a373a30145b.html" target="element"> HeyBlue Web </a> </td>
																		<td> <a href="../elements/id-7d2b00e92ab84c798d1c5c19c7b4029e.html" target="element"> ID Validator Providers </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>