<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>2.1.2. Charity points redemption - Application Coverage</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>2.1.2. Charity points redemption - Application Coverage</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-application_usage"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_application_usage" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-8603c971d7aa423fbfe8a7706aa4213f.png" alt="2.1.2. Charity points redemption - Application Coverage" usemap="#id-8603c971d7aa423fbfe8a7706aa4213fmap"/>
			   <map name="id-8603c971d7aa423fbfe8a7706aa4213fmap">
				  		<area shape="rect" coords="1580,680,1820,790" href="../elements/id-256ff54544fc46afb62b07b211852e94.html"  target="element">
				  		<area shape="rect" coords="308,680,548,790" href="../elements/id-19e4c0b03f8f4c2b99e74a7ee2cac6c1.html"  target="element">
				  		<area shape="rect" coords="1628,320,1868,430" href="../elements/id-bc795d6597604b75bb42204ce953178e.html"  target="element">
				  				<area shape="rect" coords="308,388,548,498" href="../elements/id-bb017acaf09a4b99a1fd7b51170bcb72.html"  target="element">
				  				<area shape="rect" coords="740,320,980,430" href="../elements/id-a1bcc68729234616ba8a467587dd3a1b.html"  target="element">
				  				<area shape="rect" coords="668,456,908,566" href="../elements/id-3076908da39c4469bbff4117bdfb23cc.html"  target="element">
				  				<area shape="rect" coords="596,428,626,458" href="../elements/id-f79bfc129c054ceaa748b0ac16616f9f.html"  target="element">
				  				<area shape="rect" coords="1052,320,1292,430" href="../elements/id-c4267e1ebf0d4df181e83529a23314b4.html"  target="element">
				  				<area shape="rect" coords="1340,320,1580,430" href="../elements/id-954b4726f8bb48fe97396162849e9aab.html"  target="element">

				  		<area shape="rect" coords="284,272,1606,582" href="../elements/id-ed159c08ecaa4e1ea2442bffe4187e86.html"  target="element">
				  		<area shape="rect" coords="670,104,910,214" href="../elements/id-4bac0e06cb534729b3a84c1c3aa6eda3.html"  target="element">
				  		<area shape="rect" coords="20,388,260,498" href="../elements/id-bc795d6597604b75bb42204ce953178e.html"  target="element">
				  		<area shape="rect" coords="1412,104,1652,214" href="../elements/id-8a399c8a94824dd8aa91ec17eaacd36c.html"  target="element">
				  		<area shape="rect" coords="1316,680,1556,790" href="../elements/id-7d1e4cec8006415db6569ec2be73ccd5.html"  target="element">
				  		<area shape="rect" coords="1052,680,1292,790" href="../elements/id-17c7da0f831748049a149a0bae8ce937.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-17c7da0f831748049a149a0bae8ce937.html" target="element"> HeyBlue Mobile </a> </td>
											    <td> <a href="../elements/id-17c7da0f831748049a149a0bae8ce937.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7d1e4cec8006415db6569ec2be73ccd5.html" target="element"> HeyBlue Web </a> </td>
											    <td> <a href="../elements/id-7d1e4cec8006415db6569ec2be73ccd5.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8a399c8a94824dd8aa91ec17eaacd36c.html" target="element"> Retail </a> </td>
											    <td> <a href="../elements/id-8a399c8a94824dd8aa91ec17eaacd36c.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-bc795d6597604b75bb42204ce953178e.html" target="element"> Points balance updated </a> </td>
											    <td> <a href="../elements/id-bc795d6597604b75bb42204ce953178e.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4bac0e06cb534729b3a84c1c3aa6eda3.html" target="element"> Charity </a> </td>
											    <td> <a href="../elements/id-4bac0e06cb534729b3a84c1c3aa6eda3.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ed159c08ecaa4e1ea2442bffe4187e86.html" target="element"> Charity points redemption </a> </td>
											    <td> <a href="../elements/id-ed159c08ecaa4e1ea2442bffe4187e86.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-954b4726f8bb48fe97396162849e9aab.html" target="element"> Points redemption (Retail TX) </a> </td>
													    <td> <a href="../elements/id-954b4726f8bb48fe97396162849e9aab.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c4267e1ebf0d4df181e83529a23314b4.html" target="element"> Retail location &amp; selection </a> </td>
													    <td> <a href="../elements/id-c4267e1ebf0d4df181e83529a23314b4.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-f79bfc129c054ceaa748b0ac16616f9f.html" target="element"> OR </a> </td>
													    <td> <a href="../elements/id-f79bfc129c054ceaa748b0ac16616f9f.html" target="element" class="i18n-elementtype-Junction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-3076908da39c4469bbff4117bdfb23cc.html" target="element"> Redemption delayed </a> </td>
													    <td> <a href="../elements/id-3076908da39c4469bbff4117bdfb23cc.html" target="element" class="i18n-elementtype-BusinessEvent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a1bcc68729234616ba8a467587dd3a1b.html" target="element"> Redemption decided </a> </td>
													    <td> <a href="../elements/id-a1bcc68729234616ba8a467587dd3a1b.html" target="element" class="i18n-elementtype-BusinessEvent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-bb017acaf09a4b99a1fd7b51170bcb72.html" target="element"> Retail Storefront interaction </a> </td>
													    <td> <a href="../elements/id-bb017acaf09a4b99a1fd7b51170bcb72.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-bc795d6597604b75bb42204ce953178e.html" target="element"> Points balance updated </a> </td>
											    <td> <a href="../elements/id-bc795d6597604b75bb42204ce953178e.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-19e4c0b03f8f4c2b99e74a7ee2cac6c1.html" target="element"> HeyBlue Catalog Service </a> </td>
											    <td> <a href="../elements/id-19e4c0b03f8f4c2b99e74a7ee2cac6c1.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-256ff54544fc46afb62b07b211852e94.html" target="element"> HeyBlue Scoring </a> </td>
											    <td> <a href="../elements/id-256ff54544fc46afb62b07b211852e94.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-88871c4c2cc34c1caf302b91e467cc71.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-88871c4c2cc34c1caf302b91e467cc71.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-17c7da0f831748049a149a0bae8ce937.html" target="element"> HeyBlue Mobile </a> </td>
																		<td> <a href="../elements/id-954b4726f8bb48fe97396162849e9aab.html" target="element"> Points redemption (Retail TX) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ddbc4477f9c342bab4313cdf4121b3b7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ddbc4477f9c342bab4313cdf4121b3b7.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-17c7da0f831748049a149a0bae8ce937.html" target="element"> HeyBlue Mobile </a> </td>
																		<td> <a href="../elements/id-c4267e1ebf0d4df181e83529a23314b4.html" target="element"> Retail location &amp; selection </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-06e20172d9b9493fa5f8856d15394cb5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-06e20172d9b9493fa5f8856d15394cb5.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-17c7da0f831748049a149a0bae8ce937.html" target="element"> HeyBlue Mobile </a> </td>
																		<td> <a href="../elements/id-bb017acaf09a4b99a1fd7b51170bcb72.html" target="element"> Retail Storefront interaction </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-b802f483e925424585453abc8bf8e453.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b802f483e925424585453abc8bf8e453.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7d1e4cec8006415db6569ec2be73ccd5.html" target="element"> HeyBlue Web </a> </td>
																		<td> <a href="../elements/id-954b4726f8bb48fe97396162849e9aab.html" target="element"> Points redemption (Retail TX) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-86af400487b54133a8f4cef801c2a191.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-86af400487b54133a8f4cef801c2a191.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7d1e4cec8006415db6569ec2be73ccd5.html" target="element"> HeyBlue Web </a> </td>
																		<td> <a href="../elements/id-c4267e1ebf0d4df181e83529a23314b4.html" target="element"> Retail location &amp; selection </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-193c32c9d50f44af8f4f17a9a5d0736a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-193c32c9d50f44af8f4f17a9a5d0736a.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7d1e4cec8006415db6569ec2be73ccd5.html" target="element"> HeyBlue Web </a> </td>
																		<td> <a href="../elements/id-bb017acaf09a4b99a1fd7b51170bcb72.html" target="element"> Retail Storefront interaction </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-2bfdf940124d47aba964682b9ee68c5a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2bfdf940124d47aba964682b9ee68c5a.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8a399c8a94824dd8aa91ec17eaacd36c.html" target="element"> Retail </a> </td>
																		<td> <a href="../elements/id-954b4726f8bb48fe97396162849e9aab.html" target="element"> Points redemption (Retail TX) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-c58ac810422a446e84c9f1fa3f81c449.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c58ac810422a446e84c9f1fa3f81c449.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-bc795d6597604b75bb42204ce953178e.html" target="element"> Points balance updated </a> </td>
																		<td> <a href="../elements/id-bb017acaf09a4b99a1fd7b51170bcb72.html" target="element"> Retail Storefront interaction </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-bf93cd4abc3d49c3b299d4d108e26bce.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bf93cd4abc3d49c3b299d4d108e26bce.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4bac0e06cb534729b3a84c1c3aa6eda3.html" target="element"> Charity </a> </td>
																		<td> <a href="../elements/id-3076908da39c4469bbff4117bdfb23cc.html" target="element"> Redemption delayed </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-fecb5173f99f4f0ca52dee52ada95677.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fecb5173f99f4f0ca52dee52ada95677.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4bac0e06cb534729b3a84c1c3aa6eda3.html" target="element"> Charity </a> </td>
																		<td> <a href="../elements/id-a1bcc68729234616ba8a467587dd3a1b.html" target="element"> Redemption decided </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-02688fbf8e5e411eb05be11ea5c8b0e3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-02688fbf8e5e411eb05be11ea5c8b0e3.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4bac0e06cb534729b3a84c1c3aa6eda3.html" target="element"> Charity </a> </td>
																		<td> <a href="../elements/id-c4267e1ebf0d4df181e83529a23314b4.html" target="element"> Retail location &amp; selection </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e678b97042cf44d59c1081a64ac9f170.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e678b97042cf44d59c1081a64ac9f170.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4bac0e06cb534729b3a84c1c3aa6eda3.html" target="element"> Charity </a> </td>
																		<td> <a href="../elements/id-954b4726f8bb48fe97396162849e9aab.html" target="element"> Points redemption (Retail TX) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-476069c123df4d40b8d1b9dd3c150f93.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-476069c123df4d40b8d1b9dd3c150f93.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4bac0e06cb534729b3a84c1c3aa6eda3.html" target="element"> Charity </a> </td>
																		<td> <a href="../elements/id-bb017acaf09a4b99a1fd7b51170bcb72.html" target="element"> Retail Storefront interaction </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-fdd3ce495b1343fd91e9272d618403cd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fdd3ce495b1343fd91e9272d618403cd.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ed159c08ecaa4e1ea2442bffe4187e86.html" target="element"> Charity points redemption </a> </td>
																		<td> <a href="../elements/id-954b4726f8bb48fe97396162849e9aab.html" target="element"> Points redemption (Retail TX) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2dd7910501014a3ea2e4f4afcb212151.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2dd7910501014a3ea2e4f4afcb212151.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ed159c08ecaa4e1ea2442bffe4187e86.html" target="element"> Charity points redemption </a> </td>
																		<td> <a href="../elements/id-c4267e1ebf0d4df181e83529a23314b4.html" target="element"> Retail location &amp; selection </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-71bf613988b640d99276eb506c5b1ea2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-71bf613988b640d99276eb506c5b1ea2.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ed159c08ecaa4e1ea2442bffe4187e86.html" target="element"> Charity points redemption </a> </td>
																		<td> <a href="../elements/id-bb017acaf09a4b99a1fd7b51170bcb72.html" target="element"> Retail Storefront interaction </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-263f32af01fd4abda06d17965bd5947d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-263f32af01fd4abda06d17965bd5947d.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-954b4726f8bb48fe97396162849e9aab.html" target="element"> Points redemption (Retail TX) </a> </td>
																				<td> <a href="../elements/id-bc795d6597604b75bb42204ce953178e.html" target="element"> Points balance updated </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-0d6d8e2807bf47bea006ec4ff7546923.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-0d6d8e2807bf47bea006ec4ff7546923.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-c4267e1ebf0d4df181e83529a23314b4.html" target="element"> Retail location &amp; selection </a> </td>
																				<td> <a href="../elements/id-954b4726f8bb48fe97396162849e9aab.html" target="element"> Points redemption (Retail TX) </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-0529b65bd4f24de088b4c4ac7d6769bb.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-0529b65bd4f24de088b4c4ac7d6769bb.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f79bfc129c054ceaa748b0ac16616f9f.html" target="element"> OR </a> </td>
																				<td> <a href="../elements/id-3076908da39c4469bbff4117bdfb23cc.html" target="element"> Redemption delayed </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-0b8ed0f0aeda437e85f2f6d55f52aa0d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-0b8ed0f0aeda437e85f2f6d55f52aa0d.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f79bfc129c054ceaa748b0ac16616f9f.html" target="element"> OR </a> </td>
																				<td> <a href="../elements/id-a1bcc68729234616ba8a467587dd3a1b.html" target="element"> Redemption decided </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-824239485a874553b0c8afb5f02108d5.html" target="element"> state not changed </a> </td>
																				<td> <a href="../elements/id-824239485a874553b0c8afb5f02108d5.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-3076908da39c4469bbff4117bdfb23cc.html" target="element"> Redemption delayed </a> </td>
																				<td> <a href="../elements/id-bc795d6597604b75bb42204ce953178e.html" target="element"> Points balance updated </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-864fab82c9bb4418873ff01376e3d964.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-864fab82c9bb4418873ff01376e3d964.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-a1bcc68729234616ba8a467587dd3a1b.html" target="element"> Redemption decided </a> </td>
																				<td> <a href="../elements/id-c4267e1ebf0d4df181e83529a23314b4.html" target="element"> Retail location &amp; selection </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-5fc7eb55b48847c699c4a3d7974cb0d0.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5fc7eb55b48847c699c4a3d7974cb0d0.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-bb017acaf09a4b99a1fd7b51170bcb72.html" target="element"> Retail Storefront interaction </a> </td>
																				<td> <a href="../elements/id-f79bfc129c054ceaa748b0ac16616f9f.html" target="element"> OR </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-8e4e809b85224b4f9fee51b5fb309fb5.html" target="element"> notification </a> </td>
																		<td> <a href="../elements/id-8e4e809b85224b4f9fee51b5fb309fb5.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-bc795d6597604b75bb42204ce953178e.html" target="element"> Points balance updated </a> </td>
																		<td> <a href="../elements/id-4bac0e06cb534729b3a84c1c3aa6eda3.html" target="element"> Charity </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-b6ed280e977844a5af115155f7d5d6cf.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b6ed280e977844a5af115155f7d5d6cf.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-19e4c0b03f8f4c2b99e74a7ee2cac6c1.html" target="element"> HeyBlue Catalog Service </a> </td>
																		<td> <a href="../elements/id-bb017acaf09a4b99a1fd7b51170bcb72.html" target="element"> Retail Storefront interaction </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-741a4e30ddac4f24858281eccc38b7cf.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-741a4e30ddac4f24858281eccc38b7cf.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-256ff54544fc46afb62b07b211852e94.html" target="element"> HeyBlue Scoring </a> </td>
																		<td> <a href="../elements/id-954b4726f8bb48fe97396162849e9aab.html" target="element"> Points redemption (Retail TX) </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>