<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>General View</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>General View</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-application_cooperation"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_application_cooperation" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-8991b222311a45a9b3218155c2619fe7.png" alt="General View" usemap="#id-8991b222311a45a9b3218155c2619fe7map"/>
			   <map name="id-8991b222311a45a9b3218155c2619fe7map">
				          <area shape="rect" coords="980,20,1350,180" href="../objects/id-6625ec910c4640bba1ea8b09a695ce84.html" target="element" >
				  				<area shape="rect" coords="356,524,596,634" href="../elements/id-a650646f99844da39c48a523707b1f47.html"  target="element">
				  				<area shape="rect" coords="92,524,332,634" href="../elements/id-928f0618791840e29b922ec0d29f14b8.html"  target="element">
				  				<area shape="rect" coords="644,356,884,466" href="../elements/id-6378c3e7b0394b53bd5c2116f5744f13.html"  target="element">
				  				<area shape="rect" coords="356,356,596,466" href="../elements/id-17c7da0f831748049a149a0bae8ce937.html"  target="element">
				  				<area shape="rect" coords="92,356,332,466" href="../elements/id-7d1e4cec8006415db6569ec2be73ccd5.html"  target="element">

				  		<area shape="rect" coords="20,308,934,670" href="../elements/id-e405b5a0f1404fe8898585013005be74.html"  target="element">
				          <area shape="rect" coords="980,330,1248,490" href="../objects/id-0a32a2ae51d6401598515b81c857e43d.html" target="element" >
				  		<area shape="rect" coords="644,92,884,202" href="../elements/id-855ba4996fc145548894d0cb8add7466.html"  target="element">
				  		<area shape="rect" coords="366,92,606,202" href="../elements/id-f9c0db8c13964589a54c3f0ec56f2d1c.html"  target="element">
				  		<area shape="rect" coords="92,92,332,202" href="../elements/id-521cf6fff112492d8ecf7c1e1bc4b1ab.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-521cf6fff112492d8ecf7c1e1bc4b1ab.html" target="element"> HeyBlue ID Validator </a> </td>
											    <td> <a href="../elements/id-521cf6fff112492d8ecf7c1e1bc4b1ab.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f9c0db8c13964589a54c3f0ec56f2d1c.html" target="element"> Facebook </a> </td>
											    <td> <a href="../elements/id-f9c0db8c13964589a54c3f0ec56f2d1c.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-855ba4996fc145548894d0cb8add7466.html" target="element"> Twitter </a> </td>
											    <td> <a href="../elements/id-855ba4996fc145548894d0cb8add7466.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-0a32a2ae51d6401598515b81c857e43d.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-0a32a2ae51d6401598515b81c857e43d.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-e405b5a0f1404fe8898585013005be74.html" target="element"> HeyBlue </a> </td>
											    <td> <a href="../elements/id-e405b5a0f1404fe8898585013005be74.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-7d1e4cec8006415db6569ec2be73ccd5.html" target="element"> HeyBlue Web </a> </td>
													    <td> <a href="../elements/id-7d1e4cec8006415db6569ec2be73ccd5.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-17c7da0f831748049a149a0bae8ce937.html" target="element"> HeyBlue Mobile </a> </td>
													    <td> <a href="../elements/id-17c7da0f831748049a149a0bae8ce937.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-6378c3e7b0394b53bd5c2116f5744f13.html" target="element"> HeyBlue Social Media </a> </td>
													    <td> <a href="../elements/id-6378c3e7b0394b53bd5c2116f5744f13.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-928f0618791840e29b922ec0d29f14b8.html" target="element"> HeyBlue Security </a> </td>
													    <td> <a href="../elements/id-928f0618791840e29b922ec0d29f14b8.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a650646f99844da39c48a523707b1f47.html" target="element"> HeyBlue Points </a> </td>
													    <td> <a href="../elements/id-a650646f99844da39c48a523707b1f47.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-6625ec910c4640bba1ea8b09a695ce84.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-6625ec910c4640bba1ea8b09a695ce84.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-469361a8588046a7b7d1a4d95fe4803d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-469361a8588046a7b7d1a4d95fe4803d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e405b5a0f1404fe8898585013005be74.html" target="element"> HeyBlue </a> </td>
																		<td> <a href="../elements/id-7d1e4cec8006415db6569ec2be73ccd5.html" target="element"> HeyBlue Web </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3471fed7f57c45c5b09b71265533fef8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3471fed7f57c45c5b09b71265533fef8.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e405b5a0f1404fe8898585013005be74.html" target="element"> HeyBlue </a> </td>
																		<td> <a href="../elements/id-17c7da0f831748049a149a0bae8ce937.html" target="element"> HeyBlue Mobile </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4ab50e656ed5415384134a7fcd1c0338.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4ab50e656ed5415384134a7fcd1c0338.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e405b5a0f1404fe8898585013005be74.html" target="element"> HeyBlue </a> </td>
																		<td> <a href="../elements/id-6378c3e7b0394b53bd5c2116f5744f13.html" target="element"> HeyBlue Social Media </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-032c4527eefb4dc3a9477bfcab96bf0d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-032c4527eefb4dc3a9477bfcab96bf0d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e405b5a0f1404fe8898585013005be74.html" target="element"> HeyBlue </a> </td>
																		<td> <a href="../elements/id-928f0618791840e29b922ec0d29f14b8.html" target="element"> HeyBlue Security </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-308a0168b4994b67812b14119d59df5d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-308a0168b4994b67812b14119d59df5d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e405b5a0f1404fe8898585013005be74.html" target="element"> HeyBlue </a> </td>
																		<td> <a href="../elements/id-a650646f99844da39c48a523707b1f47.html" target="element"> HeyBlue Points </a> </td>
																	</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>