<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>2.3.5. Civilian points redemption / donation - Business Entities</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>2.3.5. Civilian points redemption / donation - Business Entities</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-application_usage"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_application_usage" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-8818f10d647446adbcb71ea1ebabb574.png" alt="2.3.5. Civilian points redemption / donation - Business Entities" usemap="#id-8818f10d647446adbcb71ea1ebabb574map"/>
			   <map name="id-8818f10d647446adbcb71ea1ebabb574map">
				  		<area shape="rect" coords="1508,20,1748,130" href="../elements/id-2649af7a104947eea27083e0fa65b1ac.html"  target="element">
				  		<area shape="rect" coords="308,20,548,130" href="../elements/id-8b060d09363f4768be0d42c3b48952cd.html"  target="element">
				  		<area shape="rect" coords="572,20,812,130" href="../elements/id-4f6cfce55c7a4ac8bcc4a4ffb7807f86.html"  target="element">
				  		<area shape="rect" coords="1244,20,1484,130" href="../elements/id-b4f3c600a88644978c09d40c8fefa0c7.html"  target="element">
				  		<area shape="rect" coords="980,20,1220,130" href="../elements/id-0cff7cdf3afe44dab33b709379ef17f5.html"  target="element">
				  		<area shape="rect" coords="2084,20,2324,130" href="../elements/id-18ebb6b74c344f8b87de0216f8d9c988.html"  target="element">
				  				<area shape="rect" coords="1028,444,1058,474" href="../elements/id-554272a9395f41178544c0221b2f2da3.html"  target="element">
				  				<area shape="rect" coords="1100,404,1340,514" href="../elements/id-bb017acaf09a4b99a1fd7b51170bcb72.html"  target="element">
				  				<area shape="rect" coords="1220,660,1250,690" href="../elements/id-e281d32b79ce44558ece9e200feecbd8.html"  target="element">
				  				<area shape="rect" coords="862,620,1102,730" href="../elements/id-e277af74d20846ccb64f673bc8327cc5.html"  target="element">
				  				<area shape="rect" coords="2468,534,2708,644" href="../elements/id-bc795d6597604b75bb42204ce953178e.html"  target="element">
				  				<area shape="rect" coords="1628,372,1658,402" href="../elements/id-005dcf1e807343ff8a6293bdd1c5d068.html"  target="element">
				  				<area shape="rect" coords="2336,332,2576,442" href="../elements/id-8cb0190471974f04803617a76314ed24.html"  target="element">
				  				<area shape="rect" coords="1820,404,2060,514" href="../elements/id-a1bcc68729234616ba8a467587dd3a1b.html"  target="element">
				  				<area shape="rect" coords="380,404,620,514" href="../elements/id-097bd9ad80484739b23377b2960712ac.html"  target="element">
				  				<area shape="rect" coords="644,404,884,514" href="../elements/id-a53c03273c31439e8551f54cb687f3a2.html"  target="element">
				  				<area shape="rect" coords="1406,534,1646,644" href="../elements/id-e8d8364e64f94e3eb84bba785116603f.html"  target="element">
				  				<area shape="rect" coords="1316,728,1556,838" href="../elements/id-b2c846f04314412a922aebb4570702f0.html"  target="element">
				  				<area shape="rect" coords="1750,670,1990,780" href="../elements/id-aa2c18f5fe684025ba3e6eef8d8b3156.html"  target="element">
				  				<area shape="rect" coords="1690,574,1720,604" href="../elements/id-ba1a5ddc7c8840f7940dac19011dd44b.html"  target="element">
				  				<area shape="rect" coords="2194,534,2434,644" href="../elements/id-954b4726f8bb48fe97396162849e9aab.html"  target="element">
				  				<area shape="rect" coords="2098,670,2338,780" href="../elements/id-13d636faa42644cf92ef53bb6a2b0eea.html"  target="element">
				  				<area shape="rect" coords="308,574,338,604" href="../elements/id-172e3696d8e2491e87417c31e912121c.html"  target="element">
				  				<area shape="rect" coords="1882,534,2122,644" href="../elements/id-c4267e1ebf0d4df181e83529a23314b4.html"  target="element">

				  		<area shape="rect" coords="284,308,2734,868" href="../elements/id-61f59da085fd4b9290c98c3c94845e2e.html"  target="element">
				  		<area shape="rect" coords="2756,532,2996,642" href="../elements/id-a9a44e1b09fc4319a20341d9c91e5524.html"  target="element">
				  		<area shape="rect" coords="20,532,260,642" href="../elements/id-bc795d6597604b75bb42204ce953178e.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-bc795d6597604b75bb42204ce953178e.html" target="element"> Points balance updated </a> </td>
											    <td> <a href="../elements/id-bc795d6597604b75bb42204ce953178e.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a9a44e1b09fc4319a20341d9c91e5524.html" target="element"> Ready for interactions </a> </td>
											    <td> <a href="../elements/id-a9a44e1b09fc4319a20341d9c91e5524.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-61f59da085fd4b9290c98c3c94845e2e.html" target="element"> Civilian points redemption / donation </a> </td>
											    <td> <a href="../elements/id-61f59da085fd4b9290c98c3c94845e2e.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-c4267e1ebf0d4df181e83529a23314b4.html" target="element"> Retail location &amp; selection </a> </td>
													    <td> <a href="../elements/id-c4267e1ebf0d4df181e83529a23314b4.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-172e3696d8e2491e87417c31e912121c.html" target="element"> OR </a> </td>
													    <td> <a href="../elements/id-172e3696d8e2491e87417c31e912121c.html" target="element" class="i18n-elementtype-Junction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-13d636faa42644cf92ef53bb6a2b0eea.html" target="element"> Points donation </a> </td>
													    <td> <a href="../elements/id-13d636faa42644cf92ef53bb6a2b0eea.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-954b4726f8bb48fe97396162849e9aab.html" target="element"> Points redemption (Retail TX) </a> </td>
													    <td> <a href="../elements/id-954b4726f8bb48fe97396162849e9aab.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ba1a5ddc7c8840f7940dac19011dd44b.html" target="element"> OR </a> </td>
													    <td> <a href="../elements/id-ba1a5ddc7c8840f7940dac19011dd44b.html" target="element" class="i18n-elementtype-Junction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-aa2c18f5fe684025ba3e6eef8d8b3156.html" target="element"> Charity selection </a> </td>
													    <td> <a href="../elements/id-aa2c18f5fe684025ba3e6eef8d8b3156.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b2c846f04314412a922aebb4570702f0.html" target="element"> Redemption/Donation delayed </a> </td>
													    <td> <a href="../elements/id-b2c846f04314412a922aebb4570702f0.html" target="element" class="i18n-elementtype-BusinessEvent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e8d8364e64f94e3eb84bba785116603f.html" target="element"> Redemption/Donation decided </a> </td>
													    <td> <a href="../elements/id-e8d8364e64f94e3eb84bba785116603f.html" target="element" class="i18n-elementtype-BusinessEvent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a53c03273c31439e8551f54cb687f3a2.html" target="element"> Nearby retail detected </a> </td>
													    <td> <a href="../elements/id-a53c03273c31439e8551f54cb687f3a2.html" target="element" class="i18n-elementtype-BusinessEvent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-097bd9ad80484739b23377b2960712ac.html" target="element"> Nearby retail detection </a> </td>
													    <td> <a href="../elements/id-097bd9ad80484739b23377b2960712ac.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a1bcc68729234616ba8a467587dd3a1b.html" target="element"> Redemption decided </a> </td>
													    <td> <a href="../elements/id-a1bcc68729234616ba8a467587dd3a1b.html" target="element" class="i18n-elementtype-BusinessEvent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-8cb0190471974f04803617a76314ed24.html" target="element"> Redemption ignored </a> </td>
													    <td> <a href="../elements/id-8cb0190471974f04803617a76314ed24.html" target="element" class="i18n-elementtype-BusinessEvent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-005dcf1e807343ff8a6293bdd1c5d068.html" target="element"> OR </a> </td>
													    <td> <a href="../elements/id-005dcf1e807343ff8a6293bdd1c5d068.html" target="element" class="i18n-elementtype-Junction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-bc795d6597604b75bb42204ce953178e.html" target="element"> Points balance updated </a> </td>
													    <td> <a href="../elements/id-bc795d6597604b75bb42204ce953178e.html" target="element" class="i18n-elementtype-BusinessEvent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e277af74d20846ccb64f673bc8327cc5.html" target="element"> Retail/Charity Storefront interaction </a> </td>
													    <td> <a href="../elements/id-e277af74d20846ccb64f673bc8327cc5.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e281d32b79ce44558ece9e200feecbd8.html" target="element"> OR </a> </td>
													    <td> <a href="../elements/id-e281d32b79ce44558ece9e200feecbd8.html" target="element" class="i18n-elementtype-Junction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-bb017acaf09a4b99a1fd7b51170bcb72.html" target="element"> Retail Storefront interaction </a> </td>
													    <td> <a href="../elements/id-bb017acaf09a4b99a1fd7b51170bcb72.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-554272a9395f41178544c0221b2f2da3.html" target="element"> OR </a> </td>
													    <td> <a href="../elements/id-554272a9395f41178544c0221b2f2da3.html" target="element" class="i18n-elementtype-Junction">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-18ebb6b74c344f8b87de0216f8d9c988.html" target="element"> Score </a> </td>
											    <td> <a href="../elements/id-18ebb6b74c344f8b87de0216f8d9c988.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0cff7cdf3afe44dab33b709379ef17f5.html" target="element"> Catalog </a> </td>
											    <td> <a href="../elements/id-0cff7cdf3afe44dab33b709379ef17f5.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b4f3c600a88644978c09d40c8fefa0c7.html" target="element"> Product </a> </td>
											    <td> <a href="../elements/id-b4f3c600a88644978c09d40c8fefa0c7.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4f6cfce55c7a4ac8bcc4a4ffb7807f86.html" target="element"> User </a> </td>
											    <td> <a href="../elements/id-4f6cfce55c7a4ac8bcc4a4ffb7807f86.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8b060d09363f4768be0d42c3b48952cd.html" target="element"> Track </a> </td>
											    <td> <a href="../elements/id-8b060d09363f4768be0d42c3b48952cd.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2649af7a104947eea27083e0fa65b1ac.html" target="element"> Content </a> </td>
											    <td> <a href="../elements/id-2649af7a104947eea27083e0fa65b1ac.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-6dc4e8d948b64982b7920854248b3a4c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6dc4e8d948b64982b7920854248b3a4c.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-bc795d6597604b75bb42204ce953178e.html" target="element"> Points balance updated </a> </td>
																		<td> <a href="../elements/id-172e3696d8e2491e87417c31e912121c.html" target="element"> OR </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-75e7d46e7aa44384b63674c09a2724fa.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-75e7d46e7aa44384b63674c09a2724fa.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-61f59da085fd4b9290c98c3c94845e2e.html" target="element"> Civilian points redemption / donation </a> </td>
																		<td> <a href="../elements/id-13d636faa42644cf92ef53bb6a2b0eea.html" target="element"> Points donation </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a2361c8208fa4f07a475e9025879d892.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a2361c8208fa4f07a475e9025879d892.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-61f59da085fd4b9290c98c3c94845e2e.html" target="element"> Civilian points redemption / donation </a> </td>
																		<td> <a href="../elements/id-954b4726f8bb48fe97396162849e9aab.html" target="element"> Points redemption (Retail TX) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-fa83b91862254dd0b573c3a0d992fa2a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fa83b91862254dd0b573c3a0d992fa2a.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-61f59da085fd4b9290c98c3c94845e2e.html" target="element"> Civilian points redemption / donation </a> </td>
																		<td> <a href="../elements/id-aa2c18f5fe684025ba3e6eef8d8b3156.html" target="element"> Charity selection </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1867bf7d567a4baa977f6a2b82eef471.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1867bf7d567a4baa977f6a2b82eef471.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-61f59da085fd4b9290c98c3c94845e2e.html" target="element"> Civilian points redemption / donation </a> </td>
																		<td> <a href="../elements/id-097bd9ad80484739b23377b2960712ac.html" target="element"> Nearby retail detection </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4c0c782176d34254a076220b28ebf80c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4c0c782176d34254a076220b28ebf80c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-61f59da085fd4b9290c98c3c94845e2e.html" target="element"> Civilian points redemption / donation </a> </td>
																		<td> <a href="../elements/id-e277af74d20846ccb64f673bc8327cc5.html" target="element"> Retail/Charity Storefront interaction </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-748a6c48b7bc437a977944c0a657ee9d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-748a6c48b7bc437a977944c0a657ee9d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-61f59da085fd4b9290c98c3c94845e2e.html" target="element"> Civilian points redemption / donation </a> </td>
																		<td> <a href="../elements/id-bb017acaf09a4b99a1fd7b51170bcb72.html" target="element"> Retail Storefront interaction </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4438d7ccfae94ce9bd7274d10a9b2712.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4438d7ccfae94ce9bd7274d10a9b2712.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-61f59da085fd4b9290c98c3c94845e2e.html" target="element"> Civilian points redemption / donation </a> </td>
																		<td> <a href="../elements/id-c4267e1ebf0d4df181e83529a23314b4.html" target="element"> Retail location &amp; selection </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-0d6d8e2807bf47bea006ec4ff7546923.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-0d6d8e2807bf47bea006ec4ff7546923.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-c4267e1ebf0d4df181e83529a23314b4.html" target="element"> Retail location &amp; selection </a> </td>
																				<td> <a href="../elements/id-954b4726f8bb48fe97396162849e9aab.html" target="element"> Points redemption (Retail TX) </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-2b5ec0b5e48e4e7b9aa0d2f9d5da630f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-2b5ec0b5e48e4e7b9aa0d2f9d5da630f.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-c4267e1ebf0d4df181e83529a23314b4.html" target="element"> Retail location &amp; selection </a> </td>
																				<td> <a href="../elements/id-4f6cfce55c7a4ac8bcc4a4ffb7807f86.html" target="element"> User </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-04aa963eb0004f76953e78e714ce1194.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-04aa963eb0004f76953e78e714ce1194.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-172e3696d8e2491e87417c31e912121c.html" target="element"> OR </a> </td>
																				<td> <a href="../elements/id-097bd9ad80484739b23377b2960712ac.html" target="element"> Nearby retail detection </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-07180597570a4c3f9f2bbdab5b89a1a5.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-07180597570a4c3f9f2bbdab5b89a1a5.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-172e3696d8e2491e87417c31e912121c.html" target="element"> OR </a> </td>
																				<td> <a href="../elements/id-e277af74d20846ccb64f673bc8327cc5.html" target="element"> Retail/Charity Storefront interaction </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-6de9c783a05d42fb8c76ca7be7e6aaaf.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-6de9c783a05d42fb8c76ca7be7e6aaaf.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-13d636faa42644cf92ef53bb6a2b0eea.html" target="element"> Points donation </a> </td>
																				<td> <a href="../elements/id-bc795d6597604b75bb42204ce953178e.html" target="element"> Points balance updated </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-e162b3f19fcf4b51afcf59d63ca9be99.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e162b3f19fcf4b51afcf59d63ca9be99.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-13d636faa42644cf92ef53bb6a2b0eea.html" target="element"> Points donation </a> </td>
																				<td> <a href="../elements/id-18ebb6b74c344f8b87de0216f8d9c988.html" target="element"> Score </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-263f32af01fd4abda06d17965bd5947d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-263f32af01fd4abda06d17965bd5947d.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-954b4726f8bb48fe97396162849e9aab.html" target="element"> Points redemption (Retail TX) </a> </td>
																				<td> <a href="../elements/id-bc795d6597604b75bb42204ce953178e.html" target="element"> Points balance updated </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-67887f0c6a18422286384c83f5c0e5e1.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-67887f0c6a18422286384c83f5c0e5e1.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-954b4726f8bb48fe97396162849e9aab.html" target="element"> Points redemption (Retail TX) </a> </td>
																				<td> <a href="../elements/id-18ebb6b74c344f8b87de0216f8d9c988.html" target="element"> Score </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-257ba1f75906407085247518fafe64a6.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-257ba1f75906407085247518fafe64a6.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-ba1a5ddc7c8840f7940dac19011dd44b.html" target="element"> OR </a> </td>
																				<td> <a href="../elements/id-aa2c18f5fe684025ba3e6eef8d8b3156.html" target="element"> Charity selection </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-2904e5e135f941229c499143ba39c296.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-2904e5e135f941229c499143ba39c296.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-ba1a5ddc7c8840f7940dac19011dd44b.html" target="element"> OR </a> </td>
																				<td> <a href="../elements/id-c4267e1ebf0d4df181e83529a23314b4.html" target="element"> Retail location &amp; selection </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-3e42f5cce8e84583bd84cd4b205afac8.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-3e42f5cce8e84583bd84cd4b205afac8.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-aa2c18f5fe684025ba3e6eef8d8b3156.html" target="element"> Charity selection </a> </td>
																				<td> <a href="../elements/id-13d636faa42644cf92ef53bb6a2b0eea.html" target="element"> Points donation </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-e0b023a3abe04abfbaad41604640d909.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e0b023a3abe04abfbaad41604640d909.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-aa2c18f5fe684025ba3e6eef8d8b3156.html" target="element"> Charity selection </a> </td>
																				<td> <a href="../elements/id-4f6cfce55c7a4ac8bcc4a4ffb7807f86.html" target="element"> User </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-032760698fc3414f885f94530fb38db5.html" target="element"> state not changed </a> </td>
																				<td> <a href="../elements/id-032760698fc3414f885f94530fb38db5.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-b2c846f04314412a922aebb4570702f0.html" target="element"> Redemption/Donation delayed </a> </td>
																				<td> <a href="../elements/id-bc795d6597604b75bb42204ce953178e.html" target="element"> Points balance updated </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-34e0d9723f9141db85012383b6b552be.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-34e0d9723f9141db85012383b6b552be.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-e8d8364e64f94e3eb84bba785116603f.html" target="element"> Redemption/Donation decided </a> </td>
																				<td> <a href="../elements/id-ba1a5ddc7c8840f7940dac19011dd44b.html" target="element"> OR </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-613ee8b62325477ab8296040903c222a.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-613ee8b62325477ab8296040903c222a.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-a53c03273c31439e8551f54cb687f3a2.html" target="element"> Nearby retail detected </a> </td>
																				<td> <a href="../elements/id-554272a9395f41178544c0221b2f2da3.html" target="element"> OR </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-ef53f7f2636444c6b9a1c1bc3752615a.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-ef53f7f2636444c6b9a1c1bc3752615a.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-097bd9ad80484739b23377b2960712ac.html" target="element"> Nearby retail detection </a> </td>
																				<td> <a href="../elements/id-a53c03273c31439e8551f54cb687f3a2.html" target="element"> Nearby retail detected </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-ebd86b50617d4fc58d71479e2083b534.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-ebd86b50617d4fc58d71479e2083b534.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-097bd9ad80484739b23377b2960712ac.html" target="element"> Nearby retail detection </a> </td>
																				<td> <a href="../elements/id-4f6cfce55c7a4ac8bcc4a4ffb7807f86.html" target="element"> User </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-1c2b86aeedc6480183f97fb919998f16.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-1c2b86aeedc6480183f97fb919998f16.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-097bd9ad80484739b23377b2960712ac.html" target="element"> Nearby retail detection </a> </td>
																				<td> <a href="../elements/id-8b060d09363f4768be0d42c3b48952cd.html" target="element"> Track </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-5f3bc0ad2cbc402290910df010ea384b.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5f3bc0ad2cbc402290910df010ea384b.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-a1bcc68729234616ba8a467587dd3a1b.html" target="element"> Redemption decided </a> </td>
																				<td> <a href="../elements/id-954b4726f8bb48fe97396162849e9aab.html" target="element"> Points redemption (Retail TX) </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-2f73c606b3fe4c03a873519d96681376.html" target="element"> state not changed </a> </td>
																				<td> <a href="../elements/id-2f73c606b3fe4c03a873519d96681376.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-8cb0190471974f04803617a76314ed24.html" target="element"> Redemption ignored </a> </td>
																				<td> <a href="../elements/id-bc795d6597604b75bb42204ce953178e.html" target="element"> Points balance updated </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-1b91d4ea26ff441cbb1f1d701f597cfb.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-1b91d4ea26ff441cbb1f1d701f597cfb.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-005dcf1e807343ff8a6293bdd1c5d068.html" target="element"> OR </a> </td>
																				<td> <a href="../elements/id-8cb0190471974f04803617a76314ed24.html" target="element"> Redemption ignored </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-533a3566b59747b789fa2e39c54a04b0.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-533a3566b59747b789fa2e39c54a04b0.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-005dcf1e807343ff8a6293bdd1c5d068.html" target="element"> OR </a> </td>
																				<td> <a href="../elements/id-a1bcc68729234616ba8a467587dd3a1b.html" target="element"> Redemption decided </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-09d25a66cb9340b0a4360e4656cae29b.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-09d25a66cb9340b0a4360e4656cae29b.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-bc795d6597604b75bb42204ce953178e.html" target="element"> Points balance updated </a> </td>
																				<td> <a href="../elements/id-a9a44e1b09fc4319a20341d9c91e5524.html" target="element"> Ready for interactions </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-9330793902d643bdbf33e4a981faba62.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-9330793902d643bdbf33e4a981faba62.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-e277af74d20846ccb64f673bc8327cc5.html" target="element"> Retail/Charity Storefront interaction </a> </td>
																				<td> <a href="../elements/id-e281d32b79ce44558ece9e200feecbd8.html" target="element"> OR </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-a288ffb7480243a0b943ae0369137468.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a288ffb7480243a0b943ae0369137468.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-e277af74d20846ccb64f673bc8327cc5.html" target="element"> Retail/Charity Storefront interaction </a> </td>
																				<td> <a href="../elements/id-4f6cfce55c7a4ac8bcc4a4ffb7807f86.html" target="element"> User </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-2ecf0fbf7c7a4906b4b6a3e899a2f073.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-2ecf0fbf7c7a4906b4b6a3e899a2f073.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-e277af74d20846ccb64f673bc8327cc5.html" target="element"> Retail/Charity Storefront interaction </a> </td>
																				<td> <a href="../elements/id-b4f3c600a88644978c09d40c8fefa0c7.html" target="element"> Product </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-84da44b32e1d40a58c2e1731dd02017f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-84da44b32e1d40a58c2e1731dd02017f.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-e277af74d20846ccb64f673bc8327cc5.html" target="element"> Retail/Charity Storefront interaction </a> </td>
																				<td> <a href="../elements/id-0cff7cdf3afe44dab33b709379ef17f5.html" target="element"> Catalog </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-74afefb7f7254521a2705fbb7289e77e.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-74afefb7f7254521a2705fbb7289e77e.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-e277af74d20846ccb64f673bc8327cc5.html" target="element"> Retail/Charity Storefront interaction </a> </td>
																				<td> <a href="../elements/id-2649af7a104947eea27083e0fa65b1ac.html" target="element"> Content </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-1d056a19c06b4124b2c977c1429d85e0.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-1d056a19c06b4124b2c977c1429d85e0.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-e281d32b79ce44558ece9e200feecbd8.html" target="element"> OR </a> </td>
																				<td> <a href="../elements/id-e8d8364e64f94e3eb84bba785116603f.html" target="element"> Redemption/Donation decided </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-6a5fe40f1eb942b0bf85846f21057b69.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-6a5fe40f1eb942b0bf85846f21057b69.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-e281d32b79ce44558ece9e200feecbd8.html" target="element"> OR </a> </td>
																				<td> <a href="../elements/id-b2c846f04314412a922aebb4570702f0.html" target="element"> Redemption/Donation delayed </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-9459805377b947038334fb4564a4d29c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-9459805377b947038334fb4564a4d29c.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-bb017acaf09a4b99a1fd7b51170bcb72.html" target="element"> Retail Storefront interaction </a> </td>
																				<td> <a href="../elements/id-005dcf1e807343ff8a6293bdd1c5d068.html" target="element"> OR </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-52c75b354b5f4b47a5e0946c3cfbc095.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-52c75b354b5f4b47a5e0946c3cfbc095.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-bb017acaf09a4b99a1fd7b51170bcb72.html" target="element"> Retail Storefront interaction </a> </td>
																				<td> <a href="../elements/id-4f6cfce55c7a4ac8bcc4a4ffb7807f86.html" target="element"> User </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-c97929c683104cca9ded6bc79a602be8.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-c97929c683104cca9ded6bc79a602be8.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-bb017acaf09a4b99a1fd7b51170bcb72.html" target="element"> Retail Storefront interaction </a> </td>
																				<td> <a href="../elements/id-0cff7cdf3afe44dab33b709379ef17f5.html" target="element"> Catalog </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-ba8187ed036546929488f2eb9e2abeea.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-ba8187ed036546929488f2eb9e2abeea.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-bb017acaf09a4b99a1fd7b51170bcb72.html" target="element"> Retail Storefront interaction </a> </td>
																				<td> <a href="../elements/id-b4f3c600a88644978c09d40c8fefa0c7.html" target="element"> Product </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-53000b68693244c69747ffef028266e0.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-53000b68693244c69747ffef028266e0.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-bb017acaf09a4b99a1fd7b51170bcb72.html" target="element"> Retail Storefront interaction </a> </td>
																				<td> <a href="../elements/id-2649af7a104947eea27083e0fa65b1ac.html" target="element"> Content </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-5096dfe87f4b43e1a48521a12a15d06f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5096dfe87f4b43e1a48521a12a15d06f.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-554272a9395f41178544c0221b2f2da3.html" target="element"> OR </a> </td>
																				<td> <a href="../elements/id-005dcf1e807343ff8a6293bdd1c5d068.html" target="element"> OR </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-dcad780ed7a04fd1a63e4be312462b9c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-dcad780ed7a04fd1a63e4be312462b9c.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-554272a9395f41178544c0221b2f2da3.html" target="element"> OR </a> </td>
																				<td> <a href="../elements/id-bb017acaf09a4b99a1fd7b51170bcb72.html" target="element"> Retail Storefront interaction </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>