<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>2.2.2.5. Foundation - Conceptual Architecture Mapping</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>2.2.2.5. Foundation - Conceptual Architecture Mapping</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-business_process_cooperation"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_business_process_cooperation" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-95ba15411896483da8b90480a7360227.png" alt="2.2.2.5. Foundation - Conceptual Architecture Mapping" usemap="#id-95ba15411896483da8b90480a7360227map"/>
			   <map name="id-95ba15411896483da8b90480a7360227map">
				          <area shape="rect" coords="20,860,790,954" href="../objects/id-bd0d67f072fd4b3c9a6f6d92aeea9bb7.html" target="element" >
				  		<area shape="rect" coords="62,716,302,826" href="../elements/id-8125acaae4f54e629e43d4f416d0f932.html"  target="element">
				  		<area shape="rect" coords="926,716,1166,826" href="../elements/id-089d05bc0bbe45bbb474b4f814dc2abf.html"  target="element">
				  		<area shape="rect" coords="350,716,590,826" href="../elements/id-4536d318400d4af8a7a3ed5c0588f021.html"  target="element">
				  		<area shape="rect" coords="1262,380,1502,490" href="../elements/id-7476326aada043b1ae42a99ebb829a36.html"  target="element">
				  		<area shape="rect" coords="1262,260,1502,370" href="../elements/id-d1aee77fc8d84a149bceb8f9d2743f58.html"  target="element">
				  		<area shape="rect" coords="854,20,1094,130" href="../elements/id-ccaf7465d044430c87e3ec37da676545.html"  target="element">
				  		<area shape="rect" coords="588,20,828,130" href="../elements/id-7d1e4cec8006415db6569ec2be73ccd5.html"  target="element">
				  		<area shape="rect" coords="326,20,566,130" href="../elements/id-17c7da0f831748049a149a0bae8ce937.html"  target="element">
				  		<area shape="rect" coords="62,20,302,130" href="../elements/id-deab54a6d3e14c8eb88e0abfbb3e728c.html"  target="element">
				  				<area shape="rect" coords="932,458,1172,568" href="../elements/id-eebf1bd9d7e24922b6bcc2fc16f0439a.html"  target="element">
				  				<area shape="rect" coords="644,458,884,568" href="../elements/id-9e15b4c253f74e18b52a52cdac6dd398.html"  target="element">
				  				<area shape="rect" coords="356,458,596,568" href="../elements/id-31c7f3a80817420d8d98e59df8996ae4.html"  target="element">
				  				<area shape="rect" coords="68,458,308,568" href="../elements/id-6155b13c4b6e47b0b9557c1712c91148.html"  target="element">
				  				<area shape="rect" coords="932,314,1172,424" href="../elements/id-e1c8ad174e8f4e7190af0a98bcb20258.html"  target="element">
				  				<area shape="rect" coords="356,314,596,424" href="../elements/id-cb4ec50f3df54cf6ae383209a762317e.html"  target="element">
				  				<area shape="rect" coords="68,314,308,424" href="../elements/id-0ec8cdd25ced4561baaa748ffc83442d.html"  target="element">

				  		<area shape="rect" coords="20,266,1222,604" href="../elements/id-018f8cf1484b4bc28aaa311ba497cafd.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-018f8cf1484b4bc28aaa311ba497cafd.html" target="element"> 5. Foundation </a> </td>
											    <td> <a href="../elements/id-018f8cf1484b4bc28aaa311ba497cafd.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-0ec8cdd25ced4561baaa748ffc83442d.html" target="element"> 5.1. APIs </a> </td>
													    <td> <a href="../elements/id-0ec8cdd25ced4561baaa748ffc83442d.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-cb4ec50f3df54cf6ae383209a762317e.html" target="element"> 5.2. Widgets </a> </td>
													    <td> <a href="../elements/id-cb4ec50f3df54cf6ae383209a762317e.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e1c8ad174e8f4e7190af0a98bcb20258.html" target="element"> 5.3. Analytics </a> </td>
													    <td> <a href="../elements/id-e1c8ad174e8f4e7190af0a98bcb20258.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-6155b13c4b6e47b0b9557c1712c91148.html" target="element"> 5.4. Notifications </a> </td>
													    <td> <a href="../elements/id-6155b13c4b6e47b0b9557c1712c91148.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-31c7f3a80817420d8d98e59df8996ae4.html" target="element"> 5.5. Authentication &amp; Authorization </a> </td>
													    <td> <a href="../elements/id-31c7f3a80817420d8d98e59df8996ae4.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-9e15b4c253f74e18b52a52cdac6dd398.html" target="element"> 5.6. Content </a> </td>
													    <td> <a href="../elements/id-9e15b4c253f74e18b52a52cdac6dd398.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-eebf1bd9d7e24922b6bcc2fc16f0439a.html" target="element"> 5.7. Privacy and Security </a> </td>
													    <td> <a href="../elements/id-eebf1bd9d7e24922b6bcc2fc16f0439a.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-deab54a6d3e14c8eb88e0abfbb3e728c.html" target="element"> API Gateway </a> </td>
											    <td> <a href="../elements/id-deab54a6d3e14c8eb88e0abfbb3e728c.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-17c7da0f831748049a149a0bae8ce937.html" target="element"> HeyBlue Mobile </a> </td>
											    <td> <a href="../elements/id-17c7da0f831748049a149a0bae8ce937.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7d1e4cec8006415db6569ec2be73ccd5.html" target="element"> HeyBlue Web </a> </td>
											    <td> <a href="../elements/id-7d1e4cec8006415db6569ec2be73ccd5.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ccaf7465d044430c87e3ec37da676545.html" target="element"> HeyBlue Content Manager </a> </td>
											    <td> <a href="../elements/id-ccaf7465d044430c87e3ec37da676545.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d1aee77fc8d84a149bceb8f9d2743f58.html" target="element"> Analytics </a> </td>
											    <td> <a href="../elements/id-d1aee77fc8d84a149bceb8f9d2743f58.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7476326aada043b1ae42a99ebb829a36.html" target="element"> HeyBlue Archive </a> </td>
											    <td> <a href="../elements/id-7476326aada043b1ae42a99ebb829a36.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4536d318400d4af8a7a3ed5c0588f021.html" target="element"> Identity Manager </a> </td>
											    <td> <a href="../elements/id-4536d318400d4af8a7a3ed5c0588f021.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-089d05bc0bbe45bbb474b4f814dc2abf.html" target="element"> Mail Validator </a> </td>
											    <td> <a href="../elements/id-089d05bc0bbe45bbb474b4f814dc2abf.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8125acaae4f54e629e43d4f416d0f932.html" target="element"> HeyBlue Tracking &amp; Notification </a> </td>
											    <td> <a href="../elements/id-8125acaae4f54e629e43d4f416d0f932.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-bd0d67f072fd4b3c9a6f6d92aeea9bb7.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-bd0d67f072fd4b3c9a6f6d92aeea9bb7.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-b2e1767058114d4e8da0b5615e4d4431.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b2e1767058114d4e8da0b5615e4d4431.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-018f8cf1484b4bc28aaa311ba497cafd.html" target="element"> 5. Foundation </a> </td>
																		<td> <a href="../elements/id-e1c8ad174e8f4e7190af0a98bcb20258.html" target="element"> 5.3. Analytics </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7bf507c24b404c7cbb2dfb140ecc5325.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7bf507c24b404c7cbb2dfb140ecc5325.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-018f8cf1484b4bc28aaa311ba497cafd.html" target="element"> 5. Foundation </a> </td>
																		<td> <a href="../elements/id-31c7f3a80817420d8d98e59df8996ae4.html" target="element"> 5.5. Authentication &amp; Authorization </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1a003396aedd4006afa1b188f6ac696e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1a003396aedd4006afa1b188f6ac696e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-018f8cf1484b4bc28aaa311ba497cafd.html" target="element"> 5. Foundation </a> </td>
																		<td> <a href="../elements/id-9e15b4c253f74e18b52a52cdac6dd398.html" target="element"> 5.6. Content </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-283d75c7b3344bc3982420256d6a4585.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-283d75c7b3344bc3982420256d6a4585.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-018f8cf1484b4bc28aaa311ba497cafd.html" target="element"> 5. Foundation </a> </td>
																		<td> <a href="../elements/id-eebf1bd9d7e24922b6bcc2fc16f0439a.html" target="element"> 5.7. Privacy and Security </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-30514524c55141cab2c8b3654569ca09.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-30514524c55141cab2c8b3654569ca09.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-018f8cf1484b4bc28aaa311ba497cafd.html" target="element"> 5. Foundation </a> </td>
																		<td> <a href="../elements/id-0ec8cdd25ced4561baaa748ffc83442d.html" target="element"> 5.1. APIs </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4ea56f3c0ab447bca282065c4a7308ea.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4ea56f3c0ab447bca282065c4a7308ea.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-018f8cf1484b4bc28aaa311ba497cafd.html" target="element"> 5. Foundation </a> </td>
																		<td> <a href="../elements/id-cb4ec50f3df54cf6ae383209a762317e.html" target="element"> 5.2. Widgets </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-982b234a0f1840b096e49b59ba4c0231.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-982b234a0f1840b096e49b59ba4c0231.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-018f8cf1484b4bc28aaa311ba497cafd.html" target="element"> 5. Foundation </a> </td>
																		<td> <a href="../elements/id-6155b13c4b6e47b0b9557c1712c91148.html" target="element"> 5.4. Notifications </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-75881c4af1f24403984d504ac4716a11.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-75881c4af1f24403984d504ac4716a11.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-deab54a6d3e14c8eb88e0abfbb3e728c.html" target="element"> API Gateway </a> </td>
																		<td> <a href="../elements/id-0ec8cdd25ced4561baaa748ffc83442d.html" target="element"> 5.1. APIs </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-d63090eaad9b405a927839dbd8cc5a86.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d63090eaad9b405a927839dbd8cc5a86.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-17c7da0f831748049a149a0bae8ce937.html" target="element"> HeyBlue Mobile </a> </td>
																		<td> <a href="../elements/id-cb4ec50f3df54cf6ae383209a762317e.html" target="element"> 5.2. Widgets </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-b488725e106b41609be5af93937300b6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b488725e106b41609be5af93937300b6.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7d1e4cec8006415db6569ec2be73ccd5.html" target="element"> HeyBlue Web </a> </td>
																		<td> <a href="../elements/id-cb4ec50f3df54cf6ae383209a762317e.html" target="element"> 5.2. Widgets </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-0c5154c2ac1e47cd84bd9743d11ba2c8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0c5154c2ac1e47cd84bd9743d11ba2c8.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ccaf7465d044430c87e3ec37da676545.html" target="element"> HeyBlue Content Manager </a> </td>
																		<td> <a href="../elements/id-cb4ec50f3df54cf6ae383209a762317e.html" target="element"> 5.2. Widgets </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d262c14178ae4135a41d20084b379b1d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d262c14178ae4135a41d20084b379b1d.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ccaf7465d044430c87e3ec37da676545.html" target="element"> HeyBlue Content Manager </a> </td>
																		<td> <a href="../elements/id-9e15b4c253f74e18b52a52cdac6dd398.html" target="element"> 5.6. Content </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-5b220008da9c4f7dab6dbb65b70c3221.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5b220008da9c4f7dab6dbb65b70c3221.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d1aee77fc8d84a149bceb8f9d2743f58.html" target="element"> Analytics </a> </td>
																		<td> <a href="../elements/id-e1c8ad174e8f4e7190af0a98bcb20258.html" target="element"> 5.3. Analytics </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-45861e20cb33484593e41df88e1dbb74.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-45861e20cb33484593e41df88e1dbb74.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7476326aada043b1ae42a99ebb829a36.html" target="element"> HeyBlue Archive </a> </td>
																		<td> <a href="../elements/id-e1c8ad174e8f4e7190af0a98bcb20258.html" target="element"> 5.3. Analytics </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-64eab59b30484759aedb46c8eb6ed88c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-64eab59b30484759aedb46c8eb6ed88c.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4536d318400d4af8a7a3ed5c0588f021.html" target="element"> Identity Manager </a> </td>
																		<td> <a href="../elements/id-31c7f3a80817420d8d98e59df8996ae4.html" target="element"> 5.5. Authentication &amp; Authorization </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8e55fb5ebf534b9b8a58afbae511f3ec.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8e55fb5ebf534b9b8a58afbae511f3ec.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4536d318400d4af8a7a3ed5c0588f021.html" target="element"> Identity Manager </a> </td>
																		<td> <a href="../elements/id-eebf1bd9d7e24922b6bcc2fc16f0439a.html" target="element"> 5.7. Privacy and Security </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-d6fb55ab2c284fa3baaad91a93cf845c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d6fb55ab2c284fa3baaad91a93cf845c.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-089d05bc0bbe45bbb474b4f814dc2abf.html" target="element"> Mail Validator </a> </td>
																		<td> <a href="../elements/id-eebf1bd9d7e24922b6bcc2fc16f0439a.html" target="element"> 5.7. Privacy and Security </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-626c2552d4e043288589d95a45531255.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-626c2552d4e043288589d95a45531255.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8125acaae4f54e629e43d4f416d0f932.html" target="element"> HeyBlue Tracking &amp; Notification </a> </td>
																		<td> <a href="../elements/id-6155b13c4b6e47b0b9557c1712c91148.html" target="element"> 5.4. Notifications </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>