<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>2.3.9. Municipality onboarding - Business Entities</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>2.3.9. Municipality onboarding - Business Entities</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-application_usage"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_application_usage" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-9a0a99f8d47747a1b13a37f5c20894a2.png" alt="2.3.9. Municipality onboarding - Business Entities" usemap="#id-9a0a99f8d47747a1b13a37f5c20894a2map"/>
			   <map name="id-9a0a99f8d47747a1b13a37f5c20894a2map">
				          <area shape="rect" coords="284,526,1318,672" href="../objects/id-5e49dfc8dd984f7a9cf69b0b02263523.html" target="element" >
				  		<area shape="rect" coords="2708,286,2948,396" href="../elements/id-d0d257e8a4314b5fbc2141c6b8f82657.html"  target="element">
				  		<area shape="rect" coords="2228,20,2468,130" href="../elements/id-18ebb6b74c344f8b87de0216f8d9c988.html"  target="element">
				  		<area shape="rect" coords="452,20,692,130" href="../elements/id-4f6cfce55c7a4ac8bcc4a4ffb7807f86.html"  target="element">
				  		<area shape="rect" coords="20,286,260,396" href="../elements/id-f6c2d0e10f224d77be747b474dccc012.html"  target="element">
				  				<area shape="rect" coords="1244,374,1484,484" href="../elements/id-374feb7e4b444934a2a0015feaddb276.html"  target="element">
				  				<area shape="rect" coords="308,294,548,404" href="../elements/id-e671f1e03ae641998f281f50f66ea8d8.html"  target="element">
				  				<area shape="rect" coords="884,294,1124,404" href="../elements/id-d52c35834ce44c19b26acd0d4fb40c22.html"  target="element">
				  				<area shape="rect" coords="2420,294,2660,404" href="../elements/id-7ebddff7934645b4b1349aa6b5a2e77a.html"  target="element">
				  				<area shape="rect" coords="2060,334,2090,364" href="../elements/id-269a2c1aa81240afbbacf23a837943c6.html"  target="element">
				  				<area shape="rect" coords="1174,334,1204,364" href="../elements/id-803245bb8fcc4c798d674f50ac038ea1.html"  target="element">
				  				<area shape="rect" coords="1602,374,1842,484" href="../elements/id-6a30ad9119ca4c02b7f67c010b36f3e7.html"  target="element">
				  				<area shape="rect" coords="1342,214,1582,324" href="../elements/id-abc115faf7ae4e7b81beb8b8e73f6d3f.html"  target="element">
				  				<area shape="rect" coords="2132,294,2372,404" href="../elements/id-a3e1cc9e01914db1bfb6739515ad4885.html"  target="element">
				  				<area shape="rect" coords="1746,214,1986,324" href="../elements/id-327c1f9bf4c744d7b77e3ab5338ee9f8.html"  target="element">
				  				<area shape="rect" coords="596,294,836,404" href="../elements/id-4fe318d6e1ff4f41b8d553715004db8a.html"  target="element">

				  		<area shape="rect" coords="284,166,2686,504" href="../elements/id-131ac4cd42894e2d8dfe3cf07309c10b.html"  target="element">
				  		<area shape="rect" coords="2708,526,2948,636" href="../elements/id-c91f6d194e90401cbd3875c5fcd6f9ab.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-c91f6d194e90401cbd3875c5fcd6f9ab.html" target="element"> Onboarding dropped </a> </td>
											    <td> <a href="../elements/id-c91f6d194e90401cbd3875c5fcd6f9ab.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-131ac4cd42894e2d8dfe3cf07309c10b.html" target="element"> Onboarding </a> </td>
											    <td> <a href="../elements/id-131ac4cd42894e2d8dfe3cf07309c10b.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-4fe318d6e1ff4f41b8d553715004db8a.html" target="element"> Mail registration acceptance </a> </td>
													    <td> <a href="../elements/id-4fe318d6e1ff4f41b8d553715004db8a.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-327c1f9bf4c744d7b77e3ab5338ee9f8.html" target="element"> Terms &amp; Conditions accepted </a> </td>
													    <td> <a href="../elements/id-327c1f9bf4c744d7b77e3ab5338ee9f8.html" target="element" class="i18n-elementtype-BusinessEvent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a3e1cc9e01914db1bfb6739515ad4885.html" target="element"> Scoring account creation </a> </td>
													    <td> <a href="../elements/id-a3e1cc9e01914db1bfb6739515ad4885.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-abc115faf7ae4e7b81beb8b8e73f6d3f.html" target="element"> Terms &amp; Conditions acceptance </a> </td>
													    <td> <a href="../elements/id-abc115faf7ae4e7b81beb8b8e73f6d3f.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-6a30ad9119ca4c02b7f67c010b36f3e7.html" target="element"> Validated &amp; submission approved </a> </td>
													    <td> <a href="../elements/id-6a30ad9119ca4c02b7f67c010b36f3e7.html" target="element" class="i18n-elementtype-BusinessEvent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-803245bb8fcc4c798d674f50ac038ea1.html" target="element"> AND </a> </td>
													    <td> <a href="../elements/id-803245bb8fcc4c798d674f50ac038ea1.html" target="element" class="i18n-elementtype-Junction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-269a2c1aa81240afbbacf23a837943c6.html" target="element"> AND </a> </td>
													    <td> <a href="../elements/id-269a2c1aa81240afbbacf23a837943c6.html" target="element" class="i18n-elementtype-Junction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-7ebddff7934645b4b1349aa6b5a2e77a.html" target="element"> Score account created </a> </td>
													    <td> <a href="../elements/id-7ebddff7934645b4b1349aa6b5a2e77a.html" target="element" class="i18n-elementtype-BusinessEvent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d52c35834ce44c19b26acd0d4fb40c22.html" target="element"> User registration approved </a> </td>
													    <td> <a href="../elements/id-d52c35834ce44c19b26acd0d4fb40c22.html" target="element" class="i18n-elementtype-BusinessEvent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e671f1e03ae641998f281f50f66ea8d8.html" target="element"> Municipality information submission </a> </td>
													    <td> <a href="../elements/id-e671f1e03ae641998f281f50f66ea8d8.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-374feb7e4b444934a2a0015feaddb276.html" target="element"> Municipality validation &amp; submission approval </a> </td>
													    <td> <a href="../elements/id-374feb7e4b444934a2a0015feaddb276.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-f6c2d0e10f224d77be747b474dccc012.html" target="element"> Municipality registration accepted </a> </td>
											    <td> <a href="../elements/id-f6c2d0e10f224d77be747b474dccc012.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4f6cfce55c7a4ac8bcc4a4ffb7807f86.html" target="element"> User </a> </td>
											    <td> <a href="../elements/id-4f6cfce55c7a4ac8bcc4a4ffb7807f86.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-18ebb6b74c344f8b87de0216f8d9c988.html" target="element"> Score </a> </td>
											    <td> <a href="../elements/id-18ebb6b74c344f8b87de0216f8d9c988.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d0d257e8a4314b5fbc2141c6b8f82657.html" target="element"> Ready for storefront creation </a> </td>
											    <td> <a href="../elements/id-d0d257e8a4314b5fbc2141c6b8f82657.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-5e49dfc8dd984f7a9cf69b0b02263523.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-5e49dfc8dd984f7a9cf69b0b02263523.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-6254d0de3c1e40d38cb435bdffbf69d3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6254d0de3c1e40d38cb435bdffbf69d3.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-131ac4cd42894e2d8dfe3cf07309c10b.html" target="element"> Onboarding </a> </td>
																		<td> <a href="../elements/id-4fe318d6e1ff4f41b8d553715004db8a.html" target="element"> Mail registration acceptance </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f8b91699d4454685b04f8810a6fa8ea0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f8b91699d4454685b04f8810a6fa8ea0.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-131ac4cd42894e2d8dfe3cf07309c10b.html" target="element"> Onboarding </a> </td>
																		<td> <a href="../elements/id-a3e1cc9e01914db1bfb6739515ad4885.html" target="element"> Scoring account creation </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-93aa8329a82240188011634f4c0a203f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-93aa8329a82240188011634f4c0a203f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-131ac4cd42894e2d8dfe3cf07309c10b.html" target="element"> Onboarding </a> </td>
																		<td> <a href="../elements/id-abc115faf7ae4e7b81beb8b8e73f6d3f.html" target="element"> Terms &amp; Conditions acceptance </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-97df4dd47ae04814beb3568d6b075d4f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-97df4dd47ae04814beb3568d6b075d4f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-131ac4cd42894e2d8dfe3cf07309c10b.html" target="element"> Onboarding </a> </td>
																		<td> <a href="../elements/id-e671f1e03ae641998f281f50f66ea8d8.html" target="element"> Municipality information submission </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ae16894306554d34ae27a0502c61a328.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ae16894306554d34ae27a0502c61a328.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-131ac4cd42894e2d8dfe3cf07309c10b.html" target="element"> Onboarding </a> </td>
																		<td> <a href="../elements/id-374feb7e4b444934a2a0015feaddb276.html" target="element"> Municipality validation &amp; submission approval </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-295ecc5abb9047c6b5187b403686cd6c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-295ecc5abb9047c6b5187b403686cd6c.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-4fe318d6e1ff4f41b8d553715004db8a.html" target="element"> Mail registration acceptance </a> </td>
																				<td> <a href="../elements/id-d52c35834ce44c19b26acd0d4fb40c22.html" target="element"> User registration approved </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-578254dbcb2f4bbdbf105d4a16ec83e6.html" target="element"> R/W </a> </td>
																				<td> <a href="../elements/id-578254dbcb2f4bbdbf105d4a16ec83e6.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-4fe318d6e1ff4f41b8d553715004db8a.html" target="element"> Mail registration acceptance </a> </td>
																				<td> <a href="../elements/id-4f6cfce55c7a4ac8bcc4a4ffb7807f86.html" target="element"> User </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-f099cfdb3c254ab8ad819d1328fbab47.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-f099cfdb3c254ab8ad819d1328fbab47.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-327c1f9bf4c744d7b77e3ab5338ee9f8.html" target="element"> Terms &amp; Conditions accepted </a> </td>
																				<td> <a href="../elements/id-269a2c1aa81240afbbacf23a837943c6.html" target="element"> AND </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-fb282e8e8b9047abbcdc754c84c6478d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-fb282e8e8b9047abbcdc754c84c6478d.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-a3e1cc9e01914db1bfb6739515ad4885.html" target="element"> Scoring account creation </a> </td>
																				<td> <a href="../elements/id-7ebddff7934645b4b1349aa6b5a2e77a.html" target="element"> Score account created </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-3fedbaab7d4548dbba1f42750435af66.html" target="element"> W </a> </td>
																				<td> <a href="../elements/id-3fedbaab7d4548dbba1f42750435af66.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-a3e1cc9e01914db1bfb6739515ad4885.html" target="element"> Scoring account creation </a> </td>
																				<td> <a href="../elements/id-18ebb6b74c344f8b87de0216f8d9c988.html" target="element"> Score </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-fb0015bf0dd44d198c6f2a7e2e6db5c6.html" target="element"> R/W </a> </td>
																				<td> <a href="../elements/id-fb0015bf0dd44d198c6f2a7e2e6db5c6.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-a3e1cc9e01914db1bfb6739515ad4885.html" target="element"> Scoring account creation </a> </td>
																				<td> <a href="../elements/id-4f6cfce55c7a4ac8bcc4a4ffb7807f86.html" target="element"> User </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-a75722b7b4004c83ba615bbc29f78d8d.html" target="element"> not accepted </a> </td>
																				<td> <a href="../elements/id-a75722b7b4004c83ba615bbc29f78d8d.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-abc115faf7ae4e7b81beb8b8e73f6d3f.html" target="element"> Terms &amp; Conditions acceptance </a> </td>
																				<td> <a href="../elements/id-c91f6d194e90401cbd3875c5fcd6f9ab.html" target="element"> Onboarding dropped </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-95e750e4c8d94de39d5f069b71390d4b.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-95e750e4c8d94de39d5f069b71390d4b.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-abc115faf7ae4e7b81beb8b8e73f6d3f.html" target="element"> Terms &amp; Conditions acceptance </a> </td>
																				<td> <a href="../elements/id-327c1f9bf4c744d7b77e3ab5338ee9f8.html" target="element"> Terms &amp; Conditions accepted </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-0076e4439555492a95a41c4e47195997.html" target="element"> R/W </a> </td>
																				<td> <a href="../elements/id-0076e4439555492a95a41c4e47195997.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-abc115faf7ae4e7b81beb8b8e73f6d3f.html" target="element"> Terms &amp; Conditions acceptance </a> </td>
																				<td> <a href="../elements/id-4f6cfce55c7a4ac8bcc4a4ffb7807f86.html" target="element"> User </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-fe7d976663fa4555bf703a1aa7b67905.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-fe7d976663fa4555bf703a1aa7b67905.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-6a30ad9119ca4c02b7f67c010b36f3e7.html" target="element"> Validated &amp; submission approved </a> </td>
																				<td> <a href="../elements/id-269a2c1aa81240afbbacf23a837943c6.html" target="element"> AND </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-ca89f4bab34f47e586c5e15140a5141d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-ca89f4bab34f47e586c5e15140a5141d.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-803245bb8fcc4c798d674f50ac038ea1.html" target="element"> AND </a> </td>
																				<td> <a href="../elements/id-abc115faf7ae4e7b81beb8b8e73f6d3f.html" target="element"> Terms &amp; Conditions acceptance </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-cc89df573c91462c859cf198c285cdb3.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-cc89df573c91462c859cf198c285cdb3.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-803245bb8fcc4c798d674f50ac038ea1.html" target="element"> AND </a> </td>
																				<td> <a href="../elements/id-374feb7e4b444934a2a0015feaddb276.html" target="element"> Municipality validation &amp; submission approval </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-99cbecd2d9a1491cb6d2ffeb58ab0444.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-99cbecd2d9a1491cb6d2ffeb58ab0444.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-269a2c1aa81240afbbacf23a837943c6.html" target="element"> AND </a> </td>
																				<td> <a href="../elements/id-a3e1cc9e01914db1bfb6739515ad4885.html" target="element"> Scoring account creation </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-cc40959dfd7b4c0c94574c66ca287aab.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-cc40959dfd7b4c0c94574c66ca287aab.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-7ebddff7934645b4b1349aa6b5a2e77a.html" target="element"> Score account created </a> </td>
																				<td> <a href="../elements/id-d0d257e8a4314b5fbc2141c6b8f82657.html" target="element"> Ready for storefront creation </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-d523453cbe5b4e3a9cac6d4d23b9144a.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d523453cbe5b4e3a9cac6d4d23b9144a.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-d52c35834ce44c19b26acd0d4fb40c22.html" target="element"> User registration approved </a> </td>
																				<td> <a href="../elements/id-803245bb8fcc4c798d674f50ac038ea1.html" target="element"> AND </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-e9053000acee480b9902daa2fa6ba8db.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e9053000acee480b9902daa2fa6ba8db.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-e671f1e03ae641998f281f50f66ea8d8.html" target="element"> Municipality information submission </a> </td>
																				<td> <a href="../elements/id-4fe318d6e1ff4f41b8d553715004db8a.html" target="element"> Mail registration acceptance </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-a4aa3254fe76479cb3f22bbdf2b60a6c.html" target="element"> W </a> </td>
																				<td> <a href="../elements/id-a4aa3254fe76479cb3f22bbdf2b60a6c.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-e671f1e03ae641998f281f50f66ea8d8.html" target="element"> Municipality information submission </a> </td>
																				<td> <a href="../elements/id-4f6cfce55c7a4ac8bcc4a4ffb7807f86.html" target="element"> User </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-047115ec329142b69addf4b0b018844c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-047115ec329142b69addf4b0b018844c.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-374feb7e4b444934a2a0015feaddb276.html" target="element"> Municipality validation &amp; submission approval </a> </td>
																				<td> <a href="../elements/id-6a30ad9119ca4c02b7f67c010b36f3e7.html" target="element"> Validated &amp; submission approved </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-ec98b4d1c20a4598b6db49dd25baf394.html" target="element"> not validated </a> </td>
																				<td> <a href="../elements/id-ec98b4d1c20a4598b6db49dd25baf394.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-374feb7e4b444934a2a0015feaddb276.html" target="element"> Municipality validation &amp; submission approval </a> </td>
																				<td> <a href="../elements/id-c91f6d194e90401cbd3875c5fcd6f9ab.html" target="element"> Onboarding dropped </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-c65cab0039d84dc2a3ee567efbae7eb2.html" target="element"> W </a> </td>
																				<td> <a href="../elements/id-c65cab0039d84dc2a3ee567efbae7eb2.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-374feb7e4b444934a2a0015feaddb276.html" target="element"> Municipality validation &amp; submission approval </a> </td>
																				<td> <a href="../elements/id-4f6cfce55c7a4ac8bcc4a4ffb7807f86.html" target="element"> User </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-d3b9029d423b40c4ad417252651ce882.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d3b9029d423b40c4ad417252651ce882.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f6c2d0e10f224d77be747b474dccc012.html" target="element"> Municipality registration accepted </a> </td>
																		<td> <a href="../elements/id-e671f1e03ae641998f281f50f66ea8d8.html" target="element"> Municipality information submission </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>