<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>2.2.2.3. Ubiquity - Conceptual Architecture Mapping</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>2.2.2.3. Ubiquity - Conceptual Architecture Mapping</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-business_process_cooperation"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_business_process_cooperation" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-a6f9711dcd8d41f38bace2ba1070b733.png" alt="2.2.2.3. Ubiquity - Conceptual Architecture Mapping" usemap="#id-a6f9711dcd8d41f38bace2ba1070b733map"/>
			   <map name="id-a6f9711dcd8d41f38bace2ba1070b733map">
				  		<area shape="rect" coords="20,332,260,442" href="../elements/id-17c7da0f831748049a149a0bae8ce937.html"  target="element">
				  		<area shape="rect" coords="980,332,1220,442" href="../elements/id-9e7d29a5de2d47f0a430862392760ae6.html"  target="element">
				  		<area shape="rect" coords="404,332,644,442" href="../elements/id-8125acaae4f54e629e43d4f416d0f932.html"  target="element">
				  		<area shape="rect" coords="692,332,932,442" href="../elements/id-50d0e1998d034b5ea24f9d713d347e31.html"  target="element">
				  				<area shape="rect" coords="692,68,932,178" href="../elements/id-940717cae92443a0ad13359afa47f010.html"  target="element">
				  				<area shape="rect" coords="404,68,644,178" href="../elements/id-8e113288dd5041bdb961d9655702a902.html"  target="element">

				  		<area shape="rect" coords="356,20,958,214" href="../elements/id-08ff38169254413583e4260c5d7b6b2d.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-08ff38169254413583e4260c5d7b6b2d.html" target="element"> 3. Ubiquity </a> </td>
											    <td> <a href="../elements/id-08ff38169254413583e4260c5d7b6b2d.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-8e113288dd5041bdb961d9655702a902.html" target="element"> 3.1. Location </a> </td>
													    <td> <a href="../elements/id-8e113288dd5041bdb961d9655702a902.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-940717cae92443a0ad13359afa47f010.html" target="element"> 3.2. Device </a> </td>
													    <td> <a href="../elements/id-940717cae92443a0ad13359afa47f010.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-50d0e1998d034b5ea24f9d713d347e31.html" target="element"> Device Registrator </a> </td>
											    <td> <a href="../elements/id-50d0e1998d034b5ea24f9d713d347e31.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8125acaae4f54e629e43d4f416d0f932.html" target="element"> HeyBlue Tracking &amp; Notification </a> </td>
											    <td> <a href="../elements/id-8125acaae4f54e629e43d4f416d0f932.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9e7d29a5de2d47f0a430862392760ae6.html" target="element"> HeyBlue User Service </a> </td>
											    <td> <a href="../elements/id-9e7d29a5de2d47f0a430862392760ae6.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-17c7da0f831748049a149a0bae8ce937.html" target="element"> HeyBlue Mobile </a> </td>
											    <td> <a href="../elements/id-17c7da0f831748049a149a0bae8ce937.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-3c3308cfb65149efa2bb0507f3d057d5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3c3308cfb65149efa2bb0507f3d057d5.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-08ff38169254413583e4260c5d7b6b2d.html" target="element"> 3. Ubiquity </a> </td>
																		<td> <a href="../elements/id-8e113288dd5041bdb961d9655702a902.html" target="element"> 3.1. Location </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b3b7310c016c4cb3b923f50847d74fbc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b3b7310c016c4cb3b923f50847d74fbc.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-08ff38169254413583e4260c5d7b6b2d.html" target="element"> 3. Ubiquity </a> </td>
																		<td> <a href="../elements/id-940717cae92443a0ad13359afa47f010.html" target="element"> 3.2. Device </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-dbd0a9b78d9a4c3c9b3e81bc9adc0045.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-dbd0a9b78d9a4c3c9b3e81bc9adc0045.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-50d0e1998d034b5ea24f9d713d347e31.html" target="element"> Device Registrator </a> </td>
																		<td> <a href="../elements/id-940717cae92443a0ad13359afa47f010.html" target="element"> 3.2. Device </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-b4a40b378d9449169e175e69e342bd88.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b4a40b378d9449169e175e69e342bd88.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8125acaae4f54e629e43d4f416d0f932.html" target="element"> HeyBlue Tracking &amp; Notification </a> </td>
																		<td> <a href="../elements/id-8e113288dd5041bdb961d9655702a902.html" target="element"> 3.1. Location </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-fa2409d24249467ebfd1e70b9ed2458d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fa2409d24249467ebfd1e70b9ed2458d.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9e7d29a5de2d47f0a430862392760ae6.html" target="element"> HeyBlue User Service </a> </td>
																		<td> <a href="../elements/id-940717cae92443a0ad13359afa47f010.html" target="element"> 3.2. Device </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-f2a39ed7c40449bba25e9cd9a4f1b1f2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f2a39ed7c40449bba25e9cd9a4f1b1f2.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-17c7da0f831748049a149a0bae8ce937.html" target="element"> HeyBlue Mobile </a> </td>
																		<td> <a href="../elements/id-8e113288dd5041bdb961d9655702a902.html" target="element"> 3.1. Location </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>