<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>2.3.3. Civilian / Police Officer interaction - Business Entities</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>2.3.3. Civilian / Police Officer interaction - Business Entities</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-application_usage"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_application_usage" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-a2f739cfd9c6462ab9ed4783e8ffce45.png" alt="2.3.3. Civilian / Police Officer interaction - Business Entities" usemap="#id-a2f739cfd9c6462ab9ed4783e8ffce45map"/>
			   <map name="id-a2f739cfd9c6462ab9ed4783e8ffce45map">
				          <area shape="rect" coords="284,740,1318,886" href="../objects/id-e2f2287db74b494d9f7bed8c85b1c7d8.html" target="element" >
				  		<area shape="rect" coords="2804,20,3044,130" href="../elements/id-18ebb6b74c344f8b87de0216f8d9c988.html"  target="element">
				  		<area shape="rect" coords="308,20,548,130" href="../elements/id-8b060d09363f4768be0d42c3b48952cd.html"  target="element">
				  		<area shape="rect" coords="1028,20,1268,130" href="../elements/id-4f6cfce55c7a4ac8bcc4a4ffb7807f86.html"  target="element">
				  		<area shape="rect" coords="1436,20,1676,130" href="../elements/id-c0e1700fadca42f58a018ca1786e5614.html"  target="element">
				  				<area shape="rect" coords="596,452,836,562" href="../elements/id-137a3d18ea244851935f2c45f90e811d.html"  target="element">
				  				<area shape="rect" coords="1556,384,1796,494" href="../elements/id-d69524401b844b13869392d965270670.html"  target="element">
				  				<area shape="rect" coords="1268,524,1508,634" href="../elements/id-1f520f5b3a05489eafce763cd5dd67e8.html"  target="element">
				  				<area shape="rect" coords="2600,524,2840,634" href="../elements/id-7319b03a578c438292108d00dd052215.html"  target="element">
				  				<area shape="rect" coords="1916,452,2156,562" href="../elements/id-215cc2db94034d93be7caa634c9cb128.html"  target="element">
				  				<area shape="rect" coords="2240,452,2480,562" href="../elements/id-e7ad56934bed42e294ebd99888710afd.html"  target="element">
				  				<area shape="rect" coords="1268,384,1508,494" href="../elements/id-7b6d272121884616be4025816b9fc307.html"  target="element">
				  				<area shape="rect" coords="884,452,1124,562" href="../elements/id-671674e39d8443718a0c148b862fe8d7.html"  target="element">
				  				<area shape="rect" coords="1832,424,1862,454" href="../elements/id-c63296bfcd4c45ccbc1483bc2b38e29b.html"  target="element">
				  				<area shape="rect" coords="308,452,548,562" href="../elements/id-dd34203bbb9a4ca19d174b805f8744a2.html"  target="element">
				  				<area shape="rect" coords="1172,492,1202,522" href="../elements/id-54eb686590ba46698fe0f83a046afa01.html"  target="element">
				  				<area shape="rect" coords="2732,356,2972,466" href="../elements/id-18d0e715555c41d5a02906ca77bfbfce.html"  target="element">
				  				<area shape="rect" coords="2516,492,2546,522" href="../elements/id-44c7be53539e449ca65d2c3f183bc86d.html"  target="element">
				  				<area shape="rect" coords="2012,312,2252,422" href="../elements/id-08dab37edea048aba84811bf2cc2bb1f.html"  target="element">

				  		<area shape="rect" coords="284,260,2998,718" href="../elements/id-83b3db15c61344829a4e9cf3d7d0aa53.html"  target="element">
				  		<area shape="rect" coords="3020,356,3260,466" href="../elements/id-bc795d6597604b75bb42204ce953178e.html"  target="element">
				  		<area shape="rect" coords="20,452,260,562" href="../elements/id-a9a44e1b09fc4319a20341d9c91e5524.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-a9a44e1b09fc4319a20341d9c91e5524.html" target="element"> Ready for interactions </a> </td>
											    <td> <a href="../elements/id-a9a44e1b09fc4319a20341d9c91e5524.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-bc795d6597604b75bb42204ce953178e.html" target="element"> Points balance updated </a> </td>
											    <td> <a href="../elements/id-bc795d6597604b75bb42204ce953178e.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-83b3db15c61344829a4e9cf3d7d0aa53.html" target="element"> Interaction </a> </td>
											    <td> <a href="../elements/id-83b3db15c61344829a4e9cf3d7d0aa53.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-08dab37edea048aba84811bf2cc2bb1f.html" target="element"> Virtual interaction </a> </td>
													    <td> <a href="../elements/id-08dab37edea048aba84811bf2cc2bb1f.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-44c7be53539e449ca65d2c3f183bc86d.html" target="element"> OR </a> </td>
													    <td> <a href="../elements/id-44c7be53539e449ca65d2c3f183bc86d.html" target="element" class="i18n-elementtype-Junction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-18d0e715555c41d5a02906ca77bfbfce.html" target="element"> Points assignment </a> </td>
													    <td> <a href="../elements/id-18d0e715555c41d5a02906ca77bfbfce.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-54eb686590ba46698fe0f83a046afa01.html" target="element"> OR </a> </td>
													    <td> <a href="../elements/id-54eb686590ba46698fe0f83a046afa01.html" target="element" class="i18n-elementtype-Junction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-dd34203bbb9a4ca19d174b805f8744a2.html" target="element"> Interaction analysis &amp; detection </a> </td>
													    <td> <a href="../elements/id-dd34203bbb9a4ca19d174b805f8744a2.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c63296bfcd4c45ccbc1483bc2b38e29b.html" target="element"> OR </a> </td>
													    <td> <a href="../elements/id-c63296bfcd4c45ccbc1483bc2b38e29b.html" target="element" class="i18n-elementtype-Junction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-671674e39d8443718a0c148b862fe8d7.html" target="element"> Interaction acceptance (both parties) </a> </td>
													    <td> <a href="../elements/id-671674e39d8443718a0c148b862fe8d7.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-7b6d272121884616be4025816b9fc307.html" target="element"> Interaction accepted </a> </td>
													    <td> <a href="../elements/id-7b6d272121884616be4025816b9fc307.html" target="element" class="i18n-elementtype-BusinessEvent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e7ad56934bed42e294ebd99888710afd.html" target="element"> Interaction confirmed </a> </td>
													    <td> <a href="../elements/id-e7ad56934bed42e294ebd99888710afd.html" target="element" class="i18n-elementtype-BusinessEvent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-215cc2db94034d93be7caa634c9cb128.html" target="element"> Physical interaction </a> </td>
													    <td> <a href="../elements/id-215cc2db94034d93be7caa634c9cb128.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-7319b03a578c438292108d00dd052215.html" target="element"> Post on HeyBlue social media </a> </td>
													    <td> <a href="../elements/id-7319b03a578c438292108d00dd052215.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-1f520f5b3a05489eafce763cd5dd67e8.html" target="element"> Interaction ignored (explicit or timeout) </a> </td>
													    <td> <a href="../elements/id-1f520f5b3a05489eafce763cd5dd67e8.html" target="element" class="i18n-elementtype-BusinessEvent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d69524401b844b13869392d965270670.html" target="element"> Civilian / Police Officer virtual handshake </a> </td>
													    <td> <a href="../elements/id-d69524401b844b13869392d965270670.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-137a3d18ea244851935f2c45f90e811d.html" target="element"> Possible interaction detected </a> </td>
													    <td> <a href="../elements/id-137a3d18ea244851935f2c45f90e811d.html" target="element" class="i18n-elementtype-BusinessEvent">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-c0e1700fadca42f58a018ca1786e5614.html" target="element"> Interaction </a> </td>
											    <td> <a href="../elements/id-c0e1700fadca42f58a018ca1786e5614.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4f6cfce55c7a4ac8bcc4a4ffb7807f86.html" target="element"> User </a> </td>
											    <td> <a href="../elements/id-4f6cfce55c7a4ac8bcc4a4ffb7807f86.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8b060d09363f4768be0d42c3b48952cd.html" target="element"> Track </a> </td>
											    <td> <a href="../elements/id-8b060d09363f4768be0d42c3b48952cd.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-18ebb6b74c344f8b87de0216f8d9c988.html" target="element"> Score </a> </td>
											    <td> <a href="../elements/id-18ebb6b74c344f8b87de0216f8d9c988.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-e2f2287db74b494d9f7bed8c85b1c7d8.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-e2f2287db74b494d9f7bed8c85b1c7d8.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-f3eafb3bfa924312b165957db2f39736.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f3eafb3bfa924312b165957db2f39736.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a9a44e1b09fc4319a20341d9c91e5524.html" target="element"> Ready for interactions </a> </td>
																		<td> <a href="../elements/id-dd34203bbb9a4ca19d174b805f8744a2.html" target="element"> Interaction analysis &amp; detection </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-7c5ff4e129ef44fbad385b668760b004.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7c5ff4e129ef44fbad385b668760b004.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-83b3db15c61344829a4e9cf3d7d0aa53.html" target="element"> Interaction </a> </td>
																		<td> <a href="../elements/id-08dab37edea048aba84811bf2cc2bb1f.html" target="element"> Virtual interaction </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-37aea586a7c04b9789e1cb8d23aefbc8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-37aea586a7c04b9789e1cb8d23aefbc8.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-83b3db15c61344829a4e9cf3d7d0aa53.html" target="element"> Interaction </a> </td>
																		<td> <a href="../elements/id-18d0e715555c41d5a02906ca77bfbfce.html" target="element"> Points assignment </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3f46b2a0a69b4b649e147b101a287339.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3f46b2a0a69b4b649e147b101a287339.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-83b3db15c61344829a4e9cf3d7d0aa53.html" target="element"> Interaction </a> </td>
																		<td> <a href="../elements/id-dd34203bbb9a4ca19d174b805f8744a2.html" target="element"> Interaction analysis &amp; detection </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2cefe268284d496c89a846ae2862d42e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2cefe268284d496c89a846ae2862d42e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-83b3db15c61344829a4e9cf3d7d0aa53.html" target="element"> Interaction </a> </td>
																		<td> <a href="../elements/id-671674e39d8443718a0c148b862fe8d7.html" target="element"> Interaction acceptance (both parties) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3da0460b28aa4134ac4435914fc05819.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3da0460b28aa4134ac4435914fc05819.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-83b3db15c61344829a4e9cf3d7d0aa53.html" target="element"> Interaction </a> </td>
																		<td> <a href="../elements/id-215cc2db94034d93be7caa634c9cb128.html" target="element"> Physical interaction </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c8c71c868b6548beb9b7a50410a99e12.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c8c71c868b6548beb9b7a50410a99e12.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-83b3db15c61344829a4e9cf3d7d0aa53.html" target="element"> Interaction </a> </td>
																		<td> <a href="../elements/id-7319b03a578c438292108d00dd052215.html" target="element"> Post on HeyBlue social media </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3bcabb2389dc413387a3cb0464357348.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3bcabb2389dc413387a3cb0464357348.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-83b3db15c61344829a4e9cf3d7d0aa53.html" target="element"> Interaction </a> </td>
																		<td> <a href="../elements/id-d69524401b844b13869392d965270670.html" target="element"> Civilian / Police Officer virtual handshake </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-7548aa569ff8494e85afd90a3e40d6e7.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7548aa569ff8494e85afd90a3e40d6e7.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-08dab37edea048aba84811bf2cc2bb1f.html" target="element"> Virtual interaction </a> </td>
																				<td> <a href="../elements/id-e7ad56934bed42e294ebd99888710afd.html" target="element"> Interaction confirmed </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-78494fc15a6d4d47924ea052e75c8a57.html" target="element"> R </a> </td>
																				<td> <a href="../elements/id-78494fc15a6d4d47924ea052e75c8a57.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-08dab37edea048aba84811bf2cc2bb1f.html" target="element"> Virtual interaction </a> </td>
																				<td> <a href="../elements/id-4f6cfce55c7a4ac8bcc4a4ffb7807f86.html" target="element"> User </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-194582ee36814fc2909f054fea204fe5.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-194582ee36814fc2909f054fea204fe5.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-08dab37edea048aba84811bf2cc2bb1f.html" target="element"> Virtual interaction </a> </td>
																				<td> <a href="../elements/id-c0e1700fadca42f58a018ca1786e5614.html" target="element"> Interaction </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-a4ee148218344118aca62667d6e78ab6.html" target="element"> optional </a> </td>
																				<td> <a href="../elements/id-a4ee148218344118aca62667d6e78ab6.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-44c7be53539e449ca65d2c3f183bc86d.html" target="element"> OR </a> </td>
																				<td> <a href="../elements/id-7319b03a578c438292108d00dd052215.html" target="element"> Post on HeyBlue social media </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-dbaeb94a06624becb78923e523761184.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-dbaeb94a06624becb78923e523761184.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-44c7be53539e449ca65d2c3f183bc86d.html" target="element"> OR </a> </td>
																				<td> <a href="../elements/id-18d0e715555c41d5a02906ca77bfbfce.html" target="element"> Points assignment </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-63dc1ed3d7db411bb3bb35ba49dd3e85.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-63dc1ed3d7db411bb3bb35ba49dd3e85.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-18d0e715555c41d5a02906ca77bfbfce.html" target="element"> Points assignment </a> </td>
																				<td> <a href="../elements/id-bc795d6597604b75bb42204ce953178e.html" target="element"> Points balance updated </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-72d01ed652f54ff692714102a60680d5.html" target="element"> R/W </a> </td>
																				<td> <a href="../elements/id-72d01ed652f54ff692714102a60680d5.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-18d0e715555c41d5a02906ca77bfbfce.html" target="element"> Points assignment </a> </td>
																				<td> <a href="../elements/id-18ebb6b74c344f8b87de0216f8d9c988.html" target="element"> Score </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-f64cfbcc5efe42cd93f3e57816566541.html" target="element"> R/W </a> </td>
																				<td> <a href="../elements/id-f64cfbcc5efe42cd93f3e57816566541.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-18d0e715555c41d5a02906ca77bfbfce.html" target="element"> Points assignment </a> </td>
																				<td> <a href="../elements/id-c0e1700fadca42f58a018ca1786e5614.html" target="element"> Interaction </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-f79dfdf0e56e40bd8ca5ea9781fbdd6f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-f79dfdf0e56e40bd8ca5ea9781fbdd6f.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-54eb686590ba46698fe0f83a046afa01.html" target="element"> OR </a> </td>
																				<td> <a href="../elements/id-1f520f5b3a05489eafce763cd5dd67e8.html" target="element"> Interaction ignored (explicit or timeout) </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-c325d4a494004572878fc5309053c84a.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-c325d4a494004572878fc5309053c84a.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-54eb686590ba46698fe0f83a046afa01.html" target="element"> OR </a> </td>
																				<td> <a href="../elements/id-7b6d272121884616be4025816b9fc307.html" target="element"> Interaction accepted </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-4b20d4fe146342b8935dcff2c5376324.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-4b20d4fe146342b8935dcff2c5376324.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-dd34203bbb9a4ca19d174b805f8744a2.html" target="element"> Interaction analysis &amp; detection </a> </td>
																				<td> <a href="../elements/id-137a3d18ea244851935f2c45f90e811d.html" target="element"> Possible interaction detected </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-75c644d9ded741098c4d813a230e79f7.html" target="element"> R </a> </td>
																				<td> <a href="../elements/id-75c644d9ded741098c4d813a230e79f7.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-dd34203bbb9a4ca19d174b805f8744a2.html" target="element"> Interaction analysis &amp; detection </a> </td>
																				<td> <a href="../elements/id-8b060d09363f4768be0d42c3b48952cd.html" target="element"> Track </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-bc41651914894b5faf9da36684858814.html" target="element"> R </a> </td>
																				<td> <a href="../elements/id-bc41651914894b5faf9da36684858814.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-dd34203bbb9a4ca19d174b805f8744a2.html" target="element"> Interaction analysis &amp; detection </a> </td>
																				<td> <a href="../elements/id-4f6cfce55c7a4ac8bcc4a4ffb7807f86.html" target="element"> User </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-8e3c11360e9047e6962042bc852da77f.html" target="element"> W </a> </td>
																				<td> <a href="../elements/id-8e3c11360e9047e6962042bc852da77f.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-dd34203bbb9a4ca19d174b805f8744a2.html" target="element"> Interaction analysis &amp; detection </a> </td>
																				<td> <a href="../elements/id-c0e1700fadca42f58a018ca1786e5614.html" target="element"> Interaction </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-54bacc7c91704a27a654ec3783d50625.html" target="element"> optional </a> </td>
																				<td> <a href="../elements/id-54bacc7c91704a27a654ec3783d50625.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-c63296bfcd4c45ccbc1483bc2b38e29b.html" target="element"> OR </a> </td>
																				<td> <a href="../elements/id-215cc2db94034d93be7caa634c9cb128.html" target="element"> Physical interaction </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-f74133cc9c2e4b6e99cc11bc76f06d80.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-f74133cc9c2e4b6e99cc11bc76f06d80.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-c63296bfcd4c45ccbc1483bc2b38e29b.html" target="element"> OR </a> </td>
																				<td> <a href="../elements/id-08dab37edea048aba84811bf2cc2bb1f.html" target="element"> Virtual interaction </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-7758cfb9d5c642f1a013b5144254a8e4.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7758cfb9d5c642f1a013b5144254a8e4.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-671674e39d8443718a0c148b862fe8d7.html" target="element"> Interaction acceptance (both parties) </a> </td>
																				<td> <a href="../elements/id-54eb686590ba46698fe0f83a046afa01.html" target="element"> OR </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-d73b99241340417bb907aebf566cddf3.html" target="element"> R/W </a> </td>
																				<td> <a href="../elements/id-d73b99241340417bb907aebf566cddf3.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-671674e39d8443718a0c148b862fe8d7.html" target="element"> Interaction acceptance (both parties) </a> </td>
																				<td> <a href="../elements/id-c0e1700fadca42f58a018ca1786e5614.html" target="element"> Interaction </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-5b343e82b92a434eb2cd82333cdf92fc.html" target="element"> R </a> </td>
																				<td> <a href="../elements/id-5b343e82b92a434eb2cd82333cdf92fc.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-671674e39d8443718a0c148b862fe8d7.html" target="element"> Interaction acceptance (both parties) </a> </td>
																				<td> <a href="../elements/id-4f6cfce55c7a4ac8bcc4a4ffb7807f86.html" target="element"> User </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-4499dd95b3ff4854ae1645bcd87bd54c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-4499dd95b3ff4854ae1645bcd87bd54c.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-7b6d272121884616be4025816b9fc307.html" target="element"> Interaction accepted </a> </td>
																				<td> <a href="../elements/id-d69524401b844b13869392d965270670.html" target="element"> Civilian / Police Officer virtual handshake </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-cf204acbe5aa4697aaf3a355287d41eb.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-cf204acbe5aa4697aaf3a355287d41eb.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-e7ad56934bed42e294ebd99888710afd.html" target="element"> Interaction confirmed </a> </td>
																				<td> <a href="../elements/id-44c7be53539e449ca65d2c3f183bc86d.html" target="element"> OR </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-d4ad417e602144cdab1e351c0527700e.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d4ad417e602144cdab1e351c0527700e.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-215cc2db94034d93be7caa634c9cb128.html" target="element"> Physical interaction </a> </td>
																				<td> <a href="../elements/id-e7ad56934bed42e294ebd99888710afd.html" target="element"> Interaction confirmed </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-693be7fcda2648529af229d5a5a24f46.html" target="element"> R </a> </td>
																				<td> <a href="../elements/id-693be7fcda2648529af229d5a5a24f46.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-215cc2db94034d93be7caa634c9cb128.html" target="element"> Physical interaction </a> </td>
																				<td> <a href="../elements/id-4f6cfce55c7a4ac8bcc4a4ffb7807f86.html" target="element"> User </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-599012aeeaa4461f9cfa8fdd2eb71698.html" target="element"> R/W </a> </td>
																				<td> <a href="../elements/id-599012aeeaa4461f9cfa8fdd2eb71698.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-215cc2db94034d93be7caa634c9cb128.html" target="element"> Physical interaction </a> </td>
																				<td> <a href="../elements/id-c0e1700fadca42f58a018ca1786e5614.html" target="element"> Interaction </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-8550a5eaac704075962247f02a703914.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-8550a5eaac704075962247f02a703914.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-7319b03a578c438292108d00dd052215.html" target="element"> Post on HeyBlue social media </a> </td>
																				<td> <a href="../elements/id-18d0e715555c41d5a02906ca77bfbfce.html" target="element"> Points assignment </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-0cad4e1aa3514a97949110688c8857fe.html" target="element"> R/W </a> </td>
																				<td> <a href="../elements/id-0cad4e1aa3514a97949110688c8857fe.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-7319b03a578c438292108d00dd052215.html" target="element"> Post on HeyBlue social media </a> </td>
																				<td> <a href="../elements/id-c0e1700fadca42f58a018ca1786e5614.html" target="element"> Interaction </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-40eb9e7336b94e0699a1c4cdecaea3ff.html" target="element"> state not changed </a> </td>
																				<td> <a href="../elements/id-40eb9e7336b94e0699a1c4cdecaea3ff.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-1f520f5b3a05489eafce763cd5dd67e8.html" target="element"> Interaction ignored (explicit or timeout) </a> </td>
																				<td> <a href="../elements/id-dd34203bbb9a4ca19d174b805f8744a2.html" target="element"> Interaction analysis &amp; detection </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-b413bce4522047a4a8608e0fb19484bd.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-b413bce4522047a4a8608e0fb19484bd.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-d69524401b844b13869392d965270670.html" target="element"> Civilian / Police Officer virtual handshake </a> </td>
																				<td> <a href="../elements/id-c63296bfcd4c45ccbc1483bc2b38e29b.html" target="element"> OR </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-37808564921343118bb69e7e632246e6.html" target="element"> R </a> </td>
																				<td> <a href="../elements/id-37808564921343118bb69e7e632246e6.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-d69524401b844b13869392d965270670.html" target="element"> Civilian / Police Officer virtual handshake </a> </td>
																				<td> <a href="../elements/id-4f6cfce55c7a4ac8bcc4a4ffb7807f86.html" target="element"> User </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-4c67b29f56044bdeb89839402d6c1eed.html" target="element"> W </a> </td>
																				<td> <a href="../elements/id-4c67b29f56044bdeb89839402d6c1eed.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-d69524401b844b13869392d965270670.html" target="element"> Civilian / Police Officer virtual handshake </a> </td>
																				<td> <a href="../elements/id-c0e1700fadca42f58a018ca1786e5614.html" target="element"> Interaction </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-9fbcd2c7ccf0492c8de69c39741da597.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-9fbcd2c7ccf0492c8de69c39741da597.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-137a3d18ea244851935f2c45f90e811d.html" target="element"> Possible interaction detected </a> </td>
																				<td> <a href="../elements/id-671674e39d8443718a0c148b862fe8d7.html" target="element"> Interaction acceptance (both parties) </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>