<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>3.2. HeyBlue Archive - Technology</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>3.2. HeyBlue Archive - Technology</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-technology_usage"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_technology_usage" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-bda29446ac99433a96fa89eeea8a7d79.png" alt="3.2. HeyBlue Archive - Technology" usemap="#id-bda29446ac99433a96fa89eeea8a7d79map"/>
			   <map name="id-bda29446ac99433a96fa89eeea8a7d79map">
				          <area shape="rect" coords="20,1124,1198,1342" href="../objects/id-886b2e9f3ee34278b91d6687a4c9f9c5.html" target="element" >
				  		<area shape="rect" coords="932,188,1172,298" href="../elements/id-3626a9809d1f4e57877ccdfc8e7824e2.html"  target="element">
				  		<area shape="rect" coords="788,20,1028,130" href="../elements/id-7476326aada043b1ae42a99ebb829a36.html"  target="element">
				  		<area shape="rect" coords="68,188,308,298" href="../elements/id-323248511e3c418b8b55e43190b1b7ae.html"  target="element">
				  		<area shape="rect" coords="644,188,884,298" href="../elements/id-ee15d41fe80f4dbb978fbba67995dc1a.html"  target="element">
				  		<area shape="rect" coords="358,188,598,298" href="../elements/id-fc10bb88716646bf85c6e3f16a88a74f.html"  target="element">
				  				<area shape="rect" coords="932,668,1172,778" href="../elements/id-685ed33cea804f9f8dd325e47654c351.html"  target="element">
				  				<area shape="rect" coords="932,980,1172,1090" href="../elements/id-a759159035ba4e238dc8d6e2d1220292.html"  target="element">
				  				<area shape="rect" coords="932,812,1172,922" href="../elements/id-915faf95f4cd4d74a3f56a0a21797e1d.html"  target="element">
				  						<area shape="rect" coords="68,836,308,946" href="../elements/id-5a68ad93bebe4f16a3c54164131848bb.html"  target="element">
				  						<area shape="rect" coords="332,836,572,946" href="../elements/id-a6f3754b2bb542e6a830c7577b1622bc.html"  target="element">
				  						<area shape="rect" coords="620,836,860,946" href="../elements/id-c0837c13b3454e178d584c908705e1ac.html"  target="element">
				  						<area shape="rect" coords="620,716,860,826" href="../elements/id-3862fd6c4e2d4c3ca6335a658139673a.html"  target="element">
				  						<area shape="rect" coords="332,716,572,826" href="../elements/id-103374ba08114e2baa34cbd7d68d10e7.html"  target="element">
				  						<area shape="rect" coords="68,716,308,826" href="../elements/id-4d51345193f94315a3776bd160605995.html"  target="element">
				  						<area shape="rect" coords="68,596,308,706" href="../elements/id-0845607cfc254b08aeaba09e59f0499d.html"  target="element">
				  						<area shape="rect" coords="332,596,572,706" href="../elements/id-5742125010874a93834a84593610e5a1.html"  target="element">
				  						<area shape="rect" coords="620,596,860,706" href="../elements/id-571b9ec8fdfd413aa1a77bba605aca81.html"  target="element">
				  						<area shape="rect" coords="620,476,860,586" href="../elements/id-b11005f194f04042811f48f0620cee74.html"  target="element">
				  						<area shape="rect" coords="332,476,572,586" href="../elements/id-eebb96e09c8c47aa97d2c60d1d118878.html"  target="element">
				  						<area shape="rect" coords="68,476,308,586" href="../elements/id-59347cbdfc044d9cb4fb16752f76d891.html"  target="element">

				  				<area shape="rect" coords="44,428,886,958" href="../elements/id-407b068806144808954a453f8fc1662b.html"  target="element">
				  				<area shape="rect" coords="332,980,572,1090" href="../elements/id-7c24003ef94e42f8999f9da0bd285e28.html"  target="element">
				  				<area shape="rect" coords="620,980,860,1090" href="../elements/id-5d31dc4fff73419e8b88cefc04acbd0b.html"  target="element">
				  				<area shape="rect" coords="932,500,1172,610" href="../elements/id-de2196c0aa9e46a8bc0dfa0c8c8f8a51.html"  target="element">

				  		<area shape="rect" coords="20,332,1222,1102" href="../elements/id-dc9cbfdfe26f425c8fdeda5f1359416c.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-dc9cbfdfe26f425c8fdeda5f1359416c.html" target="element"> AWS - us-east-coast-1 </a> </td>
											    <td> <a href="../elements/id-dc9cbfdfe26f425c8fdeda5f1359416c.html" target="element" class="i18n-elementtype-Node">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-de2196c0aa9e46a8bc0dfa0c8c8f8a51.html" target="element"> AWS Athena </a> </td>
													    <td> <a href="../elements/id-de2196c0aa9e46a8bc0dfa0c8c8f8a51.html" target="element" class="i18n-elementtype-Node">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-5d31dc4fff73419e8b88cefc04acbd0b.html" target="element"> Archive Kinesis </a> </td>
													    <td> <a href="../elements/id-5d31dc4fff73419e8b88cefc04acbd0b.html" target="element" class="i18n-elementtype-Node">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-7c24003ef94e42f8999f9da0bd285e28.html" target="element"> Kinesis Data Streams </a> </td>
													    <td> <a href="../elements/id-7c24003ef94e42f8999f9da0bd285e28.html" target="element" class="i18n-elementtype-TechnologyService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-407b068806144808954a453f8fc1662b.html" target="element"> Data Archiving - Aging </a> </td>
													    <td> <a href="../elements/id-407b068806144808954a453f8fc1662b.html" target="element" class="i18n-elementtype-Grouping">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-59347cbdfc044d9cb4fb16752f76d891.html" target="element"> AWS Glacier Deep Archive </a> </td>
															    <td> <a href="../elements/id-59347cbdfc044d9cb4fb16752f76d891.html" target="element" class="i18n-elementtype-TechnologyService">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-eebb96e09c8c47aa97d2c60d1d118878.html" target="element"> AWS Glacier Deep Archive </a> </td>
															    <td> <a href="../elements/id-eebb96e09c8c47aa97d2c60d1d118878.html" target="element" class="i18n-elementtype-Node">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-b11005f194f04042811f48f0620cee74.html" target="element"> Archive Glacier Deep Archive </a> </td>
															    <td> <a href="../elements/id-b11005f194f04042811f48f0620cee74.html" target="element" class="i18n-elementtype-TechnologyService">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-571b9ec8fdfd413aa1a77bba605aca81.html" target="element"> Archive Glacier </a> </td>
															    <td> <a href="../elements/id-571b9ec8fdfd413aa1a77bba605aca81.html" target="element" class="i18n-elementtype-TechnologyService">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-5742125010874a93834a84593610e5a1.html" target="element"> AWS Glacier </a> </td>
															    <td> <a href="../elements/id-5742125010874a93834a84593610e5a1.html" target="element" class="i18n-elementtype-Node">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-0845607cfc254b08aeaba09e59f0499d.html" target="element"> AWS Glacier </a> </td>
															    <td> <a href="../elements/id-0845607cfc254b08aeaba09e59f0499d.html" target="element" class="i18n-elementtype-TechnologyService">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-4d51345193f94315a3776bd160605995.html" target="element"> AWS Glacier Instant Retrieval </a> </td>
															    <td> <a href="../elements/id-4d51345193f94315a3776bd160605995.html" target="element" class="i18n-elementtype-TechnologyService">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-103374ba08114e2baa34cbd7d68d10e7.html" target="element"> AWS Glacier Instant Retrival </a> </td>
															    <td> <a href="../elements/id-103374ba08114e2baa34cbd7d68d10e7.html" target="element" class="i18n-elementtype-Node">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-3862fd6c4e2d4c3ca6335a658139673a.html" target="element"> Archive Glacier Instant Retrival </a> </td>
															    <td> <a href="../elements/id-3862fd6c4e2d4c3ca6335a658139673a.html" target="element" class="i18n-elementtype-TechnologyService">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-c0837c13b3454e178d584c908705e1ac.html" target="element"> Archive Bucket </a> </td>
															    <td> <a href="../elements/id-c0837c13b3454e178d584c908705e1ac.html" target="element" class="i18n-elementtype-TechnologyService">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-a6f3754b2bb542e6a830c7577b1622bc.html" target="element"> AWS Bucket </a> </td>
															    <td> <a href="../elements/id-a6f3754b2bb542e6a830c7577b1622bc.html" target="element" class="i18n-elementtype-Node">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-5a68ad93bebe4f16a3c54164131848bb.html" target="element"> AWS Bucket </a> </td>
															    <td> <a href="../elements/id-5a68ad93bebe4f16a3c54164131848bb.html" target="element" class="i18n-elementtype-TechnologyService">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-915faf95f4cd4d74a3f56a0a21797e1d.html" target="element"> AWS Kinesis Firehose Archive </a> </td>
													    <td> <a href="../elements/id-915faf95f4cd4d74a3f56a0a21797e1d.html" target="element" class="i18n-elementtype-Node">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a759159035ba4e238dc8d6e2d1220292.html" target="element"> AWS Kinesis Firehose </a> </td>
													    <td> <a href="../elements/id-a759159035ba4e238dc8d6e2d1220292.html" target="element" class="i18n-elementtype-TechnologyService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-685ed33cea804f9f8dd325e47654c351.html" target="element"> AWS Athena </a> </td>
													    <td> <a href="../elements/id-685ed33cea804f9f8dd325e47654c351.html" target="element" class="i18n-elementtype-TechnologyService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-fc10bb88716646bf85c6e3f16a88a74f.html" target="element"> Metabase SaaS </a> </td>
											    <td> <a href="../elements/id-fc10bb88716646bf85c6e3f16a88a74f.html" target="element" class="i18n-elementtype-Node">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ee15d41fe80f4dbb978fbba67995dc1a.html" target="element"> HeyBlue Archive </a> </td>
											    <td> <a href="../elements/id-ee15d41fe80f4dbb978fbba67995dc1a.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-323248511e3c418b8b55e43190b1b7ae.html" target="element"> Metabase </a> </td>
											    <td> <a href="../elements/id-323248511e3c418b8b55e43190b1b7ae.html" target="element" class="i18n-elementtype-SystemSoftware">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7476326aada043b1ae42a99ebb829a36.html" target="element"> HeyBlue Archive </a> </td>
											    <td> <a href="../elements/id-7476326aada043b1ae42a99ebb829a36.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3626a9809d1f4e57877ccdfc8e7824e2.html" target="element"> HeyBlue Athena </a> </td>
											    <td> <a href="../elements/id-3626a9809d1f4e57877ccdfc8e7824e2.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-886b2e9f3ee34278b91d6687a4c9f9c5.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-886b2e9f3ee34278b91d6687a4c9f9c5.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-fca3b6b74647499d8f18572325cc13d5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fca3b6b74647499d8f18572325cc13d5.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-dc9cbfdfe26f425c8fdeda5f1359416c.html" target="element"> AWS - us-east-coast-1 </a> </td>
																		<td> <a href="../elements/id-de2196c0aa9e46a8bc0dfa0c8c8f8a51.html" target="element"> AWS Athena </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b207e2c1332e4629b32aa7b91826aae5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b207e2c1332e4629b32aa7b91826aae5.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-dc9cbfdfe26f425c8fdeda5f1359416c.html" target="element"> AWS - us-east-coast-1 </a> </td>
																		<td> <a href="../elements/id-685ed33cea804f9f8dd325e47654c351.html" target="element"> AWS Athena </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2102f54834e240048608c3ed5b966d78.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2102f54834e240048608c3ed5b966d78.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-dc9cbfdfe26f425c8fdeda5f1359416c.html" target="element"> AWS - us-east-coast-1 </a> </td>
																		<td> <a href="../elements/id-5d31dc4fff73419e8b88cefc04acbd0b.html" target="element"> Archive Kinesis </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a5d7af0794a44eda867f7036eea03756.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a5d7af0794a44eda867f7036eea03756.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-dc9cbfdfe26f425c8fdeda5f1359416c.html" target="element"> AWS - us-east-coast-1 </a> </td>
																		<td> <a href="../elements/id-7c24003ef94e42f8999f9da0bd285e28.html" target="element"> Kinesis Data Streams </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4b9a582068be404bba136890e5238510.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4b9a582068be404bba136890e5238510.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-dc9cbfdfe26f425c8fdeda5f1359416c.html" target="element"> AWS - us-east-coast-1 </a> </td>
																		<td> <a href="../elements/id-407b068806144808954a453f8fc1662b.html" target="element"> Data Archiving - Aging </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6e0b6731f4314ed4a86b57e8ce1d2093.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6e0b6731f4314ed4a86b57e8ce1d2093.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-dc9cbfdfe26f425c8fdeda5f1359416c.html" target="element"> AWS - us-east-coast-1 </a> </td>
																		<td> <a href="../elements/id-915faf95f4cd4d74a3f56a0a21797e1d.html" target="element"> AWS Kinesis Firehose Archive </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-34916440b635470d8086e0e76b819bfb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-34916440b635470d8086e0e76b819bfb.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-dc9cbfdfe26f425c8fdeda5f1359416c.html" target="element"> AWS - us-east-coast-1 </a> </td>
																		<td> <a href="../elements/id-a759159035ba4e238dc8d6e2d1220292.html" target="element"> AWS Kinesis Firehose </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-e076f3a288a4445a973aba5b09636e12.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e076f3a288a4445a973aba5b09636e12.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-de2196c0aa9e46a8bc0dfa0c8c8f8a51.html" target="element"> AWS Athena </a> </td>
																				<td> <a href="../elements/id-3626a9809d1f4e57877ccdfc8e7824e2.html" target="element"> HeyBlue Athena </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-03b03149d1dc405a9d546a140c910fc0.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-03b03149d1dc405a9d546a140c910fc0.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-de2196c0aa9e46a8bc0dfa0c8c8f8a51.html" target="element"> AWS Athena </a> </td>
																				<td> <a href="../elements/id-407b068806144808954a453f8fc1662b.html" target="element"> Data Archiving - Aging </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-53aad37f5c8a4bb6ba4cba9b6e5f504e.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-53aad37f5c8a4bb6ba4cba9b6e5f504e.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-5d31dc4fff73419e8b88cefc04acbd0b.html" target="element"> Archive Kinesis </a> </td>
																				<td> <a href="../elements/id-915faf95f4cd4d74a3f56a0a21797e1d.html" target="element"> AWS Kinesis Firehose Archive </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-822df17851fd46deb6de67f4f9b8a4c1.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-822df17851fd46deb6de67f4f9b8a4c1.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-7c24003ef94e42f8999f9da0bd285e28.html" target="element"> Kinesis Data Streams </a> </td>
																				<td> <a href="../elements/id-5d31dc4fff73419e8b88cefc04acbd0b.html" target="element"> Archive Kinesis </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-262d636f2e2b431a89e4076a85555d24.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-262d636f2e2b431a89e4076a85555d24.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-407b068806144808954a453f8fc1662b.html" target="element"> Data Archiving - Aging </a> </td>
																				<td> <a href="../elements/id-59347cbdfc044d9cb4fb16752f76d891.html" target="element"> AWS Glacier Deep Archive </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-f0ffab0e78014e58a6c0e076c7ac3e43.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-f0ffab0e78014e58a6c0e076c7ac3e43.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-407b068806144808954a453f8fc1662b.html" target="element"> Data Archiving - Aging </a> </td>
																				<td> <a href="../elements/id-eebb96e09c8c47aa97d2c60d1d118878.html" target="element"> AWS Glacier Deep Archive </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-2bd1f5e81080442fa8b13f4c73e29187.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-2bd1f5e81080442fa8b13f4c73e29187.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-407b068806144808954a453f8fc1662b.html" target="element"> Data Archiving - Aging </a> </td>
																				<td> <a href="../elements/id-b11005f194f04042811f48f0620cee74.html" target="element"> Archive Glacier Deep Archive </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-b088b909e91b4650a709c014c61e21fa.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-b088b909e91b4650a709c014c61e21fa.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-407b068806144808954a453f8fc1662b.html" target="element"> Data Archiving - Aging </a> </td>
																				<td> <a href="../elements/id-571b9ec8fdfd413aa1a77bba605aca81.html" target="element"> Archive Glacier </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-a397d506628340fdac8f45717440c9da.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a397d506628340fdac8f45717440c9da.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-407b068806144808954a453f8fc1662b.html" target="element"> Data Archiving - Aging </a> </td>
																				<td> <a href="../elements/id-5742125010874a93834a84593610e5a1.html" target="element"> AWS Glacier </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-4564228602484c0e91bbfce40efc9470.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-4564228602484c0e91bbfce40efc9470.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-407b068806144808954a453f8fc1662b.html" target="element"> Data Archiving - Aging </a> </td>
																				<td> <a href="../elements/id-0845607cfc254b08aeaba09e59f0499d.html" target="element"> AWS Glacier </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-2c40b092c1584029915d0aba77103939.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-2c40b092c1584029915d0aba77103939.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-407b068806144808954a453f8fc1662b.html" target="element"> Data Archiving - Aging </a> </td>
																				<td> <a href="../elements/id-4d51345193f94315a3776bd160605995.html" target="element"> AWS Glacier Instant Retrieval </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-2929e83a20aa474db4d04c55e0b31fe2.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-2929e83a20aa474db4d04c55e0b31fe2.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-407b068806144808954a453f8fc1662b.html" target="element"> Data Archiving - Aging </a> </td>
																				<td> <a href="../elements/id-103374ba08114e2baa34cbd7d68d10e7.html" target="element"> AWS Glacier Instant Retrival </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-7169c98dd71e43fea58418aa2942c6f0.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7169c98dd71e43fea58418aa2942c6f0.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-407b068806144808954a453f8fc1662b.html" target="element"> Data Archiving - Aging </a> </td>
																				<td> <a href="../elements/id-3862fd6c4e2d4c3ca6335a658139673a.html" target="element"> Archive Glacier Instant Retrival </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-a2e1f5e3692045428e38bbf4a52b7264.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a2e1f5e3692045428e38bbf4a52b7264.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-407b068806144808954a453f8fc1662b.html" target="element"> Data Archiving - Aging </a> </td>
																				<td> <a href="../elements/id-c0837c13b3454e178d584c908705e1ac.html" target="element"> Archive Bucket </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-d7b4f171095b46bfb3dd4839d28204ba.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d7b4f171095b46bfb3dd4839d28204ba.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-407b068806144808954a453f8fc1662b.html" target="element"> Data Archiving - Aging </a> </td>
																				<td> <a href="../elements/id-a6f3754b2bb542e6a830c7577b1622bc.html" target="element"> AWS Bucket </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-a795ed02593f4b69b17d6dff5521a040.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a795ed02593f4b69b17d6dff5521a040.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-407b068806144808954a453f8fc1662b.html" target="element"> Data Archiving - Aging </a> </td>
																				<td> <a href="../elements/id-5a68ad93bebe4f16a3c54164131848bb.html" target="element"> AWS Bucket </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/id-42b0bf5f15e440cc8f8c2db999e181e6.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-42b0bf5f15e440cc8f8c2db999e181e6.html" target="element" class="i18n-elementtype-ServingRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-59347cbdfc044d9cb4fb16752f76d891.html" target="element"> AWS Glacier Deep Archive </a> </td>
																						<td> <a href="../elements/id-eebb96e09c8c47aa97d2c60d1d118878.html" target="element"> AWS Glacier Deep Archive </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/id-43de69df99294947a1f9558923ddfcef.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-43de69df99294947a1f9558923ddfcef.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-eebb96e09c8c47aa97d2c60d1d118878.html" target="element"> AWS Glacier Deep Archive </a> </td>
																						<td> <a href="../elements/id-b11005f194f04042811f48f0620cee74.html" target="element"> Archive Glacier Deep Archive </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/id-8e9bd1998f2745bc90f88eef30603d78.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-8e9bd1998f2745bc90f88eef30603d78.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-5742125010874a93834a84593610e5a1.html" target="element"> AWS Glacier </a> </td>
																						<td> <a href="../elements/id-571b9ec8fdfd413aa1a77bba605aca81.html" target="element"> Archive Glacier </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/id-29cac6e500ed4a109bfc2b98123644e8.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-29cac6e500ed4a109bfc2b98123644e8.html" target="element" class="i18n-elementtype-ServingRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-0845607cfc254b08aeaba09e59f0499d.html" target="element"> AWS Glacier </a> </td>
																						<td> <a href="../elements/id-5742125010874a93834a84593610e5a1.html" target="element"> AWS Glacier </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/id-69e83247251b4430afb3160f1216a502.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-69e83247251b4430afb3160f1216a502.html" target="element" class="i18n-elementtype-ServingRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-4d51345193f94315a3776bd160605995.html" target="element"> AWS Glacier Instant Retrieval </a> </td>
																						<td> <a href="../elements/id-103374ba08114e2baa34cbd7d68d10e7.html" target="element"> AWS Glacier Instant Retrival </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/id-21f7cd57991f4668965115557e9c592c.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-21f7cd57991f4668965115557e9c592c.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-103374ba08114e2baa34cbd7d68d10e7.html" target="element"> AWS Glacier Instant Retrival </a> </td>
																						<td> <a href="../elements/id-3862fd6c4e2d4c3ca6335a658139673a.html" target="element"> Archive Glacier Instant Retrival </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/id-de04346921f64e6bbedc68abaafbbae1.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-de04346921f64e6bbedc68abaafbbae1.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-a6f3754b2bb542e6a830c7577b1622bc.html" target="element"> AWS Bucket </a> </td>
																						<td> <a href="../elements/id-c0837c13b3454e178d584c908705e1ac.html" target="element"> Archive Bucket </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/id-93bf161fd979407b83625b7b1a105848.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-93bf161fd979407b83625b7b1a105848.html" target="element" class="i18n-elementtype-ServingRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-5a68ad93bebe4f16a3c54164131848bb.html" target="element"> AWS Bucket </a> </td>
																						<td> <a href="../elements/id-a6f3754b2bb542e6a830c7577b1622bc.html" target="element"> AWS Bucket </a> </td>
																					</tr>

													
																			<tr>
																				<td> <a href="../elements/id-21a5d2e4ea014a7c91051527f52b1bed.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-21a5d2e4ea014a7c91051527f52b1bed.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-915faf95f4cd4d74a3f56a0a21797e1d.html" target="element"> AWS Kinesis Firehose Archive </a> </td>
																				<td> <a href="../elements/id-407b068806144808954a453f8fc1662b.html" target="element"> Data Archiving - Aging </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-7b1027980cdf474e9e849ebca64649da.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7b1027980cdf474e9e849ebca64649da.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-a759159035ba4e238dc8d6e2d1220292.html" target="element"> AWS Kinesis Firehose </a> </td>
																				<td> <a href="../elements/id-915faf95f4cd4d74a3f56a0a21797e1d.html" target="element"> AWS Kinesis Firehose Archive </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-9b93eecd2ae1402b8d5e0776e59081b6.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-9b93eecd2ae1402b8d5e0776e59081b6.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-685ed33cea804f9f8dd325e47654c351.html" target="element"> AWS Athena </a> </td>
																				<td> <a href="../elements/id-de2196c0aa9e46a8bc0dfa0c8c8f8a51.html" target="element"> AWS Athena </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-fc75fd5402b24bcb9e53168f4b026942.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fc75fd5402b24bcb9e53168f4b026942.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-fc10bb88716646bf85c6e3f16a88a74f.html" target="element"> Metabase SaaS </a> </td>
																		<td> <a href="../elements/id-323248511e3c418b8b55e43190b1b7ae.html" target="element"> Metabase </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5886f5ca630142fbbff717f882d7e5ff.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5886f5ca630142fbbff717f882d7e5ff.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-fc10bb88716646bf85c6e3f16a88a74f.html" target="element"> Metabase SaaS </a> </td>
																		<td> <a href="../elements/id-ee15d41fe80f4dbb978fbba67995dc1a.html" target="element"> HeyBlue Archive </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-94e5b7d9e48c4b57b1746d4a82eac741.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-94e5b7d9e48c4b57b1746d4a82eac741.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ee15d41fe80f4dbb978fbba67995dc1a.html" target="element"> HeyBlue Archive </a> </td>
																		<td> <a href="../elements/id-7476326aada043b1ae42a99ebb829a36.html" target="element"> HeyBlue Archive </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-f14b11a140944f628bc81c783982b3ba.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f14b11a140944f628bc81c783982b3ba.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3626a9809d1f4e57877ccdfc8e7824e2.html" target="element"> HeyBlue Athena </a> </td>
																		<td> <a href="../elements/id-7476326aada043b1ae42a99ebb829a36.html" target="element"> HeyBlue Archive </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>