<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>2.3.10. Police Officer onboarding - Business Entities</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>2.3.10. Police Officer onboarding - Business Entities</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-application_usage"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_application_usage" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-b4122d9a1c8f47dcb32834d03d096c66.png" alt="2.3.10. Police Officer onboarding - Business Entities" usemap="#id-b4122d9a1c8f47dcb32834d03d096c66map"/>
			   <map name="id-b4122d9a1c8f47dcb32834d03d096c66map">
				          <area shape="rect" coords="284,560,1318,706" href="../objects/id-07b5e7ced31c431489275b27ff6d992a.html" target="element" >
				  		<area shape="rect" coords="2780,56,3020,166" href="../elements/id-18ebb6b74c344f8b87de0216f8d9c988.html"  target="element">
				  		<area shape="rect" coords="452,56,692,166" href="../elements/id-4f6cfce55c7a4ac8bcc4a4ffb7807f86.html"  target="element">
				  		<area shape="rect" coords="20,320,260,430" href="../elements/id-0a2929a06d604b4aa26225e737913d1c.html"  target="element">
				  				<area shape="rect" coords="2276,408,2516,518" href="../elements/id-de65475e150b4692a3badf7bd379bf73.html"  target="element">
				  				<area shape="rect" coords="2108,248,2348,358" href="../elements/id-28e37d6f6db94969be33473ca4d67a3d.html"  target="element">
				  				<area shape="rect" coords="884,328,1124,438" href="../elements/id-d52c35834ce44c19b26acd0d4fb40c22.html"  target="element">
				  				<area shape="rect" coords="308,328,548,438" href="../elements/id-5554106e4f9d4adcb477ea73087bd481.html"  target="element">
				  				<area shape="rect" coords="1220,408,1460,518" href="../elements/id-af655b2347964d0cb9269ccc20b51154.html"  target="element">
				  				<area shape="rect" coords="2972,320,3212,430" href="../elements/id-7ebddff7934645b4b1349aa6b5a2e77a.html"  target="element">
				  				<area shape="rect" coords="2012,368,2042,398" href="../elements/id-269a2c1aa81240afbbacf23a837943c6.html"  target="element">
				  				<area shape="rect" coords="1152,368,1182,398" href="../elements/id-803245bb8fcc4c798d674f50ac038ea1.html"  target="element">
				  				<area shape="rect" coords="1580,408,1820,518" href="../elements/id-6a30ad9119ca4c02b7f67c010b36f3e7.html"  target="element">
				  				<area shape="rect" coords="1320,248,1560,358" href="../elements/id-abc115faf7ae4e7b81beb8b8e73f6d3f.html"  target="element">
				  				<area shape="rect" coords="2684,320,2924,430" href="../elements/id-a3e1cc9e01914db1bfb6739515ad4885.html"  target="element">
				  				<area shape="rect" coords="1730,248,1970,358" href="../elements/id-327c1f9bf4c744d7b77e3ab5338ee9f8.html"  target="element">
				  				<area shape="rect" coords="596,328,836,438" href="../elements/id-4fe318d6e1ff4f41b8d553715004db8a.html"  target="element">

				  		<area shape="rect" coords="284,200,3238,538" href="../elements/id-131ac4cd42894e2d8dfe3cf07309c10b.html"  target="element">
				  		<area shape="rect" coords="3260,536,3500,646" href="../elements/id-c91f6d194e90401cbd3875c5fcd6f9ab.html"  target="element">
				  		<area shape="rect" coords="3260,314,3500,424" href="../elements/id-a9a44e1b09fc4319a20341d9c91e5524.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-a9a44e1b09fc4319a20341d9c91e5524.html" target="element"> Ready for interactions </a> </td>
											    <td> <a href="../elements/id-a9a44e1b09fc4319a20341d9c91e5524.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c91f6d194e90401cbd3875c5fcd6f9ab.html" target="element"> Onboarding dropped </a> </td>
											    <td> <a href="../elements/id-c91f6d194e90401cbd3875c5fcd6f9ab.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-131ac4cd42894e2d8dfe3cf07309c10b.html" target="element"> Onboarding </a> </td>
											    <td> <a href="../elements/id-131ac4cd42894e2d8dfe3cf07309c10b.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-4fe318d6e1ff4f41b8d553715004db8a.html" target="element"> Mail registration acceptance </a> </td>
													    <td> <a href="../elements/id-4fe318d6e1ff4f41b8d553715004db8a.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-327c1f9bf4c744d7b77e3ab5338ee9f8.html" target="element"> Terms &amp; Conditions accepted </a> </td>
													    <td> <a href="../elements/id-327c1f9bf4c744d7b77e3ab5338ee9f8.html" target="element" class="i18n-elementtype-BusinessEvent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a3e1cc9e01914db1bfb6739515ad4885.html" target="element"> Scoring account creation </a> </td>
													    <td> <a href="../elements/id-a3e1cc9e01914db1bfb6739515ad4885.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-abc115faf7ae4e7b81beb8b8e73f6d3f.html" target="element"> Terms &amp; Conditions acceptance </a> </td>
													    <td> <a href="../elements/id-abc115faf7ae4e7b81beb8b8e73f6d3f.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-6a30ad9119ca4c02b7f67c010b36f3e7.html" target="element"> Validated &amp; submission approved </a> </td>
													    <td> <a href="../elements/id-6a30ad9119ca4c02b7f67c010b36f3e7.html" target="element" class="i18n-elementtype-BusinessEvent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-803245bb8fcc4c798d674f50ac038ea1.html" target="element"> AND </a> </td>
													    <td> <a href="../elements/id-803245bb8fcc4c798d674f50ac038ea1.html" target="element" class="i18n-elementtype-Junction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-269a2c1aa81240afbbacf23a837943c6.html" target="element"> AND </a> </td>
													    <td> <a href="../elements/id-269a2c1aa81240afbbacf23a837943c6.html" target="element" class="i18n-elementtype-Junction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-7ebddff7934645b4b1349aa6b5a2e77a.html" target="element"> Score account created </a> </td>
													    <td> <a href="../elements/id-7ebddff7934645b4b1349aa6b5a2e77a.html" target="element" class="i18n-elementtype-BusinessEvent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-af655b2347964d0cb9269ccc20b51154.html" target="element"> Police validation &amp; submission approval </a> </td>
													    <td> <a href="../elements/id-af655b2347964d0cb9269ccc20b51154.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-5554106e4f9d4adcb477ea73087bd481.html" target="element"> Personal &amp; Police Information submission </a> </td>
													    <td> <a href="../elements/id-5554106e4f9d4adcb477ea73087bd481.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d52c35834ce44c19b26acd0d4fb40c22.html" target="element"> User registration approved </a> </td>
													    <td> <a href="../elements/id-d52c35834ce44c19b26acd0d4fb40c22.html" target="element" class="i18n-elementtype-BusinessEvent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-28e37d6f6db94969be33473ca4d67a3d.html" target="element"> Device enrollment </a> </td>
													    <td> <a href="../elements/id-28e37d6f6db94969be33473ca4d67a3d.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-de65475e150b4692a3badf7bd379bf73.html" target="element"> Device registration </a> </td>
													    <td> <a href="../elements/id-de65475e150b4692a3badf7bd379bf73.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-0a2929a06d604b4aa26225e737913d1c.html" target="element"> Police Officer registration accepted </a> </td>
											    <td> <a href="../elements/id-0a2929a06d604b4aa26225e737913d1c.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4f6cfce55c7a4ac8bcc4a4ffb7807f86.html" target="element"> User </a> </td>
											    <td> <a href="../elements/id-4f6cfce55c7a4ac8bcc4a4ffb7807f86.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-18ebb6b74c344f8b87de0216f8d9c988.html" target="element"> Score </a> </td>
											    <td> <a href="../elements/id-18ebb6b74c344f8b87de0216f8d9c988.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-07b5e7ced31c431489275b27ff6d992a.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-07b5e7ced31c431489275b27ff6d992a.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-6254d0de3c1e40d38cb435bdffbf69d3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6254d0de3c1e40d38cb435bdffbf69d3.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-131ac4cd42894e2d8dfe3cf07309c10b.html" target="element"> Onboarding </a> </td>
																		<td> <a href="../elements/id-4fe318d6e1ff4f41b8d553715004db8a.html" target="element"> Mail registration acceptance </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f8b91699d4454685b04f8810a6fa8ea0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f8b91699d4454685b04f8810a6fa8ea0.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-131ac4cd42894e2d8dfe3cf07309c10b.html" target="element"> Onboarding </a> </td>
																		<td> <a href="../elements/id-a3e1cc9e01914db1bfb6739515ad4885.html" target="element"> Scoring account creation </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-93aa8329a82240188011634f4c0a203f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-93aa8329a82240188011634f4c0a203f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-131ac4cd42894e2d8dfe3cf07309c10b.html" target="element"> Onboarding </a> </td>
																		<td> <a href="../elements/id-abc115faf7ae4e7b81beb8b8e73f6d3f.html" target="element"> Terms &amp; Conditions acceptance </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d806d69ee0ca461f97ae304ecd958b1e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d806d69ee0ca461f97ae304ecd958b1e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-131ac4cd42894e2d8dfe3cf07309c10b.html" target="element"> Onboarding </a> </td>
																		<td> <a href="../elements/id-af655b2347964d0cb9269ccc20b51154.html" target="element"> Police validation &amp; submission approval </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-da301c42f756403fbe8e22352d882560.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-da301c42f756403fbe8e22352d882560.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-131ac4cd42894e2d8dfe3cf07309c10b.html" target="element"> Onboarding </a> </td>
																		<td> <a href="../elements/id-5554106e4f9d4adcb477ea73087bd481.html" target="element"> Personal &amp; Police Information submission </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-06ba2214c0494ca28a178055e1cfffc6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-06ba2214c0494ca28a178055e1cfffc6.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-131ac4cd42894e2d8dfe3cf07309c10b.html" target="element"> Onboarding </a> </td>
																		<td> <a href="../elements/id-28e37d6f6db94969be33473ca4d67a3d.html" target="element"> Device enrollment </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-675d5551e5e34e38b61ef48084417ac5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-675d5551e5e34e38b61ef48084417ac5.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-131ac4cd42894e2d8dfe3cf07309c10b.html" target="element"> Onboarding </a> </td>
																		<td> <a href="../elements/id-de65475e150b4692a3badf7bd379bf73.html" target="element"> Device registration </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-295ecc5abb9047c6b5187b403686cd6c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-295ecc5abb9047c6b5187b403686cd6c.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-4fe318d6e1ff4f41b8d553715004db8a.html" target="element"> Mail registration acceptance </a> </td>
																				<td> <a href="../elements/id-d52c35834ce44c19b26acd0d4fb40c22.html" target="element"> User registration approved </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-578254dbcb2f4bbdbf105d4a16ec83e6.html" target="element"> R/W </a> </td>
																				<td> <a href="../elements/id-578254dbcb2f4bbdbf105d4a16ec83e6.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-4fe318d6e1ff4f41b8d553715004db8a.html" target="element"> Mail registration acceptance </a> </td>
																				<td> <a href="../elements/id-4f6cfce55c7a4ac8bcc4a4ffb7807f86.html" target="element"> User </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-f099cfdb3c254ab8ad819d1328fbab47.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-f099cfdb3c254ab8ad819d1328fbab47.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-327c1f9bf4c744d7b77e3ab5338ee9f8.html" target="element"> Terms &amp; Conditions accepted </a> </td>
																				<td> <a href="../elements/id-269a2c1aa81240afbbacf23a837943c6.html" target="element"> AND </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-fb282e8e8b9047abbcdc754c84c6478d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-fb282e8e8b9047abbcdc754c84c6478d.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-a3e1cc9e01914db1bfb6739515ad4885.html" target="element"> Scoring account creation </a> </td>
																				<td> <a href="../elements/id-7ebddff7934645b4b1349aa6b5a2e77a.html" target="element"> Score account created </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-fb0015bf0dd44d198c6f2a7e2e6db5c6.html" target="element"> R/W </a> </td>
																				<td> <a href="../elements/id-fb0015bf0dd44d198c6f2a7e2e6db5c6.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-a3e1cc9e01914db1bfb6739515ad4885.html" target="element"> Scoring account creation </a> </td>
																				<td> <a href="../elements/id-4f6cfce55c7a4ac8bcc4a4ffb7807f86.html" target="element"> User </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-3fedbaab7d4548dbba1f42750435af66.html" target="element"> W </a> </td>
																				<td> <a href="../elements/id-3fedbaab7d4548dbba1f42750435af66.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-a3e1cc9e01914db1bfb6739515ad4885.html" target="element"> Scoring account creation </a> </td>
																				<td> <a href="../elements/id-18ebb6b74c344f8b87de0216f8d9c988.html" target="element"> Score </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-95e750e4c8d94de39d5f069b71390d4b.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-95e750e4c8d94de39d5f069b71390d4b.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-abc115faf7ae4e7b81beb8b8e73f6d3f.html" target="element"> Terms &amp; Conditions acceptance </a> </td>
																				<td> <a href="../elements/id-327c1f9bf4c744d7b77e3ab5338ee9f8.html" target="element"> Terms &amp; Conditions accepted </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-a75722b7b4004c83ba615bbc29f78d8d.html" target="element"> not accepted </a> </td>
																				<td> <a href="../elements/id-a75722b7b4004c83ba615bbc29f78d8d.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-abc115faf7ae4e7b81beb8b8e73f6d3f.html" target="element"> Terms &amp; Conditions acceptance </a> </td>
																				<td> <a href="../elements/id-c91f6d194e90401cbd3875c5fcd6f9ab.html" target="element"> Onboarding dropped </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-0076e4439555492a95a41c4e47195997.html" target="element"> R/W </a> </td>
																				<td> <a href="../elements/id-0076e4439555492a95a41c4e47195997.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-abc115faf7ae4e7b81beb8b8e73f6d3f.html" target="element"> Terms &amp; Conditions acceptance </a> </td>
																				<td> <a href="../elements/id-4f6cfce55c7a4ac8bcc4a4ffb7807f86.html" target="element"> User </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-fe7d976663fa4555bf703a1aa7b67905.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-fe7d976663fa4555bf703a1aa7b67905.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-6a30ad9119ca4c02b7f67c010b36f3e7.html" target="element"> Validated &amp; submission approved </a> </td>
																				<td> <a href="../elements/id-269a2c1aa81240afbbacf23a837943c6.html" target="element"> AND </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-ca89f4bab34f47e586c5e15140a5141d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-ca89f4bab34f47e586c5e15140a5141d.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-803245bb8fcc4c798d674f50ac038ea1.html" target="element"> AND </a> </td>
																				<td> <a href="../elements/id-abc115faf7ae4e7b81beb8b8e73f6d3f.html" target="element"> Terms &amp; Conditions acceptance </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-d1e7bde7ce8143a38f1d08dffa7dac8b.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d1e7bde7ce8143a38f1d08dffa7dac8b.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-803245bb8fcc4c798d674f50ac038ea1.html" target="element"> AND </a> </td>
																				<td> <a href="../elements/id-af655b2347964d0cb9269ccc20b51154.html" target="element"> Police validation &amp; submission approval </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-cc7f6e45c3394038b5aa16677e747d2d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-cc7f6e45c3394038b5aa16677e747d2d.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-269a2c1aa81240afbbacf23a837943c6.html" target="element"> AND </a> </td>
																				<td> <a href="../elements/id-28e37d6f6db94969be33473ca4d67a3d.html" target="element"> Device enrollment </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-552dc39911ff4f43abf75c7e62347ff6.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-552dc39911ff4f43abf75c7e62347ff6.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-269a2c1aa81240afbbacf23a837943c6.html" target="element"> AND </a> </td>
																				<td> <a href="../elements/id-de65475e150b4692a3badf7bd379bf73.html" target="element"> Device registration </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-8fea8950379545e9a497363038c75635.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-8fea8950379545e9a497363038c75635.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-7ebddff7934645b4b1349aa6b5a2e77a.html" target="element"> Score account created </a> </td>
																				<td> <a href="../elements/id-a9a44e1b09fc4319a20341d9c91e5524.html" target="element"> Ready for interactions </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-e465a4c7c7ac48738a9b734c556b8c2f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e465a4c7c7ac48738a9b734c556b8c2f.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-af655b2347964d0cb9269ccc20b51154.html" target="element"> Police validation &amp; submission approval </a> </td>
																				<td> <a href="../elements/id-6a30ad9119ca4c02b7f67c010b36f3e7.html" target="element"> Validated &amp; submission approved </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-914b055e09ba4739b22ff921335bafaa.html" target="element"> not validated </a> </td>
																				<td> <a href="../elements/id-914b055e09ba4739b22ff921335bafaa.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-af655b2347964d0cb9269ccc20b51154.html" target="element"> Police validation &amp; submission approval </a> </td>
																				<td> <a href="../elements/id-c91f6d194e90401cbd3875c5fcd6f9ab.html" target="element"> Onboarding dropped </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-36f75d5a27c8401a8cfb42a9e4fd7ff3.html" target="element"> R/W </a> </td>
																				<td> <a href="../elements/id-36f75d5a27c8401a8cfb42a9e4fd7ff3.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-af655b2347964d0cb9269ccc20b51154.html" target="element"> Police validation &amp; submission approval </a> </td>
																				<td> <a href="../elements/id-4f6cfce55c7a4ac8bcc4a4ffb7807f86.html" target="element"> User </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-cedf405062184b9495e4f0209446cd69.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-cedf405062184b9495e4f0209446cd69.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-5554106e4f9d4adcb477ea73087bd481.html" target="element"> Personal &amp; Police Information submission </a> </td>
																				<td> <a href="../elements/id-4fe318d6e1ff4f41b8d553715004db8a.html" target="element"> Mail registration acceptance </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-48f624b8a6524523b867b3bf4adb92d2.html" target="element"> W </a> </td>
																				<td> <a href="../elements/id-48f624b8a6524523b867b3bf4adb92d2.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-5554106e4f9d4adcb477ea73087bd481.html" target="element"> Personal &amp; Police Information submission </a> </td>
																				<td> <a href="../elements/id-4f6cfce55c7a4ac8bcc4a4ffb7807f86.html" target="element"> User </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-d523453cbe5b4e3a9cac6d4d23b9144a.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d523453cbe5b4e3a9cac6d4d23b9144a.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-d52c35834ce44c19b26acd0d4fb40c22.html" target="element"> User registration approved </a> </td>
																				<td> <a href="../elements/id-803245bb8fcc4c798d674f50ac038ea1.html" target="element"> AND </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-195b37ffe5f74675af7370a8d1c79990.html" target="element"> redirect to mobile </a> </td>
																				<td> <a href="../elements/id-195b37ffe5f74675af7370a8d1c79990.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-28e37d6f6db94969be33473ca4d67a3d.html" target="element"> Device enrollment </a> </td>
																				<td> <a href="../elements/id-de65475e150b4692a3badf7bd379bf73.html" target="element"> Device registration </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-77047bd3bd2b47579bb826c16049be74.html" target="element"> R/W </a> </td>
																				<td> <a href="../elements/id-77047bd3bd2b47579bb826c16049be74.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-28e37d6f6db94969be33473ca4d67a3d.html" target="element"> Device enrollment </a> </td>
																				<td> <a href="../elements/id-4f6cfce55c7a4ac8bcc4a4ffb7807f86.html" target="element"> User </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-60209ef2cd6c4a349ed36331c3b048d7.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-60209ef2cd6c4a349ed36331c3b048d7.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-de65475e150b4692a3badf7bd379bf73.html" target="element"> Device registration </a> </td>
																				<td> <a href="../elements/id-a3e1cc9e01914db1bfb6739515ad4885.html" target="element"> Scoring account creation </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-8ddff17fef3848b2ae0d8b3a94be9317.html" target="element"> R/W </a> </td>
																				<td> <a href="../elements/id-8ddff17fef3848b2ae0d8b3a94be9317.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-de65475e150b4692a3badf7bd379bf73.html" target="element"> Device registration </a> </td>
																				<td> <a href="../elements/id-4f6cfce55c7a4ac8bcc4a4ffb7807f86.html" target="element"> User </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-64e0dbf4fb6f4a7fb330f5c43f86bce7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-64e0dbf4fb6f4a7fb330f5c43f86bce7.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0a2929a06d604b4aa26225e737913d1c.html" target="element"> Police Officer registration accepted </a> </td>
																		<td> <a href="../elements/id-5554106e4f9d4adcb477ea73087bd481.html" target="element"> Personal &amp; Police Information submission </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>