<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>1.2.7. Motivation - Enterprise mapping</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>1.2.7. Motivation - Enterprise mapping</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-requirements_realization"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_requirements_realization" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-c4e222a67a014f48b26b6e071d0e00d8.png" alt="1.2.7. Motivation - Enterprise mapping" usemap="#id-c4e222a67a014f48b26b6e071d0e00d8map"/>
			   <map name="id-c4e222a67a014f48b26b6e071d0e00d8map">
				  		<area shape="rect" coords="1508,1028,1748,1138" href="../elements/id-82032fce61544c6380e85c23d893a597.html"  target="element">
				  		<area shape="rect" coords="1508,860,1748,970" href="../elements/id-6f7bcf16eb0b4e6a87c732826555d2b4.html"  target="element">
				  		<area shape="rect" coords="1508,692,1748,802" href="../elements/id-d7c07aa8ea3e4ce5aebb3f7515d7db77.html"  target="element">
				  		<area shape="rect" coords="1508,524,1748,634" href="../elements/id-6d02967f5d214f1fa101909e294b7fe1.html"  target="element">
				  		<area shape="rect" coords="1508,356,1748,466" href="../elements/id-bd5ab30a7edc4c4b9bf313918b00e0c8.html"  target="element">
				  		<area shape="rect" coords="1508,188,1748,298" href="../elements/id-7cff9adb161e48e5882895c48051d0b4.html"  target="element">
				  		<area shape="rect" coords="1508,20,1748,130" href="../elements/id-c9feea4eb6d740d3a06b58b2f1050ec9.html"  target="element">
				  		<area shape="rect" coords="20,1364,260,1474" href="../elements/id-da1ef9bdbdb1451384dcdcc35d643ca3.html"  target="element">
				  		<area shape="rect" coords="20,1196,260,1306" href="../elements/id-3bd009eaba2949dfacd88ca825ab98d3.html"  target="element">
				  		<area shape="rect" coords="20,1028,260,1138" href="../elements/id-794b826c0d054f85af2d7401c029d0c8.html"  target="element">
				  		<area shape="rect" coords="20,860,260,970" href="../elements/id-ac3a992488f8406fbc27431738228181.html"  target="element">
				  		<area shape="rect" coords="20,692,260,802" href="../elements/id-b2a384af364243eba12d672aa0807eda.html"  target="element">
				  		<area shape="rect" coords="20,524,260,634" href="../elements/id-338b945e88d04a1297fea8254a2683b4.html"  target="element">
				  		<area shape="rect" coords="20,356,260,466" href="../elements/id-d7f9fe3914c34042aa94e3b14a17e46a.html"  target="element">
				  		<area shape="rect" coords="20,188,260,298" href="../elements/id-717649665e004e29845c03782a5e2a7b.html"  target="element">
				  		<area shape="rect" coords="20,20,260,130" href="../elements/id-261d46a3d0364ea48ad37e719da447b2.html"  target="element">
				  				<area shape="rect" coords="706,1244,946,1354" href="../elements/id-0298e9e28ddd4771a1e563616ed9956e.html"  target="element">
				  				<area shape="rect" coords="706,1076,946,1186" href="../elements/id-294de70e18af4e80b9f6e4d24ccb5a1f.html"  target="element">
				  				<area shape="rect" coords="706,908,946,1018" href="../elements/id-a6263513920a49d0a9df86983fe44a7a.html"  target="element">
				  				<area shape="rect" coords="706,740,946,850" href="../elements/id-ed41dc69705142119dffd467d2f8a24a.html"  target="element">
				  				<area shape="rect" coords="706,572,946,682" href="../elements/id-983b1a88a7b740ffa3363e7937b7a790.html"  target="element">
				  				<area shape="rect" coords="706,404,946,514" href="../elements/id-c41bf9942bf8495f8a37a955bdca15d1.html"  target="element">
				  				<area shape="rect" coords="706,236,946,346" href="../elements/id-5bf2e6e7fa1b49d981b521a95158c470.html"  target="element">
				  				<area shape="rect" coords="706,68,946,178" href="../elements/id-8b70ae2cf4ca479aa6d5f1a00ed071a1.html"  target="element">

				  		<area shape="rect" coords="658,20,1006,1390" href="../elements/id-edcd548649c74edbaa904fbc2ad199fe.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-edcd548649c74edbaa904fbc2ad199fe.html" target="element"> 7. Enterprise </a> </td>
											    <td> <a href="../elements/id-edcd548649c74edbaa904fbc2ad199fe.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-8b70ae2cf4ca479aa6d5f1a00ed071a1.html" target="element"> 7.1. Investments </a> </td>
													    <td> <a href="../elements/id-8b70ae2cf4ca479aa6d5f1a00ed071a1.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-5bf2e6e7fa1b49d981b521a95158c470.html" target="element"> 7.2. Human Resources </a> </td>
													    <td> <a href="../elements/id-5bf2e6e7fa1b49d981b521a95158c470.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c41bf9942bf8495f8a37a955bdca15d1.html" target="element"> 7.3. Regulatory Compliance </a> </td>
													    <td> <a href="../elements/id-c41bf9942bf8495f8a37a955bdca15d1.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-983b1a88a7b740ffa3363e7937b7a790.html" target="element"> 7.4. Information Management </a> </td>
													    <td> <a href="../elements/id-983b1a88a7b740ffa3363e7937b7a790.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ed41dc69705142119dffd467d2f8a24a.html" target="element"> 7.5. Finance &amp; Treasury </a> </td>
													    <td> <a href="../elements/id-ed41dc69705142119dffd467d2f8a24a.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a6263513920a49d0a9df86983fe44a7a.html" target="element"> 7.6. Integration Management </a> </td>
													    <td> <a href="../elements/id-a6263513920a49d0a9df86983fe44a7a.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-294de70e18af4e80b9f6e4d24ccb5a1f.html" target="element"> 7.7. Enterprise Wide IT </a> </td>
													    <td> <a href="../elements/id-294de70e18af4e80b9f6e4d24ccb5a1f.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0298e9e28ddd4771a1e563616ed9956e.html" target="element"> 7.8. Risk &amp; Fraud Management </a> </td>
													    <td> <a href="../elements/id-0298e9e28ddd4771a1e563616ed9956e.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-261d46a3d0364ea48ad37e719da447b2.html" target="element"> AC.MOD.01. [Assumption] Integrate with another social media in less than two agile iterations </a> </td>
											    <td> <a href="../elements/id-261d46a3d0364ea48ad37e719da447b2.html" target="element" class="i18n-elementtype-Requirement">
											    	(Architecture Characteristic)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-717649665e004e29845c03782a5e2a7b.html" target="element"> AC.SCA.01. [Assumption] Start with little use rate (Friends and Family) and scalate the solution as usage rate increase </a> </td>
											    <td> <a href="../elements/id-717649665e004e29845c03782a5e2a7b.html" target="element" class="i18n-elementtype-Requirement">
											    	(Architecture Characteristic)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d7f9fe3914c34042aa94e3b14a17e46a.html" target="element"> AC.STA.01. [Assumption] Uptime 99.95% from monday to friday 9AM to 10PM </a> </td>
											    <td> <a href="../elements/id-d7f9fe3914c34042aa94e3b14a17e46a.html" target="element" class="i18n-elementtype-Requirement">
											    	(Architecture Characteristic)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-338b945e88d04a1297fea8254a2683b4.html" target="element"> AC.STA.02. [Assumption] Uptime 99,95% from saturday to sunday from 7AM to 11:59PM </a> </td>
											    <td> <a href="../elements/id-338b945e88d04a1297fea8254a2683b4.html" target="element" class="i18n-elementtype-Requirement">
											    	(Architecture Characteristic)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b2a384af364243eba12d672aa0807eda.html" target="element"> CONS.01. The cost should be as little as possible </a> </td>
											    <td> <a href="../elements/id-b2a384af364243eba12d672aa0807eda.html" target="element" class="i18n-elementtype-Constraint">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ac3a992488f8406fbc27431738228181.html" target="element"> CONS.05. [Assumption] There is no restriction about technology </a> </td>
											    <td> <a href="../elements/id-ac3a992488f8406fbc27431738228181.html" target="element" class="i18n-elementtype-Constraint">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-794b826c0d054f85af2d7401c029d0c8.html" target="element"> CONS.06. [Assumption] Define a solution that evolve with a team </a> </td>
											    <td> <a href="../elements/id-794b826c0d054f85af2d7401c029d0c8.html" target="element" class="i18n-elementtype-Constraint">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3bd009eaba2949dfacd88ca825ab98d3.html" target="element"> CONS.07. Compliance with GDPR </a> </td>
											    <td> <a href="../elements/id-3bd009eaba2949dfacd88ca825ab98d3.html" target="element" class="i18n-elementtype-Constraint">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-da1ef9bdbdb1451384dcdcc35d643ca3.html" target="element"> CONS.08. Solution should be launched on september 11, 2023 </a> </td>
											    <td> <a href="../elements/id-da1ef9bdbdb1451384dcdcc35d643ca3.html" target="element" class="i18n-elementtype-Constraint">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c9feea4eb6d740d3a06b58b2f1050ec9.html" target="element"> UC05. [HARD] As a user I want to share information about my profile in social media </a> </td>
											    <td> <a href="../elements/id-c9feea4eb6d740d3a06b58b2f1050ec9.html" target="element" class="i18n-elementtype-Requirement">
											    	(Functional Requirement)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7cff9adb161e48e5882895c48051d0b4.html" target="element"> UC07. [OPTION] As a user I want to connect to my social media profile </a> </td>
											    <td> <a href="../elements/id-7cff9adb161e48e5882895c48051d0b4.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-bd5ab30a7edc4c4b9bf313918b00e0c8.html" target="element"> UC20&#160;[Assumption][OPTION] As a HeyBlue Admin I want to ensure the employee experience, including recruiting, upskilling and lifecycle </a> </td>
											    <td> <a href="../elements/id-bd5ab30a7edc4c4b9bf313918b00e0c8.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6d02967f5d214f1fa101909e294b7fe1.html" target="element"> UC21&#160;[Assumption][OPTION] As an investor I want to get information about the numbers of the company </a> </td>
											    <td> <a href="../elements/id-6d02967f5d214f1fa101909e294b7fe1.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d7c07aa8ea3e4ce5aebb3f7515d7db77.html" target="element"> UC22&#160;[Assumption][OPTION] as HeyBlue Admin I want to control the financial performance </a> </td>
											    <td> <a href="../elements/id-d7c07aa8ea3e4ce5aebb3f7515d7db77.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6f7bcf16eb0b4e6a87c732826555d2b4.html" target="element"> UC23[Assumption][OPTION] As IT responsible of HeyBlue I want best practices, tools to ensure an efficient IT Value delivery </a> </td>
											    <td> <a href="../elements/id-6f7bcf16eb0b4e6a87c732826555d2b4.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-82032fce61544c6380e85c23d893a597.html" target="element"> UC24[Assumption][OPTION] As HeyBlue Admin I want to control and manage the risks, mainly the fraud related risks </a> </td>
											    <td> <a href="../elements/id-82032fce61544c6380e85c23d893a597.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-0c7a88383797488c81a6fbfec2370b0d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0c7a88383797488c81a6fbfec2370b0d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-edcd548649c74edbaa904fbc2ad199fe.html" target="element"> 7. Enterprise </a> </td>
																		<td> <a href="../elements/id-8b70ae2cf4ca479aa6d5f1a00ed071a1.html" target="element"> 7.1. Investments </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7477fe00a3d44688b8fd77506afeaa39.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7477fe00a3d44688b8fd77506afeaa39.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-edcd548649c74edbaa904fbc2ad199fe.html" target="element"> 7. Enterprise </a> </td>
																		<td> <a href="../elements/id-5bf2e6e7fa1b49d981b521a95158c470.html" target="element"> 7.2. Human Resources </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c3702330091c430480cf1b84a531de1f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c3702330091c430480cf1b84a531de1f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-edcd548649c74edbaa904fbc2ad199fe.html" target="element"> 7. Enterprise </a> </td>
																		<td> <a href="../elements/id-c41bf9942bf8495f8a37a955bdca15d1.html" target="element"> 7.3. Regulatory Compliance </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-64e7a24b315c476cb069bbbb258411a6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-64e7a24b315c476cb069bbbb258411a6.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-edcd548649c74edbaa904fbc2ad199fe.html" target="element"> 7. Enterprise </a> </td>
																		<td> <a href="../elements/id-983b1a88a7b740ffa3363e7937b7a790.html" target="element"> 7.4. Information Management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6451bf30508f4c03bbcebf644739b50a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6451bf30508f4c03bbcebf644739b50a.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-edcd548649c74edbaa904fbc2ad199fe.html" target="element"> 7. Enterprise </a> </td>
																		<td> <a href="../elements/id-ed41dc69705142119dffd467d2f8a24a.html" target="element"> 7.5. Finance &amp; Treasury </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-246429cb78924ae597ec121006c1c381.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-246429cb78924ae597ec121006c1c381.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-edcd548649c74edbaa904fbc2ad199fe.html" target="element"> 7. Enterprise </a> </td>
																		<td> <a href="../elements/id-a6263513920a49d0a9df86983fe44a7a.html" target="element"> 7.6. Integration Management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c2740e3f3dba43ecba5f3d3bd692f174.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c2740e3f3dba43ecba5f3d3bd692f174.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-edcd548649c74edbaa904fbc2ad199fe.html" target="element"> 7. Enterprise </a> </td>
																		<td> <a href="../elements/id-294de70e18af4e80b9f6e4d24ccb5a1f.html" target="element"> 7.7. Enterprise Wide IT </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-580633f4545c435d835b19853fea28d9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-580633f4545c435d835b19853fea28d9.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-edcd548649c74edbaa904fbc2ad199fe.html" target="element"> 7. Enterprise </a> </td>
																		<td> <a href="../elements/id-0298e9e28ddd4771a1e563616ed9956e.html" target="element"> 7.8. Risk &amp; Fraud Management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9c18cc099b0d4039aab5a9007e03f56d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9c18cc099b0d4039aab5a9007e03f56d.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-edcd548649c74edbaa904fbc2ad199fe.html" target="element"> 7. Enterprise </a> </td>
																		<td> <a href="../elements/id-717649665e004e29845c03782a5e2a7b.html" target="element"> AC.SCA.01. [Assumption] Start with little use rate (Friends and Family) and scalate the solution as usage rate increase </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-33d27f7107104cf5aae44aeb9a3591c6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-33d27f7107104cf5aae44aeb9a3591c6.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-edcd548649c74edbaa904fbc2ad199fe.html" target="element"> 7. Enterprise </a> </td>
																		<td> <a href="../elements/id-d7f9fe3914c34042aa94e3b14a17e46a.html" target="element"> AC.STA.01. [Assumption] Uptime 99.95% from monday to friday 9AM to 10PM </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-271019383a02470eb44b2359763e0b9f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-271019383a02470eb44b2359763e0b9f.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-edcd548649c74edbaa904fbc2ad199fe.html" target="element"> 7. Enterprise </a> </td>
																		<td> <a href="../elements/id-338b945e88d04a1297fea8254a2683b4.html" target="element"> AC.STA.02. [Assumption] Uptime 99,95% from saturday to sunday from 7AM to 11:59PM </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3ec06657837e43009180e81d983f3cd2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3ec06657837e43009180e81d983f3cd2.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-edcd548649c74edbaa904fbc2ad199fe.html" target="element"> 7. Enterprise </a> </td>
																		<td> <a href="../elements/id-b2a384af364243eba12d672aa0807eda.html" target="element"> CONS.01. The cost should be as little as possible </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d47cb646876e4c6ea255a8ff2fe4ddae.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d47cb646876e4c6ea255a8ff2fe4ddae.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-edcd548649c74edbaa904fbc2ad199fe.html" target="element"> 7. Enterprise </a> </td>
																		<td> <a href="../elements/id-ac3a992488f8406fbc27431738228181.html" target="element"> CONS.05. [Assumption] There is no restriction about technology </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-18d2ac4bd9044123914a842c37bf69aa.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-18d2ac4bd9044123914a842c37bf69aa.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-edcd548649c74edbaa904fbc2ad199fe.html" target="element"> 7. Enterprise </a> </td>
																		<td> <a href="../elements/id-794b826c0d054f85af2d7401c029d0c8.html" target="element"> CONS.06. [Assumption] Define a solution that evolve with a team </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-510cfec2683144609392b04db58c5a74.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-510cfec2683144609392b04db58c5a74.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-edcd548649c74edbaa904fbc2ad199fe.html" target="element"> 7. Enterprise </a> </td>
																		<td> <a href="../elements/id-3bd009eaba2949dfacd88ca825ab98d3.html" target="element"> CONS.07. Compliance with GDPR </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0740f55db35945dd9e30cf5fbe10b4f4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0740f55db35945dd9e30cf5fbe10b4f4.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-edcd548649c74edbaa904fbc2ad199fe.html" target="element"> 7. Enterprise </a> </td>
																		<td> <a href="../elements/id-da1ef9bdbdb1451384dcdcc35d643ca3.html" target="element"> CONS.08. Solution should be launched on september 11, 2023 </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-7e0738572e12478998fa8ca79f74097a.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7e0738572e12478998fa8ca79f74097a.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-8b70ae2cf4ca479aa6d5f1a00ed071a1.html" target="element"> 7.1. Investments </a> </td>
																				<td> <a href="../elements/id-6d02967f5d214f1fa101909e294b7fe1.html" target="element"> UC21&#160;[Assumption][OPTION] As an investor I want to get information about the numbers of the company </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-9535bc4540e947afa2c8206fc7c5bac8.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-9535bc4540e947afa2c8206fc7c5bac8.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-5bf2e6e7fa1b49d981b521a95158c470.html" target="element"> 7.2. Human Resources </a> </td>
																				<td> <a href="../elements/id-bd5ab30a7edc4c4b9bf313918b00e0c8.html" target="element"> UC20&#160;[Assumption][OPTION] As a HeyBlue Admin I want to ensure the employee experience, including recruiting, upskilling and lifecycle </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-ed2c06f80aeb417ab5995ab9b82ab368.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-ed2c06f80aeb417ab5995ab9b82ab368.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-c41bf9942bf8495f8a37a955bdca15d1.html" target="element"> 7.3. Regulatory Compliance </a> </td>
																				<td> <a href="../elements/id-3bd009eaba2949dfacd88ca825ab98d3.html" target="element"> CONS.07. Compliance with GDPR </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-44e211194404470f9284c80d741e3d07.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-44e211194404470f9284c80d741e3d07.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-983b1a88a7b740ffa3363e7937b7a790.html" target="element"> 7.4. Information Management </a> </td>
																				<td> <a href="../elements/id-6f7bcf16eb0b4e6a87c732826555d2b4.html" target="element"> UC23[Assumption][OPTION] As IT responsible of HeyBlue I want best practices, tools to ensure an efficient IT Value delivery </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-ceec25925be649ba8e59745dc904f9ec.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-ceec25925be649ba8e59745dc904f9ec.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-ed41dc69705142119dffd467d2f8a24a.html" target="element"> 7.5. Finance &amp; Treasury </a> </td>
																				<td> <a href="../elements/id-6d02967f5d214f1fa101909e294b7fe1.html" target="element"> UC21&#160;[Assumption][OPTION] As an investor I want to get information about the numbers of the company </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-c8302dce50e145f0a109350772dfff71.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-c8302dce50e145f0a109350772dfff71.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-ed41dc69705142119dffd467d2f8a24a.html" target="element"> 7.5. Finance &amp; Treasury </a> </td>
																				<td> <a href="../elements/id-d7c07aa8ea3e4ce5aebb3f7515d7db77.html" target="element"> UC22&#160;[Assumption][OPTION] as HeyBlue Admin I want to control the financial performance </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-0ca1c7571d3f4b7f9784ed3873ae8ca5.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-0ca1c7571d3f4b7f9784ed3873ae8ca5.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-a6263513920a49d0a9df86983fe44a7a.html" target="element"> 7.6. Integration Management </a> </td>
																				<td> <a href="../elements/id-261d46a3d0364ea48ad37e719da447b2.html" target="element"> AC.MOD.01. [Assumption] Integrate with another social media in less than two agile iterations </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-f43b3119a8444fe08b53d948a5696e93.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-f43b3119a8444fe08b53d948a5696e93.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-a6263513920a49d0a9df86983fe44a7a.html" target="element"> 7.6. Integration Management </a> </td>
																				<td> <a href="../elements/id-c9feea4eb6d740d3a06b58b2f1050ec9.html" target="element"> UC05. [HARD] As a user I want to share information about my profile in social media </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-06be048adbe04f8db0b72a7ea9fcbb3f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-06be048adbe04f8db0b72a7ea9fcbb3f.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-a6263513920a49d0a9df86983fe44a7a.html" target="element"> 7.6. Integration Management </a> </td>
																				<td> <a href="../elements/id-7cff9adb161e48e5882895c48051d0b4.html" target="element"> UC07. [OPTION] As a user I want to connect to my social media profile </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-6bd36e8240804ca886f9661ee27b3cd2.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-6bd36e8240804ca886f9661ee27b3cd2.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-294de70e18af4e80b9f6e4d24ccb5a1f.html" target="element"> 7.7. Enterprise Wide IT </a> </td>
																				<td> <a href="../elements/id-261d46a3d0364ea48ad37e719da447b2.html" target="element"> AC.MOD.01. [Assumption] Integrate with another social media in less than two agile iterations </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-c933f5c5c765419fbc98a201e8207ae2.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-c933f5c5c765419fbc98a201e8207ae2.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-294de70e18af4e80b9f6e4d24ccb5a1f.html" target="element"> 7.7. Enterprise Wide IT </a> </td>
																				<td> <a href="../elements/id-6f7bcf16eb0b4e6a87c732826555d2b4.html" target="element"> UC23[Assumption][OPTION] As IT responsible of HeyBlue I want best practices, tools to ensure an efficient IT Value delivery </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-621f61a50cf7447aac6c36fd4be7ab30.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-621f61a50cf7447aac6c36fd4be7ab30.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-0298e9e28ddd4771a1e563616ed9956e.html" target="element"> 7.8. Risk &amp; Fraud Management </a> </td>
																				<td> <a href="../elements/id-82032fce61544c6380e85c23d893a597.html" target="element"> UC24[Assumption][OPTION] As HeyBlue Admin I want to control and manage the risks, mainly the fraud related risks </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-5fe3d69831514fff9425fb5a2ffb335d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5fe3d69831514fff9425fb5a2ffb335d.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d7f9fe3914c34042aa94e3b14a17e46a.html" target="element"> AC.STA.01. [Assumption] Uptime 99.95% from monday to friday 9AM to 10PM </a> </td>
																		<td> <a href="../elements/id-338b945e88d04a1297fea8254a2683b4.html" target="element"> AC.STA.02. [Assumption] Uptime 99,95% from saturday to sunday from 7AM to 11:59PM </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>