<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>1.3. Architecture Characteristics</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>1.3. Architecture Characteristics</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-goal_realization"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_goal_realization" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-d0b9c4f8f405468a85df3dd306379ed2.png" alt="1.3. Architecture Characteristics" usemap="#id-d0b9c4f8f405468a85df3dd306379ed2map"/>
			   <map name="id-d0b9c4f8f405468a85df3dd306379ed2map">
				  				<area shape="rect" coords="476,1244,716,1354" href="../elements/id-7b82aceb3cd84951b7907872d28d6d5a.html"  target="element">
				  				<area shape="rect" coords="164,1244,404,1354" href="../elements/id-4e62b6592bb349058fec214693ad1d3d.html"  target="element">

				          <area shape="rect" coords="20,1124,820,1404" href="../objects/id-c04bde56c99e405fab5019b28bc6e697.html" target="element" >
				  				<area shape="rect" coords="908,932,1148,1042" href="../elements/id-717649665e004e29845c03782a5e2a7b.html"  target="element">

				          <area shape="rect" coords="860,812,1660,1092" href="../objects/id-8bdf1e61a56441a7a918d69f6e3bf653.html" target="element" >
				  				<area shape="rect" coords="164,932,404,1042" href="../elements/id-261d46a3d0364ea48ad37e719da447b2.html"  target="element">

				          <area shape="rect" coords="20,812,820,1092" href="../objects/id-714679f1d7324331b0743b7ce8e9249e.html" target="element" >
				  				<area shape="rect" coords="1244,582,1484,692" href="../elements/id-338b945e88d04a1297fea8254a2683b4.html"  target="element">
				  				<area shape="rect" coords="908,582,1148,692" href="../elements/id-d7f9fe3914c34042aa94e3b14a17e46a.html"  target="element">

				          <area shape="rect" coords="860,486,1660,766" href="../objects/id-5e63b28b92474beaa0e8065c9a2f93e5.html" target="element" >
				  				<area shape="rect" coords="164,596,404,706" href="../elements/id-b3375eac5d8241c6afe60ba224f6a4d9.html"  target="element">
				  				<area shape="rect" coords="452,428,692,538" href="../elements/id-2deba5a12e32430db9f44ba2cd089388.html"  target="element">
				  				<area shape="rect" coords="164,428,404,538" href="../elements/id-77ec9c61675c481bab6df09f56b0b2a9.html"  target="element">

				          <area shape="rect" coords="20,332,820,766" href="../objects/id-bc6f67f30111487296b5d501916d84d6.html" target="element" >
				  				<area shape="rect" coords="450,116,690,226" href="../elements/id-36dd96f6e4bd4bc7894d41ab4c5483a3.html"  target="element">
				  				<area shape="rect" coords="164,116,404,226" href="../elements/id-d773866a8a074cdd9ecb5096ee48c307.html"  target="element">

				          <area shape="rect" coords="20,20,820,300" href="../objects/id-58efb2b9ec9348d59ef9c5abeb0dc9ba.html" target="element" >
				  				<area shape="rect" coords="1220,284,1460,394" href="../elements/id-f7cd29cabd8f457a96accfd03e2e5ff1.html"  target="element">
				  				<area shape="rect" coords="908,284,1148,394" href="../elements/id-0acb8b43b3d44deb8ee00c5532f4bf0b.html"  target="element">
				  				<area shape="rect" coords="1220,116,1460,226" href="../elements/id-ccdd45c8315e47e8a28a292365c277dd.html"  target="element">
				  				<area shape="rect" coords="908,116,1148,226" href="../elements/id-accf4c79f96342058bcbf2abc2cc1861.html"  target="element">

				          <area shape="rect" coords="860,20,1660,430" href="../objects/id-83bed150828a4108be7978bf63518a29.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-83bed150828a4108be7978bf63518a29.html" target="element"> Security Characteristics </a> </td>
									           <td> <a href="../objects/id-83bed150828a4108be7978bf63518a29.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-accf4c79f96342058bcbf2abc2cc1861.html" target="element"> AC.SEC.01. Secure information </a> </td>
													    <td> <a href="../elements/id-accf4c79f96342058bcbf2abc2cc1861.html" target="element" class="i18n-elementtype-Requirement">
													    	(Architecture Characteristic)
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ccdd45c8315e47e8a28a292365c277dd.html" target="element"> AC.SEC.02. End User AAA </a> </td>
													    <td> <a href="../elements/id-ccdd45c8315e47e8a28a292365c277dd.html" target="element" class="i18n-elementtype-Requirement">
													    	(Architecture Characteristic)
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0acb8b43b3d44deb8ee00c5532f4bf0b.html" target="element"> AC.SEC.03. Device linking </a> </td>
													    <td> <a href="../elements/id-0acb8b43b3d44deb8ee00c5532f4bf0b.html" target="element" class="i18n-elementtype-Requirement">
													    	(Architecture Characteristic)
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-f7cd29cabd8f457a96accfd03e2e5ff1.html" target="element"> AC.SEC.04. Community members find the officers that are willing to connect, officers cannot find the community members </a> </td>
													    <td> <a href="../elements/id-f7cd29cabd8f457a96accfd03e2e5ff1.html" target="element" class="i18n-elementtype-Requirement">
													    	(Architecture Characteristic)
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-58efb2b9ec9348d59ef9c5abeb0dc9ba.html" target="element"> Usability Characteristics </a> </td>
									           <td> <a href="../objects/id-58efb2b9ec9348d59ef9c5abeb0dc9ba.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-d773866a8a074cdd9ecb5096ee48c307.html" target="element"> AC.USA.01. Web App Usability </a> </td>
													    <td> <a href="../elements/id-d773866a8a074cdd9ecb5096ee48c307.html" target="element" class="i18n-elementtype-Requirement">
													    	(Architecture Characteristic)
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-36dd96f6e4bd4bc7894d41ab4c5483a3.html" target="element"> AC.USA.02. Mobile App Usability </a> </td>
													    <td> <a href="../elements/id-36dd96f6e4bd4bc7894d41ab4c5483a3.html" target="element" class="i18n-elementtype-Requirement">
													    	(Architecture Characteristic)
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-bc6f67f30111487296b5d501916d84d6.html" target="element"> Confidence Characteristics </a> </td>
									           <td> <a href="../objects/id-bc6f67f30111487296b5d501916d84d6.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-77ec9c61675c481bab6df09f56b0b2a9.html" target="element"> AC.CON.01. Users can only have one connection per officer per 24 hours period. </a> </td>
													    <td> <a href="../elements/id-77ec9c61675c481bab6df09f56b0b2a9.html" target="element" class="i18n-elementtype-Requirement">
													    	(Architecture Characteristic)
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2deba5a12e32430db9f44ba2cd089388.html" target="element"> AC.CON.02. A connection can only happen if the community member and the police officer are within a 10 ft distance from each other </a> </td>
													    <td> <a href="../elements/id-2deba5a12e32430db9f44ba2cd089388.html" target="element" class="i18n-elementtype-Requirement">
													    	(Architecture Characteristic)
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b3375eac5d8241c6afe60ba224f6a4d9.html" target="element"> AC.CON.03. [HARD] Officers location must automatically shut off after 15 minutes </a> </td>
													    <td> <a href="../elements/id-b3375eac5d8241c6afe60ba224f6a4d9.html" target="element" class="i18n-elementtype-Requirement">
													    	(Architecture Characteristic)
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-5e63b28b92474beaa0e8065c9a2f93e5.html" target="element"> Stability Characteristics </a> </td>
									           <td> <a href="../objects/id-5e63b28b92474beaa0e8065c9a2f93e5.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-d7f9fe3914c34042aa94e3b14a17e46a.html" target="element"> AC.STA.01. [Assumption] Uptime 99.95% from monday to friday 9AM to 10PM </a> </td>
													    <td> <a href="../elements/id-d7f9fe3914c34042aa94e3b14a17e46a.html" target="element" class="i18n-elementtype-Requirement">
													    	(Architecture Characteristic)
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-338b945e88d04a1297fea8254a2683b4.html" target="element"> AC.STA.02. [Assumption] Uptime 99,95% from saturday to sunday from 7AM to 11:59PM </a> </td>
													    <td> <a href="../elements/id-338b945e88d04a1297fea8254a2683b4.html" target="element" class="i18n-elementtype-Requirement">
													    	(Architecture Characteristic)
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-714679f1d7324331b0743b7ce8e9249e.html" target="element"> Modifiability Characteristics </a> </td>
									           <td> <a href="../objects/id-714679f1d7324331b0743b7ce8e9249e.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-261d46a3d0364ea48ad37e719da447b2.html" target="element"> AC.MOD.01. [Assumption] Integrate with another social media in less than two agile iterations </a> </td>
													    <td> <a href="../elements/id-261d46a3d0364ea48ad37e719da447b2.html" target="element" class="i18n-elementtype-Requirement">
													    	(Architecture Characteristic)
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-8bdf1e61a56441a7a918d69f6e3bf653.html" target="element"> Scalability Characteristics </a> </td>
									           <td> <a href="../objects/id-8bdf1e61a56441a7a918d69f6e3bf653.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-717649665e004e29845c03782a5e2a7b.html" target="element"> AC.SCA.01. [Assumption] Start with little use rate (Friends and Family) and scalate the solution as usage rate increase </a> </td>
													    <td> <a href="../elements/id-717649665e004e29845c03782a5e2a7b.html" target="element" class="i18n-elementtype-Requirement">
													    	(Architecture Characteristic)
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-c04bde56c99e405fab5019b28bc6e697.html" target="element"> Performance Characteristics </a> </td>
									           <td> <a href="../objects/id-c04bde56c99e405fab5019b28bc6e697.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-4e62b6592bb349058fec214693ad1d3d.html" target="element"> AC.PER.01. [Assumption] Connection between police officer and civilians should be stablished in less than 5 seconds from the civilian intention </a> </td>
													    <td> <a href="../elements/id-4e62b6592bb349058fec214693ad1d3d.html" target="element" class="i18n-elementtype-Requirement">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-7b82aceb3cd84951b7907872d28d6d5a.html" target="element"> AC.PER.02. [Assumption] Changes in the civilian and police officer score should happen in less than 2 minutes before action (connection, redeption or donation) </a> </td>
													    <td> <a href="../elements/id-7b82aceb3cd84951b7907872d28d6d5a.html" target="element" class="i18n-elementtype-Requirement">
													    	(Architecture Characteristic)
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/id-95ba1adf904d44d0b14917bbeffafa9e.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-95ba1adf904d44d0b14917bbeffafa9e.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-accf4c79f96342058bcbf2abc2cc1861.html" target="element"> AC.SEC.01. Secure information </a> </td>
																				<td> <a href="../elements/id-f7cd29cabd8f457a96accfd03e2e5ff1.html" target="element"> AC.SEC.04. Community members find the officers that are willing to connect, officers cannot find the community members </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-bd4166290f8c4abda0c2db52604f455a.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-bd4166290f8c4abda0c2db52604f455a.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-accf4c79f96342058bcbf2abc2cc1861.html" target="element"> AC.SEC.01. Secure information </a> </td>
																				<td> <a href="../elements/id-0acb8b43b3d44deb8ee00c5532f4bf0b.html" target="element"> AC.SEC.03. Device linking </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-d1854a2b24474d7cac28d796f955c119.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d1854a2b24474d7cac28d796f955c119.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-accf4c79f96342058bcbf2abc2cc1861.html" target="element"> AC.SEC.01. Secure information </a> </td>
																				<td> <a href="../elements/id-ccdd45c8315e47e8a28a292365c277dd.html" target="element"> AC.SEC.02. End User AAA </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-20d9445b677e445a83c3edd0c43d74e2.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-20d9445b677e445a83c3edd0c43d74e2.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-accf4c79f96342058bcbf2abc2cc1861.html" target="element"> AC.SEC.01. Secure information </a> </td>
																				<td> <a href="../elements/id-b3375eac5d8241c6afe60ba224f6a4d9.html" target="element"> AC.CON.03. [HARD] Officers location must automatically shut off after 15 minutes </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-9798ebf4b3ed472bbce043a43c872a3d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-9798ebf4b3ed472bbce043a43c872a3d.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-accf4c79f96342058bcbf2abc2cc1861.html" target="element"> AC.SEC.01. Secure information </a> </td>
																				<td> <a href="../elements/id-77ec9c61675c481bab6df09f56b0b2a9.html" target="element"> AC.CON.01. Users can only have one connection per officer per 24 hours period. </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/id-2adb43c90c1846cfa7d1cb170fb35575.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-2adb43c90c1846cfa7d1cb170fb35575.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-d773866a8a074cdd9ecb5096ee48c307.html" target="element"> AC.USA.01. Web App Usability </a> </td>
																				<td> <a href="../elements/id-36dd96f6e4bd4bc7894d41ab4c5483a3.html" target="element"> AC.USA.02. Mobile App Usability </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/id-756a07ae431342769c69019e47d158ab.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-756a07ae431342769c69019e47d158ab.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2deba5a12e32430db9f44ba2cd089388.html" target="element"> AC.CON.02. A connection can only happen if the community member and the police officer are within a 10 ft distance from each other </a> </td>
																				<td> <a href="../elements/id-77ec9c61675c481bab6df09f56b0b2a9.html" target="element"> AC.CON.01. Users can only have one connection per officer per 24 hours period. </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-177b5f871a9e4502b16caeb04e9ed1d7.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-177b5f871a9e4502b16caeb04e9ed1d7.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2deba5a12e32430db9f44ba2cd089388.html" target="element"> AC.CON.02. A connection can only happen if the community member and the police officer are within a 10 ft distance from each other </a> </td>
																				<td> <a href="../elements/id-b3375eac5d8241c6afe60ba224f6a4d9.html" target="element"> AC.CON.03. [HARD] Officers location must automatically shut off after 15 minutes </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/id-a0f3750962554cd5baa8237165ea0648.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a0f3750962554cd5baa8237165ea0648.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-d7f9fe3914c34042aa94e3b14a17e46a.html" target="element"> AC.STA.01. [Assumption] Uptime 99.95% from monday to friday 9AM to 10PM </a> </td>
																				<td> <a href="../elements/id-717649665e004e29845c03782a5e2a7b.html" target="element"> AC.SCA.01. [Assumption] Start with little use rate (Friends and Family) and scalate the solution as usage rate increase </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-5fe3d69831514fff9425fb5a2ffb335d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5fe3d69831514fff9425fb5a2ffb335d.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-d7f9fe3914c34042aa94e3b14a17e46a.html" target="element"> AC.STA.01. [Assumption] Uptime 99.95% from monday to friday 9AM to 10PM </a> </td>
																				<td> <a href="../elements/id-338b945e88d04a1297fea8254a2683b4.html" target="element"> AC.STA.02. [Assumption] Uptime 99,95% from saturday to sunday from 7AM to 11:59PM </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-d45d4880cde841cca5cc54ef3a937e0a.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d45d4880cde841cca5cc54ef3a937e0a.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-338b945e88d04a1297fea8254a2683b4.html" target="element"> AC.STA.02. [Assumption] Uptime 99,95% from saturday to sunday from 7AM to 11:59PM </a> </td>
																				<td> <a href="../elements/id-717649665e004e29845c03782a5e2a7b.html" target="element"> AC.SCA.01. [Assumption] Start with little use rate (Friends and Family) and scalate the solution as usage rate increase </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/id-c96fad40e04e41618323eb1a0de7c3ac.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-c96fad40e04e41618323eb1a0de7c3ac.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-4e62b6592bb349058fec214693ad1d3d.html" target="element"> AC.PER.01. [Assumption] Connection between police officer and civilians should be stablished in less than 5 seconds from the civilian intention </a> </td>
																				<td> <a href="../elements/id-717649665e004e29845c03782a5e2a7b.html" target="element"> AC.SCA.01. [Assumption] Start with little use rate (Friends and Family) and scalate the solution as usage rate increase </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-eec09128170942349a7b2278e7bceaa8.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-eec09128170942349a7b2278e7bceaa8.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-7b82aceb3cd84951b7907872d28d6d5a.html" target="element"> AC.PER.02. [Assumption] Changes in the civilian and police officer score should happen in less than 2 minutes before action (connection, redeption or donation) </a> </td>
																				<td> <a href="../elements/id-717649665e004e29845c03782a5e2a7b.html" target="element"> AC.SCA.01. [Assumption] Start with little use rate (Friends and Family) and scalate the solution as usage rate increase </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>