<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>2.2.2.7. Enterprise - Conceptual Architecture Mapping</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>2.2.2.7. Enterprise - Conceptual Architecture Mapping</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-business_process_cooperation"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_business_process_cooperation" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-d24ffea1287c437396b151e34054b367.png" alt="2.2.2.7. Enterprise - Conceptual Architecture Mapping" usemap="#id-d24ffea1287c437396b151e34054b367map"/>
			   <map name="id-d24ffea1287c437396b151e34054b367map">
				  		<area shape="rect" coords="572,32,812,142" href="../elements/id-56628fe976b64ae4b13b358c077c6898.html"  target="element">
				  		<area shape="rect" coords="980,680,1220,790" href="../elements/id-8e14cd62579d4823885a60d7da64ed90.html"  target="element">
				  		<area shape="rect" coords="116,680,356,790" href="../elements/id-1a3985ddd2454f9d8fa2e519865ae568.html"  target="element">
				  		<area shape="rect" coords="692,680,932,790" href="../elements/id-4d60209b6845414090a2e3c929fa6858.html"  target="element">
				  		<area shape="rect" coords="404,680,644,790" href="../elements/id-2e3a79161ae24011a6a5758417f0ca0c.html"  target="element">
				  		<area shape="rect" coords="284,32,524,142" href="../elements/id-8c99d896bf08493f9630e380f4bae335.html"  target="element">
				  		<area shape="rect" coords="1196,20,1436,130" href="../elements/id-7476326aada043b1ae42a99ebb829a36.html"  target="element">
				  		<area shape="rect" coords="914,20,1154,130" href="../elements/id-d1aee77fc8d84a149bceb8f9d2743f58.html"  target="element">
				  				<area shape="rect" coords="692,464,932,574" href="../elements/id-0298e9e28ddd4771a1e563616ed9956e.html"  target="element">
				  				<area shape="rect" coords="404,464,644,574" href="../elements/id-294de70e18af4e80b9f6e4d24ccb5a1f.html"  target="element">
				  				<area shape="rect" coords="116,464,356,574" href="../elements/id-a6263513920a49d0a9df86983fe44a7a.html"  target="element">
				  				<area shape="rect" coords="1268,320,1508,430" href="../elements/id-ed41dc69705142119dffd467d2f8a24a.html"  target="element">
				  				<area shape="rect" coords="980,320,1220,430" href="../elements/id-983b1a88a7b740ffa3363e7937b7a790.html"  target="element">
				  				<area shape="rect" coords="692,320,932,430" href="../elements/id-c41bf9942bf8495f8a37a955bdca15d1.html"  target="element">
				  				<area shape="rect" coords="404,320,644,430" href="../elements/id-5bf2e6e7fa1b49d981b521a95158c470.html"  target="element">
				  				<area shape="rect" coords="116,320,356,430" href="../elements/id-8b70ae2cf4ca479aa6d5f1a00ed071a1.html"  target="element">

				  		<area shape="rect" coords="20,272,1582,610" href="../elements/id-edcd548649c74edbaa904fbc2ad199fe.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-edcd548649c74edbaa904fbc2ad199fe.html" target="element"> 7. Enterprise </a> </td>
											    <td> <a href="../elements/id-edcd548649c74edbaa904fbc2ad199fe.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-8b70ae2cf4ca479aa6d5f1a00ed071a1.html" target="element"> 7.1. Investments </a> </td>
													    <td> <a href="../elements/id-8b70ae2cf4ca479aa6d5f1a00ed071a1.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-5bf2e6e7fa1b49d981b521a95158c470.html" target="element"> 7.2. Human Resources </a> </td>
													    <td> <a href="../elements/id-5bf2e6e7fa1b49d981b521a95158c470.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c41bf9942bf8495f8a37a955bdca15d1.html" target="element"> 7.3. Regulatory Compliance </a> </td>
													    <td> <a href="../elements/id-c41bf9942bf8495f8a37a955bdca15d1.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-983b1a88a7b740ffa3363e7937b7a790.html" target="element"> 7.4. Information Management </a> </td>
													    <td> <a href="../elements/id-983b1a88a7b740ffa3363e7937b7a790.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ed41dc69705142119dffd467d2f8a24a.html" target="element"> 7.5. Finance &amp; Treasury </a> </td>
													    <td> <a href="../elements/id-ed41dc69705142119dffd467d2f8a24a.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a6263513920a49d0a9df86983fe44a7a.html" target="element"> 7.6. Integration Management </a> </td>
													    <td> <a href="../elements/id-a6263513920a49d0a9df86983fe44a7a.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-294de70e18af4e80b9f6e4d24ccb5a1f.html" target="element"> 7.7. Enterprise Wide IT </a> </td>
													    <td> <a href="../elements/id-294de70e18af4e80b9f6e4d24ccb5a1f.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0298e9e28ddd4771a1e563616ed9956e.html" target="element"> 7.8. Risk &amp; Fraud Management </a> </td>
													    <td> <a href="../elements/id-0298e9e28ddd4771a1e563616ed9956e.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-d1aee77fc8d84a149bceb8f9d2743f58.html" target="element"> Analytics </a> </td>
											    <td> <a href="../elements/id-d1aee77fc8d84a149bceb8f9d2743f58.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7476326aada043b1ae42a99ebb829a36.html" target="element"> HeyBlue Archive </a> </td>
											    <td> <a href="../elements/id-7476326aada043b1ae42a99ebb829a36.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8c99d896bf08493f9630e380f4bae335.html" target="element"> Finance / Treasury </a> </td>
											    <td> <a href="../elements/id-8c99d896bf08493f9630e380f4bae335.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2e3a79161ae24011a6a5758417f0ca0c.html" target="element"> Mailing </a> </td>
											    <td> <a href="../elements/id-2e3a79161ae24011a6a5758417f0ca0c.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4d60209b6845414090a2e3c929fa6858.html" target="element"> Code repository </a> </td>
											    <td> <a href="../elements/id-4d60209b6845414090a2e3c929fa6858.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1a3985ddd2454f9d8fa2e519865ae568.html" target="element"> CI CD engine </a> </td>
											    <td> <a href="../elements/id-1a3985ddd2454f9d8fa2e519865ae568.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8e14cd62579d4823885a60d7da64ed90.html" target="element"> Gsuite </a> </td>
											    <td> <a href="../elements/id-8e14cd62579d4823885a60d7da64ed90.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-56628fe976b64ae4b13b358c077c6898.html" target="element"> HR </a> </td>
											    <td> <a href="../elements/id-56628fe976b64ae4b13b358c077c6898.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-c2740e3f3dba43ecba5f3d3bd692f174.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c2740e3f3dba43ecba5f3d3bd692f174.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-edcd548649c74edbaa904fbc2ad199fe.html" target="element"> 7. Enterprise </a> </td>
																		<td> <a href="../elements/id-294de70e18af4e80b9f6e4d24ccb5a1f.html" target="element"> 7.7. Enterprise Wide IT </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7477fe00a3d44688b8fd77506afeaa39.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7477fe00a3d44688b8fd77506afeaa39.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-edcd548649c74edbaa904fbc2ad199fe.html" target="element"> 7. Enterprise </a> </td>
																		<td> <a href="../elements/id-5bf2e6e7fa1b49d981b521a95158c470.html" target="element"> 7.2. Human Resources </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-246429cb78924ae597ec121006c1c381.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-246429cb78924ae597ec121006c1c381.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-edcd548649c74edbaa904fbc2ad199fe.html" target="element"> 7. Enterprise </a> </td>
																		<td> <a href="../elements/id-a6263513920a49d0a9df86983fe44a7a.html" target="element"> 7.6. Integration Management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6451bf30508f4c03bbcebf644739b50a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6451bf30508f4c03bbcebf644739b50a.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-edcd548649c74edbaa904fbc2ad199fe.html" target="element"> 7. Enterprise </a> </td>
																		<td> <a href="../elements/id-ed41dc69705142119dffd467d2f8a24a.html" target="element"> 7.5. Finance &amp; Treasury </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c3702330091c430480cf1b84a531de1f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c3702330091c430480cf1b84a531de1f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-edcd548649c74edbaa904fbc2ad199fe.html" target="element"> 7. Enterprise </a> </td>
																		<td> <a href="../elements/id-c41bf9942bf8495f8a37a955bdca15d1.html" target="element"> 7.3. Regulatory Compliance </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-64e7a24b315c476cb069bbbb258411a6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-64e7a24b315c476cb069bbbb258411a6.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-edcd548649c74edbaa904fbc2ad199fe.html" target="element"> 7. Enterprise </a> </td>
																		<td> <a href="../elements/id-983b1a88a7b740ffa3363e7937b7a790.html" target="element"> 7.4. Information Management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-580633f4545c435d835b19853fea28d9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-580633f4545c435d835b19853fea28d9.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-edcd548649c74edbaa904fbc2ad199fe.html" target="element"> 7. Enterprise </a> </td>
																		<td> <a href="../elements/id-0298e9e28ddd4771a1e563616ed9956e.html" target="element"> 7.8. Risk &amp; Fraud Management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0c7a88383797488c81a6fbfec2370b0d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0c7a88383797488c81a6fbfec2370b0d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-edcd548649c74edbaa904fbc2ad199fe.html" target="element"> 7. Enterprise </a> </td>
																		<td> <a href="../elements/id-8b70ae2cf4ca479aa6d5f1a00ed071a1.html" target="element"> 7.1. Investments </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-00714c9d6a1d457a852a0371678cc196.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-00714c9d6a1d457a852a0371678cc196.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d1aee77fc8d84a149bceb8f9d2743f58.html" target="element"> Analytics </a> </td>
																		<td> <a href="../elements/id-983b1a88a7b740ffa3363e7937b7a790.html" target="element"> 7.4. Information Management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0410ba0a149a449196bd624fcb511c0b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0410ba0a149a449196bd624fcb511c0b.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d1aee77fc8d84a149bceb8f9d2743f58.html" target="element"> Analytics </a> </td>
																		<td> <a href="../elements/id-0298e9e28ddd4771a1e563616ed9956e.html" target="element"> 7.8. Risk &amp; Fraud Management </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-e9a8ce14fac1498390b904060fb9dc9c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e9a8ce14fac1498390b904060fb9dc9c.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7476326aada043b1ae42a99ebb829a36.html" target="element"> HeyBlue Archive </a> </td>
																		<td> <a href="../elements/id-983b1a88a7b740ffa3363e7937b7a790.html" target="element"> 7.4. Information Management </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-c621e328a480427192ecdd1b963bca7a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c621e328a480427192ecdd1b963bca7a.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8c99d896bf08493f9630e380f4bae335.html" target="element"> Finance / Treasury </a> </td>
																		<td> <a href="../elements/id-8b70ae2cf4ca479aa6d5f1a00ed071a1.html" target="element"> 7.1. Investments </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3574d26435564774a9defe96baf1ee3a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3574d26435564774a9defe96baf1ee3a.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8c99d896bf08493f9630e380f4bae335.html" target="element"> Finance / Treasury </a> </td>
																		<td> <a href="../elements/id-ed41dc69705142119dffd467d2f8a24a.html" target="element"> 7.5. Finance &amp; Treasury </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-855a69e93a244bc88e3823d6d630dfb7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-855a69e93a244bc88e3823d6d630dfb7.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2e3a79161ae24011a6a5758417f0ca0c.html" target="element"> Mailing </a> </td>
																		<td> <a href="../elements/id-294de70e18af4e80b9f6e4d24ccb5a1f.html" target="element"> 7.7. Enterprise Wide IT </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-7a7eb746bb5f46ea84fadfe7d26791f5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7a7eb746bb5f46ea84fadfe7d26791f5.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4d60209b6845414090a2e3c929fa6858.html" target="element"> Code repository </a> </td>
																		<td> <a href="../elements/id-294de70e18af4e80b9f6e4d24ccb5a1f.html" target="element"> 7.7. Enterprise Wide IT </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-58012888eef24796bb7cedd0ff5b0ee6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-58012888eef24796bb7cedd0ff5b0ee6.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1a3985ddd2454f9d8fa2e519865ae568.html" target="element"> CI CD engine </a> </td>
																		<td> <a href="../elements/id-294de70e18af4e80b9f6e4d24ccb5a1f.html" target="element"> 7.7. Enterprise Wide IT </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-21913e99e7be4e49a016f552d24c6dc4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-21913e99e7be4e49a016f552d24c6dc4.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8e14cd62579d4823885a60d7da64ed90.html" target="element"> Gsuite </a> </td>
																		<td> <a href="../elements/id-c41bf9942bf8495f8a37a955bdca15d1.html" target="element"> 7.3. Regulatory Compliance </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0dc0484ba0964b5cbdf4eddcd3db30fa.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0dc0484ba0964b5cbdf4eddcd3db30fa.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8e14cd62579d4823885a60d7da64ed90.html" target="element"> Gsuite </a> </td>
																		<td> <a href="../elements/id-0298e9e28ddd4771a1e563616ed9956e.html" target="element"> 7.8. Risk &amp; Fraud Management </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-8792625445954d2299f1b2c34d9dcc2d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8792625445954d2299f1b2c34d9dcc2d.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-56628fe976b64ae4b13b358c077c6898.html" target="element"> HR </a> </td>
																		<td> <a href="../elements/id-5bf2e6e7fa1b49d981b521a95158c470.html" target="element"> 7.2. Human Resources </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>