<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>2.3.13. Storefront management - Business Entities</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>2.3.13. Storefront management - Business Entities</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-application_usage"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_application_usage" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-e5d75a4aec0f485a8777519dcfce13dc.png" alt="2.3.13. Storefront management - Business Entities" usemap="#id-e5d75a4aec0f485a8777519dcfce13dcmap"/>
			   <map name="id-e5d75a4aec0f485a8777519dcfce13dcmap">
				  		<area shape="rect" coords="212,20,452,130" href="../elements/id-2649af7a104947eea27083e0fa65b1ac.html"  target="element">
				  		<area shape="rect" coords="932,20,1172,130" href="../elements/id-0cff7cdf3afe44dab33b709379ef17f5.html"  target="element">
				  		<area shape="rect" coords="572,20,812,130" href="../elements/id-b4f3c600a88644978c09d40c8fefa0c7.html"  target="element">
				  				<area shape="rect" coords="604,276,634,306" href="../elements/id-b52b6c5119b54aa0b6bf32d776f141bd.html"  target="element">
				  				<area shape="rect" coords="332,236,572,346" href="../elements/id-5f167021176249148bd6127ee2da037e.html"  target="element">
				  				<area shape="rect" coords="884,332,1124,442" href="../elements/id-241d65872cab4ca398f7100aad3c355b.html"  target="element">

				  		<area shape="rect" coords="284,188,1150,502" href="../elements/id-1f480fc248a1420295e9cd08cb76bca3.html"  target="element">
				  		<area shape="rect" coords="20,236,260,346" href="../elements/id-d0d257e8a4314b5fbc2141c6b8f82657.html"  target="element">
				  		<area shape="rect" coords="1170,236,1410,346" href="../elements/id-fd55223ec24e4dc3bf593d5a00ebc46d.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-fd55223ec24e4dc3bf593d5a00ebc46d.html" target="element"> Storefront created </a> </td>
											    <td> <a href="../elements/id-fd55223ec24e4dc3bf593d5a00ebc46d.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d0d257e8a4314b5fbc2141c6b8f82657.html" target="element"> Ready for storefront creation </a> </td>
											    <td> <a href="../elements/id-d0d257e8a4314b5fbc2141c6b8f82657.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1f480fc248a1420295e9cd08cb76bca3.html" target="element"> Storefront management </a> </td>
											    <td> <a href="../elements/id-1f480fc248a1420295e9cd08cb76bca3.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-241d65872cab4ca398f7100aad3c355b.html" target="element"> Catalog management </a> </td>
													    <td> <a href="../elements/id-241d65872cab4ca398f7100aad3c355b.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-5f167021176249148bd6127ee2da037e.html" target="element"> Content submission &amp; management </a> </td>
													    <td> <a href="../elements/id-5f167021176249148bd6127ee2da037e.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b52b6c5119b54aa0b6bf32d776f141bd.html" target="element"> OR </a> </td>
													    <td> <a href="../elements/id-b52b6c5119b54aa0b6bf32d776f141bd.html" target="element" class="i18n-elementtype-Junction">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-b4f3c600a88644978c09d40c8fefa0c7.html" target="element"> Product </a> </td>
											    <td> <a href="../elements/id-b4f3c600a88644978c09d40c8fefa0c7.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0cff7cdf3afe44dab33b709379ef17f5.html" target="element"> Catalog </a> </td>
											    <td> <a href="../elements/id-0cff7cdf3afe44dab33b709379ef17f5.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2649af7a104947eea27083e0fa65b1ac.html" target="element"> Content </a> </td>
											    <td> <a href="../elements/id-2649af7a104947eea27083e0fa65b1ac.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-ca635bd4359d4f55a293bc06a2d21299.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ca635bd4359d4f55a293bc06a2d21299.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d0d257e8a4314b5fbc2141c6b8f82657.html" target="element"> Ready for storefront creation </a> </td>
																		<td> <a href="../elements/id-5f167021176249148bd6127ee2da037e.html" target="element"> Content submission &amp; management </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-30c1a46fd3314961ac32f8d3ff4f9f5c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-30c1a46fd3314961ac32f8d3ff4f9f5c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1f480fc248a1420295e9cd08cb76bca3.html" target="element"> Storefront management </a> </td>
																		<td> <a href="../elements/id-241d65872cab4ca398f7100aad3c355b.html" target="element"> Catalog management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-81023488e8e54205b8e32f4c504c90d4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-81023488e8e54205b8e32f4c504c90d4.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1f480fc248a1420295e9cd08cb76bca3.html" target="element"> Storefront management </a> </td>
																		<td> <a href="../elements/id-5f167021176249148bd6127ee2da037e.html" target="element"> Content submission &amp; management </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-3357058f9c014361b898ee1008634991.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-3357058f9c014361b898ee1008634991.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-241d65872cab4ca398f7100aad3c355b.html" target="element"> Catalog management </a> </td>
																				<td> <a href="../elements/id-5f167021176249148bd6127ee2da037e.html" target="element"> Content submission &amp; management </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-2c7b7b44cedf4e8f9e8f8fbdc881289b.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-2c7b7b44cedf4e8f9e8f8fbdc881289b.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-241d65872cab4ca398f7100aad3c355b.html" target="element"> Catalog management </a> </td>
																				<td> <a href="../elements/id-fd55223ec24e4dc3bf593d5a00ebc46d.html" target="element"> Storefront created </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-8721bfbe17db4077ae9714c945c02482.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-8721bfbe17db4077ae9714c945c02482.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-241d65872cab4ca398f7100aad3c355b.html" target="element"> Catalog management </a> </td>
																				<td> <a href="../elements/id-b4f3c600a88644978c09d40c8fefa0c7.html" target="element"> Product </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-55f0489d5b4648b7aa859288b3168833.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-55f0489d5b4648b7aa859288b3168833.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-241d65872cab4ca398f7100aad3c355b.html" target="element"> Catalog management </a> </td>
																				<td> <a href="../elements/id-0cff7cdf3afe44dab33b709379ef17f5.html" target="element"> Catalog </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-cd33692ede3a499398abd16b8f7ee2cb.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-cd33692ede3a499398abd16b8f7ee2cb.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-5f167021176249148bd6127ee2da037e.html" target="element"> Content submission &amp; management </a> </td>
																				<td> <a href="../elements/id-b52b6c5119b54aa0b6bf32d776f141bd.html" target="element"> OR </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-3420b3a9ab0a4043be5ccd2f132615c3.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-3420b3a9ab0a4043be5ccd2f132615c3.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-5f167021176249148bd6127ee2da037e.html" target="element"> Content submission &amp; management </a> </td>
																				<td> <a href="../elements/id-b4f3c600a88644978c09d40c8fefa0c7.html" target="element"> Product </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-1a0c8b164e224d47af1d65f2588ba22f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-1a0c8b164e224d47af1d65f2588ba22f.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-5f167021176249148bd6127ee2da037e.html" target="element"> Content submission &amp; management </a> </td>
																				<td> <a href="../elements/id-2649af7a104947eea27083e0fa65b1ac.html" target="element"> Content </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-aa57c1be269e42da8e8e7bfbc0de50c1.html" target="element"> retail &amp; municipality only </a> </td>
																				<td> <a href="../elements/id-aa57c1be269e42da8e8e7bfbc0de50c1.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-b52b6c5119b54aa0b6bf32d776f141bd.html" target="element"> OR </a> </td>
																				<td> <a href="../elements/id-241d65872cab4ca398f7100aad3c355b.html" target="element"> Catalog management </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-2556b704f768443a97a7ad98aba3b063.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-2556b704f768443a97a7ad98aba3b063.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-b52b6c5119b54aa0b6bf32d776f141bd.html" target="element"> OR </a> </td>
																				<td> <a href="../elements/id-fd55223ec24e4dc3bf593d5a00ebc46d.html" target="element"> Storefront created </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>