<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>2.1.6. Device relinking - Application Coverage</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>2.1.6. Device relinking - Application Coverage</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-business_process_cooperation"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_business_process_cooperation" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-e478955563264d3c901a7e6abd8cbc81.png" alt="2.1.6. Device relinking - Application Coverage" usemap="#id-e478955563264d3c901a7e6abd8cbc81map"/>
			   <map name="id-e478955563264d3c901a7e6abd8cbc81map">
				          <area shape="rect" coords="284,1064,1224,1258" href="../objects/id-33f16d6c6aff4b1d96a691137f811e20.html" target="element" >
				  		<area shape="rect" coords="1410,920,1650,1030" href="../elements/id-50d0e1998d034b5ea24f9d713d347e31.html"  target="element">
				  		<area shape="rect" coords="1892,728,1922,758" href="../elements/id-1dbb356a908e45e1bb412bed73afa001.html"  target="element">
				  		<area shape="rect" coords="2036,756,2276,866" href="../elements/id-a9a44e1b09fc4319a20341d9c91e5524.html"  target="element">
				  		<area shape="rect" coords="1964,608,2204,718" href="../elements/id-7a1b4e25ea5d4a788a7ad37788aec861.html"  target="element">
				  		<area shape="rect" coords="666,920,906,1030" href="../elements/id-7d1e4cec8006415db6569ec2be73ccd5.html"  target="element">
				  		<area shape="rect" coords="1122,920,1362,1030" href="../elements/id-17c7da0f831748049a149a0bae8ce937.html"  target="element">
				  		<area shape="rect" coords="20,626,260,736" href="../elements/id-e22f9beed0ae47f784db241e8494070f.html"  target="element">
				  		<area shape="rect" coords="1460,176,1700,286" href="../elements/id-b464eee28308487f8811679d62c98dff.html"  target="element">
				  		<area shape="rect" coords="1052,176,1292,286" href="../elements/id-3548a87b6da14e01a0cfcc2e44c03dfe.html"  target="element">
				  		<area shape="rect" coords="644,176,884,286" href="../elements/id-71706798856d4549acb4e91b55db920b.html"  target="element">
				  		<area shape="rect" coords="234,176,474,286" href="../elements/id-4bac0e06cb534729b3a84c1c3aa6eda3.html"  target="element">
				  				<area shape="rect" coords="596,620,836,730" href="../elements/id-6080678f276a46e2b75b14b9c812e881.html"  target="element">
				  				<area shape="rect" coords="1604,704,1844,814" href="../elements/id-8395a0d5a35d4c13910a3836253f289a.html"  target="element">
				  				<area shape="rect" coords="884,660,914,690" href="../elements/id-269a2c1aa81240afbbacf23a837943c6.html"  target="element">
				  				<area shape="rect" coords="308,620,548,730" href="../elements/id-afdeabc547a94478bd47eca783ab6271.html"  target="element">
				  				<area shape="rect" coords="1292,704,1532,814" href="../elements/id-de65475e150b4692a3badf7bd379bf73.html"  target="element">
				  				<area shape="rect" coords="956,552,1196,662" href="../elements/id-28e37d6f6db94969be33473ca4d67a3d.html"  target="element">

				  		<area shape="rect" coords="284,512,1870,850" href="../elements/id-c93276d1f4a5442788a2fd789daf4691.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-c93276d1f4a5442788a2fd789daf4691.html" target="element"> Device relinking </a> </td>
											    <td> <a href="../elements/id-c93276d1f4a5442788a2fd789daf4691.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-28e37d6f6db94969be33473ca4d67a3d.html" target="element"> Device enrollment </a> </td>
													    <td> <a href="../elements/id-28e37d6f6db94969be33473ca4d67a3d.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-de65475e150b4692a3badf7bd379bf73.html" target="element"> Device registration </a> </td>
													    <td> <a href="../elements/id-de65475e150b4692a3badf7bd379bf73.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-afdeabc547a94478bd47eca783ab6271.html" target="element"> Device information submission </a> </td>
													    <td> <a href="../elements/id-afdeabc547a94478bd47eca783ab6271.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-269a2c1aa81240afbbacf23a837943c6.html" target="element"> AND </a> </td>
													    <td> <a href="../elements/id-269a2c1aa81240afbbacf23a837943c6.html" target="element" class="i18n-elementtype-Junction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-8395a0d5a35d4c13910a3836253f289a.html" target="element"> Device changed </a> </td>
													    <td> <a href="../elements/id-8395a0d5a35d4c13910a3836253f289a.html" target="element" class="i18n-elementtype-BusinessEvent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-6080678f276a46e2b75b14b9c812e881.html" target="element"> Device information changed </a> </td>
													    <td> <a href="../elements/id-6080678f276a46e2b75b14b9c812e881.html" target="element" class="i18n-elementtype-BusinessEvent">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-4bac0e06cb534729b3a84c1c3aa6eda3.html" target="element"> Charity </a> </td>
											    <td> <a href="../elements/id-4bac0e06cb534729b3a84c1c3aa6eda3.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-71706798856d4549acb4e91b55db920b.html" target="element"> Civilian </a> </td>
											    <td> <a href="../elements/id-71706798856d4549acb4e91b55db920b.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3548a87b6da14e01a0cfcc2e44c03dfe.html" target="element"> Family in need </a> </td>
											    <td> <a href="../elements/id-3548a87b6da14e01a0cfcc2e44c03dfe.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b464eee28308487f8811679d62c98dff.html" target="element"> Police Officer </a> </td>
											    <td> <a href="../elements/id-b464eee28308487f8811679d62c98dff.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e22f9beed0ae47f784db241e8494070f.html" target="element"> Device relinking option accepted </a> </td>
											    <td> <a href="../elements/id-e22f9beed0ae47f784db241e8494070f.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-17c7da0f831748049a149a0bae8ce937.html" target="element"> HeyBlue Mobile </a> </td>
											    <td> <a href="../elements/id-17c7da0f831748049a149a0bae8ce937.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7d1e4cec8006415db6569ec2be73ccd5.html" target="element"> HeyBlue Web </a> </td>
											    <td> <a href="../elements/id-7d1e4cec8006415db6569ec2be73ccd5.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7a1b4e25ea5d4a788a7ad37788aec861.html" target="element"> Ready for donations </a> </td>
											    <td> <a href="../elements/id-7a1b4e25ea5d4a788a7ad37788aec861.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a9a44e1b09fc4319a20341d9c91e5524.html" target="element"> Ready for interactions </a> </td>
											    <td> <a href="../elements/id-a9a44e1b09fc4319a20341d9c91e5524.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1dbb356a908e45e1bb412bed73afa001.html" target="element"> OR </a> </td>
											    <td> <a href="../elements/id-1dbb356a908e45e1bb412bed73afa001.html" target="element" class="i18n-elementtype-Junction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-50d0e1998d034b5ea24f9d713d347e31.html" target="element"> Device Registrator </a> </td>
											    <td> <a href="../elements/id-50d0e1998d034b5ea24f9d713d347e31.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-33f16d6c6aff4b1d96a691137f811e20.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-33f16d6c6aff4b1d96a691137f811e20.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-a52e8fe1f95243a39ade857da8e6a7f4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a52e8fe1f95243a39ade857da8e6a7f4.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c93276d1f4a5442788a2fd789daf4691.html" target="element"> Device relinking </a> </td>
																		<td> <a href="../elements/id-28e37d6f6db94969be33473ca4d67a3d.html" target="element"> Device enrollment </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4606afda1aa645c38af60511cf46800e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4606afda1aa645c38af60511cf46800e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c93276d1f4a5442788a2fd789daf4691.html" target="element"> Device relinking </a> </td>
																		<td> <a href="../elements/id-de65475e150b4692a3badf7bd379bf73.html" target="element"> Device registration </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-80b02a3fb33a4516905a2df3fce7b867.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-80b02a3fb33a4516905a2df3fce7b867.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c93276d1f4a5442788a2fd789daf4691.html" target="element"> Device relinking </a> </td>
																		<td> <a href="../elements/id-afdeabc547a94478bd47eca783ab6271.html" target="element"> Device information submission </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-195b37ffe5f74675af7370a8d1c79990.html" target="element"> redirect to mobile </a> </td>
																				<td> <a href="../elements/id-195b37ffe5f74675af7370a8d1c79990.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-28e37d6f6db94969be33473ca4d67a3d.html" target="element"> Device enrollment </a> </td>
																				<td> <a href="../elements/id-de65475e150b4692a3badf7bd379bf73.html" target="element"> Device registration </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-b4a22e2bf0894639ae9f40506246fefc.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-b4a22e2bf0894639ae9f40506246fefc.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-de65475e150b4692a3badf7bd379bf73.html" target="element"> Device registration </a> </td>
																				<td> <a href="../elements/id-8395a0d5a35d4c13910a3836253f289a.html" target="element"> Device changed </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-41e6d0fa4ac24227b6e5a2385b9f7922.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-41e6d0fa4ac24227b6e5a2385b9f7922.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-afdeabc547a94478bd47eca783ab6271.html" target="element"> Device information submission </a> </td>
																				<td> <a href="../elements/id-6080678f276a46e2b75b14b9c812e881.html" target="element"> Device information changed </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-552dc39911ff4f43abf75c7e62347ff6.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-552dc39911ff4f43abf75c7e62347ff6.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-269a2c1aa81240afbbacf23a837943c6.html" target="element"> AND </a> </td>
																				<td> <a href="../elements/id-de65475e150b4692a3badf7bd379bf73.html" target="element"> Device registration </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-cc7f6e45c3394038b5aa16677e747d2d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-cc7f6e45c3394038b5aa16677e747d2d.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-269a2c1aa81240afbbacf23a837943c6.html" target="element"> AND </a> </td>
																				<td> <a href="../elements/id-28e37d6f6db94969be33473ca4d67a3d.html" target="element"> Device enrollment </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-ff863ae15d4b4a29a705690214afe270.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-ff863ae15d4b4a29a705690214afe270.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-8395a0d5a35d4c13910a3836253f289a.html" target="element"> Device changed </a> </td>
																				<td> <a href="../elements/id-1dbb356a908e45e1bb412bed73afa001.html" target="element"> OR </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-0907729d1e124864a3e114541bd28984.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-0907729d1e124864a3e114541bd28984.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-6080678f276a46e2b75b14b9c812e881.html" target="element"> Device information changed </a> </td>
																				<td> <a href="../elements/id-269a2c1aa81240afbbacf23a837943c6.html" target="element"> AND </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-cde638a254c1427896c1ce5b58d555b5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cde638a254c1427896c1ce5b58d555b5.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4bac0e06cb534729b3a84c1c3aa6eda3.html" target="element"> Charity </a> </td>
																		<td> <a href="../elements/id-e22f9beed0ae47f784db241e8494070f.html" target="element"> Device relinking option accepted </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-292b6a6099544986960d99b068b84583.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-292b6a6099544986960d99b068b84583.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4bac0e06cb534729b3a84c1c3aa6eda3.html" target="element"> Charity </a> </td>
																		<td> <a href="../elements/id-afdeabc547a94478bd47eca783ab6271.html" target="element"> Device information submission </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-522f1952c1ae4af180b71ffa3718b0dd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-522f1952c1ae4af180b71ffa3718b0dd.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4bac0e06cb534729b3a84c1c3aa6eda3.html" target="element"> Charity </a> </td>
																		<td> <a href="../elements/id-28e37d6f6db94969be33473ca4d67a3d.html" target="element"> Device enrollment </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2ed431fddab94c8fb08ce47b2c395245.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2ed431fddab94c8fb08ce47b2c395245.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4bac0e06cb534729b3a84c1c3aa6eda3.html" target="element"> Charity </a> </td>
																		<td> <a href="../elements/id-de65475e150b4692a3badf7bd379bf73.html" target="element"> Device registration </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-c8cfae7586cf44788a5ce4809c8c97ce.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c8cfae7586cf44788a5ce4809c8c97ce.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-71706798856d4549acb4e91b55db920b.html" target="element"> Civilian </a> </td>
																		<td> <a href="../elements/id-e22f9beed0ae47f784db241e8494070f.html" target="element"> Device relinking option accepted </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d78c11ccce6a4b42b503dda049a43d32.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d78c11ccce6a4b42b503dda049a43d32.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-71706798856d4549acb4e91b55db920b.html" target="element"> Civilian </a> </td>
																		<td> <a href="../elements/id-afdeabc547a94478bd47eca783ab6271.html" target="element"> Device information submission </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9fd1966313304c9c9e657bf833e5a79c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9fd1966313304c9c9e657bf833e5a79c.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-71706798856d4549acb4e91b55db920b.html" target="element"> Civilian </a> </td>
																		<td> <a href="../elements/id-28e37d6f6db94969be33473ca4d67a3d.html" target="element"> Device enrollment </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-49d485bb33c04b0da875d37f1d7ccf8d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-49d485bb33c04b0da875d37f1d7ccf8d.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-71706798856d4549acb4e91b55db920b.html" target="element"> Civilian </a> </td>
																		<td> <a href="../elements/id-de65475e150b4692a3badf7bd379bf73.html" target="element"> Device registration </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-8e51db1431c640e2a172e0569035e86f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8e51db1431c640e2a172e0569035e86f.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3548a87b6da14e01a0cfcc2e44c03dfe.html" target="element"> Family in need </a> </td>
																		<td> <a href="../elements/id-e22f9beed0ae47f784db241e8494070f.html" target="element"> Device relinking option accepted </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c2ea82baf1be4770a3cc4696a02e423b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c2ea82baf1be4770a3cc4696a02e423b.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3548a87b6da14e01a0cfcc2e44c03dfe.html" target="element"> Family in need </a> </td>
																		<td> <a href="../elements/id-afdeabc547a94478bd47eca783ab6271.html" target="element"> Device information submission </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-24ba9eddc2de4c63ad16ccff49619eeb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-24ba9eddc2de4c63ad16ccff49619eeb.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3548a87b6da14e01a0cfcc2e44c03dfe.html" target="element"> Family in need </a> </td>
																		<td> <a href="../elements/id-28e37d6f6db94969be33473ca4d67a3d.html" target="element"> Device enrollment </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5d5dde6305a64fdbb7f22050ddb85847.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5d5dde6305a64fdbb7f22050ddb85847.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3548a87b6da14e01a0cfcc2e44c03dfe.html" target="element"> Family in need </a> </td>
																		<td> <a href="../elements/id-de65475e150b4692a3badf7bd379bf73.html" target="element"> Device registration </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-7ef1f900742a462da2f3ac1cb35b36ce.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7ef1f900742a462da2f3ac1cb35b36ce.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b464eee28308487f8811679d62c98dff.html" target="element"> Police Officer </a> </td>
																		<td> <a href="../elements/id-e22f9beed0ae47f784db241e8494070f.html" target="element"> Device relinking option accepted </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-bfc52ce854174118aeca4ec00da3e0d4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bfc52ce854174118aeca4ec00da3e0d4.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b464eee28308487f8811679d62c98dff.html" target="element"> Police Officer </a> </td>
																		<td> <a href="../elements/id-afdeabc547a94478bd47eca783ab6271.html" target="element"> Device information submission </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4fd63f3b33264276aaf9cef6a4f5edac.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4fd63f3b33264276aaf9cef6a4f5edac.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b464eee28308487f8811679d62c98dff.html" target="element"> Police Officer </a> </td>
																		<td> <a href="../elements/id-28e37d6f6db94969be33473ca4d67a3d.html" target="element"> Device enrollment </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e3c70a5e0a914d1da3f975fb6f2b4b3b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e3c70a5e0a914d1da3f975fb6f2b4b3b.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b464eee28308487f8811679d62c98dff.html" target="element"> Police Officer </a> </td>
																		<td> <a href="../elements/id-de65475e150b4692a3badf7bd379bf73.html" target="element"> Device registration </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-11fe2e8d413d499d8790c541b76c9e31.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-11fe2e8d413d499d8790c541b76c9e31.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e22f9beed0ae47f784db241e8494070f.html" target="element"> Device relinking option accepted </a> </td>
																		<td> <a href="../elements/id-afdeabc547a94478bd47eca783ab6271.html" target="element"> Device information submission </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-0b9d28fa598e445796581c2ca501f594.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0b9d28fa598e445796581c2ca501f594.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-17c7da0f831748049a149a0bae8ce937.html" target="element"> HeyBlue Mobile </a> </td>
																		<td> <a href="../elements/id-de65475e150b4692a3badf7bd379bf73.html" target="element"> Device registration </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8d743645a550498c85781f916c01f56a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8d743645a550498c85781f916c01f56a.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-17c7da0f831748049a149a0bae8ce937.html" target="element"> HeyBlue Mobile </a> </td>
																		<td> <a href="../elements/id-28e37d6f6db94969be33473ca4d67a3d.html" target="element"> Device enrollment </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-b160fb9130184beb8c236e975c7e39aa.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b160fb9130184beb8c236e975c7e39aa.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7d1e4cec8006415db6569ec2be73ccd5.html" target="element"> HeyBlue Web </a> </td>
																		<td> <a href="../elements/id-28e37d6f6db94969be33473ca4d67a3d.html" target="element"> Device enrollment </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e75f5b400f7847bab5914c792c8d6d6b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e75f5b400f7847bab5914c792c8d6d6b.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7d1e4cec8006415db6569ec2be73ccd5.html" target="element"> HeyBlue Web </a> </td>
																		<td> <a href="../elements/id-afdeabc547a94478bd47eca783ab6271.html" target="element"> Device information submission </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-c0d88ee6f1514287b06a61447af5bd61.html" target="element"> notification </a> </td>
																		<td> <a href="../elements/id-c0d88ee6f1514287b06a61447af5bd61.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7a1b4e25ea5d4a788a7ad37788aec861.html" target="element"> Ready for donations </a> </td>
																		<td> <a href="../elements/id-4bac0e06cb534729b3a84c1c3aa6eda3.html" target="element"> Charity </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f5d940037ac54844a573c7ec5e242524.html" target="element"> notification </a> </td>
																		<td> <a href="../elements/id-f5d940037ac54844a573c7ec5e242524.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7a1b4e25ea5d4a788a7ad37788aec861.html" target="element"> Ready for donations </a> </td>
																		<td> <a href="../elements/id-3548a87b6da14e01a0cfcc2e44c03dfe.html" target="element"> Family in need </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-2045bc4971b04d7397aa46bf30d7afc0.html" target="element"> notification </a> </td>
																		<td> <a href="../elements/id-2045bc4971b04d7397aa46bf30d7afc0.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a9a44e1b09fc4319a20341d9c91e5524.html" target="element"> Ready for interactions </a> </td>
																		<td> <a href="../elements/id-b464eee28308487f8811679d62c98dff.html" target="element"> Police Officer </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1f12b63927414ea9b4d2bc71a81fdcb2.html" target="element"> notification </a> </td>
																		<td> <a href="../elements/id-1f12b63927414ea9b4d2bc71a81fdcb2.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a9a44e1b09fc4319a20341d9c91e5524.html" target="element"> Ready for interactions </a> </td>
																		<td> <a href="../elements/id-71706798856d4549acb4e91b55db920b.html" target="element"> Civilian </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-85a8856d189f4839ab598d54838e142b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-85a8856d189f4839ab598d54838e142b.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1dbb356a908e45e1bb412bed73afa001.html" target="element"> OR </a> </td>
																		<td> <a href="../elements/id-7a1b4e25ea5d4a788a7ad37788aec861.html" target="element"> Ready for donations </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b826e5eec8e94330b91cbec336b83d82.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b826e5eec8e94330b91cbec336b83d82.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1dbb356a908e45e1bb412bed73afa001.html" target="element"> OR </a> </td>
																		<td> <a href="../elements/id-a9a44e1b09fc4319a20341d9c91e5524.html" target="element"> Ready for interactions </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-0efa45030d794c4d837722598ef599de.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0efa45030d794c4d837722598ef599de.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-50d0e1998d034b5ea24f9d713d347e31.html" target="element"> Device Registrator </a> </td>
																		<td> <a href="../elements/id-de65475e150b4692a3badf7bd379bf73.html" target="element"> Device registration </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>