<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>2.1.5. Civilian points redemption / donation - Application Coverage</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>2.1.5. Civilian points redemption / donation - Application Coverage</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-application_usage"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_application_usage" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-e0ca79ed67e34d23b87e9ba6fbf1cb8f.png" alt="2.1.5. Civilian points redemption / donation - Application Coverage" usemap="#id-e0ca79ed67e34d23b87e9ba6fbf1cb8fmap"/>
			   <map name="id-e0ca79ed67e34d23b87e9ba6fbf1cb8fmap">
				          <area shape="rect" coords="284,1160,1224,1354" href="../objects/id-85cc460fdc954672a168a8be9ad91849.html" target="element" >
				  		<area shape="rect" coords="2348,1016,2588,1126" href="../elements/id-256ff54544fc46afb62b07b211852e94.html"  target="element">
				  		<area shape="rect" coords="860,1016,1100,1126" href="../elements/id-f8f7f79c580944dc938791bf4bd46b6b.html"  target="element">
				  		<area shape="rect" coords="524,1016,764,1126" href="../elements/id-8125acaae4f54e629e43d4f416d0f932.html"  target="element">
				  		<area shape="rect" coords="212,1016,452,1126" href="../elements/id-3bbaa72ce72e4944bfee482d5df821af.html"  target="element">
				  		<area shape="rect" coords="2470,104,2710,214" href="../elements/id-4bac0e06cb534729b3a84c1c3aa6eda3.html"  target="element">
				  				<area shape="rect" coords="956,456,986,486" href="../elements/id-554272a9395f41178544c0221b2f2da3.html"  target="element">
				  				<area shape="rect" coords="1028,416,1268,526" href="../elements/id-bb017acaf09a4b99a1fd7b51170bcb72.html"  target="element">
				  				<area shape="rect" coords="1148,672,1178,702" href="../elements/id-e281d32b79ce44558ece9e200feecbd8.html"  target="element">
				  				<area shape="rect" coords="852,632,1092,742" href="../elements/id-e277af74d20846ccb64f673bc8327cc5.html"  target="element">
				  				<area shape="rect" coords="2396,546,2636,656" href="../elements/id-bc795d6597604b75bb42204ce953178e.html"  target="element">
				  				<area shape="rect" coords="1556,384,1586,414" href="../elements/id-005dcf1e807343ff8a6293bdd1c5d068.html"  target="element">
				  				<area shape="rect" coords="2012,344,2252,454" href="../elements/id-8cb0190471974f04803617a76314ed24.html"  target="element">
				  				<area shape="rect" coords="1700,416,1940,526" href="../elements/id-a1bcc68729234616ba8a467587dd3a1b.html"  target="element">
				  				<area shape="rect" coords="380,416,620,526" href="../elements/id-097bd9ad80484739b23377b2960712ac.html"  target="element">
				  				<area shape="rect" coords="644,416,884,526" href="../elements/id-a53c03273c31439e8551f54cb687f3a2.html"  target="element">
				  				<area shape="rect" coords="1334,546,1574,656" href="../elements/id-e8d8364e64f94e3eb84bba785116603f.html"  target="element">
				  				<area shape="rect" coords="1244,740,1484,850" href="../elements/id-b2c846f04314412a922aebb4570702f0.html"  target="element">
				  				<area shape="rect" coords="1678,682,1918,792" href="../elements/id-aa2c18f5fe684025ba3e6eef8d8b3156.html"  target="element">
				  				<area shape="rect" coords="1618,586,1648,616" href="../elements/id-ba1a5ddc7c8840f7940dac19011dd44b.html"  target="element">
				  				<area shape="rect" coords="2122,546,2362,656" href="../elements/id-954b4726f8bb48fe97396162849e9aab.html"  target="element">
				  				<area shape="rect" coords="2026,682,2266,792" href="../elements/id-13d636faa42644cf92ef53bb6a2b0eea.html"  target="element">
				  				<area shape="rect" coords="308,586,338,616" href="../elements/id-172e3696d8e2491e87417c31e912121c.html"  target="element">
				  				<area shape="rect" coords="1810,546,2050,656" href="../elements/id-c4267e1ebf0d4df181e83529a23314b4.html"  target="element">

				  		<area shape="rect" coords="284,320,2662,880" href="../elements/id-61f59da085fd4b9290c98c3c94845e2e.html"  target="element">
				  		<area shape="rect" coords="2684,544,2924,654" href="../elements/id-a9a44e1b09fc4319a20341d9c91e5524.html"  target="element">
				  		<area shape="rect" coords="20,544,260,654" href="../elements/id-bc795d6597604b75bb42204ce953178e.html"  target="element">
				  		<area shape="rect" coords="2180,104,2420,214" href="../elements/id-8a399c8a94824dd8aa91ec17eaacd36c.html"  target="element">
				  		<area shape="rect" coords="2064,1016,2304,1126" href="../elements/id-7d1e4cec8006415db6569ec2be73ccd5.html"  target="element">
				  		<area shape="rect" coords="1776,1016,2016,1126" href="../elements/id-17c7da0f831748049a149a0bae8ce937.html"  target="element">
				  		<area shape="rect" coords="1244,104,1484,214" href="../elements/id-71706798856d4549acb4e91b55db920b.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-71706798856d4549acb4e91b55db920b.html" target="element"> Civilian </a> </td>
											    <td> <a href="../elements/id-71706798856d4549acb4e91b55db920b.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-17c7da0f831748049a149a0bae8ce937.html" target="element"> HeyBlue Mobile </a> </td>
											    <td> <a href="../elements/id-17c7da0f831748049a149a0bae8ce937.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7d1e4cec8006415db6569ec2be73ccd5.html" target="element"> HeyBlue Web </a> </td>
											    <td> <a href="../elements/id-7d1e4cec8006415db6569ec2be73ccd5.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8a399c8a94824dd8aa91ec17eaacd36c.html" target="element"> Retail </a> </td>
											    <td> <a href="../elements/id-8a399c8a94824dd8aa91ec17eaacd36c.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-bc795d6597604b75bb42204ce953178e.html" target="element"> Points balance updated </a> </td>
											    <td> <a href="../elements/id-bc795d6597604b75bb42204ce953178e.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a9a44e1b09fc4319a20341d9c91e5524.html" target="element"> Ready for interactions </a> </td>
											    <td> <a href="../elements/id-a9a44e1b09fc4319a20341d9c91e5524.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-61f59da085fd4b9290c98c3c94845e2e.html" target="element"> Civilian points redemption / donation </a> </td>
											    <td> <a href="../elements/id-61f59da085fd4b9290c98c3c94845e2e.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-c4267e1ebf0d4df181e83529a23314b4.html" target="element"> Retail location &amp; selection </a> </td>
													    <td> <a href="../elements/id-c4267e1ebf0d4df181e83529a23314b4.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-172e3696d8e2491e87417c31e912121c.html" target="element"> OR </a> </td>
													    <td> <a href="../elements/id-172e3696d8e2491e87417c31e912121c.html" target="element" class="i18n-elementtype-Junction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-13d636faa42644cf92ef53bb6a2b0eea.html" target="element"> Points donation </a> </td>
													    <td> <a href="../elements/id-13d636faa42644cf92ef53bb6a2b0eea.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-954b4726f8bb48fe97396162849e9aab.html" target="element"> Points redemption (Retail TX) </a> </td>
													    <td> <a href="../elements/id-954b4726f8bb48fe97396162849e9aab.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ba1a5ddc7c8840f7940dac19011dd44b.html" target="element"> OR </a> </td>
													    <td> <a href="../elements/id-ba1a5ddc7c8840f7940dac19011dd44b.html" target="element" class="i18n-elementtype-Junction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-aa2c18f5fe684025ba3e6eef8d8b3156.html" target="element"> Charity selection </a> </td>
													    <td> <a href="../elements/id-aa2c18f5fe684025ba3e6eef8d8b3156.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b2c846f04314412a922aebb4570702f0.html" target="element"> Redemption/Donation delayed </a> </td>
													    <td> <a href="../elements/id-b2c846f04314412a922aebb4570702f0.html" target="element" class="i18n-elementtype-BusinessEvent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e8d8364e64f94e3eb84bba785116603f.html" target="element"> Redemption/Donation decided </a> </td>
													    <td> <a href="../elements/id-e8d8364e64f94e3eb84bba785116603f.html" target="element" class="i18n-elementtype-BusinessEvent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a53c03273c31439e8551f54cb687f3a2.html" target="element"> Nearby retail detected </a> </td>
													    <td> <a href="../elements/id-a53c03273c31439e8551f54cb687f3a2.html" target="element" class="i18n-elementtype-BusinessEvent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-097bd9ad80484739b23377b2960712ac.html" target="element"> Nearby retail detection </a> </td>
													    <td> <a href="../elements/id-097bd9ad80484739b23377b2960712ac.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a1bcc68729234616ba8a467587dd3a1b.html" target="element"> Redemption decided </a> </td>
													    <td> <a href="../elements/id-a1bcc68729234616ba8a467587dd3a1b.html" target="element" class="i18n-elementtype-BusinessEvent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-8cb0190471974f04803617a76314ed24.html" target="element"> Redemption ignored </a> </td>
													    <td> <a href="../elements/id-8cb0190471974f04803617a76314ed24.html" target="element" class="i18n-elementtype-BusinessEvent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-005dcf1e807343ff8a6293bdd1c5d068.html" target="element"> OR </a> </td>
													    <td> <a href="../elements/id-005dcf1e807343ff8a6293bdd1c5d068.html" target="element" class="i18n-elementtype-Junction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-bc795d6597604b75bb42204ce953178e.html" target="element"> Points balance updated </a> </td>
													    <td> <a href="../elements/id-bc795d6597604b75bb42204ce953178e.html" target="element" class="i18n-elementtype-BusinessEvent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e277af74d20846ccb64f673bc8327cc5.html" target="element"> Retail/Charity Storefront interaction </a> </td>
													    <td> <a href="../elements/id-e277af74d20846ccb64f673bc8327cc5.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e281d32b79ce44558ece9e200feecbd8.html" target="element"> OR </a> </td>
													    <td> <a href="../elements/id-e281d32b79ce44558ece9e200feecbd8.html" target="element" class="i18n-elementtype-Junction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-bb017acaf09a4b99a1fd7b51170bcb72.html" target="element"> Retail Storefront interaction </a> </td>
													    <td> <a href="../elements/id-bb017acaf09a4b99a1fd7b51170bcb72.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-554272a9395f41178544c0221b2f2da3.html" target="element"> OR </a> </td>
													    <td> <a href="../elements/id-554272a9395f41178544c0221b2f2da3.html" target="element" class="i18n-elementtype-Junction">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-4bac0e06cb534729b3a84c1c3aa6eda3.html" target="element"> Charity </a> </td>
											    <td> <a href="../elements/id-4bac0e06cb534729b3a84c1c3aa6eda3.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3bbaa72ce72e4944bfee482d5df821af.html" target="element"> HeyBlue Business Rules </a> </td>
											    <td> <a href="../elements/id-3bbaa72ce72e4944bfee482d5df821af.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8125acaae4f54e629e43d4f416d0f932.html" target="element"> HeyBlue Tracking &amp; Notification </a> </td>
											    <td> <a href="../elements/id-8125acaae4f54e629e43d4f416d0f932.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f8f7f79c580944dc938791bf4bd46b6b.html" target="element"> HeyBlue Store Service </a> </td>
											    <td> <a href="../elements/id-f8f7f79c580944dc938791bf4bd46b6b.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-256ff54544fc46afb62b07b211852e94.html" target="element"> HeyBlue Scoring </a> </td>
											    <td> <a href="../elements/id-256ff54544fc46afb62b07b211852e94.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-85cc460fdc954672a168a8be9ad91849.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-85cc460fdc954672a168a8be9ad91849.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-ac92c09ee4d2473b86c40389438ce130.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ac92c09ee4d2473b86c40389438ce130.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-71706798856d4549acb4e91b55db920b.html" target="element"> Civilian </a> </td>
																		<td> <a href="../elements/id-e8d8364e64f94e3eb84bba785116603f.html" target="element"> Redemption/Donation decided </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-19f9bf6946f0440ab0b6743d7b581bac.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-19f9bf6946f0440ab0b6743d7b581bac.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-71706798856d4549acb4e91b55db920b.html" target="element"> Civilian </a> </td>
																		<td> <a href="../elements/id-b2c846f04314412a922aebb4570702f0.html" target="element"> Redemption/Donation delayed </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e8440a331f7049c5a0441741735581ae.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e8440a331f7049c5a0441741735581ae.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-71706798856d4549acb4e91b55db920b.html" target="element"> Civilian </a> </td>
																		<td> <a href="../elements/id-954b4726f8bb48fe97396162849e9aab.html" target="element"> Points redemption (Retail TX) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-845b623144a44b8783f060ced71c61d9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-845b623144a44b8783f060ced71c61d9.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-71706798856d4549acb4e91b55db920b.html" target="element"> Civilian </a> </td>
																		<td> <a href="../elements/id-a1bcc68729234616ba8a467587dd3a1b.html" target="element"> Redemption decided </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ba46be16639e4326a5ac88e2c1e299cc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ba46be16639e4326a5ac88e2c1e299cc.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-71706798856d4549acb4e91b55db920b.html" target="element"> Civilian </a> </td>
																		<td> <a href="../elements/id-8cb0190471974f04803617a76314ed24.html" target="element"> Redemption ignored </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-36d54f103f334e5fb591040d91dd820a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-36d54f103f334e5fb591040d91dd820a.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-71706798856d4549acb4e91b55db920b.html" target="element"> Civilian </a> </td>
																		<td> <a href="../elements/id-e277af74d20846ccb64f673bc8327cc5.html" target="element"> Retail/Charity Storefront interaction </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0baf874f4e4d4e69a9145b67c26d7f47.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0baf874f4e4d4e69a9145b67c26d7f47.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-71706798856d4549acb4e91b55db920b.html" target="element"> Civilian </a> </td>
																		<td> <a href="../elements/id-c4267e1ebf0d4df181e83529a23314b4.html" target="element"> Retail location &amp; selection </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c0d960a8ab304649af93fff5cb31e0f3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c0d960a8ab304649af93fff5cb31e0f3.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-71706798856d4549acb4e91b55db920b.html" target="element"> Civilian </a> </td>
																		<td> <a href="../elements/id-bb017acaf09a4b99a1fd7b51170bcb72.html" target="element"> Retail Storefront interaction </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-88871c4c2cc34c1caf302b91e467cc71.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-88871c4c2cc34c1caf302b91e467cc71.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-17c7da0f831748049a149a0bae8ce937.html" target="element"> HeyBlue Mobile </a> </td>
																		<td> <a href="../elements/id-954b4726f8bb48fe97396162849e9aab.html" target="element"> Points redemption (Retail TX) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-857572a80f3140fe99703c6da14a6ad4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-857572a80f3140fe99703c6da14a6ad4.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-17c7da0f831748049a149a0bae8ce937.html" target="element"> HeyBlue Mobile </a> </td>
																		<td> <a href="../elements/id-aa2c18f5fe684025ba3e6eef8d8b3156.html" target="element"> Charity selection </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f43319038e36406d96866cfd0b80db23.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f43319038e36406d96866cfd0b80db23.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-17c7da0f831748049a149a0bae8ce937.html" target="element"> HeyBlue Mobile </a> </td>
																		<td> <a href="../elements/id-e277af74d20846ccb64f673bc8327cc5.html" target="element"> Retail/Charity Storefront interaction </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ddbc4477f9c342bab4313cdf4121b3b7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ddbc4477f9c342bab4313cdf4121b3b7.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-17c7da0f831748049a149a0bae8ce937.html" target="element"> HeyBlue Mobile </a> </td>
																		<td> <a href="../elements/id-c4267e1ebf0d4df181e83529a23314b4.html" target="element"> Retail location &amp; selection </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-b802f483e925424585453abc8bf8e453.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b802f483e925424585453abc8bf8e453.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7d1e4cec8006415db6569ec2be73ccd5.html" target="element"> HeyBlue Web </a> </td>
																		<td> <a href="../elements/id-954b4726f8bb48fe97396162849e9aab.html" target="element"> Points redemption (Retail TX) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0eeed267f26a4abd8ee666b270b72de9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0eeed267f26a4abd8ee666b270b72de9.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7d1e4cec8006415db6569ec2be73ccd5.html" target="element"> HeyBlue Web </a> </td>
																		<td> <a href="../elements/id-aa2c18f5fe684025ba3e6eef8d8b3156.html" target="element"> Charity selection </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-576597bf53c44933bf2340f0a4cba4b4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-576597bf53c44933bf2340f0a4cba4b4.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7d1e4cec8006415db6569ec2be73ccd5.html" target="element"> HeyBlue Web </a> </td>
																		<td> <a href="../elements/id-e277af74d20846ccb64f673bc8327cc5.html" target="element"> Retail/Charity Storefront interaction </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-86af400487b54133a8f4cef801c2a191.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-86af400487b54133a8f4cef801c2a191.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7d1e4cec8006415db6569ec2be73ccd5.html" target="element"> HeyBlue Web </a> </td>
																		<td> <a href="../elements/id-c4267e1ebf0d4df181e83529a23314b4.html" target="element"> Retail location &amp; selection </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-2bfdf940124d47aba964682b9ee68c5a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2bfdf940124d47aba964682b9ee68c5a.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8a399c8a94824dd8aa91ec17eaacd36c.html" target="element"> Retail </a> </td>
																		<td> <a href="../elements/id-954b4726f8bb48fe97396162849e9aab.html" target="element"> Points redemption (Retail TX) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-6dc4e8d948b64982b7920854248b3a4c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6dc4e8d948b64982b7920854248b3a4c.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-bc795d6597604b75bb42204ce953178e.html" target="element"> Points balance updated </a> </td>
																		<td> <a href="../elements/id-172e3696d8e2491e87417c31e912121c.html" target="element"> OR </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-75e7d46e7aa44384b63674c09a2724fa.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-75e7d46e7aa44384b63674c09a2724fa.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-61f59da085fd4b9290c98c3c94845e2e.html" target="element"> Civilian points redemption / donation </a> </td>
																		<td> <a href="../elements/id-13d636faa42644cf92ef53bb6a2b0eea.html" target="element"> Points donation </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a2361c8208fa4f07a475e9025879d892.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a2361c8208fa4f07a475e9025879d892.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-61f59da085fd4b9290c98c3c94845e2e.html" target="element"> Civilian points redemption / donation </a> </td>
																		<td> <a href="../elements/id-954b4726f8bb48fe97396162849e9aab.html" target="element"> Points redemption (Retail TX) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-fa83b91862254dd0b573c3a0d992fa2a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fa83b91862254dd0b573c3a0d992fa2a.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-61f59da085fd4b9290c98c3c94845e2e.html" target="element"> Civilian points redemption / donation </a> </td>
																		<td> <a href="../elements/id-aa2c18f5fe684025ba3e6eef8d8b3156.html" target="element"> Charity selection </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1867bf7d567a4baa977f6a2b82eef471.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1867bf7d567a4baa977f6a2b82eef471.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-61f59da085fd4b9290c98c3c94845e2e.html" target="element"> Civilian points redemption / donation </a> </td>
																		<td> <a href="../elements/id-097bd9ad80484739b23377b2960712ac.html" target="element"> Nearby retail detection </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4c0c782176d34254a076220b28ebf80c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4c0c782176d34254a076220b28ebf80c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-61f59da085fd4b9290c98c3c94845e2e.html" target="element"> Civilian points redemption / donation </a> </td>
																		<td> <a href="../elements/id-e277af74d20846ccb64f673bc8327cc5.html" target="element"> Retail/Charity Storefront interaction </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-748a6c48b7bc437a977944c0a657ee9d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-748a6c48b7bc437a977944c0a657ee9d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-61f59da085fd4b9290c98c3c94845e2e.html" target="element"> Civilian points redemption / donation </a> </td>
																		<td> <a href="../elements/id-bb017acaf09a4b99a1fd7b51170bcb72.html" target="element"> Retail Storefront interaction </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4438d7ccfae94ce9bd7274d10a9b2712.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4438d7ccfae94ce9bd7274d10a9b2712.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-61f59da085fd4b9290c98c3c94845e2e.html" target="element"> Civilian points redemption / donation </a> </td>
																		<td> <a href="../elements/id-c4267e1ebf0d4df181e83529a23314b4.html" target="element"> Retail location &amp; selection </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-0d6d8e2807bf47bea006ec4ff7546923.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-0d6d8e2807bf47bea006ec4ff7546923.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-c4267e1ebf0d4df181e83529a23314b4.html" target="element"> Retail location &amp; selection </a> </td>
																				<td> <a href="../elements/id-954b4726f8bb48fe97396162849e9aab.html" target="element"> Points redemption (Retail TX) </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-04aa963eb0004f76953e78e714ce1194.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-04aa963eb0004f76953e78e714ce1194.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-172e3696d8e2491e87417c31e912121c.html" target="element"> OR </a> </td>
																				<td> <a href="../elements/id-097bd9ad80484739b23377b2960712ac.html" target="element"> Nearby retail detection </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-07180597570a4c3f9f2bbdab5b89a1a5.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-07180597570a4c3f9f2bbdab5b89a1a5.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-172e3696d8e2491e87417c31e912121c.html" target="element"> OR </a> </td>
																				<td> <a href="../elements/id-e277af74d20846ccb64f673bc8327cc5.html" target="element"> Retail/Charity Storefront interaction </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-6de9c783a05d42fb8c76ca7be7e6aaaf.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-6de9c783a05d42fb8c76ca7be7e6aaaf.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-13d636faa42644cf92ef53bb6a2b0eea.html" target="element"> Points donation </a> </td>
																				<td> <a href="../elements/id-bc795d6597604b75bb42204ce953178e.html" target="element"> Points balance updated </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-263f32af01fd4abda06d17965bd5947d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-263f32af01fd4abda06d17965bd5947d.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-954b4726f8bb48fe97396162849e9aab.html" target="element"> Points redemption (Retail TX) </a> </td>
																				<td> <a href="../elements/id-bc795d6597604b75bb42204ce953178e.html" target="element"> Points balance updated </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-257ba1f75906407085247518fafe64a6.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-257ba1f75906407085247518fafe64a6.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-ba1a5ddc7c8840f7940dac19011dd44b.html" target="element"> OR </a> </td>
																				<td> <a href="../elements/id-aa2c18f5fe684025ba3e6eef8d8b3156.html" target="element"> Charity selection </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-2904e5e135f941229c499143ba39c296.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-2904e5e135f941229c499143ba39c296.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-ba1a5ddc7c8840f7940dac19011dd44b.html" target="element"> OR </a> </td>
																				<td> <a href="../elements/id-c4267e1ebf0d4df181e83529a23314b4.html" target="element"> Retail location &amp; selection </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-3e42f5cce8e84583bd84cd4b205afac8.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-3e42f5cce8e84583bd84cd4b205afac8.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-aa2c18f5fe684025ba3e6eef8d8b3156.html" target="element"> Charity selection </a> </td>
																				<td> <a href="../elements/id-13d636faa42644cf92ef53bb6a2b0eea.html" target="element"> Points donation </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-032760698fc3414f885f94530fb38db5.html" target="element"> state not changed </a> </td>
																				<td> <a href="../elements/id-032760698fc3414f885f94530fb38db5.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-b2c846f04314412a922aebb4570702f0.html" target="element"> Redemption/Donation delayed </a> </td>
																				<td> <a href="../elements/id-bc795d6597604b75bb42204ce953178e.html" target="element"> Points balance updated </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-34e0d9723f9141db85012383b6b552be.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-34e0d9723f9141db85012383b6b552be.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-e8d8364e64f94e3eb84bba785116603f.html" target="element"> Redemption/Donation decided </a> </td>
																				<td> <a href="../elements/id-ba1a5ddc7c8840f7940dac19011dd44b.html" target="element"> OR </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-4982e1e6ee9143eabd3bdc18c9b721fb.html" target="element"> notification </a> </td>
																				<td> <a href="../elements/id-4982e1e6ee9143eabd3bdc18c9b721fb.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-a53c03273c31439e8551f54cb687f3a2.html" target="element"> Nearby retail detected </a> </td>
																				<td> <a href="../elements/id-71706798856d4549acb4e91b55db920b.html" target="element"> Civilian </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-613ee8b62325477ab8296040903c222a.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-613ee8b62325477ab8296040903c222a.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-a53c03273c31439e8551f54cb687f3a2.html" target="element"> Nearby retail detected </a> </td>
																				<td> <a href="../elements/id-554272a9395f41178544c0221b2f2da3.html" target="element"> OR </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-ef53f7f2636444c6b9a1c1bc3752615a.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-ef53f7f2636444c6b9a1c1bc3752615a.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-097bd9ad80484739b23377b2960712ac.html" target="element"> Nearby retail detection </a> </td>
																				<td> <a href="../elements/id-a53c03273c31439e8551f54cb687f3a2.html" target="element"> Nearby retail detected </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-5f3bc0ad2cbc402290910df010ea384b.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5f3bc0ad2cbc402290910df010ea384b.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-a1bcc68729234616ba8a467587dd3a1b.html" target="element"> Redemption decided </a> </td>
																				<td> <a href="../elements/id-954b4726f8bb48fe97396162849e9aab.html" target="element"> Points redemption (Retail TX) </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-2f73c606b3fe4c03a873519d96681376.html" target="element"> state not changed </a> </td>
																				<td> <a href="../elements/id-2f73c606b3fe4c03a873519d96681376.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-8cb0190471974f04803617a76314ed24.html" target="element"> Redemption ignored </a> </td>
																				<td> <a href="../elements/id-bc795d6597604b75bb42204ce953178e.html" target="element"> Points balance updated </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-1b91d4ea26ff441cbb1f1d701f597cfb.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-1b91d4ea26ff441cbb1f1d701f597cfb.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-005dcf1e807343ff8a6293bdd1c5d068.html" target="element"> OR </a> </td>
																				<td> <a href="../elements/id-8cb0190471974f04803617a76314ed24.html" target="element"> Redemption ignored </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-533a3566b59747b789fa2e39c54a04b0.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-533a3566b59747b789fa2e39c54a04b0.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-005dcf1e807343ff8a6293bdd1c5d068.html" target="element"> OR </a> </td>
																				<td> <a href="../elements/id-a1bcc68729234616ba8a467587dd3a1b.html" target="element"> Redemption decided </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-bc759526353e47ea9dc8126b3f308335.html" target="element"> notification </a> </td>
																				<td> <a href="../elements/id-bc759526353e47ea9dc8126b3f308335.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-bc795d6597604b75bb42204ce953178e.html" target="element"> Points balance updated </a> </td>
																				<td> <a href="../elements/id-71706798856d4549acb4e91b55db920b.html" target="element"> Civilian </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-026be4b7711f4a2ea4a5f5d30facd7c5.html" target="element"> notification </a> </td>
																				<td> <a href="../elements/id-026be4b7711f4a2ea4a5f5d30facd7c5.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-bc795d6597604b75bb42204ce953178e.html" target="element"> Points balance updated </a> </td>
																				<td> <a href="../elements/id-4bac0e06cb534729b3a84c1c3aa6eda3.html" target="element"> Charity </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-09d25a66cb9340b0a4360e4656cae29b.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-09d25a66cb9340b0a4360e4656cae29b.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-bc795d6597604b75bb42204ce953178e.html" target="element"> Points balance updated </a> </td>
																				<td> <a href="../elements/id-a9a44e1b09fc4319a20341d9c91e5524.html" target="element"> Ready for interactions </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-9330793902d643bdbf33e4a981faba62.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-9330793902d643bdbf33e4a981faba62.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-e277af74d20846ccb64f673bc8327cc5.html" target="element"> Retail/Charity Storefront interaction </a> </td>
																				<td> <a href="../elements/id-e281d32b79ce44558ece9e200feecbd8.html" target="element"> OR </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-1d056a19c06b4124b2c977c1429d85e0.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-1d056a19c06b4124b2c977c1429d85e0.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-e281d32b79ce44558ece9e200feecbd8.html" target="element"> OR </a> </td>
																				<td> <a href="../elements/id-e8d8364e64f94e3eb84bba785116603f.html" target="element"> Redemption/Donation decided </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-6a5fe40f1eb942b0bf85846f21057b69.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-6a5fe40f1eb942b0bf85846f21057b69.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-e281d32b79ce44558ece9e200feecbd8.html" target="element"> OR </a> </td>
																				<td> <a href="../elements/id-b2c846f04314412a922aebb4570702f0.html" target="element"> Redemption/Donation delayed </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-9459805377b947038334fb4564a4d29c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-9459805377b947038334fb4564a4d29c.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-bb017acaf09a4b99a1fd7b51170bcb72.html" target="element"> Retail Storefront interaction </a> </td>
																				<td> <a href="../elements/id-005dcf1e807343ff8a6293bdd1c5d068.html" target="element"> OR </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-5096dfe87f4b43e1a48521a12a15d06f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5096dfe87f4b43e1a48521a12a15d06f.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-554272a9395f41178544c0221b2f2da3.html" target="element"> OR </a> </td>
																				<td> <a href="../elements/id-005dcf1e807343ff8a6293bdd1c5d068.html" target="element"> OR </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-dcad780ed7a04fd1a63e4be312462b9c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-dcad780ed7a04fd1a63e4be312462b9c.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-554272a9395f41178544c0221b2f2da3.html" target="element"> OR </a> </td>
																				<td> <a href="../elements/id-bb017acaf09a4b99a1fd7b51170bcb72.html" target="element"> Retail Storefront interaction </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-4e9fc7eec0384d9988e70e7fe096dc5f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4e9fc7eec0384d9988e70e7fe096dc5f.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3bbaa72ce72e4944bfee482d5df821af.html" target="element"> HeyBlue Business Rules </a> </td>
																		<td> <a href="../elements/id-097bd9ad80484739b23377b2960712ac.html" target="element"> Nearby retail detection </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-ab4b0d917a6c46b98154491083af761f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ab4b0d917a6c46b98154491083af761f.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8125acaae4f54e629e43d4f416d0f932.html" target="element"> HeyBlue Tracking &amp; Notification </a> </td>
																		<td> <a href="../elements/id-097bd9ad80484739b23377b2960712ac.html" target="element"> Nearby retail detection </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-a667e36449f04b93afb87bdd6737f379.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a667e36449f04b93afb87bdd6737f379.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f8f7f79c580944dc938791bf4bd46b6b.html" target="element"> HeyBlue Store Service </a> </td>
																		<td> <a href="../elements/id-e277af74d20846ccb64f673bc8327cc5.html" target="element"> Retail/Charity Storefront interaction </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-741a4e30ddac4f24858281eccc38b7cf.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-741a4e30ddac4f24858281eccc38b7cf.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-256ff54544fc46afb62b07b211852e94.html" target="element"> HeyBlue Scoring </a> </td>
																		<td> <a href="../elements/id-954b4726f8bb48fe97396162849e9aab.html" target="element"> Points redemption (Retail TX) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c2749a2fbd45415c9d45a47814116d71.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c2749a2fbd45415c9d45a47814116d71.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-256ff54544fc46afb62b07b211852e94.html" target="element"> HeyBlue Scoring </a> </td>
																		<td> <a href="../elements/id-13d636faa42644cf92ef53bb6a2b0eea.html" target="element"> Points donation </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>