<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>4.1. TeamTopologies V1.0</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>4.1. TeamTopologies V1.0</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-product"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_product" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-f537460c4a6a4d9c90371ef7e39bc957.png" alt="4.1. TeamTopologies V1.0" usemap="#id-f537460c4a6a4d9c90371ef7e39bc957map"/>
			   <map name="id-f537460c4a6a4d9c90371ef7e39bc957map">
				  		<area shape="rect" coords="20,20,1246,130" href="../elements/id-b47cfa21df954dcf828704870119ac16.html"  target="element">
				  		<area shape="rect" coords="932,356,1172,466" href="../elements/id-a92526825b4448c78ae90b3326d3fb5a.html"  target="element">
				  		<area shape="rect" coords="932,188,1172,298" href="../elements/id-0db8a1eed9c04b75936bcca3355fb21c.html"  target="element">
				  		<area shape="rect" coords="68,356,308,466" href="../elements/id-9bfe3e1a2ada439b9f037a07b2dde1bf.html"  target="element">
				  		<area shape="rect" coords="644,356,884,466" href="../elements/id-20ff33698f80437286a95955d70b8263.html"  target="element">
				  		<area shape="rect" coords="356,356,596,466" href="../elements/id-566e34410bdd439fbec0ef1c78558486.html"  target="element">
				  		<area shape="rect" coords="644,188,884,298" href="../elements/id-dae18e78525a406aa0648111ff169473.html"  target="element">
				  		<area shape="rect" coords="356,188,596,298" href="../elements/id-0450115640b3474fad10371ddd461382.html"  target="element">
				  		<area shape="rect" coords="68,188,308,298" href="../elements/id-250e641bc78b4615a4b05eb40c811882.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-250e641bc78b4615a4b05eb40c811882.html" target="element"> Web Developer </a> </td>
											    <td> <a href="../elements/id-250e641bc78b4615a4b05eb40c811882.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0450115640b3474fad10371ddd461382.html" target="element"> Mobile Developer </a> </td>
											    <td> <a href="../elements/id-0450115640b3474fad10371ddd461382.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-dae18e78525a406aa0648111ff169473.html" target="element"> Backend Developer </a> </td>
											    <td> <a href="../elements/id-dae18e78525a406aa0648111ff169473.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-566e34410bdd439fbec0ef1c78558486.html" target="element"> Agile Coach </a> </td>
											    <td> <a href="../elements/id-566e34410bdd439fbec0ef1c78558486.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-20ff33698f80437286a95955d70b8263.html" target="element"> OPS </a> </td>
											    <td> <a href="../elements/id-20ff33698f80437286a95955d70b8263.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9bfe3e1a2ada439b9f037a07b2dde1bf.html" target="element"> Architect </a> </td>
											    <td> <a href="../elements/id-9bfe3e1a2ada439b9f037a07b2dde1bf.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0db8a1eed9c04b75936bcca3355fb21c.html" target="element"> Product Owner </a> </td>
											    <td> <a href="../elements/id-0db8a1eed9c04b75936bcca3355fb21c.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a92526825b4448c78ae90b3326d3fb5a.html" target="element"> Quality Engineer </a> </td>
											    <td> <a href="../elements/id-a92526825b4448c78ae90b3326d3fb5a.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b47cfa21df954dcf828704870119ac16.html" target="element"> Hey Blue Stream-aligned team </a> </td>
											    <td> <a href="../elements/id-b47cfa21df954dcf828704870119ac16.html" target="element" class="i18n-elementtype-BusinessCollaboration">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-b498f00b214a46a4b48ae71ac8d267a0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b498f00b214a46a4b48ae71ac8d267a0.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b47cfa21df954dcf828704870119ac16.html" target="element"> Hey Blue Stream-aligned team </a> </td>
																		<td> <a href="../elements/id-250e641bc78b4615a4b05eb40c811882.html" target="element"> Web Developer </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e71039c155b74a33a461768e4be69f8f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e71039c155b74a33a461768e4be69f8f.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b47cfa21df954dcf828704870119ac16.html" target="element"> Hey Blue Stream-aligned team </a> </td>
																		<td> <a href="../elements/id-0450115640b3474fad10371ddd461382.html" target="element"> Mobile Developer </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6a8c670135ae4da9a2f581364dd9116e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6a8c670135ae4da9a2f581364dd9116e.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b47cfa21df954dcf828704870119ac16.html" target="element"> Hey Blue Stream-aligned team </a> </td>
																		<td> <a href="../elements/id-dae18e78525a406aa0648111ff169473.html" target="element"> Backend Developer </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5499dede7d694b798501093fd7300e5a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5499dede7d694b798501093fd7300e5a.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b47cfa21df954dcf828704870119ac16.html" target="element"> Hey Blue Stream-aligned team </a> </td>
																		<td> <a href="../elements/id-0db8a1eed9c04b75936bcca3355fb21c.html" target="element"> Product Owner </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a731545cd4684cfa9f5398fcf08b1183.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a731545cd4684cfa9f5398fcf08b1183.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b47cfa21df954dcf828704870119ac16.html" target="element"> Hey Blue Stream-aligned team </a> </td>
																		<td> <a href="../elements/id-a92526825b4448c78ae90b3326d3fb5a.html" target="element"> Quality Engineer </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-580cdbf0f34b4a4da47be6c81ed208fe.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-580cdbf0f34b4a4da47be6c81ed208fe.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b47cfa21df954dcf828704870119ac16.html" target="element"> Hey Blue Stream-aligned team </a> </td>
																		<td> <a href="../elements/id-566e34410bdd439fbec0ef1c78558486.html" target="element"> Agile Coach </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-708fbd35c5d94fad844f1cdb6c9c1e65.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-708fbd35c5d94fad844f1cdb6c9c1e65.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b47cfa21df954dcf828704870119ac16.html" target="element"> Hey Blue Stream-aligned team </a> </td>
																		<td> <a href="../elements/id-9bfe3e1a2ada439b9f037a07b2dde1bf.html" target="element"> Architect </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-387fa408abd7492996f7e8dd197fb9b2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-387fa408abd7492996f7e8dd197fb9b2.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b47cfa21df954dcf828704870119ac16.html" target="element"> Hey Blue Stream-aligned team </a> </td>
																		<td> <a href="../elements/id-20ff33698f80437286a95955d70b8263.html" target="element"> OPS </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>