<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>2.3.11. Police Officer points transfer / donation - Business Entities</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>2.3.11. Police Officer points transfer / donation - Business Entities</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-application_usage"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_application_usage" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-fc476a20c1694fde8425a8d0523056b8.png" alt="2.3.11. Police Officer points transfer / donation - Business Entities" usemap="#id-fc476a20c1694fde8425a8d0523056b8map"/>
			   <map name="id-fc476a20c1694fde8425a8d0523056b8map">
				          <area shape="rect" coords="284,746,1318,892" href="../objects/id-f127b45bd7854577b68a9bfad223f04c.html" target="element" >
				  		<area shape="rect" coords="380,20,620,130" href="../elements/id-2649af7a104947eea27083e0fa65b1ac.html"  target="element">
				  		<area shape="rect" coords="1052,20,1292,130" href="../elements/id-4f6cfce55c7a4ac8bcc4a4ffb7807f86.html"  target="element">
				  		<area shape="rect" coords="1532,20,1772,130" href="../elements/id-18ebb6b74c344f8b87de0216f8d9c988.html"  target="element">
				  		<area shape="rect" coords="2210,308,2450,418" href="../elements/id-a9a44e1b09fc4319a20341d9c91e5524.html"  target="element">
				  		<area shape="rect" coords="20,436,260,546" href="../elements/id-bc795d6597604b75bb42204ce953178e.html"  target="element">
				  				<area shape="rect" coords="1016,578,1256,688" href="../elements/id-e6943a16ed8b4150b036be98c1c23303.html"  target="element">
				  				<area shape="rect" coords="548,242,788,352" href="../elements/id-e716245cd5b947598bf67f707180b25c.html"  target="element">
				  				<area shape="rect" coords="322,482,352,512" href="../elements/id-fb642e9dcba645c183a5df91db916ecd.html"  target="element">
				  				<area shape="rect" coords="682,482,712,512" href="../elements/id-f0b1d534f468417aa2ba5c129de8e86c.html"  target="element">
				  				<area shape="rect" coords="394,442,634,552" href="../elements/id-3e4221f3613c486c94fe2fb3a99fb585.html"  target="element">
				  				<area shape="rect" coords="1922,314,2162,424" href="../elements/id-bc795d6597604b75bb42204ce953178e.html"  target="element">
				  				<area shape="rect" coords="868,442,1108,552" href="../elements/id-c75d430b1ec543d584ec9cdbf4252cde.html"  target="element">
				  				<area shape="rect" coords="812,314,1052,424" href="../elements/id-ee3d8f95d2164b2e804fa60a41d71329.html"  target="element">
				  				<area shape="rect" coords="1194,378,1434,488" href="../elements/id-aa2c18f5fe684025ba3e6eef8d8b3156.html"  target="element">
				  				<area shape="rect" coords="1542,378,1782,488" href="../elements/id-13d636faa42644cf92ef53bb6a2b0eea.html"  target="element">
				  				<area shape="rect" coords="1630,242,1870,352" href="../elements/id-27423a8d255f48259f1fce43a2f7f329.html"  target="element">
				  				<area shape="rect" coords="1304,242,1544,352" href="../elements/id-76ef36d8b185442990fc2990681cc053.html"  target="element">

				  		<area shape="rect" coords="284,194,2188,718" href="../elements/id-540f808ed10840328dd88ea8786b3efe.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-540f808ed10840328dd88ea8786b3efe.html" target="element"> Police Officer points transfer / donation </a> </td>
											    <td> <a href="../elements/id-540f808ed10840328dd88ea8786b3efe.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-76ef36d8b185442990fc2990681cc053.html" target="element"> Receiver Police Officer selection </a> </td>
													    <td> <a href="../elements/id-76ef36d8b185442990fc2990681cc053.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-27423a8d255f48259f1fce43a2f7f329.html" target="element"> Points transfer </a> </td>
													    <td> <a href="../elements/id-27423a8d255f48259f1fce43a2f7f329.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-13d636faa42644cf92ef53bb6a2b0eea.html" target="element"> Points donation </a> </td>
													    <td> <a href="../elements/id-13d636faa42644cf92ef53bb6a2b0eea.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-aa2c18f5fe684025ba3e6eef8d8b3156.html" target="element"> Charity selection </a> </td>
													    <td> <a href="../elements/id-aa2c18f5fe684025ba3e6eef8d8b3156.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ee3d8f95d2164b2e804fa60a41d71329.html" target="element"> Donation decided </a> </td>
													    <td> <a href="../elements/id-ee3d8f95d2164b2e804fa60a41d71329.html" target="element" class="i18n-elementtype-BusinessEvent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c75d430b1ec543d584ec9cdbf4252cde.html" target="element"> Transfer/Donation delayed </a> </td>
													    <td> <a href="../elements/id-c75d430b1ec543d584ec9cdbf4252cde.html" target="element" class="i18n-elementtype-BusinessEvent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-bc795d6597604b75bb42204ce953178e.html" target="element"> Points balance updated </a> </td>
													    <td> <a href="../elements/id-bc795d6597604b75bb42204ce953178e.html" target="element" class="i18n-elementtype-BusinessEvent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-3e4221f3613c486c94fe2fb3a99fb585.html" target="element"> Charity Storefront interaction </a> </td>
													    <td> <a href="../elements/id-3e4221f3613c486c94fe2fb3a99fb585.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-f0b1d534f468417aa2ba5c129de8e86c.html" target="element"> OR </a> </td>
													    <td> <a href="../elements/id-f0b1d534f468417aa2ba5c129de8e86c.html" target="element" class="i18n-elementtype-Junction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-fb642e9dcba645c183a5df91db916ecd.html" target="element"> OR </a> </td>
													    <td> <a href="../elements/id-fb642e9dcba645c183a5df91db916ecd.html" target="element" class="i18n-elementtype-Junction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e716245cd5b947598bf67f707180b25c.html" target="element"> Transfer decided </a> </td>
													    <td> <a href="../elements/id-e716245cd5b947598bf67f707180b25c.html" target="element" class="i18n-elementtype-BusinessEvent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e6943a16ed8b4150b036be98c1c23303.html" target="element"> Family in need selection </a> </td>
													    <td> <a href="../elements/id-e6943a16ed8b4150b036be98c1c23303.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-bc795d6597604b75bb42204ce953178e.html" target="element"> Points balance updated </a> </td>
											    <td> <a href="../elements/id-bc795d6597604b75bb42204ce953178e.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a9a44e1b09fc4319a20341d9c91e5524.html" target="element"> Ready for interactions </a> </td>
											    <td> <a href="../elements/id-a9a44e1b09fc4319a20341d9c91e5524.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-18ebb6b74c344f8b87de0216f8d9c988.html" target="element"> Score </a> </td>
											    <td> <a href="../elements/id-18ebb6b74c344f8b87de0216f8d9c988.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4f6cfce55c7a4ac8bcc4a4ffb7807f86.html" target="element"> User </a> </td>
											    <td> <a href="../elements/id-4f6cfce55c7a4ac8bcc4a4ffb7807f86.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2649af7a104947eea27083e0fa65b1ac.html" target="element"> Content </a> </td>
											    <td> <a href="../elements/id-2649af7a104947eea27083e0fa65b1ac.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-f127b45bd7854577b68a9bfad223f04c.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-f127b45bd7854577b68a9bfad223f04c.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-027c5b1037db441bab1b5ba8a82d3599.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-027c5b1037db441bab1b5ba8a82d3599.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-540f808ed10840328dd88ea8786b3efe.html" target="element"> Police Officer points transfer / donation </a> </td>
																		<td> <a href="../elements/id-76ef36d8b185442990fc2990681cc053.html" target="element"> Receiver Police Officer selection </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3480eb2ae790413ab4d0420f73332eeb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3480eb2ae790413ab4d0420f73332eeb.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-540f808ed10840328dd88ea8786b3efe.html" target="element"> Police Officer points transfer / donation </a> </td>
																		<td> <a href="../elements/id-27423a8d255f48259f1fce43a2f7f329.html" target="element"> Points transfer </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8ba1052cf23f48e88015c0b6661f179b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8ba1052cf23f48e88015c0b6661f179b.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-540f808ed10840328dd88ea8786b3efe.html" target="element"> Police Officer points transfer / donation </a> </td>
																		<td> <a href="../elements/id-13d636faa42644cf92ef53bb6a2b0eea.html" target="element"> Points donation </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-35b782d9a7e34d45a2f053507d036d54.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-35b782d9a7e34d45a2f053507d036d54.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-540f808ed10840328dd88ea8786b3efe.html" target="element"> Police Officer points transfer / donation </a> </td>
																		<td> <a href="../elements/id-aa2c18f5fe684025ba3e6eef8d8b3156.html" target="element"> Charity selection </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2ef07794335b418ab689641dcc4cae0f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2ef07794335b418ab689641dcc4cae0f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-540f808ed10840328dd88ea8786b3efe.html" target="element"> Police Officer points transfer / donation </a> </td>
																		<td> <a href="../elements/id-3e4221f3613c486c94fe2fb3a99fb585.html" target="element"> Charity Storefront interaction </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-fe700ed3ca9f4266a92383a3d041195b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fe700ed3ca9f4266a92383a3d041195b.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-540f808ed10840328dd88ea8786b3efe.html" target="element"> Police Officer points transfer / donation </a> </td>
																		<td> <a href="../elements/id-e6943a16ed8b4150b036be98c1c23303.html" target="element"> Family in need selection </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-5bef9996a7664555a30977cb5deff8c8.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5bef9996a7664555a30977cb5deff8c8.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-76ef36d8b185442990fc2990681cc053.html" target="element"> Receiver Police Officer selection </a> </td>
																				<td> <a href="../elements/id-27423a8d255f48259f1fce43a2f7f329.html" target="element"> Points transfer </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-9b35fd5c0cdc493b98644976cfddb64f.html" target="element"> R </a> </td>
																				<td> <a href="../elements/id-9b35fd5c0cdc493b98644976cfddb64f.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-76ef36d8b185442990fc2990681cc053.html" target="element"> Receiver Police Officer selection </a> </td>
																				<td> <a href="../elements/id-4f6cfce55c7a4ac8bcc4a4ffb7807f86.html" target="element"> User </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-a42395590f934c60a4cc380bc66187c9.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a42395590f934c60a4cc380bc66187c9.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-27423a8d255f48259f1fce43a2f7f329.html" target="element"> Points transfer </a> </td>
																				<td> <a href="../elements/id-bc795d6597604b75bb42204ce953178e.html" target="element"> Points balance updated </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-84a72d2f133445eca110543509e8ce91.html" target="element"> R/W </a> </td>
																				<td> <a href="../elements/id-84a72d2f133445eca110543509e8ce91.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-27423a8d255f48259f1fce43a2f7f329.html" target="element"> Points transfer </a> </td>
																				<td> <a href="../elements/id-18ebb6b74c344f8b87de0216f8d9c988.html" target="element"> Score </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-fc61ac09ce8844b0a2426bf6e1265932.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-fc61ac09ce8844b0a2426bf6e1265932.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-13d636faa42644cf92ef53bb6a2b0eea.html" target="element"> Points donation </a> </td>
																				<td> <a href="../elements/id-bc795d6597604b75bb42204ce953178e.html" target="element"> Points balance updated </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-e162b3f19fcf4b51afcf59d63ca9be99.html" target="element"> R/W </a> </td>
																				<td> <a href="../elements/id-e162b3f19fcf4b51afcf59d63ca9be99.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-13d636faa42644cf92ef53bb6a2b0eea.html" target="element"> Points donation </a> </td>
																				<td> <a href="../elements/id-18ebb6b74c344f8b87de0216f8d9c988.html" target="element"> Score </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-3e42f5cce8e84583bd84cd4b205afac8.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-3e42f5cce8e84583bd84cd4b205afac8.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-aa2c18f5fe684025ba3e6eef8d8b3156.html" target="element"> Charity selection </a> </td>
																				<td> <a href="../elements/id-13d636faa42644cf92ef53bb6a2b0eea.html" target="element"> Points donation </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-e0b023a3abe04abfbaad41604640d909.html" target="element"> R </a> </td>
																				<td> <a href="../elements/id-e0b023a3abe04abfbaad41604640d909.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-aa2c18f5fe684025ba3e6eef8d8b3156.html" target="element"> Charity selection </a> </td>
																				<td> <a href="../elements/id-4f6cfce55c7a4ac8bcc4a4ffb7807f86.html" target="element"> User </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-123c4abd021b474abf738eb3aa08f29b.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-123c4abd021b474abf738eb3aa08f29b.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-ee3d8f95d2164b2e804fa60a41d71329.html" target="element"> Donation decided </a> </td>
																				<td> <a href="../elements/id-aa2c18f5fe684025ba3e6eef8d8b3156.html" target="element"> Charity selection </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-ea145cbca6e34bce9f33a890386b6fb5.html" target="element"> state not changed </a> </td>
																				<td> <a href="../elements/id-ea145cbca6e34bce9f33a890386b6fb5.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-c75d430b1ec543d584ec9cdbf4252cde.html" target="element"> Transfer/Donation delayed </a> </td>
																				<td> <a href="../elements/id-bc795d6597604b75bb42204ce953178e.html" target="element"> Points balance updated </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-09d25a66cb9340b0a4360e4656cae29b.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-09d25a66cb9340b0a4360e4656cae29b.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-bc795d6597604b75bb42204ce953178e.html" target="element"> Points balance updated </a> </td>
																				<td> <a href="../elements/id-a9a44e1b09fc4319a20341d9c91e5524.html" target="element"> Ready for interactions </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-aaf8bffca1d14876b6235671b77a3b49.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-aaf8bffca1d14876b6235671b77a3b49.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-3e4221f3613c486c94fe2fb3a99fb585.html" target="element"> Charity Storefront interaction </a> </td>
																				<td> <a href="../elements/id-f0b1d534f468417aa2ba5c129de8e86c.html" target="element"> OR </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-f233c208c6db45ab96e0cf028f19f4b3.html" target="element"> R </a> </td>
																				<td> <a href="../elements/id-f233c208c6db45ab96e0cf028f19f4b3.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-3e4221f3613c486c94fe2fb3a99fb585.html" target="element"> Charity Storefront interaction </a> </td>
																				<td> <a href="../elements/id-4f6cfce55c7a4ac8bcc4a4ffb7807f86.html" target="element"> User </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-bcc39ded145f4473b71ea29231e1df12.html" target="element"> R </a> </td>
																				<td> <a href="../elements/id-bcc39ded145f4473b71ea29231e1df12.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-3e4221f3613c486c94fe2fb3a99fb585.html" target="element"> Charity Storefront interaction </a> </td>
																				<td> <a href="../elements/id-2649af7a104947eea27083e0fa65b1ac.html" target="element"> Content </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-2a0a97c527ab493f8f498e900e0790b0.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-2a0a97c527ab493f8f498e900e0790b0.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f0b1d534f468417aa2ba5c129de8e86c.html" target="element"> OR </a> </td>
																				<td> <a href="../elements/id-c75d430b1ec543d584ec9cdbf4252cde.html" target="element"> Transfer/Donation delayed </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-81681562c28b42c783217a388f5e7224.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-81681562c28b42c783217a388f5e7224.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f0b1d534f468417aa2ba5c129de8e86c.html" target="element"> OR </a> </td>
																				<td> <a href="../elements/id-ee3d8f95d2164b2e804fa60a41d71329.html" target="element"> Donation decided </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-ff12dcfa743b4da5a0ef1a6ec37f6e81.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-ff12dcfa743b4da5a0ef1a6ec37f6e81.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-fb642e9dcba645c183a5df91db916ecd.html" target="element"> OR </a> </td>
																				<td> <a href="../elements/id-3e4221f3613c486c94fe2fb3a99fb585.html" target="element"> Charity Storefront interaction </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-5288b370cff9484fa49eebee41a5d803.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5288b370cff9484fa49eebee41a5d803.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-fb642e9dcba645c183a5df91db916ecd.html" target="element"> OR </a> </td>
																				<td> <a href="../elements/id-e716245cd5b947598bf67f707180b25c.html" target="element"> Transfer decided </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-3b999c7b94e542ce80399425d416b893.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-3b999c7b94e542ce80399425d416b893.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-fb642e9dcba645c183a5df91db916ecd.html" target="element"> OR </a> </td>
																				<td> <a href="../elements/id-e6943a16ed8b4150b036be98c1c23303.html" target="element"> Family in need selection </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-9a907753ad674648b2d92ce817829bb2.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-9a907753ad674648b2d92ce817829bb2.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-e716245cd5b947598bf67f707180b25c.html" target="element"> Transfer decided </a> </td>
																				<td> <a href="../elements/id-76ef36d8b185442990fc2990681cc053.html" target="element"> Receiver Police Officer selection </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-a92e2272b5f14ae483a72ff54a3096a9.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a92e2272b5f14ae483a72ff54a3096a9.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-e6943a16ed8b4150b036be98c1c23303.html" target="element"> Family in need selection </a> </td>
																				<td> <a href="../elements/id-13d636faa42644cf92ef53bb6a2b0eea.html" target="element"> Points donation </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-58ad4df17cc34b0ebc3b8c40f175e88f.html" target="element"> R </a> </td>
																				<td> <a href="../elements/id-58ad4df17cc34b0ebc3b8c40f175e88f.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-e6943a16ed8b4150b036be98c1c23303.html" target="element"> Family in need selection </a> </td>
																				<td> <a href="../elements/id-4f6cfce55c7a4ac8bcc4a4ffb7807f86.html" target="element"> User </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-62b98d37e2ef48c5b6746da0309c27cc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-62b98d37e2ef48c5b6746da0309c27cc.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-bc795d6597604b75bb42204ce953178e.html" target="element"> Points balance updated </a> </td>
																		<td> <a href="../elements/id-fb642e9dcba645c183a5df91db916ecd.html" target="element"> OR </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>